{{ $school := .school }}
{{ $layout := .layout | default "list" }}
{{ $heading_level := .heading_level }}
{{ $options := .options }}
{{ with $school }}
  {{ $class := "school" }}
  {{ if and .Params.image $options.image }}
    {{ $class = printf "%s school--with-image" $class }}
    {{ $image_direction := partial "GetImageDirection" .Params.image }}
    {{ $class = printf "%s %s" $class $image_direction }}
  {{ end }}

  {{ $dates := .Params.dates }}

  <article class="{{ $class }}" 
      itemscope itemtype="https://schema.org/CollegeOrUniversity">
    <div class="school-content">
      {{ partial "schools/fragments/item/heading.html" (dict
          "item" .
          "options" $options
          "level" $heading_level
          "itemprop" "title"
        )}}

      {{ if and $options.summary .Params.summary }}
        <div class="school-description" itemprop="abstract">
          {{ partial "schools/fragments/item/summary.html" . }}
        </div>
      {{ end }}
    </div>

    {{ if $options.image }}
      {{ partial "schools/fragments/item/media.html" (dict 
          "image" $school.Params.logo
          "layout" $layout
        )}}
    {{ end }}
  </article>
{{ end }}