{{ $options := .options | default site.Params.categories.index.options }}
{{ $heading_level := .heading_level }}
{{ $category := site.GetPage .category.path }}
{{ $layout := .layout }}

{{ with $category }}
  <article class="category-item">
    <div class="category-content">
      {{ partial "categories/partials/category/heading.html" (dict
          "item" .
          "level" $heading_level
        ) }}

      {{ partial "categories/partials/category/summary.html" . }}

      {{ partial "categories/partials/category/articles-count.html" . }}

      {{ if $options.more }}
        {{ partial "commons/item/more.html" . }}
      {{ end }}
    </div>

    {{ partial "categories/partials/category/media.html" (dict 
        "image" .Params.image
        "layout" $layout
      ) }}
  </article>
{{ end }}
