{{ $options := .options | default site.Params.categories.index.options }}
{{ $heading_level := .heading_level }}
{{ $category := site.GetPage .category.path }}
{{ $layout := .layout }}
{{ $class := .Params.bodyclass }}

{{ with $category }}
  <article class="category-item" data-title="{{ .Title }}">
    <div class="category-content">
      {{ partial "categories/partials/category/heading.html" (dict
          "item" .
          "level" $heading_level
        ) }}

      {{ if $options.summary }}
        {{ partial "categories/partials/category/summary.html" . }}
      {{ end }}

      {{ if $options.count }}
        {{ partial "categories/partials/category/articles-count.html" . }}
      {{ end }}

      {{ if $options.more }}
        {{ partial "commons/item/more.html" . }}
      {{ end }}
    </div>

    {{ if $options.image }}
      {{ partial "categories/partials/category/media.html" (dict 
          "image" .Params.image
          "layout" $layout
        ) }}
    {{ end }}
  </article>
{{ end }}
