{{ $options := .options | default site.Params.categories.index.options }}
{{ $layout := .layout | default "list" }}
{{ $category := .category }}
{{ $heading_tag := partial "GetHeadingTag" (dict 
    "level" .heading_level
    "attributes" "class='category-title'"
  )}}

{{ with $category }}

  {{ if eq $layout "list" }}
    <a href="{{ .Permalink }}" class="title" aria-label="{{ i18n "commons.more_aria" (dict "Title" .Title) }}">
      {{ partial "PrepareHTML" .Title }}
    </a>
  {{ else if eq $layout "grid" }}
    <article class="category">
      {{ $heading_tag.open }}
        <a href="{{- .Permalink -}}">
          {{- partial "PrepareHTML" .Title -}}
        </a>
      {{ $heading_tag.close }}

      {{ if and $options.summary .Params.summary }}
        {{ partial "GetRichSummary" ( dict 
            "summary" .Params.summary
            "kind" "category"
          )}}
      {{ end }}

      {{ if $options.image }}
        <div class="media">
          {{ with .Params.image }}
            {{ partial "commons/image.html" (dict
                "image"    .
                "sizes"    site.Params.image_sizes.sections.categories.item
              ) }}
          {{ end }}
        </div>
      {{ end }}
    </article>
  {{ end }}
{{ end }}
