{{- $is_carousel := false -}}
{{ if gt (len .images) 1 }}
  {{- $is_carousel = true -}}
{{ end }}

{{- if $is_carousel }}
<div class="splide" role="group" data-splide='{"arrows":true,"pagination":false,"autoWidth":true,"autoplay":false}'>
  <div class="splide__track">
    <div class="splide__list">
{{ end -}}

  {{ range .images }}
    {{ if .file }}
      {{- $image := partial "GetMedia" .file -}}
      {{- if $image -}}
        <figure{{ if $is_carousel }} class="splide__slide"{{ end }}>
          <a class="glightbox"
            data-glightbox="type: image;{{ if .credit }}description: {{ partial "PrepareHTML" .credit }}{{ end }}"
            href="{{ partial "GetLightboxUrl" (dict "id" .id) }}"
            title="{{- i18n "commons.lightbox.link.title" -}}"
            >
            {{ partial "commons/image.html"
              (dict
                "image"    .id
                "alt"      .alt
                "sizes"    site.Params.image_sizes.blocks.gallery.carousel
              )}}
          </a>
          {{ if or .text .credit }}
            <figcaption>
              {{ if .text }}
                <div>{{ partial "PrepareHTML" .text }}</div>
              {{ end }}
              {{ if .credit }}
                <div class="credit">{{ partial "PrepareHTML" .credit }}</div>
              {{ end }}
            </figcaption>
          {{ end }}
        </figure>
      {{- end -}}
    {{ end }}
  {{ end }}

{{- if $is_carousel }}
    </div>
  </div>
</div>
{{ end -}}
