{{ $is_carousel := .is_carousel }}
{{ $index := .index }}
{{ $role := .role }}
{{ with .params }}
  {{ if .file }}
    {{- $image := partial "GetMedia" .file -}}
    {{- if $image -}}
      <figure role="figure" {{ if $is_carousel }} id="carousel-item-{{$index}}" role="{{$role}}" aria-roledescription="slide" class="carousel__slide" aria-label="item-{{$index}} {{- with or .text .alt .credit }} | {{ . | plainify }} {{- end }}" {{ end }}>
        {{ partial "commons/image.html"
          (dict
            "image"    .id
            "alt"      .alt
            "sizes"    site.Params.image_sizes.blocks.gallery.carousel
          )}}
        {{ if not site.Params.image_sizes.design_system.lightbox.disabled }}
          {{ $lightbox_text := false }}
          {{ if and .text .credit }}
            {{ $lightbox_text = delimit (slice .text .credit) " / " }}
          {{ else }}
            {{ $lightbox_text = or .text .credit }}
          {{ end }}
          <a  class="glightbox"
              role="button"
              data-glightbox="type: image;{{ with $lightbox_text }}description: {{ partial "PrepareHTML" . }}{{ end }}"
              href="{{ partial "GetLightboxUrl" (dict "id" .id) }}"
              title="{{- i18n "commons.lightbox.link.title" -}}"
              aria-label="{{- i18n "commons.lightbox.link.title" -}}">
              <span class="sr-only">{{- i18n "commons.lightbox.link.title" -}}</span>
          </a>
        {{ end }}
        {{ if or .text .credit }}
          <figcaption>
            {{ with .text }}
              <p>{{ . | safeHTML }}</p>
            {{ end }}
            {{ with .credit }}
              <div class="credit">{{ . | safeHTML }}</div>
            {{ end }}
          </figcaption>
        {{ end }}
      </figure>
    {{- end -}}
  {{ end }}
{{ end }}