<div class="gallery" role="group">
  {{ range .images }}
    {{ if .id }}
      {{- $image := partial "GetMedia" .id -}}
      {{- if $image -}}
        <figure>
          {{ if not site.Params.image_sizes.design_system.lightbox.disabled }}
            <a  class="glightbox"
                role="button"
                data-glightbox="type: image;{{ if .credit }}description: {{ partial "PrepareHTML" .credit }}{{ end }}"
                href="{{ partial "GetLightboxUrl" (dict "id" .id) }}"
                title="{{- i18n "commons.lightbox.link.title" -}}"
                aria-label="{{- i18n "commons.lightbox.link.title" -}}">
          {{ end }}
            {{ partial "commons/image.html"
              (dict
                "image"    .file
                "alt"      .alt
                "sizes"    site.Params.image_sizes.blocks.gallery.grid
              )}}
          {{ if not site.Params.image_sizes.design_system.lightbox.disabled }}
            </a>
          {{ end }}
          {{ if .text }}
            <figcaption>
              {{- partial "PrepareHTML" .text -}}
            </figcaption>
          {{ end }}
        </figure>
      {{- end -}}
    {{ end }}
  {{ end }}
</div>
