<div class="gallery" role="group">
  {{ range .images }}
    {{ if .id }}
      {{- $image := partial "GetMedia" .id -}}
      {{- if $image -}}
        <figure>
          <a class="glightbox"
            data-glightbox="type: image;{{ if .credit }}description: {{ partial "PrepareHTML" .credit }}{{ end }}"
            href="{{ partial "GetLightboxUrl" (dict "id" .id) }}"
            title="{{- i18n "commons.lightbox.link.title" -}}"
            >
            {{ partial "commons/image.html"
              (dict
                "image"    .file
                "alt"      .alt
                "sizes"    site.Params.image_sizes.blocks.gallery.grid
              )}}
          </a>
          {{ if .text }}
            <figcaption>
              {{- partial "PrepareHTML" .text -}}
            </figcaption>
          {{ end }}
        </figure>
      {{- end -}}
    {{ end }}
  {{ end }}
</div>
