{{- $has_text := false -}}
{{- range .images }}
  {{- if .text }}
    {{- $has_text = true -}}
  {{ end -}}
{{ end -}}

{{ $sizes := "" }}
{{if eq .layout "grid"}}
  {{ $sizes = site.Params.image_sizes.blocks.gallery.grid }}
{{ else if eq .layout "large" }}
  {{ $sizes = site.Params.image_sizes.blocks.gallery.large }}
{{ else }}
  {{ $sizes = site.Params.image_sizes.blocks.image }}
{{ end }}

<div class="gallery{{- if $has_text }} gallery--with-text {{ end -}}">
{{ range $index, $image := .images }}
  {{ partial "commons/image-figure.html" (dict
    "image"    .
    "sizes"    $sizes
    "index"    $index
    )
  }}
{{ end }}
</div>