{{ $researcher := site.GetPage (printf "/researchers/%s" .Slug) }}
{{ $publications_grouped := partial "persons/single/helpers/GetPublications" . }}
{{ if $publications_grouped }}
<section class="person-publications" id="{{ anchorize ( i18n "persons.publications" ) }}">
  <div class="top">
    <h2 class="h5">{{ i18n "persons.publications" }}</h2>
  </div>
  {{ range $index, $group := $publications_grouped }}
    {{/*  Research.publications give publications grouped by types  */}}
    {{ $publications := partial "publications/helpers/FilterByAnrProjectReferences" .publications }}
    {{ if $publications }}
      <div class="person-publications-type person-publications-type-{{ $group.type }}" id="{{ anchorize $group.type }}">
        <div class="top">
          <h3 class="h5">{{ $group.label }}</h3>
        </div>
        <ul class="publications">
          {{ range $publications }}
            {{ $publication := site.GetPage .path }}
            {{ partial "publications/partials/publication.html" (dict 
              "publication" $publication
              "heading_level" 4
              "researcher" $researcher
            ) }}
          {{ end }}
        </ul>
      </div>
    {{ end }}
  {{ end }}
</section>

{{ end }}