// Z-index
$zindex-aside: 48 !default
$zindex-body-overlay: 51 !default
$zindex-footer: 50 !default
$zindex-header: 52 !default
$zindex-lightbox: 80 !default
$zindex-modal: 72 !default
$zindex-nav-accessibility: 1010 !default
$zindex-toc: 50 !default
$zindex-toc-cta: 49 !default
$zindex-toc-offcanvas: 60 !default
$zindex-stretched-link: 2 !default