{{ if and (not .Params.dates.archive) site.Params.events.single.calendar_links }}
  {{ with .Params.dates.add_to_calendar }}
    {{ $links := . }}
    <li class="events-actions">
      <span>{{ i18n "commons.add_to_calendar.title" }}</span>
      {{- $types := slice "ical" "google" "office" "outlook" "yahoo" -}}
      <ul>
        {{- range $type := $types -}}
          {{ $label := i18n (printf "commons.add_to_calendar.%s" $type) }}
          {{ with index $links $type }}
            <li>
              <a class="chip"
                {{ if eq $type "ical" -}}
                  {{ printf `href="%s"` . | safeHTMLAttr }} download
                {{ else }}
                  href="{{ . }}"
                  target="_blank"
                {{ end }} >
                {{- $label -}}
              </a>
            </li>
          {{- end }}
        {{- end }}
      </ul>
  </li>
  {{ end }}
{{ end }}