{{ $title := partial "head/helpers/GetTitle" . }}
{{ $description := partial "head/helpers/GetDescription" . }}
{{ $image := partial "head/helpers/GetSharedImage" . }}
{{ partial "head/seo/core.html" (dict
  "title" $title
  "description" $description
  "metadata" .Params.metadata
)}}
{{ partial "head/seo/og.html" (dict
  "title" $title
  "description" $description
  "image" $image
  "url" .Permalink
)}}
{{ partial "head/seo/twitter.html" (dict
  "title" $title
  "description" $description
  "image" $image
  "url" .Permalink
)}}
{{ partial "head/seo/pagefind.html" (dict
  "image" $image
)}}
{{ partial "head/seo/referrer.html" }}