{{ partial "events/section/hero.html" . }}
<div class="document-content">
  {{ partial "events/section/summary.html" (dict
      "with_container" true
      "context" .
    ) }}

  {{ partial "contents/list.html" . }}

  {{ partial "taxonomies/section-list-container.html" . }}

  {{ if site.Params.events.index.highlight_exhibitions.active }}
    {{ $exhibitions := where .Pages "Section" "exhibitions" }}
    {{ partial "events/section/exhibitions.html" $exhibitions }}
  {{ end }}

  {{ $per_page := site.Params.events.index.per_page }}
  <div class="container">

    {{ $futur_and_current := where .Pages "Section" "events" }}
    {{ $futur_and_current = where $futur_and_current "Params.dates.archive" false }}
    {{ $futur_and_current_group := $futur_and_current.GroupByDate site.Params.events.index.group_by_date "asc" }}

    {{ $archived := where .Pages "Section" "events" }}
    {{ $archived = where $archived "Params.dates.archive" true }}
    {{ $archived_group := $archived.GroupByDate site.Params.events.index.group_by_date "desc" }}
    {{ $agenda := $futur_and_current_group | append $archived_group }}

    {{ $paginator := .Paginate $agenda $per_page }}

    {{ if not $paginator.PageGroups }}
      <p class="none">{{ i18n "events.none" }}</p>
    {{ else }}
      {{ partial "events/partials/agenda.html" (dict
        "layout" site.Params.events.index.layout
        "options" site.Params.events.index.options
        "agenda" $paginator.PageGroups
      ) }}
    {{ end }}

    {{ partial "commons/pagination.html" . }}
  </div>
</div>
