<div class="timeline">
  {{- if .title -}}
    <p class="block-title">{{ partial "PrepareHTML" .title }}</p>
  {{ end -}}

  {{ with .block.data }}
    <div class="timeline-events">
      <ol>
        {{ range .events }}
          <li class="timeline-event">
            <p class="title">{{- partial "PrepareHTML" .title -}}</p>
            <div class="line"></div>
            <div class="description text">{{- partial "PrepareHTML" .text | markdownify -}}</div>
          </li>
        {{ end }}
      </ol>
      {{ if  (gt (len .events) 0) }}
        <div class="timeline-arrows">
          <button class="previous" disabled title="{{ i18n "blocks.timeline.previous"}}"></button>
          <button class="next" title="{{ i18n "blocks.timeline.next"}}"></button>
        </div>
      {{ end }}
    </div>
  {{ end }}
</div>