{{ $heading_tag := .heading_tag }}
{{ $index := .index }}
{{ $role := .role }}

{{ with .params }}
  <article class="timeline-event carousel__slide" id="carousel-item-{{$index}}" role="{{$role}}" aria-roledescription="slide" class="carousel__slide" aria-label="item-{{$index}}" >
    {{ $heading_tag.open -}}
      {{ .title | safeHTML }}
    {{ $heading_tag.close -}}
    <div class="line"></div>
    <div class="description text">{{- partial "PrepareHTML" .text | markdownify -}}</div>
  </article>
{{ end }}