<div class="block-content">
  {{- if not .title -}}
    {{ partial "blocks/default_title.html" .template }}
  {{ else }}
    <div class="top">
      <p class="block-title">{{ partial "PrepareHTML" .title }}</p>
    </div>
  {{ end -}}

  {{ with .block.data -}}
    <div class="events">
      {{ range .events -}}
        <article class="event">
          {{ if .title }}
            <h3 class="event-title">{{ partial "PrepareHTML" .title }}</h3>
          {{ end }}
          {{ if .text }}
            <p>{{ partial "PrepareText" .text }}</p>
          {{ end }}
        </article>
      {{ end -}}
    </div>
  {{ end -}}
</div>