
{{- $heading_tag := partial "GetHeadingTag" (dict 
  "level" .block.ranks.children
  "attributes" "class='title'"
  ) -}}

{{ with .block.data -}}
  <div class="timeline-events">
    {{ range .events -}}
      <article class="timeline-event">
        {{ if .title }}
          {{ $heading_tag.open -}}
            {{ partial "PrepareText" .title }}
          {{ $heading_tag.close -}}
        {{ end }}
        {{ if .text }}
          <p>{{ partial "PrepareText" .text }}</p>
        {{ end }}
      </article>
    {{ end -}}
  </div>
{{ end -}}
