<div class="block-content">
  {{- if not .title -}}
    {{ partial "blocks/default_title.html" .template }}
  {{ else }}
    <div class="top">
      <h2>{{ partial "PrepareHTML" .title }}</h2>
    </div>
  {{ end -}}

  {{ with .block.data -}}
    <div class="events">
      {{ range .events -}}
        <article class="event">
          {{ if .title }}
            <h1 class="event-title">{{ partial "PrepareHTML" .title }}</h1>
          {{ end }}
          {{ if .text }}
            <p>{{ partial "PrepareText" .text }}</p>
          {{ end }}
        </article>
      {{ end -}}
    </div>
  {{ end -}}
</div>