{{ partial "events/single/hero.html" . }}
{{ partial "events/single/pagefind.html" . }}

<div itemscope itemtype="https://schema.org/Event">
  {{ partial "commons/agenda/access.html" . }}
  <div class="document-content">
    {{ partial "events/single/meta.html" . }}
    {{ partial "events/single/sidebar.html" . }}
    {{ partial "events/single/summary.html" (dict
      "context" .
      "block_wrapped" true
    ) }}
    {{ partial "contents/list.html" (dict
      "context" .
      "contents" .Params.contents
    ) }}
    {{ if site.Params.events.single.navigation.active }}
      {{ partial "commons/single/siblings-navigation.html" (dict
        "context" .
        "previous_label" (i18n "events.previous")
        "next_label" (i18n "events.next")
        "reversed" (not .Params.dates.archive)
      ) }}
    {{ end }}
    {{ partial "commons/single/hooks/before-content-end.html" . }}
  </div>

  {{ partial "events/single/programme.html" .Params.children }}
  {{ partial "events/single/parent.html" .Params.parent }}
</div>
