<ul class="diplomas">
  {{ range .Paginator.Pages }}
    <li>
      <a href="{{ .Permalink }}" aria-label="{{ i18n "commons.more_aria" (dict "Title" .Title) }}">
        {{- partial "PrepareHTML" .Title -}}
        {{ with .Params.short_name }}
          <span class="meta">
            {{ partial "PrepareHTML" . }}
          </span>
        {{ end }}
      </a>
      <div class="content">
        <div class="description">
          {{- partial "PrepareText" .Params.summary -}}
        </div>

        <ol class="programs">
          {{- range .Pages -}}
            <li>
              <a href="{{ .Permalink }}" title="{{ safeHTML (i18n "commons.more_aria" (dict "Title" .Title)) }}">
                {{- partial "PrepareHTML" .Title -}}
              </a>
            </li>
          {{- end -}}
        </ol>

      </div>
    </li>
  {{ end }}
</ul>
