{{ if .Site.Taxonomies.diplomas }}
<div class="diplomas-select">
  <button type="button" id="diplomasButton" aria-expanded="false">
    {{- i18n "diplomas.type" -}}
  </button>
  <div class="dropdown-menu" aria-labelledby="diplomasButton">
    {{ range $name, $taxonomy := .Site.Taxonomies.diplomas }}
      {{- with site.GetPage (printf "/diplomas/%s" $name) }}
        <a href="{{ .Permalink }}">
          {{- partial "PrepareHTML" .Title -}}
          {{ if .Params.short_name }}
            ({{ partial "PrepareHTML" .Params.short_name }})
          {{ end }}
        </a>
      {{ end -}}
    {{ end }}
  </div>
</div>
{{ end }}
