{{ $show_programs := false }}
{{- if .Scratch.Get "show_programs" }}
  {{ $show_programs = true }}
{{ end -}}
<ul class="diplomas">
  {{ range .Paginator.Pages }}
    <li>
      <a href="{{ .Permalink }}" aria-label="{{ i18n "commons.more_aria" (dict "Title" .Title) }}">
        {{- partial "PrepareHTML" .Title -}}
        {{ with .Params.short_name }}
          <span class="meta">
            {{ partial "PrepareHTML" . }}
          </span>
        {{ end }}
      </a>
      {{- if $show_programs }}
        <ol class="programs">
          {{- range .Pages -}}
            <li>
              {{ partial "programs/program.html" . }}
            </li>
          {{- end -}}
        </ol>
      {{ end -}}
    </li>
  {{ end }}
</ul>
