{{- $title := or .Params.header_text .Title -}}
{{ $subtitle := "" }}
{{- $summary := partial "PrepareText" .Params.summary -}}
{{ if and (eq site.Params.summary.position "hero") $summary }}
  {{ $subtitle = $summary }}
{{ end }}

<header class="hero">
  <div class="container">
    {{- if .Params.breadcrumb | default true -}}
      {{ partial "header/breadcrumbs.html" . }}
    {{- end -}}
    <div class="content">
      {{- if $subtitle -}}
        <hgroup>
          <h1>{{ partial "PrepareHTML" $title }}</h1>
          <p class="lead">{{ partial "PrepareHTML" $subtitle }}</p>
        </hgroup>
      {{- else -}}
        <h1>{{ partial "PrepareHTML" $title }}</h1>
      {{- end -}}
      {{- if .Params.image }}
        <figure>
          {{ partial "commons/image.html"
            (dict
              "image"    .image
              "sizes"    site.Params.image_sizes.sections.diplomas.hero_single
            ) }}
          {{ if .image.credit }}
            <figcaption>
              {{- partial "PrepareHTML" .image.credit -}}
            </figcaption>
          {{ end }}
        </figure>
      {{ end -}}
    </div>
  </div>
  <div class="essential-container" id="#{{ urlize (i18n "programs.toc.essential") }}">
    <div class="container">
      {{- partial "diplomas/essential" . -}}
    </div>
  </div>
</header>
