{{/* La page en cours de rendu */}}
{{ $currentPage := .currentPage }}
{{/* La page à afficher (ou pas) */}}
{{ $testedPage := .testedPage }}
{{ $totalPages := .totalPages }}
{{ $slots := .slots }}
{{/* Une moitié à gauche, une moitié à droite (sauf les bords !)*/}}
{{ $slotsDivided := div $slots 2 }}
{{ $min := sub $currentPage $slotsDivided }}
{{ if lt $min 1 }}
  {{/* Pas trop à gauche */}}
  {{ $min = 1 }}
{{ end }}
{{ $max := add $min $slots }}
{{ if gt $max $totalPages }}
  {{/* Pas trop à droite */}}
  {{ $max = add $totalPages 1 }}
  {{ $min = sub $max $slots }}
{{ end }}
{{ $show_page_number := and 
  (ge $testedPage $min)
  (lt $testedPage $max)
}}
{{ return $show_page_number }}