{{ $kind := .Type }}
{{ $categories_kind := printf "%s_categories" $kind }}
{{ $categories := where site.Pages "Section" $categories_kind }}
{{ $taxonomies := .Params.section_taxonomies }}
{{ $option := index site.Params $kind }}
{{ $layout := site.Params.default.index.taxonomies.layout }}

{{ with $option.index.taxonomies }}
  <div class="taxonomies-list taxonomies-list--{{ $layout }}">
    {{ if $taxonomies }}
      {{- range $taxonomies -}}
        {{ if .categories }}
          {{ if eq $layout "dropdown" }}
            <div class="dropdown">
              <button aria-controls="categories-{{ .name | anchorize }}" aria-expanded="false">
                {{ .name }}
              </button>
              <div class="extendable taxonomy-categories" id="categories-{{ .name | anchorize }}" data-extendable-close-siblings="true" data-extendable-auto-close="true">
          {{ else }}
            <div class="taxonomy-categories">
          {{ end }}
            <ul>
            {{ range .categories }}
              {{ $category := site.GetPage .path }}
              {{ with $category }}
                <li>
                  <a href="{{ .Permalink }}">{{ .Title }}</a>
                </li>
              {{ end }}
            {{ end }}
              </ul>
            </div>
          {{ if eq $layout "dropdown" }}
            </div>
          {{ end }}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  </div>
{{- end -}}