{{ $context := . }}
{{ $type := .Type }}
{{ $taxonomies := .Params.taxonomies }}

{{ if $taxonomies }}
  <ul class="taxonomies-single {{ $type }}-taxonomies" aria-label="{{ i18n "categories.label" }}">
    {{ range $taxonomies }}
      {{ $taxonomy := . }}
      {{ with .path }}
        {{/*  Waiting for ".path" in static file https://github.com/osunyorg/admin/issues/2717  */}}
        {{ $taxonomy = site.GetPage . }}
      {{ end }}

      {{ if .categories }}
        <li class="terms
          {{ if .slug -}} taxonomy-{{- .slug }} {{- end }}
          {{ with $taxonomy.Params.bodyclass -}} {{ . }} {{- end }}"
          >
          <span class="taxonomy-title">{{ .name }}</span>
          {{ with .categories }}
            {{ $categories := partial "GetObjectsFromPathSlice" . }}

            {{ partial "commons/categories.html" (dict 
                "kind" $context.Kind
                "context" $context
                "categories" $categories
                "class" "taxonomy-children"
              )}}
          {{ end }}
        </li>
      {{ end }}
    {{ end }}
  </ul>
{{ end }}
