{{ $context := . }}
{{ $type := .Type }}
{{ $taxonomies := .Params.taxonomies }}
{{ $param := (printf "%s.single.taxonomies.display" $type) }}
{{ $display_taxonomies := partial "GetSiteParamWithDefault" (dict 
  "param" $param
  "default" "default.single.taxonomies.display"
) }}

{{ with $taxonomies }}
  {{ if $display_taxonomies }}
    <ul class="taxonomies-single {{ $type }}-taxonomies with-label" aria-label="{{ i18n "categories.label" }}">
      {{ range $taxonomies }}
        {{ $taxonomy := site.GetPage .path }}
        {{ if .categories }}
          <li class="terms
            {{- if .slug }} taxonomy-{{- .slug }} {{ end -}}
            {{- with $taxonomy.Params.bodyclass -}}{{ . }}{{- end }}">
            <span class="taxonomy-title">{{ .name }}</span>
            {{ with .categories }}
              {{ $categories := partial "GetObjectsFromPathSlice" . }}
              {{ partial "commons/categories.html" (dict 
                  "kind" $context.Kind
                  "context" $context
                  "categories" $categories
                  "class" "taxonomy-children"
                )}}
            {{ end }}
          </li>
        {{ end }}
      {{ end }}
    </ul>
  {{ else }}
    {{ $all_categories := partial "GetTermsFromTaxonomies" . }}
    {{ $class := printf "taxonomies-single without-label %s-taxonomies" $type }}
    {{ partial "commons/categories.html" (dict 
        "kind" $context.Kind
        "context" $context
        "categories" $all_categories
        "class" $class
      )}}
  {{ end }}
{{ end }}
