{{ $type := .Type }}
{{ $taxonomies := .Params.taxonomies }}

{{ if or $taxonomies }}
  <ul class="taxonomies-single {{ $type }}-taxonomies" aria-label="{{ i18n "categories.label" }}">
    {{ range $taxonomies }}
      {{ if .categories }}
        <li class="terms">
          <span class="taxonomy-title">{{ .name }}</span>
          {{ with .categories }}
            <ul class="taxonomy-children">
              {{ range . }}
                <li>
                  <a href="{{ .permalink }}">
                    {{ safeHTML .name }}
                  </a>
                </li>
              {{ end }}
            </ul>
          {{ end }}
        </li>
      {{ end }}
    {{ end }}
  </ul>
{{ end }}
