{{ $logo_index := .logo_index }}
{{ $with_link := .with_link }}

<div class="grid organizations">
  {{- range .partners }}
    {{ if .slug }}
      {{ with (site.GetPage (printf "/organizations/%s" .slug )) }}
        {{ template "partner" (dict 
            "title" .Title
            "url" .Permalink
            "logo" (index .Params $logo_index)
            "with_link" $with_link
          )}}
      {{ end }}
    {{ else }}
      {{ template "partner" (dict 
          "title" .name
          "url" .url
          "external" true
          "logo" .logo
          "with_link" $with_link
        )}}
    {{ end }}
  {{ end -}}
</div>