{{ $logo_index := .logo_index }}
{{ $latitude := .latitude }}
{{ $longitude := .longitude }}

<div class="map" id="map">
  {{- range .partners }}
    {{ if .slug }}
      {{ with (site.GetPage (printf "/organizations/%s" .slug )) }}
        {{ template "partner" (dict 
            "title" .Title
            "url" .Permalink
            "logo" (index .Params $logo_index)
            "latitude" (index .Params $latitude)
            "longitude" (index .Params $longitude)
          )}}
      {{ end }}
    {{ else }}
      {{ template "partner" (dict 
          "title" .name
          "url" .url
          "external" true
          "logo" .logo
          "latitude" .latitude
          "longitude" .longitude
        )}}
    {{ end }}
  {{ end -}}
</div>