{{ $logo_index := .logo_index }}

<div class="map" id="map">
  {{- range .partners }}
    {{ if .slug }}
      {{ with (site.GetPage (printf "/organizations/%s" .slug )) }}
        {{ template "partner" (dict 
            "title" .Title
            "url" .Permalink
            "logo" (index .Params $logo_index)
            "latitude" .Params.contact_details.geolocation.latitude
            "longitude" .Params.contact_details.geolocation.longitude
          )}}
      {{ end }}
    {{ else }}
      {{ template "partner" (dict 
          "title" .name
          "url" .url
          "external" true
          "logo" .logo
          "latitude" .Params.contact_details.geolocation.latitude
          "longitude" .Params.contact_details.geolocation.longitude
        )}}
    {{ end }}
  {{ end -}}
</div>