<div class="testimonials testimonials--carousel" data-slider="{{ site.Params.blocks.testimonials.slider | encoding.Jsonify }}">
  {{ range .testimonials }}
    {{ $aria_label := "" }}
    {{ if and .author .job }}
      {{ $aria_label = delimit (slice .author .job) ", " }}
    {{ else }}
      {{ with or .author .job }}
        {{ $aria_label = . }}
      {{ end }}
    {{ end }}

    {{ partial "blocks/templates/testimonials/figure.html" (dict
      "testimonial" .
      "aria_label" $aria_label
      "layout" "carousel"
    )}}
  {{ end }}
</div>