{{ $aria_label := .aria_label }}
{{ $layout := .layout }}
{{ with .testimonial }}
  <figure class="testimonial {{ if.photo }}with-picture{{ end }}" 
          {{ with $aria_label -}} role="figure" aria-label="{{ . }}" {{- end }}>

    <blockquote>
      {{- safeHTML .text -}}
    </blockquote>
    
    {{ if or .photo .author .job -}}
      <figcaption>
        {{ with .photo -}}
          {{ partial "blocks/templates/testimonials/figure/avatar.html" (dict
            "avatar" .
            "layout" $layout
          ) }}
        {{ end }}
        
        {{ if or .author .job -}}
          {{ partial "blocks/templates/testimonials/figure/author.html" (dict
            "author" .author
            "job" .job
          ) }}
        {{ end }}
      </figcaption>
    {{ end }}
  </figure>
{{ end }}