{{ $aria_label := .aria_label }}
{{ $layout := .layout }}
{{ $is_long := false }}

{{ with .testimonial }}
  <figure class="testimonial {{- if.photo }} with-picture {{- end }} {{- if $is_long }} is-long {{- end }}" 
          {{ with $aria_label -}} role="figure" aria-label="{{ . }}" {{- end }}>
    {{ with .text }}
      {{ $is_long = and (eq $layout "carousel") (gt (len .) 150)}}
      <blockquote {{- if $is_long }} class="is-long" {{- end }}>
        {{- safeHTML . -}}
      </blockquote>
    {{ end }}
    
    {{ if or .photo .author .job -}}
      <figcaption>
        {{ with .photo -}}
          {{ partial "blocks/templates/testimonials/figure/avatar.html" (dict
            "avatar" .
            "layout" $layout
          ) }}
        {{ end }}

        {{ if or .author .job -}}
          {{ partial "blocks/templates/testimonials/figure/author.html" (dict
            "author" .author
            "job" .job
          ) }}
        {{ end }}
      </figcaption>
    {{ end }}
  </figure>
{{ end }}