.files__page
    .hero
        h1
            word-break: break-word
    .file-hero-download
        margin-top: var(--grid-gutter)
        a[download]
            @include icon-frame(download-2-line, $hoverable: true)
            display: flex
            text-decoration: none
            &::after
                display: none
