.files__page
    .file-hero-download
        margin-top: var(--grid-gutter)
        a[download]
            @include icon-frame(download-2-line, $hoverable: true)
            text-decoration: none
            &::after
                display: none
