<div class="toc-cta">
  {{/* TODO : quelle balise pour le titre du toc ? */}}
  <div class="toc-cta-title" data-default="{{ i18n "commons.toc" }}">{{ i18n "commons.toc" }}</div>

  <button aria-label="{{ i18n "commons.toc" }}">
    <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line y1="1.5" x2="12" y2="1.5" stroke="black"/>
      <line y1="6.5" x2="12" y2="6.5" stroke="black"/>
      <line y1="11.5" x2="12" y2="11.5" stroke="black"/>
      <circle cx="15.5" cy="1.5" r="1.5" fill="black"/>
      <circle cx="15.5" cy="6.5" r="1.5" fill="black"/>
      <circle cx="15.5" cy="11.5" r="1.5" fill="black"/>
    </svg>
  </button>
</div>
