{{- $template := .block.template -}}
{{- $position := .block.position -}}
{{- $title := .block.title -}}
{{- with .block.data -}}

  {{- $show_summary := .show_summary -}}
  {{- $show_category := .show_category -}}
  {{- $show_status := .show_status -}}

  {{- $layout := .layout | default "list" -}}
  <div class="block block-agenda{{ if $title }} block-with-title{{ end }} block-agenda--{{- $layout }}">
    <div class="container">
      <div class="block-content">

        {{ partial "blocks/top.html" (dict
            "title" $title
            "description" .description
          )}}
        
        <div class="events events--{{- $layout -}}">
          {{ range .events }}
            {{ $event := site.GetPage .file }}
            {{ with $event }}
                {{ partial "events/event" (dict
                  "event" .
                  "layout" $layout
                  "show_summary" $show_summary
                  "show_category" $show_category
                  "show_status" $show_status
                ) }}
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
{{ end -}}