{{- $template := .block.template -}}
{{- $position := .block.position -}}
{{- $title := .block.title -}}
{{- $layout := .layout | default "list" -}}
{{- with .block.data -}}
  <div class="block block-agenda{{ if $title }} block-with-title{{ end }} block-agenda--{{- $layout }}">
    <div class="container">
      <div class="block-content">
        {{ if or $title .description }}
          <div class="top">
            {{ if $title }}
              <p class="block-title">{{ partial "PrepareHTML" $title }}</p>
            {{ end }}
            {{- if .description }}
              <div class="description">
                {{ partial "PrepareHTML" .description }}
              </div>
            {{ end -}}
          </div>
        {{ end -}}
        
        <div class="events events--{{- $layout -}}">
          {{ range .events }}
            {{ $event := site.GetPage .file }}
            {{ with $event }}
                {{ partial "events/event" (dict
                  "event" .
                  "layout" $layout
                ) }}
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
{{ end -}}