{{- $position := .block.position -}}
{{- $template := .block.template -}}
{{- $title := .block.title -}}
{{- with .block.data -}}
  {{- $buttons := and .button.text .button_secondary.text -}}
  <section class="block block-call_to_action{{ if $title }} block-with-title{{ end }}" id="block-{{ $position }}">
    <div class="container">
      <div class="block-content">
        <div class="call_to_action call_to_action--with{{ if not .image }}out{{ end }}-image">
          <div>
            {{- if not $title -}}
              {{ partial "blocks/default_title.html" $template }}
            {{ else }}
              <h2>{{ partial "PrepareHTML" $title }}</h2>
            {{ end -}}

            {{- if (partial "GetTextFromHTML" .text) }}
            <div class="description">
              {{ partial "PrepareHTML" .text }}
            </div>
            {{ end -}}

            {{- if .buttons }}
            <div class="actions" {{ if gt (len .buttons) 1 }}role="group"{{ end -}}>
              {{- range .buttons -}}
                {{ if .title }}
                  {{- $title := partial "PrepareHTML" .title -}}
                  <a href="{{ .url }}"
                    {{ if .target_blank }}
                      title="{{ i18n "commons.link.blank_aria" (dict "Title" $title) }}"
                      target="_blank"
                    {{ else }}
                      title="{{ $title }}"
                    {{ end }}
                    >{{- $title -}}
                  </a>
                {{ end -}}
              {{- end -}}
            </div>
            {{- end -}}
          </div>

          {{ partial "commons/image.html"
            (dict
              "image"    .image.file
              "alt"      .image.alt
              "sizes"    site.Params.image_sizes.blocks.call_to_action
            )}}

        </div>
      </div>
    </div>
  </section>
{{- end -}}
