{{- $context := .context -}}
{{- $position := .block.position -}}
{{- $title := .block.title -}}
{{- with .block.data -}}
  {{- $buttons := and .button.text .button_secondary.text -}}
  <section class="block-call_to_action{{ if $title }} block-with-title{{ end }}" id="block-{{ $position }}">
    <div class="container">
      <div class="block-content">
        <div class="call_to_action call_to_action--with{{ if not .image }}out{{ end }}-image">
          <div>
            {{ partial "blocks/title" (dict 
              "title" $title
              "context" $context
              ) }}
            {{- if (partial "GetTextFromHTML" .text) }}
            <div>
              {{ partial "PrepareHTML" .text }}
            </div>
            {{ end -}}

            {{- if .buttons }}
            <div {{ if gt (len .buttons) 1 }}role="group"{{ end -}}>
              {{- range .buttons -}}
                {{ if .title }}
                  {{- $title := partial "PrepareHTML" .title -}}
                  <a href="{{ .url }}"
                    {{ if .target_blank }}
                      title="{{ i18n "commons.link.blank_aria" (dict "Title" $title) }}"
                      target="_blank"
                    {{ else }}
                      title="{{ $title }}"
                    {{ end }}
                    >{{ $title }}</a>
                {{ end -}}
              {{- end -}}
            </div>
            {{- end -}}

          </div>

          {{ partial "commons/image.html"
            (dict
              "image"    .image.file
              "alt"      .image.alt
              "mobile"   "164x164"
              "tablet"   "336x336"
              "desktop"  "416x416"
            )}}

        </div>
      </div>
    </div>
  </section>
{{- end -}}
