{{ $partial := .partial }}
{{ $heading_tag := .heading_tag | default 2 }}
{{ $block_options := .block_options | default "" }}

<div class="carousel js-carousel" data-carousel="{{ .options | encoding.Jsonify }}">
  <div class="carousel__slider">
    <div class="carousel__container">
      {{ $totalSlides := len .content }}
      {{ range $slideindex, $content := .content }}
      {{ with $content }}
        {{ partial $partial (dict
          "index" $slideindex
          "params" .
          "heading_tag" $heading_tag
          "options" $block_options
          "total" $totalSlides
        ) }}
        {{ end }}
      {{ end }}
    </div>
  </div>
  <div class="carousel__pagination">
    {{ if .options.pagination }}
      <ul class="carousel__pagination__tabcontainer{{ if .options.autoplay }} has_toggle{{ end }}">
        {{ range $slideindex, $content := .content }}
          {{ $index := add $slideindex 1 }}
          <li>
            <button aria-selected="false" class="carousel__pagination__page" type="button">
              <span class="sr-only">
                {{ safeHTML (replace (i18n "commons.carousel.gotoX") "%s" $index) }}
              </span>
              <i></i>
            </button>
          </li>
        {{ end }}
      </ul>
    {{ end }}
      
    {{ if .options.autoplay }}
      <button class="toggle">
        <span class="play">
          <span class="sr-only">{{ safeHTML (i18n "commons.carousel.play") }}</span>
        </span>
        <span class="pause">
          <span class="sr-only">{{ safeHTML (i18n "commons.carousel.pause") }}</span>
        </span>
      </button>
    {{ end }}
  </div>

  {{ if .options.arrows }}
    <div class="carousel__arrows">
      <button class="arrow-prev" type="button">
        <span class="sr-only">{{ safeHTML (i18n "commons.carousel.prev") }}</span>
      </button>

      <p class="counter"></p>
      <button class="arrow-next" type="button">
        <span class="sr-only">{{ safeHTML (i18n "commons.carousel.next") }}</span>
      </button>
    </div>
  {{ end }}
</div>