{{- $block := .block -}}
{{- $layout := .block.data.layout | default "no_background" -}}
{{- $class := "block block-chapter" -}}
{{- $image_class := "" -}}

{{- with .block.data -}}
  {{ if .image }}
    {{- $class = printf "%s block-chapter--with-image" $class -}}
    {{- $image_class = printf "image-%s" (partial "GetImageDirection" .image) -}}
  {{ end }}
  {{- $layout_class := printf "block-chapter--%s" $layout -}}
  {{- $class = printf "%s %s" $class $layout_class -}}

  <div class="{{ $class }}{{ if $block.title }} block-with-title{{ end }}">
    <div class="container">
      <div class="block-content">
        <div class="chapter">
          <div class="text">
            {{ partial "blocks/top.html" (dict
              "title" $block.title
              "heading_level" $block.ranks.self
            )}}

            {{ if (partial "GetTextFromHTML" .text) -}}
            <div class="rich-text">
              {{ partial "PrepareHTML" .text }}
            </div>
            {{ end -}}
            {{ if (partial "GetTextFromHTML" .notes) }}
              <div class="notes">
                {{ partial "PrepareHTML" .notes }}
              </div>
            {{ end -}}
          </div>
          {{ if .image }}
            <figure class="{{- $image_class -}}">
              {{ if not site.Params.image_sizes.design_system.lightbox.disabled }}
                <a class="glightbox"
                  role="button"
                  data-glightbox="type: image;{{ if .credit }}description: {{ partial "PrepareHTML" .credit }}{{ end }}"
                  href="{{- partial "GetLightboxUrl" .image -}}"
                  title="{{- i18n "commons.lightbox.link.title" -}}"
                  aria-label="{{- i18n "commons.lightbox.link.title" -}}"
                  >
              {{ end }}
                {{ partial "commons/image.html"
                  (dict
                    "image"    .image
                    "sizes"    site.Params.image_sizes.blocks.chapter
                  )}}
              {{ if not site.Params.image_sizes.design_system.lightbox.disabled }}
                </a>
              {{ end }}
              {{ if partial "GetTextFromHTML" .credit }}
                <figcaption>{{ partial "PrepareHTML" .credit }}</figcaption>
              {{ end }}
            </figure>
          {{ end -}}
        </div>
      </div>
    </div>
  </div>
{{- end -}}
