{{- $block := .block -}}
{{- $block_class := partial "GetBlockClass" .block -}}
{{- $image_class := "" -}}

{{- with .block.data -}}
  {{ if .image }}
    {{- $block_class = printf "%s block-chapter--with-image" $block_class -}}
    {{- $image_class = printf "image-%s" (partial "GetImageDirection" .image) -}}
  {{ end }}

  <div class="{{ $block_class }}">
    <div class="container">
      <div class="block-content">
        <div class="chapter">
          <div class="text">
            {{ partial "blocks/top.html" (dict
              "title" $block.title
              "heading_level" $block.ranks.self
            )}}

            {{ if (partial "GetTextFromHTML" .text) -}}
            <div class="rich-text">
              {{ partial "PrepareHTML" .text }}
            </div>
            {{ end -}}
            {{ if (partial "GetTextFromHTML" .notes) }}
              <div class="notes">
                {{ partial "PrepareHTML" .notes }}
              </div>
            {{ end -}}
          </div>
          {{ if .image }}
          <!-- TODO Peut etre aligner la stucture des données avec les autres cas d'images -->
            {{ partial "commons/image-figure.html" (dict
              "image" (dict 
                        "alt" .alt
                        "id" .image.id
                        "file" .image.file
                        "credit" .credit
                      )
              "sizes" site.Params.image_sizes.blocks.chapter
            ) }}
          {{ end -}}
        </div>
      </div>
    </div>
  </div>
{{- end -}}
