{{- $block := .block -}}
{{- $block_class := partial "GetBlockClass" .block -}}

{{- with .block.data -}}
  <div class="{{ $block_class }}">
    <div class="container">
      <div class="block-content">
        {{ partial "blocks/top.html" (dict
          "title" $block.title
          "heading_level" $block.ranks.self
          "description" .description
        )}}

        <div class="informations">
          <address itemscope itemtype="https://schema.org/Organization">
            {{ if .name }}
              <p itemprop="name">{{ .name }}</p>
            {{ end }}
            {{ with .information }}
              {{ partial "PrepareHTML" . }}
            {{ end }}
            <div class="contact-types">
              {{ with .address }}
                {{ if or .address .city .zipcode .country }}
                  <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                    <p class="meta">{{- i18n "commons.contact.address" -}}</p>
                    {{ if .address }}
                    <span itemprop="streetAddress">
                      {{ partial "PrepareHTML" .address }},
                    </span>
                    {{ end }}
                    <br>
                    {{ if .city }}
                    <span itemprop="addressLocality">
                      {{ partial "PrepareHTML" .city }}
                    </span>
                    {{ end }}
                    {{ if .zipcode }}
                    <span itemprop="postalCode">
                      {{ partial "PrepareHTML" .zipcode }}
                    </span>
                    {{ end }}
                    {{ if .country }}
                    <span itemprop="addressCountry">
                      {{ partial "PrepareHTML" .country }}
                    </span>
                    {{ end }}
                  </div>
                {{ end }}
              {{ end }}
              {{ if or .url .emails }}
                <div>
                  <p class="meta">{{- i18n "commons.contact.web" -}}</p>
                  {{ with .url }}
                    <p><a href="{{ . }}" target="_blank" rel="noreferrer">{{ . }}</a></p>
                  {{ end }}
                  {{ range .emails }}
                    <p><a itemprop="email" href="mailto:{{ . }}">{{ . }}</a></p>
                  {{ end }}
                </div>
              {{ end }}
              {{ with .phone_numbers}}
                <div>
                  <p class="meta">{{- i18n "commons.contact.phone" -}}</p>
                  {{ range . }}
                    <p><a itemprop="telephone" href="tel:{{ . }}">{{ . }}</a></p>
                  {{ end }}
                </div>
              {{ end }}
            </div>
          </address>
  
          {{ if .timetable}}
            <span class="meta">{{- i18n "commons.contact.schedule" -}}</span>
            <ul>
                {{ range .timetable }}
                  {{ if or
                    .time_slot_morning.from
                    .time_slot_morning.to
                    .time_slot_afternoon.from
                    .time_slot_afternoon.to
                  }}
                    <li>
                      <span>{{ .title }}</span>
                      {{ if or
                        .time_slot_morning.from
                        .time_slot_morning.to
                      }}
                      <span>
                        {{- if .time_slot_morning.from }}
                          <time datetime="{{ .time_slot_morning.from }}">{{ .time_slot_morning.from }}</time>
                        {{ end -}}
                        {{- if .time_slot_morning.to }}
                          <time datetime="{{ .time_slot_morning.to }}">{{ .time_slot_morning.to }}</time>
                        {{ end -}}
                      </span>
                      {{ end }}
                      {{ if or
                        .time_slot_afternoon.from
                        .time_slot_afternoon.to
                      }}
                      <span>
                        {{- if .time_slot_afternoon.from }}
                          <time datetime="{{ .time_slot_afternoon.from }}">{{ .time_slot_afternoon.from }}</time>
                        {{ end -}}
                        {{- if .time_slot_afternoon.to }}
                          <time datetime="{{ .time_slot_afternoon.to }}">{{ .time_slot_afternoon.to }}</time>
                        {{ end -}}
                      </span>
                      {{ end -}}
                    </li>
                  {{ end }}
                {{ end }}
            </ul>
          {{ end }}
        </div>
      </div>


    </div>
  </div>
{{- end -}}
