{{- $block := .block -}}
{{- $block_class := partial "GetBlockClass" .block -}}

{{- with .block.data -}}
  <div class="{{ $block_class }}">
    <div class="container">
      <div class="block-content">
        {{ partial "blocks/top.html" (dict
          "title" $block.title
          "heading_level" $block.ranks.self
        )}}
        <div class="definitions">
          {{- range .elements }}
            <details itemscope itemtype="https://schema.org/DefinedTerm">
              <summary itemprop="name">{{ .title | safeHTML }}</summary>
              <p itemprop="description">{{ .description | safeHTML }}</p>
            </details>
          {{ end -}}
        </div>
      </div>
    </div>
  </div>
{{- end -}}
