{{- $template := .block.template -}}
{{- $position := .block.position -}}
{{- $title := .block.title -}}
{{- with .block.data -}}
  <section class="block block-definitions{{ if $title }} block-with-title{{ end }}">
    <div class="container">
      <div class="block-content">
        {{- if not $title -}}
          {{ partial "blocks/default_title.html" $template }}
        {{ else }}
          <div class="top">
            <p class="block-title">{{ partial "PrepareHTML" $title }}</p>
          </div>
        {{ end -}}
        <div class="definitions">
          {{- range .elements }}
            <details itemscope itemtype="https://schema.org/DefinedTerm">
              <summary itemprop="name">{{ partial "PrepareText" .title }}</summary>
              <p itemprop="description">{{ partial "PrepareText" .description }}</p>
            </details>
          {{ end -}}
        </div>
      </div>
    </div>
  </section>
{{- end -}}
