{{- $context := .context -}}
{{- $position := .block.position -}}
{{- $title := .block.title -}}
{{- with .block.data -}}
  <section class="block block-embed{{ if $title }} block-with-title{{ end }}" id="block-{{ $position }}">
    <div class="container">
      <div class="block-content">
        {{- if $title }}
          <div class="top">
            {{ partial "blocks/title" (dict 
              "title" $title
              "context" $context
              ) }}
          </div>
        {{ end -}}

        {{- if .code }}
          {{ partial "PrepareHTML" .code }}
        {{ end -}}

        {{ partial "commons/transcription" ( dict
            "transcription" .transcription
            "position" $position
          ) }}
      </div>
    </div>
  </section>
{{- end -}}
