{{- $template := .block.template -}}
{{- $position := .block.position -}}
{{- $title := .block.title -}}
{{- with .block.data -}}
  <section class="block block-embed{{ if $title }} block-with-title{{ end }}" id="block-{{ $position }}">
    <div class="container">
      <div class="block-content">
        {{- if not $title -}}
          {{ partial "blocks/default_title.html" $template }}
        {{ else }}
          <div class="top">
            <h2>{{ partial "PrepareHTML" $title }}</h2>
          </div>
        {{ end -}}

        {{- if .code }}
          {{ partial "PrepareHTML" .code }}
        {{ end -}}

        {{ partial "commons/transcription" ( dict
            "transcription" .transcription
            "position" $position
          ) }}
      </div>
    </div>
  </section>
{{- end -}}
