{{- $block := .block -}}
{{- $block_class := partial "GetBlockClass" .block -}}

{{- with .block.data -}}
  {{- $features := .elements }}
  <div class="{{ $block_class }}">
    <div class="container">
      <div class="block-content">
        {{ partial "blocks/top.html" (dict
          "title" $block.title
          "heading_level" $block.ranks.self
          "description" .description
        )}}

        {{ if $features }}
          <ul>
            {{- range $features }}
              <li>
                <div>
                  {{- $heading_tag := partial "GetHeadingTag" (dict 
                  "level" $block.ranks.children
                  "attributes" "class='name' itemprop='name'"
                  ) -}}
                  {{ $heading_tag.open -}}
                    {{ .title | safeHTML }}
                  {{ $heading_tag.close -}}
                  <p>{{ .description | safeHTML }}</p>
                </div>
                {{- if .image -}}
                  <figure>
                    {{- partial "commons/image.html"
                      (dict
                        "image"    .image
                        "alt"      .alt
                        "sizes"    site.Params.image_sizes.blocks.features
                      ) -}}
                      {{- if .credit -}}
                        <figcaption>
                          {{ partial "PrepareHTML" .credit }}
                        </figcaption>
                      {{- end -}}
                  </figure>
                {{- end -}}
              </li>
            {{ end -}}
          </ul>
        {{ end -}}
      </div>
    </div>
  </div>
{{ end }}