{{- $context := .context -}}
{{- $position := .block.position -}}
{{- $title := .block.title -}}
{{- with .block.data -}}
  <section class="block-files{{ if $title }} block-with-title{{ end }}" id="block-{{ $position }}">
    <div class="container">
      <div class="block-content">
        {{- if $title }}
          <div class="top">
            {{ partial "blocks/title" (dict 
              "title" $title
              "context" $context
              ) }}
          </div>
        {{ end -}}
        {{- if .description }}
          <div class="description">
            {{ partial "PrepareHTML"  .description }}
          </div>
        {{ end -}}
        <ul>
          {{- range .files }}
            {{ if ne .id "" }}
              {{- $file := partial "GetMedia" .id -}}
              {{ if $file }}
                <li>
                  {{- $title := .title -}}
                  {{- if (not $title) }}
                    {{ $title = $file.name }}
                  {{ end -}}
                  {{- $size := partial "GetHumanSize" $file.size -}}
                  {{- $extention := partial "GetExtensionFile" $file.name -}}
                  {{- $extention_with_size := printf "%s - %s" $extention $size -}}
                  {{- $title_with_size := printf "%s (%s)" $title $extention_with_size -}}
                  {{- $url := $file.url -}}
                  {{- if site.Params.keycdn -}}
                    {{- $url = $file.direct_url -}}
                  {{- end -}}
                  {{ if $file }}
                    <a href="{{ $url }}" download="{{ partial "PrepareHTML" $file.name }}" target="_blank" title="{{ i18n "commons.link.blank_aria" (dict "Title" $title_with_size) }}">
                      <span>{{ $title }}<br><span>{{ $extention_with_size }}</span></span>
                    </a>
                  {{ end }}
                </li>
              {{ end -}}
            {{ end -}}
          {{ end -}}
        </ul>
      </div>
    </div>
  </section>
{{- end -}}
