{{- $block := .block -}}
{{- $block_class := partial "GetBlockClass" .block -}}
{{- with .block.data -}}
  {{- $layout := .layout | default "grid" }}
  <div class="{{ $block_class }}">
    <div class="container">
      <div class="block-content">
        {{ partial "blocks/top.html" (dict
          "title" $block.title
          "heading_level" $block.ranks.self
          "description" .description
        ) }}
        {{- if and (eq $layout "carousel") (gt (len .images) 1) -}}
          {{ partial "blocks/templates/carousel.html" (dict 
              "content" .images
              "options" site.Params.blocks.gallery.carousel
              "partial" "blocks/templates/gallery/carousel-image.html"
          )}}
        {{ else }}
          {{ partial "blocks/templates/gallery/images.html" . }}
        {{- end -}}
      </div>
    </div>
  </div>
{{- end -}}