{{- $block := .block -}}
{{- $layout_class := "block-gallery--grid" -}}
{{- with .block.data -}}
  {{- $layout := .layout -}}
  {{- if $layout -}}
    {{- $layout_class = printf "block-gallery--%s" .layout -}}
  {{- end -}}
  <div class="block block-gallery{{ if $block.title }} block-with-title{{ end }} {{ $layout_class }}">
    <div class="container">
      <div class="block-content">
        {{ partial "blocks/top.html" (dict
          "title" $block.title
          "heading_level" $block.heading_level
          "description" .description
        )}}

        {{- if eq .layout "carousel" -}}
          {{ partial "blocks/templates/gallery/carousel" . }}
        {{- else -}}
          {{ partial "blocks/templates/gallery/grid" . }}
        {{- end -}}

      </div>
    </div>
  </div>
{{- end -}}
