{{- $context := .context -}}
{{- $position := .block.position -}}
{{- $title := .block.title -}}
{{- with .block.data -}}
  {{- $buttons := and .button.text .button_secondary.text -}}
  <section class="block-image{{ if $title }} block-with-title{{ end }}" id="block-{{ $position }}">
    <div class="container">
      <div class="block-content">
        {{/*  TODO: refactor  */}}
        {{- with .image -}}
          {{- $image := partial "GetMedia" .file -}}
          {{- $url := $image.url -}}
          {{- if site.Params.keycdn -}}
            {{- $url = $image.direct_url -}}
          {{- end -}}

          {{- $lightbox_sizes := "2048x3640" -}}
          <figure>
            <a class="glightbox"
              data-glightbox="type: image;"
              href="{{ partial "GetImageUrl" (dict "url" $url "size" $lightbox_sizes ) }}">
              {{ partial "commons/image.html"
                (dict
                  "image"    .
                  "alt"      .alt
                  "mobile"   "480x850"
                  "tablet"   "768x1360"
                  "desktop"  "1024x1820"
                )}}
            </a>
            <figcaption>
              {{- if $title }}
                <p>{{ partial "PrepareHTML" $title }}</p>
              {{ end -}}
              {{- if partial "PrepareHTML" .credit }}
                <div class="credit">{{ partial "PrepareHTML" .credit }}</div>
              {{ end -}}
            </figcaption>
          </figure>
        {{- end -}}

      </div>
    </div>
  </section>
{{- end -}}
