{{- $template := .block.template -}}
{{- $position := .block.position -}}
{{- $title := .block.title -}}
{{- $image_class := "" -}}
{{- with .block.data -}}
  {{- $text := .text -}}
  {{- $buttons := and .button.text .button_secondary.text -}}
  {{- if .image -}}
    {{- $image_class = printf "image-%s" (partial "GetImageDirection" .image ) -}}
  {{- end -}}
  <section class="block block-image{{ if $title }} block-with-title{{ end }} {{ $image_class -}}" id="block-{{ $position }}">
    <div class="container">
      <div class="block-content">
        {{- if not $title -}}
          {{ partial "blocks/default_title.html" $template }}
        {{ else }}
          <div class="top">
            <h2>{{ partial "PrepareHTML" $title }}</h2>
          </div>
        {{ end -}}

        {{- with .image -}}
          <figure class="{{ $image_class }}">
            <a class="glightbox"
              data-glightbox="type: image;{{ if .credit }}description: {{ partial "PrepareHTML" .credit }}{{ end }}"
              href="{{- partial "GetLightboxUrl" . -}}"
              title="{{- i18n "commons.lightbox.link.title" -}}"
              >
              {{ partial "commons/image.html"
                (dict
                  "image"    .
                  "alt"      .alt
                  "sizes"    site.Params.image_sizes.blocks.image
                )}}
            </a>
            <figcaption>
              {{- if $text }}
                {{ partial "PrepareHTML" $text }}
              {{ end -}}
              {{- if partial "PrepareHTML" .credit }}
                <div class="credit">{{ partial "PrepareHTML" .credit }}</div>
              {{ end -}}
            </figcaption>
          </figure>
        {{- end -}}

      </div>
    </div>
  </section>
{{- end -}}
