{{- $block := .block -}}
{{- $image_class := "" -}}
{{- $block_class := partial "GetBlockClass" .block -}}

{{- with .block.data -}}
  {{- $buttons := and .button.text .button_secondary.text -}}
  {{- if .image -}}
    {{- $image_class = printf "image-%s" (partial "GetImageDirection" .image ) -}}
  {{- end -}}
  <div class="{{ $block_class }} {{ $image_class }}">
    <div class="container">
      <div class="block-content">
        {{ partial "blocks/top.html" (dict
          "title" $block.title
          "heading_level" $block.ranks.base
        )}}
        
        <!-- TODO Peut etre aligner la stucture des données avec les autres cas d'images -->
        {{ partial "commons/image-figure.html" (dict
          "image" (dict 
                    "alt" .image.alt
                    "id" .image.id
                    "file" .image.file
                    "credit" .image.credit
                    "text" .text
                  )
          "sizes" site.Params.image_sizes.blocks.image
        ) }}
      </div>
    </div>
  </div>
{{- end -}}
