{{- $block := .block }}
{{- $block_class := partial "GetBlockClass" .block -}}
{{- with .block.data -}}
  {{- $options := .options -}}
  {{- $layout := .layout | default "grid" -}}
  <div class="{{ $block_class }}">
    <div class="container">
      <div class="block-content">
        {{ partial "blocks/top.html" $block.top }}
        {{ if .jobs }}

          {{ $jobs := partial "GetObjectsFromPathSlice" .jobs }}

          {{ partial "jobs/fragments/list.html" (dict
            "_context" .
            "type" "jobs"
            "items" $jobs
            "layout" $layout
            "options" $options
            "heading_level" 2
          ) }}
        {{ end }}
      </div>
    </div>
  </div>
{{ end -}}