{{- $context := .context -}}
{{- $position := .block.position -}}
{{- $title := .block.title -}}
{{- $figures := .figures}}
{{- with .block.data -}}
  <section class="block block-key_figures{{ if $title }} block-with-title{{ end }}" id="block-{{ $position }}">
    <div class="container">
      <div class="block-content">
        {{- if (or $title .description) }}
          <div class="top">
            {{ partial "blocks/title" (dict 
              "title" $title
              "context" $context
              ) }}
            {{- if .description }}
              <div class="description">
                {{ partial "PrepareHTML"  .description }}
              </div>
            {{ end -}}
          </div>
        {{ end -}}

        {{ $list_class := "odd-items" }}
        {{ if (modBool $figures 2) }}
          {{ $list_class = "even-items" }}
        {{ end }}
        <ul class="{{ $list_class }}">
          {{- range .figures }}
              <li>
                <dl>
                    <dt><strong>{{ .number }}</strong>{{ partial "PrepareHTML" .unit }}</dt>
                    <dd>{{ partial "PrepareHTML" .description }}</dd>
                </dl>
            </li>
          {{ end -}}
        </ul>
      </div>
    </div>
  </section>
{{- end -}}
