{{- $block := .block -}}
{{- $class := partial "GetBlockClass" .block -}}

{{- with .block.data -}}
  {{- $figures := .figures }}
  <div class="{{ $class }}">
    <div class="container">
      <div class="block-content">
        {{ partial "blocks/top.html" (dict
          "title" $block.title
          "heading_level" $block.ranks.self
          "description" .description
        )}}

        {{ if $figures }}
          {{ $list_class := "odd-items" }}
          {{ if (modBool (len $figures) 2) }}
            {{ $list_class = "even-items" }}
          {{ end }}
          <ul class="{{ $list_class }}">
            {{- range .figures }}
                <li>
                  <dl>
                      <dt><strong>{{ .number }}</strong>{{ partial "PrepareHTML" .unit }}</dt>
                      <dd>{{ partial "PrepareHTML" .description }}</dd>
                  </dl>
              </li>
            {{ end -}}
          </ul>
        {{ end -}}
      </div>
    </div>
  </div>
{{- end -}}
