{{- $block := .block -}}
{{- with .block.data -}}
  <div class="block block-license{{ if $block.title }} block-with-title{{ end }}">
    <div class="container">
      <div class="block-content">
        {{ partial "blocks/top.html" (dict
          "title" $block.title
          "heading_level" $block.ranks.self
        )}}

        {{ with .creative_commons }}
          <div class="license">
            {{ $file := (printf "/assets/images/blocks/license/%s.svg" .identifier ) }}
            <a rel="license" href="{{ .url }}" title="{{ .label }}" target="_blank" rel="noopener">
              <img src="{{ $file }}" alt="{{ .label }}">
            </a>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
{{- end -}}

