{{ $block := .block }}
{{ $block_class := partial "GetBlockClass" .block }}
{{ $layout := .block.data.layout | default "grid" }}

{{- with .block.data -}}
  {{ $options := .options }}

  <div class="{{ $block_class }}">
    <div class="container">
      <div class="block-content">
        {{ partial "blocks/top.html" (dict
          "title" $block.title
          "description" .description
          "heading_level" $block.ranks.self
        )}}

        {{ $locations := slice }}
        {{ $location := "" }}
        {{ range .locations }}
          {{ $location = site.GetPage ( printf "/locations/%s" .slug ) }}
          {{ $locations = $locations | append $location }}
        {{ end }}

        {{ if eq $layout "map" }}
          {{ partial "locations/map.html" (dict
              "locations" $locations
            )}}
        {{ else }}
          <div class="locations locations--{{- $layout }}">
            {{ $location_heading := printf "h%d" ( $block.ranks.children | default 2 ) }}
            {{ range $locations }}
              {{ partial "locations/location.html" (dict 
                "location" .
                "heading" $location_heading
                "options" $options
              ) }}
            {{ end }}
          </div>
        {{ end }}
      </div>
    </div>
  </div>
{{- end -}}