{{- $block := .block -}}
{{- $block_index := .index -}}
{{- $block_class := partial "GetBlockClass" .block -}}
{{ $logo_index := "logo" }}
{{ $longitude := "" }}
{{ $latitude := "" }}
{{- $layout := .block.data.layout | default "grid" }}

{{ if site.Params.organizations.dark_logo_background }}
  {{ $logo_index = "logo_on_dark_background" }}
{{ end }}

{{- with .block.data -}}
  {{ $options := .options }}
  <div class="{{ $block_class }}">
    <div class="container">
      <div class="block-content">
        {{ partial "blocks/top.html" (dict
            "title" $block.title
            "heading_level" $block.ranks.self
            "description" .description
          )}}

        {{ partial (printf "blocks/templates/organizations/%s.html" $layout) (dict
            "block_index" $block_index
            "logo_index" $logo_index
            "organizations" .organizations
            "options" $options
          )}}
      </div>
    </div>
  </div>
{{- end -}}

{{- define "organization" -}}
  {{ $options := .options }}
  <article class="organization" {{ if .longitude }}data-longitude="{{ .longitude }}"{{ end }} {{ if .latitude }}data-latitude="{{ .latitude }}"{{ end }}>
    {{ $title := "" }}
    <div class="organization-content">
      {{ if .title }}
        {{ $title = partial "PrepareHTML" .title -}}
        <p class="organization-title">
          {{- if and .url $options.link }}
            <a href="{{ .url }}" {{ if .external }} target="_blank" rel="noopener" {{ end }} title="{{ safeHTML (i18n "commons.link.blank_aria" (dict "Title" $title)) }}">
          {{ end -}}
            {{- $title -}}
          {{- if and .url $options.link }}
            {{ if .external }}
              <span class="sr-only"> - {{ safeHTML (i18n "commons.link.blank") }}</span>
            {{ end }}
            </a>
          {{ end -}}
          </p>
      {{ end -}}
      {{ if and $options.summary .summary }}
        <div class="organization-summary">
          {{ safeHTML .summary }}
        </div>
      {{ end }}
    </div>
    {{ if $options.logo }}
      <div class="media">
        {{- if .logo -}}
          {{- partial "commons/image.html" (dict
                "image"    .logo
                "alt"      $title
                "sizes"    site.Params.image_sizes.blocks.organizations
              ) -}}
        {{- end -}}
      </div>
    {{- end -}}
  </article>
{{- end  -}}