{{- $block := .block -}}

{{- $class := partial "GetBlockClass" .block -}}
{{ $logo_index := "logo" }}
{{ $longitude := "" }}
{{ $latitude := "" }}
{{- $layout := .block.data.layout | default "grid" }}

{{ if site.Params.organizations.dark_logo_background }}
  {{ $logo_index = "logo_on_dark_background" }}
{{ end }}

{{- with .block.data -}}

  {{- $with_link := .with_link -}}

  <div class="{{ $class }}">
    <div class="container">
      <div class="block-content">
        {{ partial "blocks/top.html" (dict
          "title" $block.title
          "heading_level" $block.ranks.self
          "description" .description
        )}}

        {{- partial (printf "blocks/templates/organizations/%s.html" $layout) (dict
            "organizations" .organizations
            "logo_index" $logo_index
            "with_link" $with_link
          ) }}
      </div>
    </div>
  </div>
{{- end -}}

{{- define "organization" -}}
  <article class="organization" {{ if .longitude }}data-longitude="{{ .longitude }}"{{ end }} {{ if .latitude }}data-latitude="{{ .latitude }}"{{ end }}>
    {{ $title := "" }}
    {{ if .title }}
      {{ $title = partial "PrepareHTML" .title -}}
      <p class="organization-title">
        {{- if and .url .with_link }}
          <a href="{{ .url }}" {{ if .external }} target="_blank" rel="noopener" {{ end }} title="{{ safeHTML (i18n "commons.link.blank_aria" (dict "Title" $title)) }}">
        {{ end -}}
          {{- $title -}}
        {{- if .url }}
          </a>
        {{ end -}}
        </p>
    {{ end -}}
    <div class="media">
      {{- if .logo -}}
        {{- partial "commons/image.html"
          (dict
            "image"    .logo
            "alt"      $title
            "sizes"    site.Params.image_sizes.blocks.organizations
          ) -}}
      {{- end -}}
    </div>
  </article>
{{- end  -}}