{{- $context := .context -}}
{{- $position := .block.position -}}
{{- $title := .block.title -}}
{{- with .block.data -}}
  {{- $with_link := .with_link -}}
<section class="block block-organization_chart{{ if $title }} block-with-title{{ end }}" id="block-{{ $position }}">
  <div class="container">
    <div class="block-content">
        {{ if (or $title .description) -}}
          <div class="top">
            {{ partial "blocks/title" (dict 
              "title" $title
              "context" $context
              ) }}
            {{- if .description }}
              <div class="description">
                {{ partial "PrepareHTML"  .description }}
              </div>
            {{ end -}}
          </div>
        {{- end }}
        <div class="persons">
          {{- range .persons -}}
            {{ $person := site.GetPage (printf "/persons/%s" .slug) }}
            <div>
              {{- if (partial "GetTextFromHTML" .role) }}
                <article class="person" itemscope itemtype="https://schema.org/Person">
                  <div>
                    <p class="name" itemprop="name">
                      {{ if $with_link }}
                      <a href="{{ $person.Permalink }}" aria-label="{{ i18n "commons.more_aria" (dict "Title" $person.Title) }}">
                      {{ end }}
                        {{- partial "PrepareHTML" $person.Title -}}
                      {{ if $with_link }}
                      </a>
                      {{ end }}
                    </p>
                    <p itemprop="jobTitle">{{ partial "PrepareHTML" .role }}</p>
                  </div>
                  <div class="avatar" itemprop="image">
                    {{- if $person.Params.image }}
                      {{ partial "commons/image.html"
                            (dict
                              "image"    $person.Params.image
                              "mobile"   "76x76"
                              "tablet"   "76x76"
                              "desktop"  "76x76"
                            )}}
                    {{ end -}}
                  </div>
                </article>
              {{ else }}
                {{ partial "persons/person.html" $person }}
              {{ end -}}
            </div>
          {{- end -}}
        </div>
      </div>
    </div>
  </section>
{{- end -}}
