{{- $block := .block -}}
{{- $block_class := partial "GetBlockClass" .block -}}
{{- $layout := .block.data.layout | default "grid" -}}

{{- with .block.data -}}
  {{- $options := .options -}}

  {{- $page_class := "" -}}
  {{ $page := "" }}
  {{ with .page }}
    {{ $page = site.GetPage .path }}
  {{ end }}

  {{- with $page }}
    {{ if .Params.bodyclass }}
      {{- $page_class = printf "block-%s" .Params.bodyclass }}
    {{ end }}
  {{ end -}}
  {{ with $block.top }}
    {{ if .description }}
      {{ $block_class = printf "%s %s" $block_class "with-description" }}
    {{ end }}
  {{ end }}
  {{ if $options.image }}
    {{ $block_class = printf "%s %s" $block_class "with-images" }}
  {{ end }}

  {{ if .pages }}
    <div class="{{ $block_class }} {{ $page_class }}">
      <div class="container">
        <div class="block-content">
          {{ partial "blocks/top.html" $block.top }}
          {{- partial (printf "pages/list/%s.html" $layout) (dict 
              "pages" .pages
              "heading_level" $block.ranks.children
              "options" $options
            ) }}
        </div>
      </div>
    </div>
  {{- end -}}
{{- end -}}
