{{- $block := .block -}}
{{- $title := .block.title -}}
{{- $class := "block block-pages" -}}
{{- $layout_class := "block-pages--grid" -}}
{{- with .block.data -}}
  {{- $layout := .layout -}}

  {{- $show_main_page := false -}}
  {{- $show_main_description := .show_main_description -}}
  {{- $show_descriptions := .show_descriptions -}}
  {{- $show_images := .show_images -}}
  {{- $main_description := "" -}}
  {{- $page_link := false -}}

  {{- if $layout -}}
    {{- $layout_class = printf "block-pages--%s" $layout -}}
  {{- end -}}

  {{ $class = printf "{{$class}} %s" $layout_class }}

  {{- $page_class := "" -}}
  {{ $page := "" }}
  {{ with .page }}
    {{ $page = site.GetPage .file }}
  {{ end }}

  {{- with $page }}
    {{- $show_main_page = true -}}
    {{- $page_link = $page.Permalink }}
    {{ if eq $title "" }}
      {{ $title = .Title }}
    {{ end }}
    {{ if .Params.bodyclass }}
      {{- $page_class = printf "block-page-%s" .Params.bodyclass }}
    {{ end }}
    {{ if site.Params.pages.index.truncate_description }}
      {{- $main_description = partial "GetTruncateContent" ( dict 
          "text" .Params.summary
          "length" site.Params.pages.index.truncate_description
          ) -}}
    {{ else }}
      {{- $main_description = partial "PrepareText" .Params.summary -}}
    {{ end }}
  {{ end -}}

  <div class="block block-pages{{ if $title }} block-with-title{{ end }} {{ $layout_class }} {{ $page_class }}">
    <div class="container">
      <div class="block-content">
        {{ partial "blocks/top.html" (dict
          "title" $title
          "link" $page_link
          "heading_level" $block.ranks.self
          "description" $main_description
        )}}

        {{- partial (printf "blocks/templates/pages/%s.html" $layout) (dict 
          "pages" .pages
          "heading_level" $block.ranks.children
          "show_images" $show_images
          "show_descriptions" $show_descriptions
          ) }}
      </div>
    </div>
  </div>
{{- end -}}
