{{- $template := .block.template -}}
{{- $position := .block.position -}}
{{- $title := .block.title -}}

{{- $class := "block block-partners" -}}
{{- $layout_class := "block-partners--grid" -}}
{{ $logo_index := "logo" }}
{{ $longitude := "" }}
{{ $latitude := "" }}

{{ if site.Params.organizations.dark_logo_background }}
  {{ $logo_index = "logo_on_dark_background" }}
{{ end }}

{{- with .block.data -}}
  {{- $layout := .layout -}}
  {{- $with_link := .with_link -}}

  {{- if $layout -}}
    {{- $layout_class = printf "block-partners--%s" $layout -}}
  {{- end -}}

  <div class="block block-partners{{ if $title }} block-with-title{{ end }} {{ $layout_class }}">
    <div class="container">
      <div class="block-content">
        {{ if or $title .description -}}
          <div class="top">
            {{- if $title -}}
              <p class="block-title">{{ partial "PrepareHTML" $title }}</p>
            {{ end -}}
            {{- if .description }}
              <div class="description">
                {{ partial "PrepareHTML" .description }}
              </div>
            {{ end -}}
          </div>
        {{- end }}

        {{- partial (printf "blocks/templates/partners/%s.html" $layout) (dict 
            "partners" .partners
            "logo_index" $logo_index
            "with_link" $with_link
          ) }}
      </div>
    </div>
  </div>
{{- end -}}


{{- define "partner" -}}
<article class="organization" {{ if .longitude }}data-longitude="{{ .longitude }}"{{ end }} {{ if .latitude }}data-latitude="{{ .latitude }}"{{ end }}>
  {{ $title := "" }}
  {{ if .title }}
    {{ $title = partial "PrepareHTML" .title -}}
    <h3>
      {{- if and .url .with_link }}
        <a href="{{ .url }}" {{ if .external }} target="_blank" rel="noopener" {{ end }} title="{{ safeHTML (i18n "commons.link.blank_aria" (dict "Title" $title)) }}">
      {{ end -}}
        {{- $title -}}
      {{- if .url }}
        </a>
      {{ end -}}
    </h3>
  {{ end -}}
  <div class="media">
    {{- if .logo -}}
      {{- partial "commons/image.html"
        (dict
          "image"    .logo
          "alt"      $title
          "sizes"    site.Params.image_sizes.blocks.partners
        ) -}}
    {{- end -}}
  </div>
</article>
{{- end  -}}