{{- $template := .block.template -}}
{{- $position := .block.position -}}
{{- $title := .block.title -}}
{{- $charLimit := 30 -}}
{{- $isColumn := false -}}

{{- with .block.data -}}
  {{- $with_link := .with_link -}}
  {{- $with_photo := .with_photo -}}
  <div class="block block-people{{ if $title }} block-with-title{{ end }}">
    <div class="container">
      <div class="block-content">
        {{ if (or $title .description) -}}
          <div class="top">
            {{- if $title -}}
              <p class="block-title">{{ partial "PrepareHTML" $title }}</p>
            {{ end -}}
            {{- if .description }}
              <div class="description">
                {{ partial "PrepareHTML"  .description }}
              </div>
            {{ end -}}
          </div>
        {{- end }}
        <div class="persons">
          {{- range .elements -}}

            <article class="person" itemscope itemtype="https://schema.org/Person">
              <div class="description">
                <h3 class="name" itemprop="name">
                  {{ if $with_link }}
                  <a href="{{ .url }}" aria-label="{{ i18n "commons.more_aria" (dict "Title" .title) }}">
                    {{ end }}
                    {{- partial "PrepareHTML" .title -}}
                    {{ if $with_link }}
                  </a>
                  {{ end }}
                </h3>
                <p itemprop="jobTitle"
                    {{- if .summary -}}
                      {{ $summaryLength := len .summary}}
                      {{- if ge $summaryLength $charLimit -}} data-column="true" {{- end -}}
                    {{- end -}}>
                  {{- if (partial "GetTextFromHTML" .role) }}
                    {{ partial "PrepareHTML" .role }}
                  {{- else if partial "GetTextFromHTML" .summary }}
                    {{- partial "PrepareHTML" .summary -}}
                  {{ else if (partial "GetTextFromHTML" .Content) }}
                    {{- partial "GetTruncateContent" ( dict "text" .Content ) -}}
                  {{ end -}}
                </p>
              </div>
              {{- if $with_photo }}
                <div class="avatar" itemprop="image">
                  {{- if .picture }}
                    {{ partial "commons/image.html"
                      (dict
                        "image"    .picture
                        "sizes"    site.Params.image_sizes.blocks.people
                      )}}
                  {{ end -}}
                </div>
              {{ end -}}
            </article>

          {{- end -}}
        </div>
      </div>
    </div>
  </div>
{{- end -}}
