{{- $block := .block -}}
{{- $block_class := partial "GetBlockClass" .block -}}
{{- $char_limit := 80 -}}
{{- $is_large := false -}}

{{- with .block.data -}}
  {{ $layout := .layout | default "grid" }}
  {{ $options := .options }}
  {{ $image_sizes := index site.Params.image_sizes.sections.persons.layouts $layout }}
  {{ range .persons }}
    {{- $person := site.GetPage .path -}}
    {{- $role := .role -}}
    {{- $summary := $person.Params.summary -}}
    {{ with (or $role $summary) }}
      {{- $content_length := len . -}}
      {{ if ge $content_length $char_limit }}
        {{- $is_large = true -}}
      {{ end }}
    {{ end }}
  {{ end }}

  {{ if and $is_large $options.summary }}
    {{ $block_class = printf "%s block-with-long-text" $block_class }}
  {{ end }}

  {{ if not $options.image }}
    {{ $block_class = printf "%s without-photo" $block_class }}
  {{ end }}

  <div class="{{ $block_class }}">
    <div class="container">
      <div class="block-content">
        {{ partial "blocks/top.html" $block.top }}
          <ul class="persons persons-{{ $layout }} {{- if $options.contact }} with-contacts {{- end }}">
            {{- range .persons -}}
              {{ $person := site.GetPage .path }}
              {{ partial "persons/partials/person.html" (dict
                  "options" $options
                  "heading_level" $block.ranks.children
                  "person" $person
                  "role" .role
                  "layout" $layout
                  "image_sizes" $image_sizes
                )}}
            {{- end -}}
          </ul>
      </div>
    </div>
  </div>
{{- end -}}
