{{- $block := .block -}}
{{- $charLimit := 30 -}}
{{- $isColumn := false -}}

{{- with .block.data -}}
  {{- $with_link := .with_link -}}
  {{- $with_photo := .with_photo -}}

  <div class="block block-persons{{ if $block.title }} block-with-title{{ end }}">
    <div class="container">
      <div class="block-content">
        {{ partial "blocks/top.html" (dict
          "title" $block.title
          "heading_level" $block.ranks.self
          "description" .description
        )}}

        <div class="persons">
          {{- range .persons -}}
            {{ $person := site.GetPage (printf "/persons/%s" .slug) }}

            <article class="person" itemscope itemtype="https://schema.org/Person">
              <div class="description">
                {{- $heading_tag := partial "GetHeadingTag" (dict 
                  "level" $block.ranks.children
                  "attributes" "class='name' itemprop='name'"
                  ) -}}

                {{ $heading_tag.open }}
                  {{ if $with_link }}
                    <a href="{{ $person.Permalink }}" aria-label="{{ i18n "commons.more_aria" (dict "Title" $person.Title) }}">
                      {{ end }}
                      {{- partial "PrepareHTML" $person.Title -}}
                      {{ if $with_link }}
                    </a>
                  {{ end }}
                {{ $heading_tag.close }}

                <p itemprop="jobTitle"
                    {{- if $person.Params.summary -}}
                      {{ $summaryLength := len $person.Params.summary}}
                      {{- if ge $summaryLength $charLimit -}} data-column="true" {{- end -}}
                    {{- end -}}>
                  {{- if (partial "GetTextFromHTML" .role) }}
                    {{ partial "PrepareHTML" .role }}
                  {{- else if partial "GetTextFromHTML" $person.Params.summary }}
                    {{- partial "PrepareHTML" $person.Params.summary -}}
                  {{ else if (partial "GetTextFromHTML" $person.Content) }}
                    {{- partial "GetTruncateContent" ( dict "text" $person.Content ) -}}
                  {{ end -}}
                </p>
              </div>
              {{- if $with_photo }}
                <div class="avatar" itemprop="image">
                  {{- if $person.Params.image }}
                    {{ partial "commons/image.html"
                      (dict
                        "image"    $person.Params.image
                        "sizes"    site.Params.image_sizes.blocks.persons
                      ) }}
                  {{ end -}}
                </div>
              {{ end -}}
            </article>

          {{- end -}}
        </div>
      </div>
    </div>
  </div>
{{- end -}}
