{{- $context := .context -}}
{{- $position := .block.position -}}
{{- $title := .block.title -}}
{{- $term := false -}}
{{- $layout := "grid" -}}
{{- with .block.data }}
  {{ if .layout }}
    {{- $layout = .layout -}}
  {{ end }}
  {{ if .category }}
    {{- $term = site.GetPage (printf "/categories%s" .category) -}}
  {{ end }}
  <section itemscope itemtype="http://schema.org/Blog" class="block block-posts--{{- $layout }} block-posts{{ if $title }} block-with-title{{ end }} {{ if $term }} term-{{ replace $term.Slug "/" "" }} {{- end -}}" id="block-{{ $position }}">
    <div class="container">
      <div class="block-content">
        {{ if $title -}}
          <div class="top">
            {{ $title_link := false }}
            {{- if $term }}
              {{ $title_link = $term.Permalink }}
            {{ end -}}

            {{ partial "blocks/title" (dict 
              "title" $title
              "context" $context
              "link" $title_link
              ) }}

          </div>
        {{- end }}

        {{ $article_heading := partial "GetArticleHeading" (dict "block_title" $title "context" $context) }}
        {{- partial (printf "blocks/templates/posts/%s.html" $layout) (dict
          "context" .
          "article_heading" $article_heading
          ) -}}
      </div>
    </div>
  </section>
{{ end -}}
