{{- $block := .block -}}
{{- $block_class := partial "GetBlockClass" .block -}}

{{- $term := false -}}
{{- $layout := .block.data.layout | default "grid" -}}

{{/*  Waiting for data fix https://github.com/osunyorg/admin/issues/2060  */}}
{{ if eq .block.data.mode "categories" }}
  {{ $block_class = replace $block_class (printf "block-posts--%s" $layout) " " }}
{{ end }}

{{- with .block.data }}
  {{ $options := .options }}

  {{ if .category }}
    {{- $term = site.GetPage (printf "/posts_categories%s" .category) -}}
  {{ end }}
  <div itemscope itemtype="http://schema.org/Blog" class="{{ $block_class }} {{ if $term }} term-{{ replace $term.Slug "/" "" }} {{- end -}}">
    <div class="container">
      <div class="block-content">
        {{ partial "blocks/top.html" $block.top }}
        {{ if eq .mode "categories" }}
          <ul class="categories categories--grid">
            {{ range site.Taxonomies.posts_categories }}
              <li data-title="{{ .Page.Title }}">
                <a href="{{ .Page.Permalink }}" class="title" aria-label="{{ i18n "commons.more_aria" (dict "Title" .Page.Title) }}">{{ partial "PrepareHTML" .Page.Title }}</a>
                <p>{{ i18n "posts.items.count" ( len . ) }}</p>
              </li>
            {{ end }}
          </ul>
        {{ else if .posts }}
          {{ partial (printf "posts/partials/layouts/%s/%s.html" $layout $layout) (dict
            "posts" .posts
            "heading_level" $block.ranks.children
            "options" $options
          )}}
        {{ end }}

      </div>
    </div>
  </div>
{{ end -}}
