{{- $template := .block.template -}}
{{- $position := .block.position -}}
{{- $title := .block.title -}}
{{- with .block.data -}}
  <div class="block block-programs{{ if $title }} block-with-title{{ end }}">
    <div class="container">
      <div class="block-content">
        {{- if $title -}}
          <div class="top">
            <p class="block-title">{{ partial "PrepareHTML" $title }}</p>
          </div>
        {{ end -}}

        <ol class="programs">
          {{- range .programs -}}
            <li>
              {{ $program := site.GetPage (printf "/programs%s" .path) }}
              {{- $title := partial "PrepareHTML" $program.Title -}}
              <a href="{{ $program.Permalink }}" title="{{ safeHTML (i18n "commons.more_aria" (dict "Title" $title)) }}">
                {{- $title -}}
              </a>
            </li>
          {{ end }}
        </ol>
      </div>
    </div>
  </div>
{{- end -}}
