{{ $block := .block }}
{{ $block_class := partial "GetBlockClass" .block }}
{{ $heading := .heading | default "h3" }}
{{ $heading_tag := (dict 
    "open" ((printf "<%s itemprop='name'>" $heading) | safeHTML)
    "close" ((printf "</%s>" $heading) | safeHTML)
    ) }}

{{ with .block.data }}
  {{ $options := .options }}
  
  <div class="{{ $block_class }}">
    <div class="container">
      <div class="block-content">
        {{ partial "blocks/top.html" (dict
          "title" $block.title
          "heading_level" $block.ranks.self
        )}}

        {{ if eq $block.data.layout "grid" }}

          <div class="programs-grid">
            {{ range .programs }}
              {{ $program := site.GetPage (printf "/programs%s" .path) }}
              {{ $title := $program.Title | safeHTML }}
              <article itemscope itemtype="https://schema.org/EducationalOccupationalProgram">
                <div class="program-content">
                  {{ $heading_tag.open }}
                    <a class="title" href="{{ $program.Permalink }}" itemtype="url" title="{{ safeHTML (i18n "commons.more_aria" (dict "Title" $title)) }}">
                      {{ $title }}
                    </a>
                  {{ $heading_tag.close }}

                  {{ if and $options.summary $program.Params.summary }}
                    <div itemprop="abstract">
                      {{ partial "GetElementSummary" ( dict 
                        "summary" $program.Params.summary
                        "kind" "programs"
                      )}}
                    </div>
                  {{ end }}
                  <p class="more meta" aria-hidden="true">{{ i18n "commons.more" }}</p>
                </div>

                {{ if and $program.Params.image $options.image }}
                  <div class="media">
                    {{ partial "commons/image.html"
                        (dict
                          "image"    $program.Params.image
                          "sizes"    site.Params.image_sizes.blocks.programs
                        ) }}
                  </div>
                {{ end }}
              </article>
            {{ end }}
          </div>

        {{ else }}
          <ol class="programs">
            {{ range .programs }}
              <li>
                {{ $program := site.GetPage (printf "/programs%s" .path) }}
                <div class="program-content">
                  {{ $title := partial "PrepareHTML" $program.Title }}
                  <a class="title" href="{{ $program.Permalink }}" title="{{ safeHTML (i18n "commons.more_aria" (dict "Title" $title)) }}">
                    {{- $title -}}
                  </a>

                  {{ $diploma := $program.Params.diplomas }}
                  {{ if and $options.diploma $diploma }}
                    {{- $diploma = site.GetPage (printf "/diplomas/%s" $diploma) -}}
                    {{- with $diploma -}}
                      <span class="program-diploma">{{ partial "PrepareHTML" .Params.short_name }}</span>
                    {{- end -}}
                  {{ end }}

                  {{ if and $options.summary $program.Params.summary }}
                    <div itemprop="abstract">
                      {{ partial "GetElementSummary" ( dict 
                        "summary" $program.Params.summary
                        "kind" "programs"
                      )}}
                    </div>
                  {{ end }}
                </div>

                {{ if and $program.Params.image $options.image }}
                  <div class="media">
                    {{ partial "commons/image.html"
                        (dict
                          "image"    $program.Params.image
                          "sizes"    site.Params.image_sizes.blocks.programs
                        ) }}
                  </div>
                {{ end }}
              </li>
            {{ end }}
          </ol>

        {{ end }}
      </div>
    </div>
  </div>
{{ end }}