{{- $template := .block.template -}}
{{- $position := .block.position -}}
{{- $title := .block.title -}}
{{- with .block.data -}}
  <section class="block block-sound{{ if $title }} block-with-title{{ end }}" id="block-{{ $position }}">
    <div class="container">
      <div class="block-content">
        <div>
          {{- if not $title -}}
            {{ partial "blocks/default_title.html" $template }}
          {{ else }}
            <div class="top">
              <h2>{{ partial "PrepareHTML" $title }}</h2>
            </div>
          {{ end -}}

          {{ if .file }}
            {{ $file := partial "GetMedia" .file.id }}
            {{ if $file }}
              <audio src="{{ $file.url }}" controls title="{{ partial "PrepareText" .title }}"></audio>
            {{ end }}
          {{ end }}

          {{ if .sound_title }}
            <p>{{- partial "PrepareHTML" .sound_title -}}</p>
          {{ end }}

          {{ partial "commons/transcription" ( dict
            "transcription" .transcription
            "position" $position
          ) }}
        </div>
      </div>
    </div>
  </section>
{{- end -}}
