{{- $context := .context -}}
{{- $position := .block.position -}}
{{- $title := .block.title -}}
{{- $is_carousel := false -}}

{{- with .block.data -}}
  {{ if gt (len .testimonials) 1 }}
    {{- $is_carousel = true -}}
  {{ end }}
  <section class="block block-testimonials{{ if $title }} block-with-title{{ end }}{{ if $is_carousel}} with-carousel{{ end }}" id="block-{{ $position }}">
    <div class="container">
      <div class="block-content">
        {{ if $title -}}
          <div class="top">
            {{ partial "blocks/title" (dict 
              "title" $title
              "context" $context
              ) }}
          </div>
        {{ end -}}

        <div class="testimonials">
          {{- if $is_carousel }}
          <div class="splide" 
              data-splide='{
                  "arrows":false,
                  "autoplay":true,
                  "pauseOnHover":false,
                  "pauseOnFocus":true,
                  "type":"loop",
                  "autoHeight":true,
                  "interval":8000
                }'
              >
            <div class="splide__slider">
              <div class="splide__track">
                <div class="splide__list">
          {{ end -}}

          {{ range .testimonials }}
            {{ $is_long := gt (len .text) 150 }}
            <figure  class="{{ if $is_carousel }}splide__slide{{ end }} {{ if .photo }}with-picture{{ end }}">
              <blockquote {{- if $is_long }} class="is-long" {{- end }}>
                <p>{{- partial "PrepareHTML" .text -}}</p>
              </blockquote>
              {{ if or .photo .author .job -}}
              <figcaption>
                {{ if .photo -}}
                  <div class="avatar">
                    {{- partial "commons/image.html"
                          (dict
                            "image"    .photo
                            "alt"      .author
                            "sizes"    site.Params.image_sizes.blocks.testimonials
                          ) -}}
                  </div>
                {{- end }}
                {{ if or .author .job -}}
                  <p>
                    {{- if .author -}}
                      <span class="signature">{{ partial "PrepareHTML" .author }}</span>
                    {{- end }}
                    {{- if .job -}}
                      <span class="meta">{{- partial "PrepareHTML" .job -}}</span>
                    {{- end }}
                  </p>
                {{- end }}
              </figcaption>
              {{ end }}
            </figure>
          {{ end }}

          {{- if $is_carousel }}
                </div>
              </div>
            </div>

            <div class="splide__autoplay is-active">
              <button class="splide__play"></button>
              <button class="splide__pause"></button>
            </div>
          </div>
          {{ end -}}

        </div>

      </div>
    </div>
  </section>
{{- end -}}
