{{- $block := .block -}}
{{- $block_class := partial "GetBlockClass" .block -}}

{{- with .block.data -}}
  <div class="{{ $block_class }}">
    <div class="container">
      <div class="block-content">
        {{ partial "blocks/top.html" (dict
            "title" $block.title
            "heading_level" $block.ranks.self
            "hidden" true
        )}}
        <div class="testimonials">
          {{- if and .testimonials (gt (len .testimonials) 1) }}
            {{ partial "blocks/templates/carousel.html" (dict 
              "content" .testimonials
              "options" site.Params.blocks.testimonials.carousel
              "partial" "blocks/templates/testimonials/single.html"
            )}}
          {{ else }}
            {{ range .testimonials }}
              {{ partial "blocks/templates/testimonials/single.html" (dict
                "params" .
              )}}
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
{{- end -}}