{{- $block := .block -}}
{{- $block_class := partial "GetBlockClass" .block -}}

{{- $layout := .block.data.layout | default "vertical" -}}
<div class="{{ $block_class }}">
  <div class="container">
    <div class="block-content">
      {{ partial "blocks/top.html" (dict
        "title" $block.title
        "heading_level" $block.ranks.self
      )}}
      {{ $template := printf "blocks/templates/timeline/%s.html" $layout }}
      {{ if eq $layout "horizontal" }}
        {{- $heading_tag := partial "GetHeadingTag" (dict 
          "level" .block.ranks.children
          "attributes" "class='title' itemprop='name'"
          ) -}}
        {{ with .block.data }}
          {{ partial "blocks/templates/carousel.html" (dict 
            "content" .events
            "options" site.Params.blocks.timeline.carousel
            "partial" $template
            "heading_tag" $heading_tag
          )}}
        {{ end }}
      {{ else }}
        {{ partial $template (dict 
            "block" $block
          ) }}
      {{ end }}
    </div>
  </div>
</div>

