{{- $template := .block.template -}}
{{- $position := .block.position -}}
{{- $title := .block.title -}}
{{- $layout := .block.data.layout | default "vertical" -}}
<section class="block block-timeline{{ if $title }} block-with-title{{ end }} block-timeline--{{ $layout }}">
  <div class="container">
    {{ $template := printf "blocks/templates/timeline/%s.html" $layout }}
    {{ partial $template (dict 
        "title" $title
        "block" .block
        "template" $template
      ) }}
  </div>
</section>

