{{- $block := .block -}}
{{- $block_class := partial "GetBlockClass" .block -}}

{{- $layout := .block.data.layout | default "vertical" -}}
<div class="{{ $block_class }}">
  <div class="container">
    <div class="block-content">
      {{ partial "blocks/top.html" (dict
        "title" $block.title
        "heading_level" $block.ranks.self
      )}}
      {{ $template := printf "blocks/templates/timeline/%s.html" $layout }}
      {{ partial $template (dict 
          "block" $block
        ) }}
    </div>
  </div>
</div>

