{{- $block := .block -}}
{{- $template := .block.template -}}
{{- $position := .block.position -}}
{{- $title := .block.title -}}

{{ with .block.data }}
  <div class="block block-volumes {{- if $title }} block-with-title {{- end -}}">
    <div class="container">
      <div class="block-content">
        {{ partial "blocks/top.html" $block.top }}
        <ul class="volumes">
          {{ range .volumes }}
            {{ with site.GetPage .path }}
              {{ partial "volumes/partials/volume.html" (dict 
                "volume" .
                "heading_level" $block.ranks.children
              ) }}
            {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
{{- end -}}