.academic_years
    &__persons
        .persons
            @include list-reset
            .person
                &-cohorts
                    margin-top: $spacing-1
                    ul
                        @include list-reset
                        li 
                            display: inline
                            + li
                                &::before
                                    content: ' & '
        @include media-breakpoint-down(desktop)
            .persons
                .person
                    gap: $spacing-1
                    .avatar
                        order: -1

.academic_years-list
    @include layout-list
    li:first-child
        padding-top: 0
    li + li
        border-top: var(--border-width) solid var(--color-border)
    .academic_year
        &-title
            @include h2
            text-decoration: none
            @include arrow-right-hover()