.posts_categories__term, .events_categories__term
    main
        padding-bottom: $spacing-5

.document-content
    .project-categories
        --block-space-y: #{$block-space-y}
        margin-bottom: var(--block-space-y)

.category-item
    .articles-count
        @include meta
        color: var(--color-text-alt)

.categories
    .media:empty
        display: none // Is this generic ?
    &--alternate
        @include layout-alternate
    &--cards
        @include layout-cards
    &--grid
        @include layout-grid
    &--large
        @include layout-large
    &--list
        @include layout-list
