ul.categories
    @include list-section
    li
        a:first-child
            & + p 
                text-align: right
                white-space: nowrap

.categories__term
    main
        padding-bottom: $spacing3