ul.diplomas
    @include list-reset
    > li
        margin-bottom: $spacing3
        > a
            @extend .h3
        .programs
            li
                display: block
        .program
            div
                @include media-breakpoint-up(md)
                    display: flex
                    > p
                        width: col(6)
            .title
                @extend .h4
