ul.diplomas
    @include list-reset
    a:hover
        color: var(--color-accent)
    .diploma
        margin-bottom: $spacing-2
        .diploma-title
            @include h2
            display: block
            text-decoration: none
            padding-bottom: $spacing-3
            padding-top: $spacing-3
            border-bottom: var(--border-width) solid var(--color-border)
            @include hover-translate-icon
            @include icon(arrow-right-line, after)
                align-self: center
                margin-left: auto

        .content
            @include grid(2, desktop)
            padding-bottom: $spacing-3
            padding-top: $spacing-3

        .programs
            > li
                a
                    @include h3
            li
                display: block
                border-bottom: 0
                padding: 0
                + li, > ol
                    margin-top: $spacing-2
                ol
                    padding-left: $spacing-3
                    li > a
                        @include body-text
                        display: flex
                        align-items: baseline
                        @include icon(corner-down-right-line, before)
                            margin-right: $spacing-1
    @include media-breakpoint-down(desktop)
        .diploma
            .diploma-title
                position: relative
                padding-right: $spacing-3
                &::after
                    position: absolute
                    bottom: $spacing-3
                    right: 0
            .programs
                margin-top: $spacing-3
    @include media-breakpoint-up(sm)
        .diploma
            .programs
                li + li,
                > ol
                    margin-top: $spacing-3
    @include media-breakpoint-up(desktop)
        .diploma
            margin-bottom: $spacing-5
            .diploma-title
                display: flex
                align-items: baseline
                span
                    margin-left: $spacing-3
                    display: flex
        .program
            div
                display: flex
                > p
                    width: columns(6)
.diplomas-select
    @include dropdown
    text-align: right
    .dropdown-menu
        a
            font-size: $body-size
            justify-content: flex-end
            line-height: $body-line-height
        @include media-breakpoint-up(desktop)
            left: auto
            right: 0
            a
                padding: $spacing-3

.diplomas__term
    .blocks + .container
        margin-bottom: $spacing-6 // If blocks are present, add space before footer
    @include media-breakpoint-up(desktop)
        ol.programs:not(.with-images)
            .program-content
                flex-direction: row
                gap: var(--grid-gutter)
                .program-title
                    width: columns(6)
                    flex-grow: 0
                .program-summary
                    width: columns(6)
