.page__home
    main
        header
            picture
                max-height: 100%
                img
                    filter: none
                    mix-blend-mode: normal
                    opacity: .5
