.job
    // @include article(auto)
    .job-dates
        time
            display: inline
            + time
                &::before
                    content: ' - '
    .more
        @include icon(arrow-right-line, after, true)
            display: inline-block
            transition: transform 0.3s ease
    &:hover .more:after
        transform: translateX($spacing-1)

ul.jobs
    @include list-reset

.jobs
    &--alternate
        @include layout-alternate
    &--grid
        @include layout-grid
    &--large
        @include layout-large
    &--list
        @include layout-list

.jobs__page
    &:not(.full-width)
        .section-sidebar
            @include sidebar
            .job-infos
                @include sidebar-infos