.locations
    .location
        display: flex
        flex-direction: column-reverse
        gap: calc(var(--grid-gutter) / 2)
        justify-content: flex-end
        position: relative
        &-title a
            @include stretched-link(after)
            text-decoration: none
        .more
            @include hover-translate-icon(after)
            @include meta
            @include icon(arrow-right-line, after)
                margin-left: $spacing-2
            margin-top: $spacing-1

        .media
            width: 100%
            img
                aspect-ratio: 3/2
                display: block
                object-fit: cover
        @include media-breakpoint-down(desktop)
            &-description
                margin-top: $spacing-1
            + .location
                margin-top: $spacing-4

    &--list
        @include media-breakpoint-up(desktop)
            .location
                border-bottom: 1px solid var(--color-border)
                flex-direction: row-reverse
                gap: var(--grid-gutter)
                padding-bottom: $spacing-3
                + .location
                    margin-top: $spacing-3
                &-content
                    flex: 1
                @include in-page-with-sidebar
                    .media
                        width: columns(2)
                @include in-page-without-sidebar
                    &-content,
                    &-description
                        display: flex
                    &-content
                        gap: var(--grid-gutter)
                    &-description
                        flex-direction: column
                        justify-content: space-between
                    &-title
                        min-width: columns(4)
                    .media
                        width: columns(4)
                    .more
                        line-height: 1

    &--grid
        @include in-page-with-sidebar
            @include grid(2)
        @include in-page-without-sidebar
            @include grid(3)
        .location-title
            @include h3

.campus-map
    .map
        height: 300px
        z-index: 1
        @include media-breakpoint-up(desktop)
            height: 500px
        > .campus,
        .leaflet-popup-tip-container
            display: none
        .leaflet-tile-pane
            filter: grayscale(1)
        .leaflet-popup
            &::after //crée un triangle en css (https://outils-css.aliasdmc.fr/generateur-de-triangles-css.php)
                border-left: 10px solid transparent
                border-right: 10px solid transparent
                border-top: 15px solid var(--color-accent)
                content: ''
                display: block
                height: 0
                margin: 0 auto
                width: 0
            &-content
                background-color: var(--color-accent)
                color: var(--color-background)
                height: 100%
                margin: 0
                min-width: min-content
                width: auto !important // corrige la width appliquée en js par leaflet
                .campus
                    align-items: center
                    display: flex
                    .campus-content
                        order: 2
                        padding: 0 $spacing-3
                        span,
                        .campus-title
                            display: block
                            margin: 0 // Cancel leaflet default style
                            width: max-content
                    .media
                        aspect-ratio: 1
                        display: block
                        margin-bottom: 0
                        order: 1
                        width: $spacing-6
                        img
                            display: block
                            height: 100%
                            object-fit: cover
                &-wrapper
                    border-radius: 0
                    box-shadow: none
                    overflow: hidden
                    padding: 0