.organization
    @include article
    .media
        aspect-ratio: 1/1
        img
            width: 100%
            height: 100%
            object-fit: contain
            object-position: center

.organizations
    @include grid(2)
    @include grid(3, md)
    @include grid(4, lg)
    @include grid(6, xl)

.organizations__section
    .organizations
        margin-top: $spacing2

.organizations__page
    .content
        margin-top: $spacing2
    .media
        max-width: 200px
    .contacts-list
        padding-left: 0
        li
            list-style-type: none
            span
                display: block