.organization
    display: flex
    flex-direction: column
    position: relative
    &-title
        a
            @include stretched-link
            text-decoration: none
            display: block
    .organizations:not(.with-summaries) &
        .organization-title
            @include meta
    .media
        @include handle-svg-fit
        background: $organization-background-color
        margin-bottom: $spacing-2
        order: -1
        overflow: hidden
        picture
            aspect-ratio: 1
            width: 100%
        img
            height: 100%
            object-fit: contain
            object-position: center
            width: 100%
        &--image
            img
                object-fit: cover
        &--logo
            padding: $spacing-3
        &:empty
            position: relative
            &::after
                content: ''
                display: block
                padding-bottom: 100%
    .organizations.with-summaries &
        align-items: flex-start
        flex-direction: row
        gap: var(--grid-gutter)
        width: 100%
        .organization-content
            flex: 1
            .organization-title
                @include body-text
            .organization-summary
                @include small
        .media
            width: columns(4)
            @include media-breakpoint-down(md)
                padding: $spacing-1
            @include media-breakpoint-up(md)
                width: columns(3)
            @include media-breakpoint-up(xl)
                width: columns(6)
        @include media-breakpoint-up(xl)
            gap: calc(var(--grid-gutter) / 2)
            width: columns(4)
            .media
                width: columns(2)

.organizations
    &:not(.block-organizations--map &)
        max-width: 100%
        @include grid(2)
        @include grid(3, md)
        @include grid(4, lg)
        @include grid(6, xl)
        &.with-summaries
            @include grid(1)
            @include grid(1, md)
            @include in-page-without-sidebar
                @include grid(2, lg)
                @include grid(3, xl)
        @include in-page-program
            @include grid(3, md)
            @include grid(3, lg)
            @include grid(3, xl)
        @include media-breakpoint-down(desktop)
            grid-column-gap: $spacing-3 !important

.organizations__section
    .organizations
        margin-top: $spacing-4

.organizations__page
    .lead
        font-family: $lead-sidebar-font-family
        font-weight: $lead-sidebar-weight
        line-height: $lead-sidebar-line-height
        margin-bottom: $spacing-3
        @include media-breakpoint-up(desktop)
            font-size: $lead-sidebar-size-desktop
    .document-content
        .organization-logo
            figcaption
                text-align: right
                @include meta
                margin-bottom: $spacing-2
            picture
                aspect-ratio: 1/1
                background: var(--color-background-alt)
                padding: $spacing-4
                margin-bottom: $spacing-1
                width: auto
            img
                height: 100%
                object-fit: contain
                object-position: center
                width: 100%
        .blocks
            margin-top: $spacing-5
        .taxonomies-container
            &:not(:first-child)
                margin-top: $spacing-5
        .contacts-details
            @include grid(2, md)
    @include media-breakpoint-down(md)
        .document-content
            .organization-logo
                margin-top: $spacing-5
                display: flex
                justify-content: space-between
    @include media-breakpoint-up(md)
        .document-content
            > .container
                display: flex
                justify-content: space-between
                gap: var(--grid-gutter)
            [itemprop="articleBody"]
                width: columns(8)
            .organization-logo
                width: columns(3)
