.page
    @include article
    .page-title
        a
            @include stretched-link(before)
            // exclusion for blocks with "more" link
            .block:not(.block-pages--large, .block-pages--alternate) &
                @include icon(arrow-right-line, after, true)
                @include hover-translate-icon(after)
    .more
        @include icon(arrow-right-line, after, true)
        @include hover-translate-icon(after)

.block-pages,
.pages
    .grid, .cards, .list
        article
            position: relative
            display: flex
            flex-direction: column
            .page-title
                @include h3
                a
                    @include stretched-link(before)
                    text-decoration: none
                + p
                    margin-top: $spacing-2
            .media
                @include handle-svg-fit
                order: -1
                margin-bottom: $spacing-3
                &:empty
                    display: none
                img
                    aspect-ratio: 16/9
                    object-fit: cover
                    width: 100%
            @include media-breakpoint-down(desktop)
                margin-top: $spacing-3
    .grid, .cards
        @include grid(2, desktop)
        @include in-page-without-sidebar
            @include grid(3)

.pages
    .page
        .page-title
            @include h4

.pages
    &--grid
        @extend .block-pages--grid
    &--list
        @extend .block-pages--list

.page__children
    margin-top: $spacing-5
