.post
    @include article
    .post-title
        @include h3
        a
            @include stretched-link
            display: block
            text-decoration: none
    .post-subtitle
        @include h3
        color: var(--color-text-alt)
    time
        color: $post-time-color
    .post-meta,
    .post-reading-time
        @include meta
        color: var(--color-text-alt)

.posts__section,
.posts_categories__term,
.persons__page,
.administrators__term,
.authors__term,
.researchers__term,
.teachers__term
    .posts--list
        article
            border-bottom: var(--border-width) solid var(--color-border)
            display: flex
            margin-bottom: $spacing-3
            padding-bottom: $spacing-3
            flex-direction: row
            .post-title + p:not(.post-subtitle)
                margin-top: $spacing-2
            @include media-breakpoint-up(desktop)
                @include grid
                margin-bottom: $spacing-5
                padding-bottom: $spacing-5
            .post-content
                grid-column: 4/13
                .post-meta
                    > *
                        display: block
                @include media-breakpoint-down(desktop)
                    flex: 1
                    margin-left: $spacing-2
            .media
                background: none
                margin: 0
                @include media-breakpoint-down(desktop)
                    width: 33.33333%
                @include media-breakpoint-up(desktop)
                    grid-column: 1/4
                    &:empty
                        background: var(--color-background-alt)
                        aspect-ratio: 3/2
                &, img
                    aspect-ratio: auto
            @include media-breakpoint-up(desktop)
                .post-meta
                    max-width: columns(3)
                    position: absolute
                    right: 0
                    text-align: right
                    top: 0
                    time,
                    .post-reading-time
                        font-size: $h5-size
                .post-content
                    .post-title,
                    [itemprop="abstract"]
                        max-width: columns(6)
        &.without-images
            article
                .post-content
                    grid-column-start: 1
    .posts--grid
        @include grid(1)
        @include grid(2, desktop)
        @include grid($posts-grid-columns, xxl)
        .post
            @include author-and-time-side-to-side
            .post-meta
                margin-top: $spacing-2

.posts__page
    .lead
        @include h3
        // Safe spacing if post is empty
    .document-content
        @include document-min-height(600px)
    &:not(.full-width)
        .post-sidebar
            @include sidebar
    .block-signatures
        .signatures
            @include list-reset
            border-top: var(--border-width) solid var(--color-border)
            padding-top: var(--grid-gutter)
            li
                align-items: flex-start
                display: flex
                flex-direction: row-reverse
                gap: var(--grid-gutter)
                position: relative
                .avatar
                    min-width: pxToRem(80)
                    width: columns(1)
                    @include media-breakpoint-up(desktop)
                        width: columns(2)
                .author-content
                    flex: 1
                    a
                        @include stretched-link
                        @include h4
                        text-decoration: none
                    .more
                        @include link(var(--color-accent))
                    p
                        @include meta
                &:hover
                    .more
                        text-decoration-color: var(--color-accent)
                + li
                    margin-top: $spacing-3

    &.full-width
        @include media-breakpoint-up(desktop)
            .post-sidebar
                @include container
                > div
                    display: flex
                    align-items: start
                    margin-bottom: $spacing-5
                .toc-cta
                    padding-right: 0
                aside
                    width: columns(5)
                    flex-shrink: 0
            @include media-breakpoint-down(desktop)
                margin-bottom: $spacing-5

.post-infos
    @include sidebar-infos

.related
    margin-top: $spacing-3
    .posts
        @include grid(2, desktop)
        margin-bottom: 0
    .link
        @extend .link-more

.authors__term
    .blocks + .container
        margin-top: $spacing-5
