.post
    @include widget($post-media-background)

    /* TODO toujours d'actualité ou propre à un site ?
    .author,
    .post-categories
        @extend .small
        &,
        a
            color: $post-categories-color

    time
        color: $post-time-color
        display: block
        font-size: px2rem(14)

.posts
    @include grid(1)
    @include grid(2, md)
    @include grid(3, xl)

.post-categories
    @include list-reset
    @extend .small
    margin: 0
    li
        display: inline-block
        vertical-align: middle
        &::after
            content: ", "
            margin-left: -3px
        &:last-child
            &::after
                content: none

.table-infos
    border-top: 1px solid $main-border-color
    font-size: px2rem(14)
    margin-bottom: 0
    ul
        @include list-reset
    caption
        @include visually-hidden
        position: relative !important // Fix safari iOS border issue
    th
        // color: $gray-600
        font-weight: 400
        padding-left: 0
        white-space: nowrap
    tr
        border-color: $main-border-color
    td:last-of-type
        padding-right: 0
        text-align: right
    .share
        justify-content: flex-end
