.program
    @include article

div.programs,
section.programs
    @include grid(2, desktop)
    @include grid(3, xl)

ol.programs
    @include list-section
    li
        a:nth-child(2)
            white-space: nowrap
            @include media-breakpoint-up(desktop)
                margin-left: $spacing1

.programs__section
    .hero-program
        flex-direction: column
        justify-content: end
        .container
            position: relative
    .dropdown-share
        position: relative
        > button
            @include button-icon(social)
            color: $hero-color
            border-color: $color-border
            font-size: $program-share-font-size
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
            &:hover,
            &:active,
            &:focus
                background: $color-background
                color: $color-text
            // a11y
            &:active,
            &:focus
                box-shadow: 0 0 0 0.25rem rgba(white, .5)
            @include media-breakpoint-up(desktop)
                font-size: $program-share-font-size-desktop
        .dropdown-menu
            background: $hero-color
            border-radius: px2rem(4)
            bottom: 0
            padding: 0
            position: absolute
            top: 0
            width: 100%
            .share
                display: flex
                li
                    margin: 0
                    flex: 1 1
                    text-align: center
            a
                display: block
                color: $hero-background-color
    .buttons
        @include meta
        margin-top: $spacing1
        @include media-breakpoint-up(desktop)
            bottom: 2.25rem
            margin-top: 0
            position: absolute
            right: $grid-gutter
        button, > a
            display: flex
            align-items: center
            justify-content: space-between
            width: 100%
            border-radius: px2rem(4)
        a[download]
            @include button-icon(download)
            color: $hero-background-color
            background: $hero-color
            border-color: $hero-color
            font-size: $program-share-font-size
            margin-top: $spacing1
            @include media-breakpoint-up(desktop)
                font-size: $program-share-font-size-desktop

    .document-content
        .content
            padding-bottom: $spacing2
            section > * + *
                margin-top: 1em
            .blocks
                h3
                    @include h3
                @include media-breakpoint-down(desktop)
                    margin-left: half(-$grid-gutter-sm)
                    margin-right: half(-$grid-gutter-sm)
                @include media-breakpoint-up(desktop)
                    .container
                        padding-left: 0
                        padding-right: 0
                    .block-content
                        padding-left: 0

    @include media-breakpoint-up(desktop)
        .document-content
            .content
                @include grid(12, desktop)
                position: relative
                padding-bottom: $spacing4
                > *
                    grid-column: 5/13
                > h2
                    @include h5
                    $sticky-top-offset: 90px
                    @include sticky($sticky-top-offset)
                    top: $sticky-top-offset
                    margin-top: -0.3em
                    align-self: start
                    grid-column: 1/5
                    margin-bottom: 0
                section:not(:first-of-type)
                    margin-top: $spacing4
                
            section:first-of-type
                .content
                    border-top: none

    table
        margin-block-start: 2em
        &.post-infos
            tr
                &:first-child 
                    border-top: 1px solid $color-border
                    th,
                    td
                        padding: 1rem 0
                &:last-child
                    border-bottom: 1px solid $color-border
                font-size: unset
                line-height: 160%
            th
                @include meta
                vertical-align: middle
            td
                font-family: $body-font-family
        caption 
            @include visually-hidden
        th
            font-weight: normal
            a
                text-decoration: none
    .list-persons
        @include list-reset
        > li
            border-bottom: 1px solid $color-border
            justify-content: flex-start
            position: relative
            padding-bottom: $spacing0
            padding-top: $spacing0
            @include media-breakpoint-up(desktop)
                @include grid(2)
            @include icon("arrow-right", "after", px2rem(12), true)
                color: inherit
                position: absolute
                right: 0
                top: $spacing0
                margin-top: px2rem(12)
            a
                color: inherit
                text-decoration: none
                @include stretched-link(before)
                @include media-breakpoint-down(desktop)
                    margin-right: $spacing1
            p
                align-self: center
                margin-top: unset
                @include small
                @include media-breakpoint-up(desktop)
                    margin-right: $spacing1
            &:hover
                color: $color-accent
            &:first-child
                border-top: 1px solid $color-border
            a
            p
                @include small
                
        