.publications__section
    

.publications__page
    .hero
        h1, hgroup
            width: 100%

    .document-content > .container
        @include media-breakpoint-up(desktop)
            @include grid
        .content
            @include media-breakpoint-up(desktop)
            grid-column: 1 / 9
        .document-sidebar
            @include media-breakpoint-up(desktop)
                grid-column: 9 / 13
                order: 2
            [itemprop="author"] 
                + *
                    margin-top: $spacing1
                .person
                    flex-direction: row
                    align-items: center
                    display: flex
                    gap: $spacing1
                    .avatar
                        margin-bottom: 0
            > * + *
                margin-top: $spacing3
    .links
        display: flex
        flex-wrap: wrap
        gap: $spacing0
        @include media-breakpoint-up(xxl)
            gap: $spacing0 $grid-gutter
        &:not(:first-child)
            margin-top: $spacing3
        > a
            width: 100%
            @include media-breakpoint-up(xl)
                width: col(4, 8)
            @include media-breakpoint-up(xxl)
                width: col(2, 8)

    .block-siblings-navigation
        .block-content
            padding-left: 0 !important
        .container
            padding-left: 0
            padding-right: 0