.sitemap__section
    .content
        > div
            @include media-breakpoint-up(md)
                padding-left: col(5)
            ul 
                list-style: none
                margin-bottom: 7.5rem
                padding: 0