.volume
    @include article
    .suptitle
        @include meta

.volumes
    @include grid(2, md)
    @include grid(3, lg)
    
.volumes__taxonomy
    .volume
        .media
            img
                aspect-ratio: 1 / 1.2
.volumes__term
    .document-content
        .container
            @include media-breakpoint-up(desktop)
                @include grid
            .content
                @include media-breakpoint-up(desktop)
                    grid-column: 1 / 9
                > div
                    margin-bottom: $spacing1
                    @include media-breakpoint-up(desktop)
                        margin-bottom: $spacing4
                .volume-table
                    list-style: none
                    margin-block-start: half($spacing3)
                    li
                        + li
                            margin-top: $spacing3
                        a
                            text-decoration-color: rgba(0,0,0,0)
                            &:hover
                                text-decoration-color: rgba(0,0,0,1)    
                        .item--informations
                            @include grid(2, desktop)
                            margin-top: $spacing0
                            @include media-breakpoint-up(desktop)
                                margin-top: $spacing1
                            a, button
                                @include meta
                                @include button-reset
                                align-items: center
                                cursor: pointer
                                display: flex
                                padding: 0
                                &::before 
                                    background-color: white
                                    border: 1px solid $color-border
                                    margin-right: $spacing0
                                    padding: half($spacing0)
                                    transition: background 0.3s ease, border 0.3s ease
                                    @include media-breakpoint-up(desktop)
                                        margin-right: $spacing1
                                &:hover
                                    text-decoration: none
                                    &::before
                                        background-color: $color-text
                                        border-color: transparent
                                        color: $color-background
                            button
                                @include icon-block(eye, before)
                            a
                                @include icon-block(download, before)
                            @include media-breakpoint-down(desktop)
                                * + *
                                    margin-top: $spacing0
                        .modal
                            // display: none
                            background-color: $body-overlay-color
                            .modal-content
                                background-color: $color-background-alt
                                padding: $spacing3
                                position: relative
                                @include media-breakpoint-up(desktop)
                                    // width: col(8)
                                    margin: auto
                                .modal-header
                                    margin-bottom: $spacing0
                                    .btn-close
                                        @include button-reset
                                        @include icon-block(close, before)
                                        position: absolute
                                        right: 0
                                        top: 0
                                    h5
                                        @include h3
            .document-aside
                @include media-breakpoint-up(desktop)
                    grid-column: 9 / 12
                    order: 2
                dl
                    margin: 0
                    dt
                        @include meta
                        &:not(:first-of-type)
                            margin-top: $spacing2
    .paper
        display: block