{{ $meta_position := partial "commons/single/meta/helpers/GetPosition" . }}
{{ $meta_in_content := eq $meta_position "content" }}

{{ if or (eq .Params.design.toc.present true) ($meta_in_content) }}
  <div class="section-sidebar project-sidebar">
    <div>
      {{ if $meta_in_content }}
        <aside>
          {{- partial "projects/single/meta.html" . -}}
        </aside>
      {{ end }}
      
      {{ partial "toc/container.html" (dict
      "context" .
      ) }}
    </div>
  </div>
{{ end }}