{{ $categories := .categories }}
{{/*  If categories/taxonomies filters is displayed, do not display category's children list  */}}
{{ $section := replace .Params.taxonomy "_categories" "" }}
{{ $is_filters_displayed := partial "GetSiteParamWithDefault" (dict 
  "param" (printf "%s.categories.taxonomies.display" $section)
  "default" "categories.single.taxonomies.display"
) }}

{{ if and $categories (not $is_filters_displayed) }}
  <div class="container children-categories">
    <ul aria-label="{{ i18n "categories.label" }}">
      {{ range $categories }}
        {{ $category := site.GetPage .path }}
        {{ with $category }}
          <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
{{ end }}
