{{ $translations := .translations }}
<ul>
  {{ range site.Home.AllTranslations }}
    {{ $language := .Language }}
    {{ $url := printf "/%s/" $language.Locale }}
    {{ range $translations }}
      {{ if eq .Lang $language.Name }}
        {{ $url = .Permalink }}
      {{ end }}
    {{ end }}
    {{ if not (eq $language site.Language) }}
      <li>
        <a href="{{ $url }}" lang="{{ $language }}" hreflang="{{ $language }}">
          {{- $language.Label -}}
        </a>
      </li>
    {{ end }}
  {{ end }}
</ul>