@mixin container
    margin-left: auto
    margin-right: auto
    padding-left: var(--grid-gutter)
    padding-right: var(--grid-gutter)
    width: var(--grid-width)

// This must be used for content inside columns
@function columns($quantity)
    $width: calc( (var(--column-width) * #{$quantity}) + var(--grid-gutter) * ( #{$quantity} - 1 ))
    @return #{$width}

@mixin grid($cols: 12, $breakpoint: false, $gap-y: var(--grid-gutter), $gap-x: var(--grid-gutter))
    word-break: break-word
    @if $breakpoint
        @include media-breakpoint-up($breakpoint)
            display: grid
            grid-gap: $gap-y $gap-x
            grid-template-columns: repeat($cols, 1fr)
    @else
        display: grid
        grid-gap: $gap-y $gap-x
        grid-template-columns: repeat($cols, 1fr)

@mixin flexbox-grid($cols: 12, $gap-y: var(--grid-gutter), $gap-x: $gap-y)
    display: flex
    flex-wrap: wrap
    gap: $gap-y $gap-x
    > *
        flex: 0 0 calc(#{100 / $cols}% - #{$gap-x} * #{($cols - 1) / $cols} )

// This must be used for offset, outside columns
@function offset($quantity)
    $width: calc( #{columns($quantity)} + var(--grid-gutter) )
    @return #{$width}

@function container-margin-x
    @return Max(var(--grid-gutter), calc(50vw - #{$grid-max-width} / 2 + var(--grid-gutter)))

@mixin container-margin-left
    margin-left: container-margin-x()

@mixin container-margin-right
    margin-right: container-margin-x()