
@mixin hover-translate-icon($pseudo: after, $distance: 10, $fade: false)
    &::#{$pseudo}
        display: inline-block
        transition: 0.55s $arrow-ease-transition
        transform: translateX(0)
        @if $fade
            opacity: 0
    &:hover
        &::#{$pseudo}
            transform: translateX(#{pxToRem($distance)})
            @if $fade
                opacity: 1

@mixin icon($icon-name: '', $pseudo-element: before, $non-breaking: false)
    &::#{$pseudo-element}
        content: map-get($icons, $icon-name)
        font-family: 'Icon'
        font-style: normal
        font-variant: normal
        font-weight: normal
        line-height: 1
        speak: never
        text-transform: none
        @if $non-breaking
            content: " #{map-get($icons, $icon-name)}"
            display: inline
        @content // TODO : important de documenter ça

@mixin icon-block($icon-name: '', $pseudo-element: before, $non-breaking: false)
    @include icon($icon-name, $pseudo-element, $non-breaking)
        // font-size: pxToRem(44)
        display: inline-block
        width: pxToRem(44)
        height: pxToRem(44)
        line-height: pxToRem(44)
        vertical-align: middle
        @content

@mixin icon-frame($icon-name: '', $pseudo-element: before, $non-breaking: false, $hoverable: false)
    @include icon($icon-name, $pseudo-element, $non-breaking)
        border: 1px solid var(--color-border)
        display: inline-block
        flex-shrink: 0
        height: pxToRem(64)
        line-height: pxToRem(64)
        margin-right: $spacing-2
        text-align: center
        transition: background 0.3s ease, border 0.3s ease
        vertical-align: middle
        width: pxToRem(64)
        @include media-breakpoint-up(desktop)
            font-size: pxToRem(20)
        @content
    @if $hoverable
        &:hover
            &::#{$pseudo-element}
                background-color: var(--color-text)
                border-color: transparent
                color: var(--color-background)

@mixin arrow-right-hover
    position: relative
    display: flex
    justify-content: space-between
    align-items: center
    @include icon(arrow-right-line, after)
        opacity: 0
        transform: translateX(-20px)
        transition: 0.55s $arrow-ease-transition
        position: absolute
        right: 0
    &:hover
        &:after
            opacity: 1
            transform: translateX(0)