{{ with .Params.contact_details }}
  {{ if or .website .linkedin .twitter .email .address .city .zipcode .country .phone }}
    <div class="contacts-details">
      {{ if or .website .linkedin .twitter .email }}
        <ul>
          {{ with .website }}
            <li>
              <span>{{ i18n "commons.contact.website" }}</span>
              <a href="{{ chomp .url }}" target="_blank" rel="noopener" itemprop="url">{{ chomp .label }}</a>
            </li>
          {{ end }}

          {{ with .linkedin }}
            <li>
              <span>LinkedIn</span>
              <a href="{{ chomp .url }}" target="_blank" rel="noopener" itemprop="url">{{ chomp .label }}</a>
            </li>
          {{ end }}
        
          {{ with .twitter }}
            <li>
              <span>Twitter</span>
              <a href="https://twitter.com/{{ chomp .url }}" target="_blank" rel="noopener" itemprop="url">{{ chomp .label }}</a>
            </li>
          {{ end }}

          {{ with .email }}
            <li>
              <span>{{ i18n "commons.contact.email" }}</span>
              <a href="mailto:{{ chomp .url }}" itemprop="email">{{ chomp .label }}</a>
            </li>
          {{ end }}
        </ul>
      {{ end }}

      {{ if or .address .city .zipcode .country .phone }}
        <ul>
          {{ if or .address .city .zipcode .country }}
            <li>
              <span>{{ i18n "commons.contact.address" }}</span>
              <address itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                {{ with .address }}
                  <span itemprop="streetAddress">
                    {{ partial "PrepareHTML" . }},
                  </span>
                  <br>
                {{ end }}
                {{ with .city }}
                  <span itemprop="addressLocality">
                    {{ partial "PrepareHTML" . }}
                  </span>
                {{ end }}
                {{ with .zipcode }}
                  <span itemprop="postalCode">
                    {{ partial "PrepareHTML" . }}
                  </span>
                {{ end }}
                {{ with .country }}
                  <span itemprop="postalCode">
                    {{ partial "PrepareHTML" . }}
                  </span>
                {{ end }}
              </address>
            </li>
          {{ end }}

          {{ if .phone }}
            <li>
              <span>{{ i18n "commons.contact.phone" }}</span>
              <a href="tel:{{ .phone }}" itemprop="telephone">{{ .phone }}</a>
            </li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
  {{ end }}
{{ end }}
