<article class="organization">
  <div>
    {{ $title := partial "PrepareHTML" .Title }}
    <h2><a href="{{ .Permalink }}" title="{{ safeHTML (i18n "commons.more_aria" (dict "Title" $title)) }}">{{ $title }}</a></h2>
  </div>
  <div class="media">
    {{- if .Params.logo -}}
      {{- partial "commons/image.html"
            (dict
              "image"    .Params.logo
              "alt"      $title
              "sizes"    site.Params.image_sizes.sections.organizations.item
            ) -}}
    {{- end -}}
  </div>
</article>
