{{ $options := site.Params.organizations.index.options }}

<div class="organizations {{- if $options.summary }} with-summaries {{- end }}">
  {{ if not .Paginator.Pages }}
    {{ $is_term := eq .Kind "term" }}
    <p>{{ i18n (cond $is_term "categories.no_organization" "organizations.none") }}</p>
  {{ end }}
  {{ range .Paginator.Pages }}
    {{ partial "organizations/list/item/organization.html" (dict
        "organization" .
        "options" $options
        "heading_level" 2
      ) }}
  {{ end }}
</div>

