{{ partial "organizations/single/hero.html" . }}
{{ partial "organizations/single/pagefind.html" . }}

<div class="document-content" itemscope itemtype="https://schema.org/Organization">

  {{ partial "toc/container.html" (dict
    "toc" "toc/default.html"
    "context" .
  ) }}

  <div class="container">

    <div itemprop="articleBody">
      {{ partial "organizations/single/summary.html" (dict
        "context" .
      ) }}

      {{ if (partial "GetTextFromHTML" .Params.text) }}
        <div class="organization-presentation rich-text">
          {{ partial "PrepareHTML" .Params.text }}
        </div>
      {{ end }}

      {{ partial "taxonomies/single-list-container.html" . }}

      {{ partial "commons/contact-details.html" (dict "subject" .) }}
    </div>

    {{ partial "organizations/partials/logo.html" . }}
  </div>

  {{ partial "contents/list.html" (dict
    "context" .
    "contents" .Params.contents
  ) }}

  {{ if site.Params.organizations.single.backlinks }}
    {{ partial "contents/backlinks.html" . }}
  {{ end }}
</div>