<!-- Icons -->
{{- if os.FileExists "static/assets/images/favicons/apple-touch-icon.png" -}}
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png">
{{ end -}}
{{- if os.FileExists "static/assets/images/favicons/favicon-32x32.png" -}}
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
{{ end -}}
{{- if os.FileExists "static/assets/images/favicons/favicon-16x16.png" -}}
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
{{ end -}}
{{- if os.FileExists "static/assets/images/favicons/favicon.ico" -}}
  <link rel="icon" type="image/ico" href="/assets/images/favicons/favicon.ico">
{{ end -}}
{{- if os.FileExists "static/assets/images/favicons/favicon.png" -}}
  <link rel="icon" type="image/png" href="/assets/images/favicons/favicon.png">
{{ end -}}
{{- if os.FileExists "static/site.webmanifest" -}}
  <link rel="manifest" href="/site.webmanifest">
{{ end -}}
{{- if os.FileExists "static/assets/images/favicons/safari-pinned-tab.svg" -}}
  <link rel="mask-icon" href="/assets/images/favicons/safari-pinned-tab.svg" color="#000000">
{{ end -}}
