{{ define "main" }}
  {{ partial "projects/single/hero/hero.html" . }}

  <div class="document-content" itemscope itemtype="https://schema.org/CreativeWork">
    <meta itemprop="name" content="{{ partial "PrepareHTML" .Title }}">
    <meta itemprop="url" content="{{ .Permalink }}">
    {{ with .Params.summary }}<meta itemprop="description" content="{{ . | safeHTML }}">{{ end }}
    
    {{ if .Params.taxonomies }}
      <div class="container taxonomies-container">
        {{ partial "taxonomies/single-list.html" . }}
      </div>
    {{ end }}

    {{ partial "projects/commons/summary.html" (dict
        "context" .
        "block_wrapped" true
      ) }}

    {{ partial "contents/list.html" . }}

    {{ partial "commons/siblings-navigation.html" (dict
      "context" .
      "previous_label" (i18n "projects.previous")
      "next_label" (i18n "projects.next")
    ) }}

    {{ partial "hooks/before-document-content-end.html" . }}
  </div>
{{ end }}
