{{ define "main" }}
  {{ partial "projects/hero-single.html" . }}

  <div class="document-content" itemscope itemtype="https://schema.org/CreativeWork">
    <meta itemprop="name" content="{{ partial "PrepareHTML" .Title }}">
    <meta itemprop="url" content="{{ .Permalink }}">
    {{ with .Params.summary }}<meta itemprop="description" content="{{ . | safeHTML }}">{{ end }}
    
    <div class="project-categories container">
        {{ partial "commons/taxonomies.html" (dict
            "context" .
            "kind" "project"
            "taxonomies" .Params.taxonomies
            "free_categories" .Params.free_categories
          ) }}
    </div>

    {{ partial "projects/summary.html" (dict
        "context" .
        "block_wrapped" true
      ) }}

    {{ partial "contents/list.html" . }}

    {{ partial "commons/siblings-navigation.html" (dict
      "context" .
      "previous_label" (i18n "projects.previous")
      "next_label" (i18n "projects.next")
    ) }}

    {{ partial "hooks/before-document-content-end.html" . }}
  </div>
{{ end }}
