<div class="modal fade" id="{{ .modalId }}" tabindex="-1" aria-labelledby="{{ .modalId }}Label" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{ .modalId }}Label">{{ .title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ i18n "commons.close" }}"></button>
      </div>
      <div class="modal-body">
        <div itemprop="abstract">
          {{ .abstract }}
        </div>
      </div>
    </div>
  </div>
</div>
