{{ if .Pages }}
<div>
  <h2>{{ i18n "volumes.table_contents" }}</h2>
  <ol class="volume-table">
    {{ range $index, $articles := .Pages }}
      {{ $modalId := print "modalID_" $index }}
      <li itemprop="hasPart" itemscope itemtype="https://schema.org/ScholarlyArticle">
        <div>
          <span itemprop="articleSection">{{ i18n "volumes.article.singular_name" }}</span>
        </div>
        <div>
          <h3>
            <a href="{{ .Permalink }}" itemprop="url">
              <span itemprop="name">{{ partial "PrepareHTML" .Title }}</span>
            </a>
          </h3>
          <p>
            {{- range $index, $authors := .Params.Researchers -}}
              {{- $author := site.GetPage (printf "/persons/%s" .) -}}
              {{- if ne $index 0 -}},{{ end }}
              <span itemprop="author" itemscope itemtype="https://schema.org/Person"><a href="{{ $author.Permalink }}" itemprop="url"><span itemprop="name">{{ trim $author.Title "\n" }}</span></a></span>
            {{- end -}}
          </p>
          <div role="group">
            <a href="{{ .Permalink }}" itemprop="url">{{ i18n "commons.read" }}</a>
            <button type="button" data-bs-toggle="modal" data-bs-target="#{{ $modalId }}">{{ i18n "volumes.abstract" }}</button>
            {{ if .Params.pdf }}
              {{- $pdf := partial "GetMedia" .Params.pdf -}}
              {{- $pdf_size := partial "GetHumanSize" $pdf.size -}}
              <a href="{{ $pdf.url }}" download>
                {{- i18n "commons.pdf_with_size" (dict "Size" $pdf_size) }}
              </a>
            {{ end }}
          </div>
          {{ partial "volumes/modal.html"
                (dict
                  "modalId" $modalId
                  "title" .Title
                  "abstract" .Params.abstract
                ) }}
        </div>
      </li>
    {{ end }}
  </ol>
</div>
{{ end }}
