{{ if or .Params.projects_categories .Params.year }}
  <div class="project-infos">
    {{ with .Params.year }}
      <div class="year">
        <time datetime="{{ . }}">{{ . }}</time>
      </div>
    {{ end }}
  </div>
{{ end }}

{{ if site.Params.projects.share_links.enabled | default site.Params.share_links.enabled }}
  <div class="dropdown-share">
    <button type="button" aria-expanded="false">{{ i18n "commons.share" }}</button>
    <div class="dropdown-menu">
      {{ partial "commons/share.html" . }}
    </div>
  </div>
{{ end }}