<ul class="project-infos">
  {{ if .Params.projects_categories }}
    <li class="terms">
      <span>{{ i18n "projects.category" ( len .Params.projects_categories ) }}</span>
      {{ partial "projects/categories.html" . }}
    </li>
  {{ end }}
  <li>
    <span>{{ i18n "projects.date" }}</span>
    <time datetime="{{ .Date.Format "2006-01-02T15:04" }}">{{ .Date | time.Format site.Params.projects.date_format }}</time>
  </li>
  <li class="social-share">
    <span>{{ i18n "projects.share" }}</span>
    {{ partial "commons/share.html" . }}
  </li>
</ul>