{{ $project := .project }}
{{ $heading := .heading | default "h2" }}
{{- $direction := "" -}}
{{ $index := .index}}
{{ $heading_tag := (dict 
    "open" ((printf "<%s class='project-title' itemprop='name'>" $heading) | safeHTML)
    "close" ((printf "</%s>" $heading) | safeHTML)
    ) }}

{{ $alternate := .alternate | default false }}
{{ $options := .options | default site.Params.projects.index.options }}

{{ with $project }}

  {{ if .Params.image }}
    {{- $direction = partial "GetImageDirection" .Params.image -}}
  {{ end }}

  <article class="project {{ if $alternate }}{{ $direction }} {{if not (modBool $index 2)}}left{{ else}}right{{end}}{{end}}" itemscope itemtype="https://schema.org/CreativeWork">

    <div class="project-content">
      <div class="project-description">
        {{- $title := partial "PrepareHTML" .Title -}}
        {{/*  TODO : "and $options.subtitle"  */}}
        {{ if .Params.subtitle }}
          <hgroup>
        {{ end }}
        {{ $heading_tag.open }}
          <a href="{{ .Permalink }}" itemprop="url" title="{{ safeHTML (i18n "commons.more_aria" (dict "Title" $title)) }}">{{ $title }}</a>
        {{ $heading_tag.close }}
        {{/*  TODO : "and $options.subtitle"  */}}
        {{ if .Params.subtitle }}
          <p class="project-subtitle">{{ .Params.subtitle }}</p>
        {{ end }}
        {{/*  TODO : "and $options.subtitle"  */}}
        {{ if .Params.subtitle }}
          </hgroup>
        {{ end }}
        
        {{ if and $options.summary (partial "GetTextFromHTML" .Params.summary) }}
          <p itemprop="abstract">{{ partial "GetTruncateContent" ( dict 
            "text" .Params.summary
            "length" site.Params.projects.index.truncate_description
            ) }}
          </p>
        {{ end }}
          

        {{ if $options.categories }}
          {{ partial "commons/categories" ( dict
            "context" .
            "kind" "project"
          )}}
        {{ end }}
      </div>
      {{ if and $options.year .Params.year }}
        <div class="project-meta">
          <time itemprop="datePublished" datetime="{{ .Params.year }}">{{ .Params.year }}</time>
        </div>
      {{ end }}
    </div>

    <div class="media">
      {{- if .Params.image -}}
        {{- partial "commons/image.html"
            (dict
              "image"    .Params.image
              "sizes"    site.Params.image_sizes.sections.projects.item
            ) -}}
      {{- else -}}
        {{- partial "commons/image-default.html" "projects" -}}
      {{- end -}}
    </div>

  </article>
{{ end }}