{{ partial "projects/section/hero.html" . }}
<div class="document-content">
  {{ partial "projects/section/summary.html" (dict
      "with_container" true
      "context" .
    ) }}

    {{ if .Params.section_taxonomies }}
      <div class="container">
        {{ partial "taxonomies/section-list.html" . }}
      </div>
    {{ end }}

    {{ if (partial "IsFirstPage" .) }}
      {{ partial "contents/list.html" . }}
    {{ end }}
  
  <div class="container">
    {{ partial "projects/partials/projects.html" . }}
    {{ partial "commons/pagination.html" . }}
  </div>
</div>