{{ $layout := .layout | default "list" }}
{{ $heading_level := .heading_level }}
{{ $with_more := .with_more }}
{{ $options := .options }}
{{ with .exhibition }}
  {{ $class := partial "exhibitions/helpers/GetClass" (dict
    "options" $options
    "context" .
  ) }}
  <article class="{{ $class }}" itemscope itemtype="https://schema.org/ExhibitionEvent">
    <div class="exhibition-content">
      {{ partial "exhibitions/partials/exhibition/heading.html" (dict
        "item" .
        "options" $options
        "level" $heading_level
        "itemprop" "name"
      ) }}
      {{ partial "exhibitions/partials/exhibition/federated.html" . }}
      {{ partial "exhibitions/partials/exhibition/meta.html" (dict
        "context" .
        "options" $options
      ) }}
      {{ partial "exhibitions/partials/exhibition/status.html" (dict 
        "status" .Params.dates.status
        "options" $options
        "type" "exhibition"
      ) }}
      {{ partial "exhibitions/partials/exhibition/summary.html" (dict
        "context" .
        "options" $options
      ) }}
      {{ partial "exhibitions/partials/exhibition/categories.html" (dict
        "context" .
        "options" $options
      ) }}
      {{ partial "exhibitions/partials/exhibition/more.html" (dict
        "context" .
        "with_more" $with_more
      ) }}
    </div>
    {{ partial "exhibitions/partials/exhibition/media.html" (dict 
      "image" .Params.image
      "options" $options
      "layout" $layout
    ) }}
  </article>
{{ end }}