{{ $exhibition := .exhibition }}
{{ $layout := .layout | default "list" }}
{{ $heading_level := .heading_level }}
{{ $with_more := .with_more }}
{{ $options := .options }}
{{ $layout := .layout }}
{{ $class := partial "exhibitions/partials/exhibition/helpers/GetClass" . }}

{{ if .exhibition }}
  <article class="{{ $class }}" itemscope itemtype="https://schema.org/ExhibitionEvent">
    <div class="exhibition-content">
      {{ partial "exhibitions/partials/exhibition/heading.html" (dict
        "item" .exhibition
        "options" $options
        "level" $heading_level
        "itemprop" "name"
      ) }}
      {{ partial "exhibitions/partials/exhibition/core.html" (dict 
        "exhibition" .exhibition
        "options" $options
      ) }}
      {{ if $with_more }}
        {{ partial "exhibitions/partials/exhibition/more.html" .exhibition }}
      {{- end -}}
    </div>
    {{ if $options.image }}
      {{ partial "exhibitions/partials/exhibition/media.html" (dict
        "exhibition" .exhibition
        "layout" $layout
        "type" "exhibitions"
      ) }}
    {{ end }}
  </article>
{{ end }}