{{ $layout := .layout | default "list" }}
{{ $heading_level := .heading_level }}
{{ $with_more := .with_more }}
{{ $options := .options }}
{{ with .exhibition }}
  {{ $class := partial "exhibitions/helpers/GetClass" (dict
    "options" $options
    "context" .
  ) }}
  <article class="{{ $class }}" itemscope itemtype="https://schema.org/ExhibitionEvent">
    {{ partial "exhibitions/partials/exhibition/content.html" (dict
      "context" .
      "options" $options
      "with_more" $with_more
    ) }}
    {{ partial "exhibitions/partials/exhibition/media.html" (dict 
      "image" .Params.image
      "options" $options
      "layout" $layout
    ) }}
  </article>
{{ end }}