{{ $options := .options }}
{{ $heading_level := .heading_level | default 3 }}
{{ $heading_tag := partial "GetHeadingTag" (dict 
        "level" $heading_level
        "attributes" "class='page-title'"
)}}
{{ with .pages }}
  <div class="grid">
    {{ range . }}
      {{/*  Check if . is a map or page url, necessary when pages/list is called outside block context */}}
      {{- $path := false -}}
      {{ if reflect.IsMap . }}
        {{ $path = .path }}
      {{ else }}
        {{ $path = . }}
      {{ end }}
      {{ $page := site.GetPage $path }}

      {{ with $page }}
        <article class="page">
          {{ $heading_tag.open }}
            <a href="{{- .Permalink -}}">
              {{- partial "PrepareHTML" .Title -}}
            </a>
          {{ $heading_tag.close }}

          {{- partial "pages/partials/page/hook-after-title.html" . -}}

          {{ if and $options.summary .Params.summary }}
            {{ partial "GetRichSummary" ( dict 
              "summary" .Params.summary
              "kind" "pages"
            )}}
          {{ end }}
          {{/*  TODO: set right options when admin is ready  */}}
          {{ if site.Params.pages.index.options.categories }}
            {{ partial "commons/categories" ( dict
              "context" .
              "kind" "page"
            )}}
          {{ end }}
          {{ if $options.image }}
            {{- partial "pages/partials/organization/page-media.html" . -}}
          {{ end }}
        </article>
      {{- end -}}
    {{ end }}
  </div>
{{ end }}
