{{ $options := .options }}
{{ $heading_level := .heading_level }}

{{ with .pages }}
  <ul class="pages pages--grid">
    {{ range . }}
      {{/*  Check if . is a map or page url, necessary when pages/list is called outside block context */}}
      {{- $path := false -}}
      {{ if reflect.IsMap . }}
        {{ $path = .path }}
      {{ else }}
        {{ $path = . }}
      {{ end }}
      {{ $page := site.GetPage $path }}

      {{ with $page }}
        <li>
          <article class="page">
            {{ partial "pages/partials/page/heading.html" (dict
              "item" .
              "level" $heading_level
              "options" $options
            ) }}

            {{- partial "pages/partials/page/hook-after-title.html" . -}}

            {{ if and $options.summary .Params.summary }}
              {{ partial "GetRichSummary" (dict 
                "summary" .Params.summary
                "kind" "pages"
              ) }}
            {{ end }}

            {{ if and $options.categories .Params.taxonomies }}
              {{ partial "commons/categories" (dict
                "context" .
                "kind" "page"
              ) }}
            {{ end }}

            {{ if $options.image }}
              {{ partial "pages/partials/page/media.html" (dict 
                "image" .Params.image
                "layout" "grid"
              ) }}
            {{ end }}
          </article>
        </li>
      {{ end }}
    {{ end }}
  </ul>
{{ end }}
