{{ $subject := .subject }}
{{ $name := $subject.Title }}
{{ $with_labels := .with_labels | default true }}
{{ with $subject.Params.contact_details }}
  <div class="contacts-details">
    {{ if or .websites .social_networks .emails .phone_numbers .phone_professional .postal_address }}
      <ul>
        {{ partial "commons/contact-details/links.html" (dict
          "context" .
          "name" $name
          "with_label" $with_labels
        ) }}

        {{ with .postal_address }}
          <li class="address">
            {{ if $with_labels }}
              <span class="meta">{{ i18n "commons.contact.address" }}</span>
            {{ end }}
            {{ partial "commons/address.html" . }}
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
{{ end }}