<item>
  <title>{{ .item.Title }}</title>
  <link>{{ .item.Permalink }}</link>
  <pubDate>{{ .item.PublishDate.Format "Mon, 02 Jan 2006 15:04:05 -0700" | safeHTML }}</pubDate>
  {{- with .authorEmail }}<author>{{ . }}{{ with .authorName }} ({{ . }}){{ end }}</author>{{ end }}
  <guid>{{ .item.Permalink }}</guid>
  {{- with .item.Summary }}
  <description>
    {{- printf "<![CDATA[" | safeHTML -}}
      {{ . | safeHTML }}
    {{- printf "]]>" | safeHTML -}}
  </description>
  {{ end -}}
  {{ partial "rss/item/image.html" .item.Params.image }}
  {{ partial "rss/item/taxonomies.html" .item.Params.taxonomies }}
</item>