{{ $options := .context.options }}
{{ $heading_level := .context.heading_level | default 3 }}

{{ with .page }}
  <article class="page">
    {{ partial "pages/list/components/title.html" (dict 
        "page" .
        "heading_level" $heading_level
      )}}

    {{ if $options.summary }}
      {{ partial "pages/list/components/summary.html" . }}
    {{ end }}

    {{ if $options.image }}
      {{- partial "pages/list/components/media.html" (dict "image" .Params.image) -}}
    {{ end }}
  </article>
{{- end -}}
