{{ if partial "GetMedia" .id }}
  <li>
    <article class="file {{ if .image }} with-image {{ end }} {{ if .download }} with-download {{ end }}">
      <figure>
        {{ if .download }}
          {{ partial "commons/files/download-link.html" (dict
            "id" .id
            "title" .title
            "with_caption" true
          ) }}
        {{ else }}
          {{ partial "files/partials/file/permalink.html" (dict
            "title" .title
            "id" .id
            "context" .context
          ) }}
        {{ end }}
      </figure>
      {{ with .image }}
        {{ partial "commons/image.html" (dict
          "image" .
          "sizes" site.Params.image_sizes.blocks.files
        ) }}
      {{ end }}
    </article>
  </li>
{{ end }}
