{{ $diplomas := .diplomas }}
<ul class="diplomas">
  {{ range $diplomas }}
    <li>
      <a href="{{ .Permalink }}" aria-label="{{ i18n "commons.more_aria" (dict "Title" .Title) }}">
        {{- partial "PrepareHTML" .Title -}}
      </a>
      <div class="content">
        {{with .Params.summary }}
          <div class="description">
            {{- . | safeHTML -}}
          </div>
        {{end}}
        <ol class="programs">
          {{- range .Params.programs -}}
            {{- template "partials/locations/template-program.html" . -}}
          {{- end -}}
        </ol>
      </div>
    </li>
  {{ end }}
</ul>