<ul class="diplomas">
{{ range .diplomas }}
  {{ $diploma := site.GetPage (printf "/diplomas/%s" .path) }}
  {{ if $diploma }}
    <li>
      <a href="{{ $diploma.Permalink }}" aria-label="{{ i18n "commons.more_aria" (dict "Title" $diploma.Title) }}">
        {{- partial "PrepareHTML" $diploma.Title -}}
      </a>
      {{ with .programs }}
        <div class="content">
          <ol class="programs">
            {{- range . -}}
              {{ $program := site.GetPage (printf "/programs%s" .slug) }}
              {{- partial "partials/programs/program.html" (dict
                "program" $program
                "options" (dict 
                    "diploma" true
                    "image" true
                    "summary" true
                  )
                ) -}}
            {{- end -}}
          </ol>
        </div>
      {{ end }}
    </li>
  {{ end }}
{{ end }}