{{ $location := .location }}
{{ $heading := .heading | default "h2" }}
{{ $heading_tag := (dict 
    "open" ((printf "<%s itemprop='headline' class='location-title'>" $heading) | safeHTML)
    "close" ((printf "</%s>" $heading) | safeHTML)
    ) }}
{{ $options := .options }}

{{ with $location }}

  <article class="location" itemscope itemtype="https://schema.org/EducationalOrganization">
    <div class="location-content">
      {{- $title := partial "PrepareHTML" .Title -}}
      {{ $heading_tag.open }}
        <a href="{{ .Permalink }}" title="{{ safeHTML (i18n "commons.more_aria" (dict "Title" $title)) }}">{{ $title }}</a>
      {{ $heading_tag.close }}

      <div class="location-description">
          {{- if and (partial "GetTextFromHTML" .Params.summary) $options.summary -}}
          <p itemprop="description">
            {{ partial "GetTruncateContent" ( dict 
              "text" .Params.summary
              "length" site.Params.locations.index.truncate_description
              ) }}
          </p>
          {{- end -}}
          <p class="more meta">
            {{- i18n "blocks.locations.button_location" -}}
          </p>
        </div>
      </div>

    {{ if $options.image }}
      {{- if .Params.image -}}
        <div class="media">
          {{- partial "commons/image.html"
              (dict
                "image"    .Params.image
                "sizes"    site.Params.image_sizes.sections.locations.item
              ) -}}
          </div>
        {{- end -}}
    {{- end -}}
  </article>
{{ end }}