<li>
  <div class="program-content">
    <a href="{{ .slug }}" title="{{ safeHTML (i18n "commons.more_aria" (dict "Title" .title)) }}">
      {{- partial "PrepareHTML" .title -}}
    </a>
    <div class="description">
      {{- .summary }}
    </div>
  </div>
  <div class="media">
    {{- if .image -}}
      {{- partial "commons/image.html"
        (dict
            "image"    .image
            "sizes"    site.Params.image_sizes.sections.programs.item
        ) -}}
    {{- end -}}
  </div>
</li>