{{ $options := .options }}
{{ $media_type := "" }}
{{ with $options }}
  {{ $media_type = cond .icons "icon" "image" }}
{{ end }}

<figure class="media media--{{ $media_type }}" {{ with or .feature.alt .feature.credit }} role="figure" aria-label="{{ . | plainify }}" {{ end }}>
  {{ partial "commons/image.html" (dict
    "image" .feature.image
    "alt" .feature.alt
    "sizes" site.Params.image_sizes.blocks.features
  ) }}

  {{ with .feature.credit }}
    <figcaption class="credit">
      {{- safeHTML . -}}
    </figcaption>
  {{ end }}
</figure>