{{ $about := .Title }}
<div class="backlinks">
  {{ with .Params.backlinks.current_website }}
    {{ partial "contents/backlinks/exhibitions.html" (dict
      "exhibitions" .exhibitions
      "about" $about
    ) }}
    {{ partial "contents/backlinks/events.html" (dict
      "events" .events
      "about" $about
    ) }}
    {{ partial "contents/backlinks/pages.html" (dict
      "pages" .pages
      "about" $about
    ) }}
    {{ partial "contents/backlinks/projects.html" (dict
      "projects" .projects
      "about" $about
    ) }}
    {{ partial "contents/backlinks/posts.html" (dict
      "posts" .posts
      "about" $about
    ) }}
  {{ end }}
</div>