a.glightbox
    @include stretched-link

.lightbox
    &-figure
        position: relative
    &-container
        backdrop-filter: $lightbox-backdrop
        background: $lightbox-overlay-color
        bottom: 0
        display: none
        left: 0
        padding: $spacing-2
        position: fixed
        right: 0
        top: 0
        z-index: 100
    &-content
        display: flex
        height: 100vh
        img
            display: block
            margin: auto
    &-controls
        bottom: $spacing-2
        display: flex
        position: absolute
        right: $spacing-2
        z-index: 101
        button
            @include button-reset
            @include meta
            background-color: #FFFFFF
            height: $spacing-4
            margin: 0
            padding: 0
            width: $spacing-4
            &:not(:last-child)
                border-right: 1px solid #000000
            &.next  
                @include icon(arrow-right-s-line, before)
            &.prev
                @include icon(arrow-left-s-line, before)
            &.credit
                &::before
                    content: '©'
            &.info
                &::before
                    content: 'i'
            &.close
                @include icon(close-line, before)