.lightbox
    backdrop-filter: $lightbox-backdrop
    background: $lightbox-overlay-color
    bottom: 0
    display: none
    left: 0
    padding: $spacing-2
    position: fixed
    right: 0
    top: 0
    z-index: 100
    &.is-opened
        display: block
    &-media
        position: relative
        display: flex
        height: 100%
        width: 100%
        img
            display: block
            margin: auto
            max-height: 100%
    &-controls
        bottom: $spacing-2
        display: flex
        position: absolute
        right: $spacing-2
        z-index: 101
        @include media-breakpoint-down(sm)
            left: $spacing-2
            width: initial
        button
            @include button-reset
            @include meta
            background-color: $color-background
            color: $color-text
            height: $spacing-4
            margin: 0
            padding: 0
            width: $spacing-4
            &:not(:last-child)
                border-right: 1px solid $color-border
            &.lightbox-button-next
                @include icon(arrow-right-s-line, before)
            &.lightbox-button-previous
                @include icon(arrow-left-s-line, before)
            &.lightbox-button-credit
                &::before
                    content: '©'
            &.lightbox-button-information
                &::before
                    content: 'i'
            &.lightbox-button-close
                @include icon(close-line, before)
            &[aria-expanded='true']
                background-color: $color-text
                color: $color-background
            &:disabled
                background: $color-background-alt
                &::before
                    color: $color-border
    &-detail
        @include meta
        background-color: $color-background
        bottom: calc(var(--spacing-4) + var(--spacing-2) + 1px)
        color: $color-text
        display: none
        padding: $spacing-2
        position: fixed
        right: $spacing-2
        width: columns(6)
        z-index: 102
        > div
            display: flex
            justify-content: space-between
            width: 100%
        a
            color: $color-text
            text-decoration: underline
        &__close
            cursor: pointer
            position: absolute
            right: $spacing-2
            top: $spacing-2
        &-content
            @include body-text
            margin-top: $spacing-3
        [aria-expanded="true"] + &
            display: block
.lightbox-figure
    position: relative
.lightbox-button
    @include button-reset
    cursor: pointer
    position: absolute
    bottom: 0
    left: 0
    top: 0
    right: 0
    // &[data-lightbox]
    //     @include stretched-link