{{ $is_repeating := gt .Params.time_slots 1 }}
{{ $multiple_dates_event := ne .Params.dates.from.day .Params.dates.to.day }}

<div class="event-slots">
  <h2>{{ i18n "events.date" (cond (or $is_repeating $multiple_dates_event) 2 1) }}</h2>
  {{ if or $is_repeating $multiple_dates_event }}
    <div class="event-summary">
      <span class="date" itemprop="startDate" content="2014-10-01T19:30">{{ .Params.dates.computed.short }}</span>
      {{ if $is_repeating }}
        <span class="type">{{ i18n (printf "events.regular_event") }}</span>
      {{ end }}
      {{ partial "events/single/dropdown-calendar.html" (dict
          "index" "primary"
          "calendar_links" .Params.dates.add_to_calendar
        )}}
    </div>
  {{ end }}
  <ul id="all-dates" class="extendable-list">
    {{ range $index, $time_slot := .Params.time_slots }}
      <li class="event-time-slot" itemprop="subEvent">
        <span class="date" itemprop="startDate" content="{{ .start.datetime }}">{{ $time_slot.start.date | time.Format site.Params.events.single.time_slots.date_format }}</span>
        <time datetime="{{ .start.time }}">{{ $time_slot.start.datetime | time.Format site.Params.events.single.time_slots.time_format }}</time>
        <span class="location" itemprop="location" itemscope itemtype="https://schema.org/Place">Grande salle debout</span>
        {{ partial "events/single/dropdown-calendar.html" (dict
            "index" $index
            "calendar_links" $time_slot.add_to_calendar
          )}}
      </li>
    {{ end }}
  </ul>
  {{ if $is_repeating }}
    <button aria-controls="all-dates" aria-expanded="false" class="btn">{{ i18n (printf "events.more_dates") }}</button>
  {{ end }}
</div>