<div class="event-slots">
  <h2>{{ i18n (printf "events.access.dates") }}</h2>
  <ul>
    <li class="event-duration">
      <span class="event-date" itemprop="startDate" content="2014-10-01T19:30">{{ .Params.dates.computed.short }}</span>
      {{ if .Params.time_slots }}
        <span class="event-type">{{ i18n (printf "events.regular_event") }}</span>
      {{ end }}
      <a href="/" class="event-link" title="{{ i18n (printf "events.add_to_calendar.regular_event") }}"><span>{{ i18n (printf "events.add_to_calendar.title") }}</span></a>
    </li>
    {{ range .Params.time_slots }}
    <li itemprop="subEvent">
      <span class="event-date" itemprop="startDate" content="{{ .start.datetime }}">{{ .start.date | time.Format site.Params.events.single.time_slots.date_format }}</span>
      <time datetime="{{ .start.time }}">{{ .start.datetime | time.Format site.Params.events.single.time_slots.time_format }}</time>
      <span class="event-location" itemprop="location" itemscope itemtype="https://schema.org/Place">Grande salle debout</span>
      <a href="/" class="event-link" title="{{ i18n (printf "events.add_to_calendar.title") }}"><span>{{ i18n (printf "events.add_to_calendar.title") }}</span></a>
    </li>
    {{ end }}
  </ul>
  <button class="btn">{{ i18n (printf "events.more_dates") }}</button>
</div>