<div class="event-practicals" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
  {{/*  availability: CHECKER OPTIONS ICI https://schema.org/ItemAvailability  */}}
  <meta itemprop="availability" content="AVAILABILITY">

  <h2>{{ i18n (printf "events.access.partical_informations") }}</h2>
  <div>
    <meta itemprop="priceCurrency" content="DEVISE ICI">
    <span class="event-price" itemprop="price" content="PRIX">tarif</span>
    <p>Tarifs réduits pour les groupes du champ social</p>
    <p>Contacter berenice.sellier@gaite-lyrique.net</p>
  </div>
  <a class="btn" itemprop="url" href="LIEN DE RÉSA">Réserver</a>
</div>
