{{ $meta_position := partial "commons/single/meta/helpers/GetPosition" . }}

{{ partial "organizations/single/hero.html" . }}
{{ partial "organizations/single/pagefind.html" . }}

<div class="document-content">
  {{ partial "posts/single/sidebar.html" . }}

  <div class="container">
    <div itemprop="articleBody">
      {{ partial "organizations/single/summary.html" . }}
      {{ partial "organizations/single/presentation.html" . }}
      {{/*  {{ if eq $meta_position "content" }}
        {{ partial "organizations/single/meta.html" . }}
      {{ end }}  */}}
    </div>
    {{ partial "organizations/partials/logo.html" . }}
  </div>

  {{ partial "contents/list.html" (dict
    "context" .
    "contents" .Params.contents
  ) }}

  {{ if site.Params.organizations.single.backlinks }}
    {{ partial "contents/backlinks.html" . }}
  {{ end }}
</div>