{{ define "main" }}
  {{ partial "pages/hero.html" . }}

  <div class="document-content">
    {{- $category := site.GetPage (printf "/categories%s" .Params.category) -}}
    {{- if .Params.blocks }}
      {{ $need_aside := false }}
      {{ range .Params.blocks }}
        {{ if .title }}
          {{ $need_aside = true }}
        {{ end }}
      {{ end }}
      {{ partial "toc/container.html"
          (dict
              "category" $category
              "toc" "pages/toc.html"
              "context" .
          )
      }}
      {{ partial "hooks/after-page-hero.html" . }}
      {{ partial "blocks/list.html" . }}

    {{ else }}
      <!-- FIXME -->
      <section class="block block-pages block-pages--grid">
        <div class="container">
          <div class="block-content">
            <div class="grid">
              {{ range .Params.children }}
                {{- $page := partial "GetPageByUrl" . -}}
                {{ with $page }}
                  <article>
                    <h1>
                      <a href="{{- .Permalink -}}">
                        {{- partial "PrepareHTML" .Title -}}
                      </a>
                    </h1>
                    {{ if .Params.description_short }}
                      <p>{{ partial "PrepareHTML" .Params.description_short }}</p>
                    {{ end }}
                    {{- partial "pages/page-media.html" . -}}
                  </article>
                {{- end -}}
              {{ end }}
            </div>
          </div>
        </div>
      </section>
    {{ end }}
  </div>

{{ end }}
