{{ define "main" }}
  {{ partial "pages/hero.html" . }}

  {{- $category := site.GetPage (printf "/categories%s" .Params.category) -}}
  {{- if .Params.blocks }}
    {{ $need_aside := false }}
    {{ range .Params.blocks }}
      {{ if .title }}
        {{ $need_aside = true }}
      {{ end }}
    {{ end }}

    <div class="content-blocks">
      {{ partial "pages/document-nav.html"
          (dict
              "category" $category
              "context" .
          )
      }}
      {{ partial "blocks/list.html" . }}
    </div>
  {{ else }}
    {{ partial "pages/image.html" .Params.image }}
    {{ partial "pages/children.html" .Params.children }}
  {{ end }}

{{ end }}
