{{ define "main" }}
  {{ partial "pages/hero.html" . }}
  {{ partial "hooks/after-page-hero.html" . }}

  <div class="document-content">
    {{- $category := site.GetPage (printf "/categories%s" .Params.category) -}}
    {{ partial "toc/container.html"
        (dict
            "category" $category
            "toc" "pages/toc.html"
            "context" .
        )
    }}

    {{ partial "pages/summary.html" (dict
        "context" .
        "block_wrapped" true
      ) }}

    {{ if .Params.blocks }}
      {{ partial "blocks/list.html" . }}
    {{ else }}

      {{ $page_class := "" }}
      {{ if .Params.bodyclass }}
        {{- $page_class = printf "block-page-%s" .Params.bodyclass }}
      {{ end }}
      <section class="block block-pages block-pages--grid {{ $page_class }}">
        <div class="container">
          <div class="block-content">
            {{- partial "blocks/default_title.html" "pages" -}}
            {{- partial "blocks/templates/pages/grid.html" (dict 
                "pages" .Params.children
                "show_images" true
                "show_descriptions" true
                ) }}
          </div>
        </div>
      </section>
    {{ end }}
  </div>

{{ end }}
