{{ define "main" }}
  {{- partial "header/hero.html"
        (dict
          "title" .Title
          "image" .Params.image
          "context" .
        ) -}}

  <div class="document-content">
    {{ partial "toc/container.html"
      (dict
          "toc" "sitemap/toc.html"
          "context" .
      ) }}

    {{ partial "sitemap/summary.html" (dict
      "context" .
      "block_wrapped" true
      ) }}

    {{ partial "blocks/list.html" . }}

    {{ range .Site.Sections }}
      {{ if ne .Type "sitemap" }}
        {{ $permalink := .Permalink }}
        <section class="block block-sitemap" id="{{ .Type }}">
          <div class="container">
            <div class="block-content">
              <h3>
                <a href="{{ $permalink }}">{{ safeHTML .Title }}</a>
              </h3>
              <ul>
                {{ range where .Site.Pages "Section" .Type }}
                  {{ if ne $permalink .Permalink }}
                    <li><a href="{{ .Permalink }}">{{ safeHTML .Title }}</a></li>
                  {{ end }}
                {{ end }}
              </ul>
            </div>
          </div>
        </section>
      {{ end }}
    {{ end }}
  </div>
{{ end }}
