{{ define "main" }}
  {{- $title := or .Params.header_text .Title -}}
  {{- partial "header/hero.html"
        (dict
          "title" $title
          "image" .Params.image
          "context" .
        ) -}}

  <div class="document-content">
    {{ partial "toc/container.html"
      (dict
          "toc" "sitemap/toc.html"
          "context" .
      ) }}

    {{ partial "sitemap/summary.html" (dict
      "context" .
      "block_wrapped" true
      ) }}

    {{ partial "contents/list.html" . }}

    {{ range .Site.Sections }}
      {{ if ne .Type "sitemap" }}
        {{ $permalink := .Permalink }}
        <div class="block block-sitemap" id="{{ .Type }}">
          <div class="container">
            <div class="block-content">
              {{ $isPageRoot := eq .RelPermalink "/pages/"}}
              
              <h2>
                {{ if not $isPageRoot }}<a href="{{ $permalink }}">{{ end }}
                  {{ safeHTML .Title }}
                  {{ if not $isPageRoot }}</a>{{ end }}
              </h2>
              <ul>
                {{ range where .Site.Pages "Section" .Type }}
                  {{ if ne $permalink .Permalink }}
                    <li><a href="{{ .Permalink }}">{{ safeHTML .Title }}</a></li>
                  {{ end }}
                {{ end }}
              </ul>
            </div>
          </div>
        </div>
      {{ end }}
    {{ end }}
  </div>
{{ end }}
