{{ $focusable_figcaption := .focusable_figcaption }}

{{ if .image.id }}
  {{ $sizes := .sizes }}
  {{ $lazy := default true .lazy }}
  {{ $fetch_priority := .fetch_priority }}
  {{ $crop := .crop }}
  {{ $image := partial "GetMedia" .image.id }}
  {{ if $image }}
    {{ $image_class := .image_class | default "" }}
    {{ $image_class = printf "%s image-%s" $image_class (partial "GetImageDirection" .image) }}
    {{ $with_lightbox := .with_lightbox | default (not site.Params.components.lightbox.disabled) }}
    {{ if $with_lightbox }}
      {{ $image_class = printf "%s lightbox-figure" $image_class }}
    {{ end }}

    {{ with .image }}
      {{ partial "commons/image/figure/tag.html" (dict
        "image_class" $image_class
        "text" .text
        "credit" .credit
      ) }}
        {{ $image_tag := partial "commons/image.html" (dict
          "image" .id
          "alt" .alt
          "sizes" $sizes
          "lazy" $lazy
          "crop" $crop
          "fetch_priority" $fetch_priority
        ) }}

        {{ if $with_lightbox }}
          {{ partial "commons/lightbox/button.html" (dict "image" $image_tag "context" .) }}
        {{ else }}
          {{ $image_tag }}
        {{ end }}

        {{ partial "commons/image/figcaption.html" (dict
          "text" .text
          "credit" .credit
          "focusable_figcaption" $focusable_figcaption
        ) }}

      </figure>
    {{ end }}
  {{ end }}
{{ end }}