{{ $focusable_figcaption := .focusable_figcaption }}

{{ if .image.id }}
  {{ $sizes := .sizes }}
  {{ $lazy := .lazy | default true }}
  {{ $fetch_priority := .fetch_priority }}
  {{ $crop := .crop }}
  {{ $image := partial "GetMedia" .image.id }}
  {{ if $image }}
    {{ $with_lightbox := .with_lightbox | default (not site.Params.components.lightbox.disabled) }}
    {{ $image_class := partial "commons/image/helpers/GetClass.html" (dict
      "image" .image
      "image_class" .image_class
      "with_lightbox" $with_lightbox
    ) }}

    {{ with .image }}
      {{ $attributes := partial "commons/image/figure/attributes.html" (dict
        "image_class" $image_class
        "text" .text
        "credit" .credit
      ) }}
      <figure {{ $attributes | safeHTMLAttr }}>
        {{ $image_tag := partial "commons/image.html" (dict
          "image" .id
          "alt" .alt
          "sizes" $sizes
          "lazy" $lazy
          "crop" $crop
          "fetch_priority" $fetch_priority
        ) }}

        {{ if $with_lightbox }}
          {{ partial "commons/lightbox/button.html" (dict "image" $image_tag "context" .) }}
        {{ else }}
          {{ $image_tag }}
        {{ end }}

        {{ partial "commons/image/figcaption.html" (dict
          "text" .text
          "credit" .credit
          "focusable_figcaption" $focusable_figcaption
        ) }}
      </figure>
    {{ end }}
  {{ end }}
{{ end }}