<style>
  .block:has(.block-debug){
    position: relative;
  }
  .block .block-debug {
    font-family: sans-serif;
    font-size: 14px;
    background: black;
    color: white;
    padding: 3px 10px;
    position: absolute;
    right: 0;
    top: 0;
  }
</style>

<script>
  window.addEventListener('keydown', e => {
    if (e.ctrlKey && e.key === 'b') {
      showBlockInfo();
    }
  });
  function showBlockInfo() {
    document.querySelectorAll('.block').forEach(block => {
      const info = document.createElement('div'),
        template = block.getAttribute('class');
      info.classList.add('block-debug');
      block.append(info);
      info.innerHTML = `<p>${String(block.classList).replaceAll('block-', '')}</p>`;
    });
  }
</script>
