.blocks
    .block
        margin-top: $spacing4
        &:first-of-type
            margin-top: 0
        // &-with-title
            // margin-top: $spacing4
        &:last-of-type
            padding-bottom: $spacing4

.block
    // Mobile & full-width
    h2, h3
        @include h2
    // Desktop with sidebar
    @include media-breakpoint-up(desktop)
        @include in-page-without-sidebar
            h2, h3
                @include h5
    .top
        h2, h3
            + .description
                margin-top: $spacing2