.block-chapter
    blockquote
        @extend .blockquote
    p:last-child
        margin-bottom: 0
    .notes
        margin-top: $spacing1
        *
            @extend .small
    picture
        display: block
    figcaption
        @extend .small
        margin-top: 0.5rem
    .block-content
        flex-direction: column
        display: flex
        .chapter
            order: 2
        figure
            margin-bottom: $spacing1
    @include media-breakpoint-up(md)
        @include in-page-with-sidebar
            picture
                margin-top: $spacing1
        @include in-page-without-sidebar
            .block-content
                flex-direction: row
                align-items: center
                .chapter
                    order: 0
                    width: col(7)
                figure
                    width: col(4)
                    margin-left: col-offset(1)
                    margin-bottom: 0
