.block-chapter
    blockquote
        @extend .blockquote
    p:last-child
        margin-bottom: 0
    .notes
        @extend .small
        margin-top: $spacing1
    picture
        display: block
        margin-top: $spacing1
    figcaption
        @extend .small
        margin-top: 0.5rem

    @include media-breakpoint-up(md)
        @include in-page-without-sidebar
            .block-content
                > *
                    width: col(7)
                    padding-right: $grid-gutter
            &--with-image
                .block-content
                    align-items: center
                    > *
                        width: col(6)
