.block-contact
    .top
        @include top-flex
        margin-bottom: 0
        + .informations
            margin-top: $spacing-4

    .informations
        p,
        p + p
            margin-top: 0

    address
        [itemprop="name"]
            @include h4
        a
            &:not(:hover)
                text-decoration-color: transparent
        + ul
            margin-top: $spacing-4
    ul
        @include list-reset
        li
            display: flex
            flex-wrap: wrap
            padding-bottom: $spacing-2
            &:first-of-type
                padding-top: 0
            + li
                padding-top: $spacing-2
                border-top: 1px solid $color-border
            @include media-breakpoint-down(desktop)
                justify-content: end
                flex-wrap: wrap
                span
                    min-width: 50%
                    &:nth-child(n+2)
                        text-align: right
            @include media-breakpoint-up(desktop)
                justify-content: space-between
                span
                    width: 25%
                    &:first-child
                        width: 50%
                span + span
                    text-align: right
    time + time
        @include icon(arrow-right, before)
            display: inline-block
            padding: 0 pxToRem(7) 0 pxToRem(3)

    @include in-page-without-sidebar
        .top
            margin-bottom: $spacing-4
        .informations
            display: flex
            margin-top: 0
            address
                width: columns(4)
                margin-top: 0
            ul
                margin-top: 0
                width: columns(8)
                margin-left: var(--grid-gutter)