.block-definitions
    details
        &:not([open]):hover
            &::after
                border-bottom-color: $block-definition-border-color-hovered
        summary
            @include signature
            display: flex
            justify-content: space-between
            align-items: center
            transition: color 0.3s
            &:hover
                color: $block-definition-color-hovered
        summary,
        p
            font-size: $block-definition-font-size
            @include media-breakpoint-up(desktop)
                font-size: $block-definition-font-size-desktop
        p
            margin-block-start: 0
            margin-block-end: $spacing1
        &::after
            content: ""
            border-bottom: 1px solid $block-definition-border-color
            display: block
            transition: border-color 0.5s
    @include media-breakpoint-up(desktop)
        @include in-page-without-sidebar
            .definitions
                @include grid(2, desktop)
                grid-row-gap: 0 !important

