.block-files
    .files
        @include list-reset
        li
            @include icon-frame(download-2-line, $hoverable: true)
            align-items: start
            display: flex
            position: relative
            flex-wrap: wrap
            &.with-image
                figure
                    flex: 1
                picture
                    margin-bottom: $spacing-2
                    order: -1
                    width: 100%
                    img
                        width: columns(2)
        a
            @include stretched-link(before)
            @include small
            text-decoration: none
            display: block
            &::after
                content: none !important // Remove default icon _blank
    figcaption
        @include meta
        margin-top: $spacing-1

    @include media-breakpoint-down(desktop)
        .files
            li + li
                margin-top: $spacing-3

    @include in-page-with-sidebar
        .files
            @include grid(2, desktop, $spacing-3)

    @include in-page-without-sidebar
        .top
            @include top-flex
        .files
            @include grid(3, desktop, $spacing-3)
