.block-files
    ul
        @include list-reset
        @include grid(1)
        @include in-page-with-sidebar
            @include grid(2, md)
        @include in-page-without-sidebar
            @include grid(3, md)
    a
        @include icon("download", before)
        align-items: center
        display: flex
        text-decoration: none
        &::before
            align-items: center
            border: 1px solid $color-border
            display: flex
            flex-shrink: 0
            font-size: px2rem(18)
            height: px2rem(60)
            justify-content: center
            margin-right: $spacing0
            transition: background 0.3s ease, border 0.3s ease
            width: px2rem(60)
        &::after
            content: none !important // Remove default icon _blank
        &:hover
            &::before
                background-color: $color-border
                border-color: transparent
        span span
            @extend .small