.block-gallery
    figure
        display: block
        margin-bottom: 0
        > a,
        img,
        picture
            display: block
        > a
            transition: filter .3s ease
            &:hover
                // if low opacity means not selected, selected needs to be darker
                filter: brightness(95%)
        img
            height: auto
            width: 100%
        figcaption
            @include small
            position: relative
            p
                margin-bottom: 0
        .credit
            *
                @include meta

    @include in-page-without-sidebar
        .top
            @include grid(2, desktop)
            align-items: baseline

    &--grid
        .gallery
            align-items: baseline
            @include in-page-with-sidebar
                @include flexbox-grid(3, half(var(--grid-gutter)))
            @include in-page-without-sidebar
                @include flexbox-grid(4)
            @include media-breakpoint-down(desktop)
                @include flexbox-grid(2, half(var(--grid-gutter)))
            &--with-text
                @include in-page-without-sidebar
                    @include flexbox-grid(4, half(var(--grid-gutter)), var(--grid-gutter))
                figure
                    display: flex
                    flex-direction: column
                    gap: space(3)
                    figcaption
                        &::after
                            content: ' '
    &--carousel
        overflow: hidden
        position: relative
        z-index: 0
        @include in-page-without-sidebar
            background: $block-gallery-carousel-background
            padding-bottom: var(--grid-gutter)
            padding-top: var(--grid-gutter)
        .block-gallery + &,
        .block-pages--cards + &
            margin-top: 0
        .container
            .top
                padding-right: half(var(--grid-gutter))
                @include media-breakpoint-up(desktop)
                    padding-right: half(var(--grid-gutter))
        .splide
            display: flex
            flex-direction: column
            @include in-page-with-sidebar
                &.is-moving
                    .splide__slide.is-active
                        opacity: 0.1
            &__track
                overflow: visible
                margin-right: half(-var(--grid-gutter))
                @include in-page-with-sidebar
                    .splide__slide
                        transition: opacity  .3s ease
                        opacity: 0.1
                        &.is-next
                            opacity: 0.6
                        &.is-active
                            opacity: 1
                @include media-breakpoint-up(desktop)
                    margin-right: half(-var(--grid-gutter))
            &__slide
                flex-shrink: initial
                &:last-child
                    padding-right: 20%
            figure
                margin-right: half(var(--grid-gutter))
                @include media-breakpoint-down(desktop)
                    display: flex
                    flex-direction: column
                    justify-content: end
                picture
                    img
                        // FIXME Arnaud: I would like images at constant height, can't manage to get it right.
                        max-height: $block-gallery-carousel-max-height
                        width: auto
                        height: auto
                        max-width: calc(100vw - #{var(--grid-gutter)} * 2)
                        @include media-breakpoint-up(desktop)
                            height: $block-gallery-carousel-max-height
                            width: auto
                            max-width: none
                figcaption
                    margin-top: space(3)
                    > * + *
                        margin-top: space(2)

            &__arrows
                margin-left: pxToRem(-18)
                order: 2
                @media (min-height: 800px)
                    padding-top: space(10)
            &__arrow
                &--prev,
                &--next
                    @include button-reset
                    @include icon(arrow-left, before)
                    height: space(12)
                    padding: 0
                    position: static
                    width: space(12)
                    svg
                        display: none
                &--next
                    @include icon(arrow-right, before)

        @include in-page-without-sidebar
            .splide
                figure
                    margin-left: var(--grid-gutter)
                    margin-right: half(-var(--grid-gutter))
                &__slide
                    &:first-child
                        margin-left: var(--grid-gutter)
                &__track
                    margin-left: -var(--grid-gutter)