.block-image
    img
        display: block
        height: auto
        max-width: 100%
    figcaption
        margin-top: $spacing0
        p
            margin-bottom: 0
            margin-top: 0
            + .credit
                margin-top: $spacing0
        .credit
            p
                @extend .meta

    @include media-breakpoint-down(md)
        .container
            padding-left: 0
            padding-right: 0
        figcaption
            padding: 0 calc(#{$grid-gutter-sm} / 2)

    @include in-page-with-sidebar
        @include media-breakpoint-up(md)
            img
                max-height: calc(100vh - var(--header-height))
                width: auto
    @include in-page-without-sidebar
        @include media-breakpoint-up(md)
            figcaption
                align-items: baseline
                display: flex
                justify-content: space-between
                > *
                    max-width: 40%
