.block-key_figures
    ul
        @include grid(4, md)
        @include list-reset
    dl
        margin-bottom: 0
        margin-top: 0
        dt
            white-space: nowrap
            font-size: $block-key_figures-font-size
            strong
                display: inline-block
                font-size: $block-key_figures-number-font-size
            @include media-breakpoint-up(md)
                font-size: $block-key_figures-font-size-md
                strong
                    font-size: $block-key_figures-number-font-size-md
            @include media-breakpoint-up(lg)
                font-size: $block-key_figures-font-size-lg
                strong
                    font-size: $block-key_figures-number-font-size-lg
            @include media-breakpoint-up(xl)
                font-size: $block-key_figures-font-size-xl
                strong
                    font-size: $block-key_figures-number-font-size-xl
            @include media-breakpoint-up(xxl)
                font-size: $block-key_figures-font-size-xxl
                strong
                    font-size: $block-key_figures-number-font-size-xxl
        dd
            margin-bottom: 0
            margin-left: 0
