.block-key_figures
    ul
        // --bs-gutter-y: 3rem
        @include grid(3, md)
        list-style: none
        padding-left: 0
        margin-bottom: 0
        li
            // margin-bottom: 3rem
    dl
        margin-bottom: 0
        dt
            white-space: nowrap
            strong
                display: inline-block
                font-size: $block-key_figures-number-font-size
                // padding-right: map-get($spacers, 1)
        dd
            margin-bottom: 0
            margin-left: 0
