.block-license
    .license a
        display: block
        &::after
            display: none
    @include in-page-without-sidebar
        .block-content
            display: flex
            gap: var(--grid-gutter)
            .top
                width: columns(5)
            .license
                flex: 1