.block-organization_chart
    article
        position: relative
        .name
            @include h4
            a
                @include stretched-link
                text-decoration: none
            + p
                margin-top: half($spacing0)


    @include media-breakpoint-up(desktop)
        @include in-page-with-sidebar
            .persons
                @include grid(1, md)
                @include grid(2, xxl)
            article
                flex-direction: row
                align-items: start
                .avatar
                    margin-right: $spacing1
                    width: calc(#{col(1, 4)} + #{$grid-gutter})
                .description
                    margin-top: $spacing1
                    max-width: 70%
        @include in-page-without-sidebar
            .persons
                @include grid(4, lg)
                @include grid(6, xl)
            article
                text-align: center
                .avatar
                    width: 100%