.block-organizations
    .organization
        .organization-title
            a[target="_blank"]
                @include stretched-link(before)
                @include icon(links-line, after, true)
                    position: relative

    &--map
        position: relative
        .block-content
            display: flex
            flex-direction: column
        .transcription
            order: 2
        // Filters
        .offcanvas
            @include offcanvas
            z-index: $zindex-up-leaflet-map
            ul
                @include list-reset
        .offcanvas-button
            --btn-min-width: 0
            @extend .button 
            @extend .button--small
            position: absolute
            top: space(3)
            right: space(3)
            z-index: $zindex-up-leaflet-map
            @include meta
            @include icon("menu-line", before)
        .map
            height: 600px
            z-index: 1
            > .organization,
            .leaflet-popup-tip-container
                display: none
            .leaflet-popup
                &-content-wrapper
                    border-radius: 0
                    box-shadow: none
                    overflow: hidden
                    padding: 0
                    width: 192px
                    @include media-breakpoint-up(desktop)
                        width: columns(2)
                    .media
                        margin-bottom: 0
                        &:empty
                            display: none
                    .organization-content
                        padding: $spacing-1 $spacing-2
                        width: 100%
                    .organization-title
                        @include meta
                        margin: 0 // Cancel leaflet default style
                        a
                            color: var(--color-text)
                    .organization-summary
                        margin-bottom: 0
                        margin-top: $spacing-1
                    
                &-content
                    margin: 0
                    width: 100%
                    z-index: 2
                a.leaflet-popup-close-button
                    color: var(--color-text)
    &--large
        @include layout-large
        .organization
            .organization-content
                display: flex
                flex-direction: column
                .organization-title
                    @include h2
                    a
                        @include link
                .organization-summary
                    flex: 1
            + .organization
                margin-top: $spacing-4
                @include media-breakpoint-up(md)
                    margin-top: $spacing-3
            .media--logo
                padding: $spacing-5
                @include media-breakpoint-up(md)
                    padding: $spacing-6
            @include in-page-with-or-without-sidebar
                .media
                    margin-bottom: 0

    @include media-breakpoint-down(md)
        details
            ul
                li + li
                    margin-top: $spacing-3
    @include in-page-with-sidebar
        .grid
            @include grid(4, lg)
            &.with-summaries
                @include grid(1, lg)
                @include grid(2, xl)

    @include in-page-without-sidebar
        .top .description
            max-width: columns(8)
        .map
            margin-left: var(--grid-gutter-negative)
            margin-right: var(--grid-gutter-negative)
