.block-organization_chart
    @include media-breakpoint-up(desktop)
        @include in-page-without-sidebar
            .top .description
                max-width: col(8)
    @include in-page-with-sidebar
        .persons
            @include grid(1, sm)
            &:not(.is-column)
                @include grid(2, desktop)
            &.is-column
                @include grid(2, xl)
                @include media-breakpoint-between(desktop, xl)
                    .person
                        justify-content: space-between
                    .avatar
                        margin-right: 0
                        margin-left: $spacing1
                        order: 1
                        width: col(3)
                    .description
                        margin-top: 0
        article
            flex-direction: row
            .avatar
                margin-right: $spacing1
                @include media-breakpoint-up(md)
                    width: calc(#{col(1, 4)} + #{$grid-gutter})
            .description
                margin-top: $spacing1
    @include media-breakpoint-up(sm)
        @include in-page-without-sidebar
            .persons
                @include grid(4, lg)
                @include grid(6, xl)