.block-pages
    .pages
        @include grid(2, md)

    .main-page
        .title
            a::before
                content: none
    &--grid
        .main-page
            margin-bottom: $spacing2
        @include in-page-without-aside
            .pages
                @include grid(3, xl)

    &--list
        .block-content
            @include grid(2, lg)
            align-items: start

        .main-page
            .title
                @extend .h4
                @include media-breakpoint-up(lg)
                    margin-bottom: 0
            p:not(.title)
                @extend .h3
                @include media-breakpoint-up(lg)
                    margin-top: $spacing1

        .pages
            @include grid(1, false, $spacing0)
            margin-top: $spacing2
            @include media-breakpoint-up(lg)
                margin-top: calc(#{$spacing2} + #{$h6-size-md})
            .page
                .title
                    a
                        @include hover-translate-icon(before, 3)
                        text-decoration-color: transparent
                        &:hover
                            text-decoration-color: black
        .page
            > div
                padding: 0

    &--cards
        background-color: $block-pages-card-background
        padding-bottom: $grid-gutter
        padding-top: $grid-gutter
        .pages
            @include grid(3, md)
            margin-top: $spacing2
            .page
                aspect-ratio: 0.887
                background-color: $block-pages-card-page-background
                transition: background 0.3s, color 0.3s
                &,
                a
                    color: $block-pages-card-page-color
                .more
                    @include link($block-pages-card-page-color)
                    @extend .small
                    text-decoration-color: $block-pages-card-page-color
                    text-decoration-line: underline
                    text-decoration-thickness: 1px
                    text-underline-offset: 3px
                a,
                .more
                    transition: text-decoration-color .3s ease, color .3s ease
                > div:first-child
                    display: flex
                    flex-direction: column
                .title
                    a
                        text-decoration: none
                    + p:not(.more)
                        margin-bottom: 1rem
                &:hover
                    background-color: $block-pages-card-page-background-hover
                    &,
                    a,
                    .more
                        color: $block-pages-card-page-color-hover
                    .more
                        text-decoration-color: $block-pages-card-page-color-hover
                > div:first-of-type
                    padding: $spacing1
        .page
            .title
                a::before
                    content: none
