.block-pages
    .top
        a
            @include icon(arrow-right-line, after, true)
            @include hover-translate-icon
            text-decoration: none

    @include media-breakpoint-up(desktop)
        .top
            margin-bottom: $spacing-4

    @include media-breakpoint-down(desktop)
        .top
            .block-title
                @include h5
            .description
                @include h2

    @include in-page-without-sidebar
        .top
            @include top-flex
            .description
                @include h2

    &--grid
        .grid
            .page-title a
                @include icon(arrow-right-line, after, true)
                @include hover-translate-icon(after)

    &--cards
        background-color: $block-pages-card-background
        padding-bottom: var(--grid-gutter)
        padding-top: var(--grid-gutter)
        .pages
            @include layout-cards($block-pages-card-page-background, $block-pages-card-page-background-hover, $block-pages-card-page-color, $block-pages-card-page-color-hover)
        *:not(.heading) + &
            margin-top: 0
        .blocks &:last-of-type
            margin-bottom: 0
        // // TODO: move this //
        .block-gallery + &,
        .block-pages--cards + &
            margin-top: 0

    &--list
        .page-title
            a
                @include icon(arrow-right-line, after, true)
                @include hover-translate-icon(after)
                @extend %underline-on-hover
        .list.title-only
            > a
                @include icon(arrow-right-line, before, true)
                    padding-right: $spacing-2
                @include hover-translate-icon(before, 5)
                @extend %underline-on-hover
        .list:not(.title-only)
            @include layout-list
            margin-top: var(--grid-gutter)
            > li
                border-bottom: none
                padding: 0
                margin-bottom: var(--grid-gutter)
                .page
                    .page-title
                        @include h3
            @include media-breakpoint-down(desktop)
                article
                    gap: $spacing-1
                    .media
                        width: auto
            @include media-breakpoint-up(desktop)
                article
                    flex-direction: row
                    .media
                        flex-shrink: 0
                        margin-bottom: 0
        @include in-page-with-sidebar
            .block-content
                .top
                    margin-bottom: $spacing-3
            .list.title-only
                @include grid(2, desktop, $spacing-2)
                display: flex
                li
                    margin-top: 0
                    a
                        @include meta
            article
                gap: var(--grid-gutter)
                .media
                    width: columns(2)
                .page-content
                    width: columns(6)

        @include in-page-without-sidebar
            .top
                .block-title + .description
                    margin-left: 0
                .description
                    width: auto
                    p
                        @include h2
            article.page
                .media
                    width: columns(2)
                .page-content
                    width: columns(4)
            &:not(.with-description)
                .list.title-only
                    @include grid(4, desktop, $spacing-1)
                    grid-column: 1 / 13
                    .page
                        margin-top: 0
                .list:not(.title-only)
                    @include grid(2, desktop)
                    .page + .page
                        margin-top: 0
            &.with-description
                .block-content
                    @include grid(12, desktop, $spacing-4)
                    .top
                        align-items: initial
                        grid-column: 1 / 8
                        margin-bottom: 0
                        display: grid
                        grid-template-rows: subgrid
                        grid-row: span 2
                        .block-title
                            width: auto
                        .description
                            @include body-text
                            margin-top: 0
                    // If page description
                    .top + .list
                        grid-column: 9 / 13
                        grid-row: 2
                        display: block
                        .page + .page
                            // margin-top: $spacing-2
                            article
                                margin-top: $spacing-5
                &.with-images
                    .top
                        grid-column: 1 / 7
                    .top + .list
                        grid-column: 7 / 13

    &--alternate
        .alternate
            @include layout-alternate

    &--large
        .page
            position: relative
            + .page
                margin-top: $spacing-5
            &:hover .more:after
                transform: translateX(#{pxToRem(10)})
            .media
                img
                    aspect-ratio: 1
        @include media-breakpoint-up(desktop)
            .page
                flex-direction: row
                gap: var(--grid-gutter)

        @include in-page-with-sidebar
            .page
                &-title
                    @include h2
                    margin-bottom: space(4)
                &-content
                    flex: 1
                .media 
                    flex: 1
        @include in-page-without-sidebar
            .top
                .description
                    @include body-text
            .page
                align-items: center
                &-title
                    @include lead
                    margin-bottom: space(4)
                &-content
                    width: columns(5)
                .media
                    width: columns(6)
