.block-papers
    .papers
        .paper
            @include grid(12, md)
            border-bottom: 1px solid var(--color-border)
            margin-bottom: $spacing-3
            padding-bottom: $spacing-3
            &-content
                grid-column: 1/8
            &-meta *
                display: inline
            &-authors
                grid-column: 8/12