.block-partners
    @include media-breakpoint-up(desktop)
        @include in-page-without-sidebar
            .top .description
                max-width: col(8)
    @include in-page-with-sidebar
        .grid
            @include grid(2, md)
            @include grid(3, lg)
            @include grid(4, xl)
            grid-column-gap: half($grid-gutter) !important
    .organization
        a[target="_blank"]
            @include stretched-link(before)
            @include icon(link-blank, after, true)
                position: relative

    .map
        height: 600px
        .organization
            display: none