.block-programs
    .programs
        li
            display: block
            a
                @include h3
                @include arrow-right-hover
                display: flex
                justify-content: space-between
                transition: color 0.55s
                padding-right: $spacing2
                &:hover
                    color: $color-accent
                @include in-page-without-sidebar
                    @include h2

    .programs-grid
        @include grid(2, xl)
        @include in-page-without-sidebar
            @include grid(2, desktop)
            @include grid(3, xl)
        article
            display: flex
            flex-direction: column
            justify-content: space-between
            height: 100%
            .title 
                 @include h3
            div 
                a
                    @include meta
                    @include btn
                    text-decoration-color: rgba($block-call-to-action-color, .3)
                    display: inline-block
                    background: $block-call-to-action-button-background
                    color: $block-call-to-action-button-color
                    transition: background .3s ease, color .3s ease
                    &:hover,
                    &:focus-visible,
                    &:focus
                        background: $block-call-to-action-button-hover-background
                        color: $block-call-to-action-button-hover-color
                    @include in-page-without-sidebar
                        margin-top: $spacing1
                p
                    @include in-page-without-sidebar
                        margin-top: $spacing3           