.block-programs
    .programs
        li
            display: block
            a
                @include h3
                @include arrow-right-hover
                display: flex
                justify-content: space-between
                transition: color 0.55s
                padding-right: $spacing-4
                &:hover
                    color: var(--color-accent)

    @include in-page-without-sidebar
        .programs
            li
                a
                    @include h2

    .programs-grid
        align-items: start
        @include grid(2, xl)
        @include in-page-without-sidebar
            @include grid(2, desktop)
            @include grid(3, xl)
        article
            display: flex
            flex-direction: column
            margin-bottom: $spacing-5
            @include media-breakpoint-up(xl)
                margin-bottom: 0
            @include in-page-without-sidebar 
                margin-bottom: 0

            .program-content
                order: 2
                &-title
                    margin-bottom: $spacing-2
                    @include media-breakpoint-up(desktop)
                        margin-bottom: 0

                &-details 
                    a
                        text-decoration: none               
                        .more
                            @include icon(arrow-right, after, true)
                            margin-top: $spacing-2

            .media
                order: 1
                margin-bottom: $spacing-2