.block-programs
    article
        position: relative
    &--list
        .programs
            li
                align-items: start
                gap: var(--grid-gutter)
                .program-diploma
                    @include meta
                    display: block
                    margin-bottom: $spacing-1
                a.title
                    @include h3
                    @include hover-translate-icon($fade: true)
                    @include stretched-link(before)
                    @include icon(arrow-right-line, after, true)
                        display: inline
                    transition: color 0.55s
                    padding-right: $spacing-4
                    &:hover
                        color: var(--color-accent)
                @include media-breakpoint-down(desktop)
                    display: flex
                    flex-direction: column-reverse
                    gap: $spacing-2
                @include media-breakpoint-up(desktop)
                    .program-content
                        max-width: columns(9)
                    .media
                        flex-shrink: 0
                        width: columns(2)

        @include in-page-without-sidebar
            .programs li a
                @include h2

    &--grid
        .programs-grid
            align-items: start
            @include grid(1, false, $spacing-5)
            @include grid(2, xl)
            article
                display: flex
                flex-direction: column
                .program-content
                    order: 2
                    &:hover
                        .more:after
                            transform: translateX($spacing-1)
                [itemprop='name']
                    margin-bottom: $spacing-1
                a.title
                    @include stretched-link
                    text-decoration: none
                .more
                    @include icon(arrow-right-line, after, true)
                    @include hover-translate-icon
                .media
                    order: 1
                    margin-bottom: $spacing-3
                    img
                        aspect-ratio: $block-programs-aspect-ratio
                        display: block
                        object-fit: cover
            @include in-page-without-sidebar
                @include grid(2)
                @include grid(3, xl)

