.block-projects
    .top
        .block-title
            a
                @include hover-translate-icon
                @include icon(arrow-right-line, after)
    &--list
        .project
            align-items: flex-start
            border-bottom: 1px solid var(--color-border)
            display: flex
            padding-bottom: $spacing-3
            padding-top: $spacing-3
            text-decoration: none
            @include media-breakpoint-up(md)
                flex-direction: row
                gap: var(--grid-gutter)
                .project-content
                    flex: 1
                    order: -1
            .media
                margin-bottom: 0
                @include in-page-with-sidebar
                    width: columns(2)
                @include in-page-without-sidebar
                    width: columns(4)
        .project-title
            a
                @include hover-translate-icon
                @include icon(arrow-right-line, after)
            &:hover
                &,
                a
                    color: $color-accent
                    &::after
                        opacity: 1
        .project-title,
        .project-subtitle
            @include h3
            @include in-page-without-sidebar
                @include h2
        .project-meta
            time
                display: inline
                + .project-categories
                    margin-left: $spacing-2
            .project-categories
                display: inline-flex
                row-gap: space(3)
    .grid
        @include grid(2, md)
        .project
            &-content
                align-items: baseline
            &-subtitle
                @include h3
        @include media-breakpoint-down(md)
            .project + .project
                margin-top: $spacing-4

    // Move this part to blocks/categories when categories block is ready
    .categories--grid
        @include list-reset
        display: flex
        flex-direction: column
        row-gap: $spacing-3
        li
            background: var(--color-background-alt)
            padding: $spacing-3
            position: relative
            a
                @include h3
                font-weight: bold
                text-decoration: none
                @include stretched-link
            p
                display: block
        @include in-page-with-sidebar
            @include grid(2)
        @include in-page-without-sidebar
            @include grid(3, md)
            @include grid(4, xxl)
    &--alternate
        .alternate
            .project-subtitle
                @include h3
            @include media-breakpoint-down(desktop)
                .project + .project
                    margin-top: $spacing-4
            @include media-breakpoint-up(desktop)
                article
                    + article
                        margin-top: $spacing-6
                    &:nth-child(odd)
                        margin-left: auto
            @include in-page-with-sidebar
                article
                    width: columns(5)
            @include in-page-without-sidebar
                .top
                    .description
                        @include body-text
                article
                    width: columns(7)

    .large
        .project
            .project-meta
                line-height: $body-size
                margin-bottom: $spacing-2
                margin-top: $spacing-2
                time
                    + .project-categories::before
                        content: ' — '
            time,
            ul.project-categories
                align-self: baseline
                display: inline
            .project-categories
                li 
                    display: inline
            + .project
                margin-top: $spacing-4
            .more
                @include icon(arrow-right-line, after)
                    margin-left: $spacing-1
                    transition: transform 0.55s $arrow-ease-transition
            &:hover 
                .more::after
                    transform: translateX(5px)
        @include media-breakpoint-up(desktop)
            .project
                align-items: flex-end
                flex-direction: row
                gap: var(--grid-gutter)
                .media
                    margin-bottom: 0
        @include media-breakpoint-down(desktop)
            .media
                margin-left: var(--grid-gutter-negative)
                margin-right: var(--grid-gutter-negative)
        @include in-page-with-sidebar
            .project
                &-title,
                &-subtitle
                    @include h2
                    margin-bottom: $spacing-1
                &-content
                    flex: 1
                .media 
                    flex: 1
        @include in-page-without-sidebar
            .project
                &-title,
                &-subtitle
                    @include lead
                    margin-bottom: space(4)
                &-content
                    width: columns(5)
                .media
                    width: columns(7)