.block-timeline
    &--vertical
        .timeline-events
            position: relative
        .timeline-event
            position: relative
            &::before
                background: var(--color-text)
                border-radius: 50%
                content: ""
                height: 9px
                left: -$spacing-3
                margin-top: 0.5em
                position: absolute
                width: 9px
                margin-left: -4px
            &::after
                background: var(--color-text)
                bottom: -0.5em
                content: ""
                left: -$spacing-3
                position: absolute
                top: 0.5em
                width: 1px
            &:last-child
                &::after
                    display: none
            &:not(:last-child)
                padding-bottom: $spacing-4
            .title
                @include h4
                + [itemprop="text"]
                    margin-top: $spacing-2

        @include media-breakpoint-down(desktop)
            .timeline-event
                padding-left: $spacing-3
                &::after, &::before
                    left: 0

        @include in-page-without-sidebar
            .timeline-events
                padding-left: 0
            .timeline-event
                display: flex
                align-items: baseline
                &::before, &::after
                    left: columns(3)
                    margin-left: calc(var(--grid-gutter) / 2)
                &::before
                    transform: translateX(-4px)
                .title
                    width: columns(3)
                    text-align: right
                    + [itemprop="text"]
                        margin-top: 0
                [itemprop="text"]
                    padding-left: var(--grid-gutter)
                    width: columns(7)
                    &:first-child
                        margin-left: columns(3)

    &--horizontal
        --min-title-height: 0px
        background: $block-timeline-horizontal-background
        color: $block-timeline-horizontal-color
        padding-bottom: var(--block-space-y)
        padding-top: var(--block-space-y)
        overflow: hidden
        &::before
            display: none
        ol
            list-style: none
        .timeline-event
            width: columns(3)
            margin-right: var(--grid-gutter)
            .title
                @include body-text
                font-weight: normal
                min-height: var(--min-title-height)
                padding-bottom: $spacing-3
            [itemprop="text"]
                @include small
            .line
                background: $block-timeline-horizontal-color
                height: 1px
                margin-bottom: $spacing-3
                opacity: 1
                overflow: visible
                width: calc(100% + var(--grid-gutter) / 2)
                &::before
                    background: $block-timeline-horizontal-color
                    border-radius: 50%
                    content: ""
                    display: block
                    height: 9px
                    margin-left: -4px
                    position: relative
                    top: -4px
                    width: 9px
            &:last-child
                .line
                    background: transparent

        @include media-breakpoint-up(desktop)
            .timeline-event
                .line
                    width: calc(100% + var(--grid-gutter))

        @include media-breakpoint-down(desktop)
            .timeline-event
                width: columns(11)
                .line
                    width: calc(100% + var(--grid-gutter))
                    &::before
                        height: 8px
                        width: 8px
            .slider-slide.is-previous
                opacity: 1

        @include in-page-with-or-without-sidebar
            .block-title
                @include h5