.block-timeline
    &--vertical
        .timeline-events
            position: relative
        .timeline-event
            position: relative
            &:not(:last-child)
                padding-bottom: $spacing-4
            &::before
                background: var(--color-text)
                border-radius: 50%
                content: ""
                height: 9px
                left: -$spacing-3
                margin-top: 0.5em
                position: absolute
                width: 9px
                margin-left: -4px
            &::after
                background: var(--color-text)
                bottom: -0.5em
                content: ""
                left: -$spacing-3
                position: absolute
                top: 0.5em
                width: 1px
            p:last-child
                margin-bottom: 0
            &:last-child::after
                display: none
            .title
                @include h4
                + p
                    margin-top: $spacing-2

        @include media-breakpoint-down(desktop)
            .timeline-event
                padding-left: $spacing-3
                &::after, &::before
                    left: 0

        @include in-page-without-sidebar
            .timeline-events
                padding-left: 0
            .timeline-event
                display: flex
                &::before, &::after
                    left: columns(3)
                    margin-left: calc(var(--grid-gutter) / 2)
                &::before
                    transform: translateX(-4px)
                .title
                    width: columns(3)
                    text-align: right
                    + p
                        margin-top: 0
                p
                    padding-left: var(--grid-gutter)
                    width: columns(7)
                    &:first-child
                        margin-left: columns(3)

    &--horizontal
        --min-title-height: 0px
        background: $block-timeline-horizontal-background
        color: $block-timeline-horizontal-color
        overflow: hidden
        padding-bottom: var(--block-space-y)
        padding-top: var(--block-space-y)
        &::before
            display: none
        .timeline
            &:hover
                cursor: grab
            &.is-grabbing
                cursor: grabbing
            
        .timeline-arrows
            display: flex
            padding-left: calc(var(--grid-gutter) / 2)
            > button
                @include button-reset
                background: none
                border: none
                color: $block-timeline-horizontal-color
                cursor: pointer
                &:first-child
                    @include icon-block(arrow-previous, before)
                    margin-left: $icon-arrow-previous-margin-left
                &:last-child
                    @include icon-block(arrow-next, before)
                &:disabled
                    cursor: default
                    opacity: 0.3
        .timeline-events
            margin-left: calc(var(--grid-gutter-negative) / 2)
            margin-right: calc(var(--grid-gutter-negative) / 2)
            ol
                display: flex
                flex-flow: row nowrap
                list-style: none
                padding-left: 0
                margin-top: $spacing-2
                transition: margin 0.4s ease-in-out
                width: 100%
        .timeline-event
            flex: none
            padding: 0 calc(var(--grid-gutter) / 2)
            scroll-snap-align: start
            transition: 0.3s opacity
            width: 50%
            .title
                display: block
                min-height: var(--min-title-height)
                padding-bottom: $spacing-3
                @include signature
            .description
                @include small
            .line
                background: $block-timeline-horizontal-color
                height: 1px
                margin-bottom: $spacing-3
                opacity: 1
                overflow: visible
                width: calc(100% + var(--grid-gutter) / 2)
                &::before
                    background: $block-timeline-horizontal-color
                    border-radius: 50%
                    content: ""
                    display: block
                    height: 9px
                    margin-left: -4px
                    position: relative
                    top: -4px
                    width: 9px
            &.is-passed
                opacity: 0.15
            &:last-child
                .line
                    background: transparent

        @include media-breakpoint-up(desktop)
            .timeline-event
                .line
                    width: calc(100% + var(--grid-gutter))

        @include media-breakpoint-down(desktop)
            .timeline-events
                position: relative
            .timeline-arrows
                left: 0
                position: absolute
                top: calc(#{$spacing-2} + var(--min-title-height))
            .timeline-event
                padding-right: 0
                width: 75%
                .line
                    margin-bottom: $spacing-5

        @include in-page-without-sidebar
            @include media-breakpoint-up(xxl)
                .timeline-event
                    width: 25%

        @include in-page-with-or-without-sidebar
            .block-title
                @include h5
