.block-video
    .video
        @include aspect-ratio(16/9, 'iframe')
        iframe
            background: black
    @include in-page-without-sidebar
        .transcription
            width: col(7)
            margin-left: auto
    @include media-breakpoint-down(md)
        .video
            margin-left: calc(-#{$grid-gutter-sm} / 2)
            margin-right: calc(-#{$grid-gutter-sm} / 2)
    .video + p
        margin-top: $spacing0