{{ $path := .path | default "" }}
{{ $page := site.GetPage $path }}
{{ $summary := .summary }}
{{ $text := "" }}

{{ if and $page $summary.active }}
  {{ if eq $summary.source "Summary" }}
    {{ $text = $page.Params.Summary }}
  {{ else if eq $summary.source "meta_description" }}
    {{ with index $page.Params "meta_description" }}
      {{ $text = printf "<p>%s</p>" . }}
    {{ end }}
  {{ end }}
  {{ if $text }}
    {{ $text = partial "GetTruncatedText" (dict
      "text" $text
      "length" $summary.truncate
    ) }}
  {{ end }}
{{ end }}

{{ return $text }}