.block
    margin-bottom: 10mm
    &-chapter
        line-height: 160%
    &-gallery
        .credit
            *
                font-size: 8pt
        &__image
            break-before: page
        img
            width: 100%
            max-height: 230mm
            object-fit: contain
            object-position: left
    &-testimonials
        blockquote
            margin: 0
            p
                font-style: italic
                font-size: 20pt
        figcaption
            .signature
                display: block
            .meta
                font-size: 10pt
    &-title
        break-before: left