.cover
    page: cover
    hgroup
        margin-top: 50mm
        margin-bottom: 1cm
        h1
            font-size: 40pt
            line-height: 100%
        .subtitle
            color: $color-text-alt
            margin-top: 5mm
            @include h2
    img
        max-width: 100%
    &--with-image
        hgroup
            margin-top: 10mm !important
    &__image
        max-height: 15cm

.cover,
.back
    .website
        margin-top: 10mm
        *
            margin: 0
            font-size: 8px

.back
    page: back
    break-before: left
    h1
        margin-top: 8cm
        margin-bottom: 5mm
