@page
    size: A4 portrait
    margin-bottom: 20mm
    margin-left: 25mm
    margin-right: 25mm
    margin-top: 20mm
@page:left
    @top-left
        content: string(title)
        font-size: 8px
    @bottom-left
        content: counter(page)
        font-size: 8px
@page:right
    @top-right
        content: string(title)
        font-size: 8px
    @bottom-right
        content: counter(page)
        font-size: 8px
@page:blank
    @bottom-left
        content: none
    @bottom-right
        content: none

@page cover
    @top-right
        content: none
    @bottom-right
        content: none
@page back
    @bottom-right
        content: none
    @bottom-left
        content: none

section
    break-before: right
