body, p, li, a, th, td, span
    font-family: $body-font-family

h1, h2, h3, h4, h5, h6
    font-family: $heading-font-family
    font-weight: normal

h1
    font-size: 28pt
    font-weight: normal
    string-set: title content(text)
h2
    font-size: 16pt
    font-weight: normal
p
    font-size: 11pt
    line-height: 160%
