{{ $options := .context.options }}
{{ $heading_level := .context.heading_level | default 3 }}
{{ $image_class := "" }}

{{ with .page }}
  {{ if .Params.image }}
    {{ $image_class = printf (partial "GetImageDirection" .Params.image) }}
  {{ else }}
    {{ $image_class = "" }}
  {{ end }}

  <article class="page {{ $image_class }} {{- if (not (isset .Params "image")) -}} without-image {{- end -}}">
    {{ partial "pages/list/components/title.html" (dict 
        "page" .
        "heading_level" $heading_level
      )}}

    {{ if $options.summary }}
      {{ partial "pages/list/components/summary.html" . }}
    {{ end }}

    {{ if site.Params.blocks.pages.alternate.more }}
      {{ partial "pages/list/components/more.html" . }}
    {{ end }}

    {{ if $options.image }}
      {{- partial "pages/list/components/media.html" (dict "image" .Params.image) -}}
    {{ end }}
  </article>
{{ end }}