{{ $is_extendable := site.Params.breadcrumb.extendable }}

{{ if .Params.breadcrumbs }}
  <nav class="breadcrumb-nav {{ if $is_extendable }} breadcrumb-nav--extendable{{ end }}" aria-label="{{ i18n "commons.breadcrumb.title" }}">

    {{ if $is_extendable }}
      <button class="link" aria-controls="breadcrumb" aria-expanded="false" type="button">
        {{ i18n "commons.breadcrumb.show" }}
      </button>
    {{ end }}

    <ol id="breadcrumb"
        itemscope itemtype="https://schema.org/BreadcrumbList" 
        class="breadcrumb {{ if $is_extendable }}extendable{{ end }}"
        {{ if $is_extendable }} data-extendable-focus-first="true" {{ end }}
        >
      {{ partial "header/breadcrumbs/core.html" . }}
    </ol>
  </nav>
{{ end }}