{{ $class := partial "header/hero/helpers/GetClass" . }}
<header class="{{ $class }}">
  {{- partial "hooks/after-hero-start" . -}}
  <div class="container">
    {{ partial "header/hero/breadcrumbs/start.html" . }}
    {{ partial "header/hero/content.html" . }}
    {{ partial "hooks/before-hero-content-end.html" .context }}
  </div>
  {{ if .hero_complement }}
    {{ .hero_complement }}
  {{ end }}
  {{ partial "header/hero/breadcrumbs/end.html" . }}
</header>
{{ partial "header/hero/breadcrumbs/after.html" . }}