{{ $name := .Title }}
{{ $with_labels := partial "commons/single/meta/helpers/WithLabels" . }}
{{ with .Params.contact_details }}
  {{ if or .websites .social_networks .emails .phone_numbers .phone_professional }}
    {{ partial "commons/contact-details/links.html" (dict
      "context" .
      "name" $name
      "with_labels" $with_labels
    ) }}
  {{ end }}
  {{ if .postal_address }}
    {{ partial "commons/contact-details/address.html" (dict
      "postal_address" .postal_address
      "with_labels" $with_labels
    ) }}
  {{ end }}
{{ end }}