{{ $morning := or .time_slot_morning.from .time_slot_morning.to }}
{{ $afternoon := or .time_slot_afternoon.from .time_slot_afternoon.to }}
{{ if or $morning $afternoon }}
  <li>
    <span>{{ .title }}</span>
    {{ if $morning }}
    <span class="schedule-table__morning">
      {{ if .time_slot_morning.from }}
        <time datetime="{{ .time_slot_morning.from }}">{{ .time_slot_morning.from }}</time>
      {{ end }}
      {{ if .time_slot_morning.to }}
        <time datetime="{{ .time_slot_morning.to }}">{{ .time_slot_morning.to }}</time>
      {{ end }}
    </span>
    {{ end }}
    {{ if $afternoon }}
    <span class="schedule-table__afternoon">
      {{ if .time_slot_afternoon.from }}
        <time datetime="{{ .time_slot_afternoon.from }}">{{ .time_slot_afternoon.from }}</time>
      {{ end }}
      {{ if .time_slot_afternoon.to }}
        <time datetime="{{ .time_slot_afternoon.to }}">{{ .time_slot_afternoon.to }}</time>
      {{ end }}
    </span>
    {{ end }}
  </li>
{{ end }}