<div class="document-content programs-index">
  {{ partial "toc/container.html"
    (dict
          "toc" "toc/default.html"
          "context" .
      )
    }}
  {{ partial "programs/single/summary.html" (dict
      "with_container" true
      "context" .
    ) }}
  {{ partial "contents/list.html" . }}
  <div class="container">
    {{ partial "diplomas/section/diplomas-select.html" . }}
    {{/* Toutes les formations... */}}
    {{ $programs := where .Site.Pages "Section" "programs" }}
    {{/* mais pas l'accueil des formations... */}}
    {{ $programs = where $programs "Permalink" "!=" .FirstSection.Permalink }}
    {{/* et pas non plus les pages enfants (parcours) */}}
    {{ $programs = where $programs "Params.parent" "eq" nil }}
    <ol class="programs">
      {{- range $programs -}}
        {{ partial "programs/partials/program.html" (dict 
            "program" .
            "heading" "h2"
            "options" site.Params.programs.index.options
          )}}
      {{- end -}}
    </ol>
  </div>
</div>
