{{ if .Site.Taxonomies.diplomas }}
  <div class="diplomas-select">
    <button type="button" id="diplomasButton" aria-expanded="false" aria-controls="diplomas-select">
      {{- i18n "diplomas.type" -}}
    </button>
    <ul class="dropdown-menu extendable" aria-labelledby="diplomasButton" id="diplomas-select">
      {{ range $name, $taxonomy := .Site.Taxonomies.diplomas }}
        {{- with site.GetPage (printf "/diplomas/%s" $name) }}
          <li>
            <a href="{{ .Permalink }}">
              {{- partial "PrepareHTML" .Title -}}
              {{ if .Params.short_name }}
                ({{ partial "PrepareHTML" .Params.short_name }})
              {{ end }}
            </a>
          </li>
        {{ end -}}
      {{ end }}
    </ul>
  </div>
{{ end }}
