{{ $person_name := .Title }}

{{ with .Params.contact_details }}
  {{ if or .website .linkedin .twitter .email .phone }}
    <div class="contacts-details contacts-details--person">
      {{ if or .website .linkedin .twitter .email .phone }}
        <ul>
          {{ with .website }}
            <li>
              <span>{{ i18n "commons.contact.website" }}</span>
              <a href="{{ chomp .value }}" target="_blank" rel="noopener" itemprop="url" title="{{ safeHTML (i18n "commons.contact.socials.label.social_media" (dict "name" $person_name )) }}">
                {{ chomp .label }}
                <span class="sr-only"> - {{ safeHTML (i18n "commons.link.blank") }}</span>
              </a>
            </li>
          {{ end }}

          {{ with .linkedin }}
            <li>
              <span>LinkedIn</span>
              <a href="{{ chomp .value }}" target="_blank" rel="noopener" itemprop="url" title="{{ safeHTML (i18n "commons.contact.socials.label.social_media" (dict "media" "LinkedIn" "name" $person_name )) }}">
                {{ chomp .label }}
                <span class="sr-only"> - {{ safeHTML (i18n "commons.link.blank") }}</span>
              </a>
            </li>
          {{ end }}

          {{ with .mastodon }}
            <li>
              <span>Mastodon</span>
              <a href="{{ chomp .value }}" target="_blank" rel="noopener" itemprop="url" title="{{ safeHTML (i18n "commons.contact.socials.label.social_media" (dict "media" "Mastodon" "name" $person_name )) }}">
                {{ chomp .label }}
                <span class="sr-only"> - {{ safeHTML (i18n "commons.link.blank") }}</span>
              </a>
            </li>
          {{ end }}

          {{ with .twitter }}
            <li>
              <span>X (ex-Twitter)</span>
              <a href="{{ chomp .value }}" target="_blank" rel="noopener" itemprop="url" {{ safeHTML (i18n "commons.contact.socials.label.social_media" (dict "media" "X (ex-Twitter)" "name" $person_name )) }}>
                {{ chomp .label }}
                <span class="sr-only"> - {{ safeHTML (i18n "commons.link.blank") }}</span>
              </a>
            </li>
          {{ end }}

          {{ with .email }}
            <li>
              <span>{{ i18n "commons.contact.email.label" }}</span>
              <a href="{{ chomp .value }}" itemprop="email" title='{{ safeHTML (i18n "commons.contact.email.a11y_label" (dict "email" .label )) }}'>
                {{ chomp .label }}
                <span class="sr-only"> - {{ safeHTML (i18n "commons.link.blank") }}</span>
              </a>
            </li>
          {{ end }}

          {{ with .phone }}
            <li>
              <span>{{ i18n "commons.contact.phone.label" }}</span>
              <a href="{{ .value | safeURL }}" itemprop="telephone" title='{{ safeHTML (i18n "commons.contact.phone.a11y_label" (dict "phone_number" .label )) }}'>{{ .label }}</a>
            </li>
          {{ end }}

          {{ with .phone_professional }}
            <li>
              <span>{{ i18n "commons.contact.phone_professional.label" }}</span>
              <a href="{{ .value | safeURL }}" itemprop="telephone" title='{{ safeHTML (i18n "commons.contact.phone_professional.a11y_label" (dict "phone_number" .label )) }}'>{{ .label }}</a>
            </li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
  {{ end }}
{{ end }}
