<ul class="contacts-list">
  {{ if .Params.linkedin }}
    <li>
      <span>Linkedin</span>
      <a href="{{ .Params.linkedin }}" target="_blank" rel="noopener" itemprop="url">
        {{ .Params.linkedin }}
        <span class="sr-only"> - {{ safeHTML (i18n "commons.link.blank") }}</span>
      </a>
    </li>
  {{ end }}

  {{ if .Params.twitter }}
    <li>
      <span>Twitter</span>
      <a href="https://twitter.com/{{ .Params.twitter }}" target="_blank" rel="noopener" itemprop="url">
        {{ .Params.twitter }}
        <span class="sr-only"> - {{ safeHTML (i18n "commons.link.blank") }}</span>
      </a>
    </li>
  {{ end }}

  {{ if .Params.website }}
    <li>
      <span>{{ i18n "commons.contact.website" }}</span>
      <a href="{{ .Params.website }}" target="_blank" rel="noopener" itemprop="url">
        {{ .Params.website }}
        <span class="sr-only"> - {{ safeHTML (i18n "commons.link.blank") }}</span>
      </a>
    </li>
  {{ end }}

  {{ if .Params.email }}
    <li>
      <span>{{ i18n "commons.contact.email" }}</span>
      <a href="mailto:{{ .Params.email }}" itemprop="email">
        {{ .Params.email }}
        <span class="sr-only"> - {{ safeHTML (i18n "commons.link.blank") }}</span>
      </a>
    </li>
  {{ end }}

  {{ if .Params.phone }}
    <li>
      <span>{{ i18n "commons.contact.phone" }}</span>
      <a href="tel:{{ .Params.phone }}" itemprop="telephone">
        {{ .Params.phone }}
        <span class="sr-only"> - {{ safeHTML (i18n "commons.link.blank") }}</span>
      </a>
    </li>
  {{ end }}
</ul>
