{{- $title := or .Params.header_text .Title -}}

{{/*  LEGACY : à retirer une fois que le format de donnée des images des personnes sera homogène aux autres images  */}}
{{- $image := "" -}}
{{ with .Params.image }}
  {{ if eq (printf "%T" .) "string" }}
    {{ $image = dict "id" . }}
  {{ else }}
    {{ $image = . }}
  {{ end }}
{{ end }}

{{- partial "header/hero.html"
      (dict
        "title" $title
        "image" $image
        "context" .
        "sizes" site.Params.image_sizes.sections.persons.hero_single
      ) -}}
