<header class="hero">
  <div class="container">
    {{ partial "header/breadcrumbs.html" . }}
    <div class="content">
      <h1>{{ safeHTML (partial "CorrectPunctuation" .Title) }}</h1>
      {{ if .Params.image }}
        <div class="avatar">
          {{ partial "commons/image.html"
                (dict
                  "image"    .Params.image
                  "class"    "img-fluid"
                  "mobile"   "202x202"
                  "tablet"   "192x192"
                  "desktop"  "400x400"
                )}}
        </div>
      {{ end }}
    </div>
  </div>
</header>
