{{ $options := site.Params.persons.index.options }}
{{ $persons := . }}

{{ if eq site.Params.persons.index.layout "list" }}
  <ol class="persons persons--list">
    {{ range $persons }}
      <li itemscope itemtype="https://schema.org/Person">
        <p itemprop="name"><a href="{{ .Permalink }}">{{ partial "PrepareHTML" .Title }}</a></p>
        {{- if and $options.summary (partial "GetTextFromHTML" .Params.summary) }}
          <div itemprop="jobTitle">{{- .Params.summary | safeHTML -}}</div>
        {{ end -}}
      </li>
    {{ end }}
  </ol>
{{ else if eq site.Params.persons.index.layout "grid" }}
  <div class="persons persons--grid">
    {{ range $persons }}
      {{ partial "persons/person.html" (dict "person" .) }}
    {{ end }}
  </div>
{{ end }}
