<article class="person">
  <div class="description">
    {{- $title := partial "PrepareHTML" .Title }}
    <p class="name"><a href="{{ .Permalink }}">{{- $title -}}</a></p>
    {{- if partial "GetTextFromHTML" .Params.summary }}
      <p>{{- .Params.summary | safeHTML -}}</p>
    {{ else if (partial "GetTextFromHTML" .Content) }}
      <p>{{- partial "GetTruncateContent" ( dict "text" .Content ) -}}</p>
    {{ end -}}
  </div>
  <div class="avatar">
    {{- if and .Params.image }}
      {{ partial "commons/image.html"
            (dict
              "alt"      .Title
              "image"    .Params.image
              "sizes"    site.Params.image_sizes.sections.persons.item
            )}}
    {{ end -}}
  </div>
</article>
