<article class="person">
  <div>
    {{- $title := partial "PrepareHTML" .Title }}
    <p class="name"><a href="{{ .Permalink }}">{{- $title -}}</a></p>
    {{- if partial "GetTextFromHTML" .Params.description_short }}
      <p>{{- partial "PrepareHTML" .Params.description_short -}}</p>
    {{ else if (partial "GetTextFromHTML" .Content) }}
      <p>{{- partial "GetTruncateContent"  .Content -}}</p>
    {{ end -}}
  </div>
  <div class="avatar">
    {{- if .Params.image }}
      {{ partial "commons/image.html"
            (dict
              "alt"    .Title
              "image"    .Params.image
              "mobile"   "76x76"
              "tablet"   "76x76"
              "desktop"  "76x76"
            )}}
    {{ end -}}
  </div>
</article>
