{{ $slug := .slug }}
<section class="person-programs">
  <div class="top">
    <h2 class="h5">{{ i18n "persons.programs" }}</h2>
  </div>
  <ol class="programs" itemscope itemtype="https://schema.org/CreativeWork">
    {{ range .programs }}
      <li>
        <p itemscope itemtype="https://schema.org/EducationalOccupationalProgram"><a href="{{ .Permalink }}" itemprop="name">{{ safeHTML .Title }}</a></p>
        <p itemprop="educationalRole">{{ safeHTML (index .Params.teachers_description $slug) }}</p>
      </li>
    {{ end }}
  </ul>
</section>
