{{ $event := .event }}
{{ $layout := .layout | default "list" }}
{{ $heading := .heading | default "h2" }}
{{ $heading_tag := (dict 
    "open" ((printf "<%s itemprop='name' class='event-title'>" $heading) | safeHTML)
    "close" ((printf "</%s>" $heading) | safeHTML)
    ) }}
{{ $index := .index }}
{{ $alternate := .alternate }}
{{ $options := .options }}

{{ with $event }}
  <article class="event {{ if .Params.image }}event--with-image{{ end -}}" itemscope itemtype="https://schema.org/Event">
    <div class="event-content">
      {{- $title := partial "PrepareHTML" .Title -}}
      {{ if and $options.subtitle .Params.subtitle }}
        <hgroup>
      {{ end }}
      {{ $heading_tag.open }}
        <a href="{{ .Permalink }}" title="{{ safeHTML (i18n "commons.more_aria" (dict "Title" $title)) }}">{{ $title }}</a>
      {{ $heading_tag.close }}
      {{ if and $options.subtitle .Params.subtitle }}
          <p class="event-subtitle">{{ partial "PrepareText" .Params.subtitle }}</p>
        </hgroup>
      {{ end }}

      {{ if and $options.dates (or .Params.dates.computed.short .Params.dates.computed.two_lines.short .Params.dates.from.hour .Params.dates.to.hour) }}
        <p class="event-dates" itemprop="startDate" content="{{- if .Params.dates.from.day -}}{{ .Params.dates.from.day }}{{- end -}}{{- if .Params.dates.from.hour -}}T{{ .Params.dates.from.hour }}{{- end -}}">
          <span>
            {{ $date_format := .Params.dates.computed.two_lines.short }}
            {{ if ne $layout "list" }}
              {{ $date_format = .Params.dates.computed.short }}
            {{ end }}
            {{ partial "PrepareHTML" $date_format }}
          </span>
          {{- if (or .Params.dates.from.hour .Params.dates.to.hour) }}
            <div class="event-time">
              {{- if .Params.dates.from.hour }}
                <span>{{ .Params.dates.from.hour }}</span>
              {{ end -}}
              {{- if .Params.dates.to.hour }}
                <span>{{ .Params.dates.to.hour }}</span>
              {{ end -}}
            </div>
          {{ end -}}
        </p>
      {{ end }}
      {{ if and .Params.dates.status $options.status }}
        <p class="event-status">
          {{ if eq .Params.dates.status "current"}}
            {{- i18n "blocks.events.current" -}}
          {{ else if eq .Params.dates.status "future" }}
            {{- i18n "blocks.events.future" -}}
          {{ else if eq .Params.dates.status "archive" }}
            {{- i18n "blocks.events.archive" -}}
          {{ end }}
        </p>
      {{ end }}

      {{ if and $options.summary  .Params.summary }}
        <div class="event-description" itemprop="description">
          {{ partial "GetRichSummary" ( dict 
            "summary" .Params.summary
            "kind" "events"
          )}}
          {{ if eq $layout "large" }}
            <p class="more meta" aria-hidden="true">{{- i18n "commons.more" -}}</p>
          {{ end }}
        </div>
      {{ end }}

      {{ if $options.categories }}
        {{ partial "commons/categories" ( dict
          "context" .
          "kind" "event"
        )}}
      {{- end -}}
    </div>
    <div class="media">
      {{- if and $options.image .Params.image -}}
        {{- partial "commons/image.html"
            (dict
              "image"    .Params.image
              "sizes"    site.Params.image_sizes.sections.events.item
            ) -}}
      {{- else -}}
        {{- partial "commons/image-default.html" "events" -}}
      {{- end -}}
    </div>
  </article>
{{ end }}