{{ $unique_day := eq .Params.dates.from.day .Params.dates.to.day }}
<ul class="event-infos">
  {{ with .Params.dates }}
    {{ if .computed }}
      <li class="event-date" itemprop="startDate" content="{{- if .from.day -}}{{ .from.day }}{{- end -}}{{- if .from.hour -}}T{{ .from.hour }}{{- end -}}">
        <span>{{ i18n "events.date" }}</span>
        {{ partial "PrepareHTML" .computed.two_lines.long }}
      </li>
    {{ end }}
    {{ if .from.hour }}
      <li>
        <span>{{ i18n "events.hour" }}</span>
        {{ with .from.hour }}
          <time datetime="{{ . }}">{{ . }}</time>
        {{ end }}
        {{ with .to.hour }}
          <time datetime="{{ . }}">{{ . }}</time>
        {{ end }}
      </li>
    {{ end }}
  {{ end }}
  {{ if .Params.events_categories }}
    <li>
      <span>{{ i18n "events.category" (dict "Count" ( len .Params.events_categories )) }}</span>
      {{ partial "events/categories.html" . }}
    </li>
  {{ end }}
  <li>
    <span>{{ i18n "events.share" }}</span>
    {{ partial "commons/share.html" . }}
  </li>

  {{ with .Params.dates.add_to_calendar }}
    {{ $links := . }}
    <li class="events-calendar">
      <span>{{ i18n "events.add_to_calendar.title" }}</span>
      {{- $types := slice "ical" "google" "office" "outlook" "yahoo" -}}
      {{- range $types -}}
        {{ $label := i18n (printf "events.add_to_calendar.%s" .) }}
        {{ with index $links . }} 
          <a href="{{ . }}" class="chip">{{ $label }}</a>
        {{- end }}
      {{- end }}
  </li>
  {{- end }}

</ul>
