{{ $unique_day := eq .Params.dates.from.day .Params.dates.to.day }}
<ul class="event-infos">
  {{ with .Params.dates }}
    {{ with .computed }}
      <li class="event-date">
        <span>{{ i18n "events.date" }}</span>
        {{ .long }}
      </li>
    {{ end }}
    <li>
      <span>{{ i18n "events.hour" }}</span>
      {{ with .from }}
        <time datetime="{{ .hour }}">{{ .hour }}</time>
      {{ end }}
      {{ with .to }}
        <time datetime="{{ .hour }}">{{ .hour }}</time>
      {{ end }}
    </li>
  {{ end }}
  <li>
    <span>{{ i18n "posts.share" }}</span>
    {{ partial "commons/share.html" . }}
  </li>
</ul>
