{{ $is_index := eq .File.Path "events/_index.html" }}

{{ partial "events/section/hero.html" . }}
<div class="document-content">
  {{ partial "events/section/summary.html" (dict
      "with_container" true
      "context" .
    ) }}

  {{ if and $is_index site.Params.events.index.highlight_exhibitions.active }}
    {{ $exhibitions := where .Site.RegularPages "Section" "exhibitions" }}
    {{ partial "events/section/exhibitions.html" $exhibitions }}
  {{ end }}

  {{ if not $is_index }}
    {{ partial "events/section/calendar.html" . }}
  {{ end }}

  {{ partial "contents/list.html" . }}

  <div class="container">
    {{ partial "taxonomies/section-list.html" . }}
  </div>

  <div class="container" id="events-agenda">
    {{ $events := .Pages }}

    {{ if $is_index }}
      {{ $events = where site.RegularPages "Section" "eq" "events" }}
      {{ $events = where $events "Params.dates.archive" false }}
    {{ else if .Params.is_year }}
      {{ $events = .RegularPagesRecursive }}
    {{ end }}

    {{ partial "events/partials/events.html" (dict
        "events" $events
        "context" . 
      )}}

    {{ partial "commons/pagination.html" . }}
  </div>

  {{ if $is_index }}
    {{ partial "events/section/archives.html" . }}
  {{ end }}
</div>
