{{ partial "events/section/hero.html" . }}
<div class="document-content">
  {{ partial "events/section/summary.html" (dict
      "with_container" true
      "context" .
    ) }}

  {{ partial "contents/list.html" . }}

  <div class="container">
    {{ partial "taxonomies/section-list.html" . }}
    {{ if site.Params.events.index.highlight_exhibitions.active }}
      {{ partial "events/section/exhibitions.html" . }}
    {{ end }}

    {{ partial "events/partials/events.html" . }}
    {{ partial "commons/pagination.html" . }}
    {{ partial "commons/section/archive-link.html" . }}
  </div>
</div>
