{{ partial "events/section/hero.html" . }}
<div class="document-content">
  {{ partial "events/section/summary.html" (dict
      "with_container" true
      "context" .
    ) }}

  {{ partial "events/section/calendar.html" . }}
  {{ partial "contents/list.html" . }}

  <div class="container">
    {{ partial "taxonomies/section-list.html" . }}
  </div>
  {{ if site.Params.events.index.highlight_exhibitions.active }}
    {{ $exhibitions := where .Site.RegularPages "Section" "exhibitions" }}
    {{ partial "events/section/exhibitions.html" $exhibitions }}
  {{ end }}
  <div class="container">
    {{ partial "events/partials/events.html" . }}
    {{ partial "commons/pagination.html" . }}
    {{ partial "commons/section/archive-link.html" . }}
  </div>
</div>
