{{ partial "events/section/hero.html" . }}
<div class="document-content">
  {{ partial "events/section/summary.html" (dict
      "with_container" true
      "context" .
    ) }}

  {{ partial "events/section/calendar.html" . }}

  {{ if or .Params.previous_year .Params.next_year}}
    <div class="container year-navigation">
      {{ with .Params.previous_year }}
        <span class="previous-year"><a href="{{.permalink }}">{{ .slug }}</a></span>
      {{ end }}
      {{ with .Params.next_year }}
      <span class="next-year"><a href="{{.permalink }}">{{ .slug }}</a></span>
      {{ end }}
    </div>
  {{ end }}

  {{ partial "contents/list.html" . }}

  <div class="container" id="events-agenda">
    {{ partial "events/partials/events.html" (dict
        "events" .RegularPagesRecursive
        "context" .
        "per_page" site.Params.events.index.per_page
      )}}

    {{ partial "commons/pagination.html" . }}
  </div>
</div>
