{{ $dates := .dates }}
{{ $time_slot := .time_slot }}
{{ $on_two_lines := .on_two_lines }}
{{ $type := .type }}
{{ $is_repeating := .is_repeating }}
{{ $with_hours := .with_hours }}

{{ if or $dates.computed.short $dates.computed.two_lines.short $time_slot }}
  <div class="{{ $type }}-schedule">
    {{ partial "commons/item/schedule/dates.html" (dict
      "type" $type
      "dates" .dates
      "time_slot" .time_slot
      "on_two_lines" .on_two_lines
      "is_repeating" .is_repeating
      "context" .
    ) }}

    {{ if and $with_hours $time_slot }}
      {{ partial "commons/item/schedule/hours.html" (dict
        "hours" $time_slot
        "type" $type
      ) }}
    {{ end }}
  </div>
{{ end }}