{{ define "main" }}

  {{- $is_organigram_present := false -}}
  {{ range .Params.blocks }}
    {{- if eq .template "organization_chart" -}}
      {{- $is_organigram_present = true -}}
    {{ end }}
  {{ end }}

  {{ partial "persons/hero.html" . }}

  <div class="document-content">
    {{ partial "toc/container.html"
        (dict
            "toc" "toc/default.html"
            "context" .
        )
    }}

    {{ $summary_block := false }}
    {{ if .Params.blocks }}
      {{ if gt (len .Params.blocks) 1 }}
        {{ $summary_block = true }}
      {{ end }}
    {{ end }}
    
    {{ partial "persons/summary.html" (dict
        "context" .
        "with_container" (not $summary_block)
        "block_wrapped" $summary_block
      ) }}

    {{ partial "blocks/list.html" . }}

    <div class="container">
      {{- if not $is_organigram_present -}}
        {{ partial "persons/taxonomies.html" . }}
        {{ $persons := .Pages.ByParam "last_name" }}
        {{ $persons = (.Paginate $persons).Pages }}
        {{ partial "persons/list.html" (dict "persons" $persons) }}
        {{ partial "commons/pagination.html" . }}
      {{- end -}}
    </div>

  </div>

{{ end }}
