{{ define "main" }}
  {{- $slug := .Slug -}}
  {{- $programsForTeacher := slice -}}
  {{ if isset site.Taxonomies "teachers" -}}
    {{ $programsForTeacher = index site.Taxonomies.teachers $slug}}
  {{- end }}
  {{- $programsForAdministrator := slice -}}
  {{ if isset site.Taxonomies "administrators" -}}
    {{ $programsForAdministrator = index site.Taxonomies.administrators $slug}}
  {{- end }}

  {{ $author := site.GetPage (printf "/authors/%s" $slug) }}
  {{ $researcher := site.GetPage (printf "/researchers/%s" $slug) }}

  {{ $posts := where $author.Pages "Section" "posts" }}
  {{ $publications := where $researcher.Pages "Section" "publications" }}
  {{ $papers := where $researcher.Pages "Section" "papers" }}

  {{ partial "persons/hero-single.html" . }}

  <div class="document-content">
    {{ partial "toc/container.html"
        (dict
            "toc" "toc/default.html"
            "context" .
        )
    }}
    <div itemscope itemtype="https://schema.org/Person" class="container">
      <meta itemprop="name" content="{{ partial "PrepareHTML" .Title }}">
      <meta itemprop="url" content="{{ .Permalink }}">
      {{ with .Params.image }}
        {{ $image_id := "" }}
        {{/*  LEGACY : à retirer une fois que le format de donnée des images des personnes sera homogène aux autres images  */}}
        {{ if eq (printf "%T" .) "string" }}
          {{ $image_id = . }}
        {{ else }}
          {{ $image_id = index . "id" }}
        {{ end }}
        {{- with partial "GetMedia" $image_id -}}
          <meta itemprop="image" content="{{ .url }}">
        {{- end -}}
      {{ end }}

      <div class="informations">
        {{ if .Params.biography }}
          <div class="biography">
            {{ partial "persons/summary.html" (dict
              "context" .
            ) }}
            {{ if (partial "GetTextFromHTML" .Params.biography) }}
              <div class="rich-text">
                {{ partial "PrepareHTML" .Params.biography }}
              </div>
            {{ end }}
          </div>
        {{ end }}
        {{ if $programsForAdministrator }}
          <div class="roles">
            {{ range $programsForAdministrator }}
            {{ $program := . }}
              {{ range .Params.roles }}
                {{ $role := .title }}
                {{ if in .persons $slug }}
                  <p>
                    {{ safeHTML $role }}<br>
                    <a href="{{ $program.Permalink }}" class="link">{{ safeHTML $program.Title }}</a>
                  </p>
                {{ end }}
              {{ end }}
            {{ end }}
          </div>
        {{ end }}
      </div>

      {{ if eq site.Params.persons.single.taxonomies.position "content" }}
        <div class="taxonomies-container">
          {{ partial "taxonomies/single-list.html" . }}
        </div>
      {{ end }}

      {{ partial "commons/contact-details.html" . }}
    </div>

    {{ partial "contents/list.html" . }}

    <div class="container person-objects">
      {{ if $programsForTeacher }}
        {{ partial "persons/programs.html" (dict "programs" $programsForTeacher "slug" $slug) }}
      {{ end }}

      {{ if $publications }}
        {{ partial "persons/publications.html" (dict "publications" $publications "researcher" $researcher) }}
      {{ end }}

      {{ if $posts }}
        {{ partial "persons/posts.html" (dict "posts" $posts "author" $author) }}
      {{ end }}

      {{ if $papers }}
        {{ partial "persons/papers.html" (dict "papers" $papers "researcher" $researcher) }}
      {{ end }}
    </div>

    {{ if site.Params.persons.single.backlinks }}
      {{ partial "contents/backlinks.html" . }}
    {{ end }}
  </div>
{{ end }}
