{{ $event := .event }}
{{ $class := partial "events/partials/event/helpers/GetClass" . }}

{{ if $event }}
  <article class="{{ $class }}">
    <div class="event-content">
      {{ partial "events/partials/event/heading.html" . }}
      {{ partial "events/partials/event/relation.html" . }}
      {{ partial "events/partials/event/datetime.html" . }}
      {{ partial "events/partials/event/core.html" . }}
    </div>

    {{ if .options.image }}
      {{ partial "events/partials/event/media.html" . }}
    {{ end }}
  </article>
{{ end }}