{{- if ne .item.kind "blank" -}}
  <a href="{{ .item.target }}" {{ with .link_class }} class="{{ . }}" {{ end }} {{ safeHTMLAttr .attributes }} {{ safeHTMLAttr .title_attribute }}>
    {{ .item.title | markdownify }}
  </a>
  {{ if .level_options }}
    {{ partial "commons/menu/helpers/GetSummary" (dict 
      "summary" .level_options.summary
      "path" .path
    ) }}
  {{ end }}
{{- else -}}
  {{ if gt .level 1 }}
    {{ $link_class = printf "%s disabled" .link_class }}
  {{ end }}
  <span {{ with .link_class }}class="{{ . }}"{{ end }} {{ safeHTMLAttr .attributes }}>{{ .item.title | markdownify }}</span>
{{- end -}}