{{- $item := .item -}}
{{- $context := .context -}}
{{- $active := eq $context.RelPermalink $item.target -}}
{{- $item_class := "" -}}
{{- $link_class := "" -}}
{{- $attributes := "" -}}
{{- $title_attribute := printf "title=\"%s\"" $item.title -}}
{{- $has_dropdown := false -}}
{{- $has_children := gt (len $item.children) 0 -}}

{{ if $active }}
  {{ $link_class = "active" }}
{{ end }}

{{/* C'est quoi ce cas particulier, sur un menu qui n'existe plus ? */}}
{{ if eq .kind "social" }}
  {{- $item_class = printf $item.title | lower -}}
{{ end }}

{{- if $has_children -}}
  {{- $item_class = printf "%s has-children" $item_class -}}
  {{ range $item.children -}}
    {{/* Il y a un défaut, ça ne regarde pas dans les enfants des enfants */}}
    {{- if eq $context.RelPermalink .target }}
      {{ $link_class = printf "%s %s" $link_class "has-children-active" }}
    {{ end }}
  {{ end -}}
{{- end -}}

{{- if and $has_children .dropdown (eq .level 1) -}}
  {{- $has_dropdown = true -}}
  {{/* On peut précalculer ça, ce sera plus rapide à compiler */}}
  {{- $slug := anchorize $item.title -}}
  {{- $attributes = printf "id=\"dropdown-%s\" role=\"button\" aria-expanded=\"false\" tabindex=\"0\"" $slug -}}
{{- end -}}

{{- if $item.new_tab -}}
  {{- $external_link := i18n "commons.link.blank" -}}
  {{- $title_attribute = printf "title=\"%s - %s\"" $item.title $external_link -}}
  {{- $attributes = " target=\"_blank\" rel=\"noreferrer\"" -}}
{{- end -}}

{{ with .level_options }}
  {{ if .summary.active }}
    {{ $item_class = printf "%s with-summary" $item_class }}
  {{ end }}
{{ end }}

{{- if or (ne .stop 1) (and (eq .stop 1) (ne .kind "blank")) -}}
  <li{{ with $item_class }} class="{{ . }}"{{ end }}>
    {{ partial "commons/menu/li/title" (dict
        "item" $item
        "link_class" $link_class
        "attributes" $attributes
        "title_attribute" $title_attribute
        "level_options" .level_options
      ) }}

    {{- if and (ne .stop .level) $has_children -}}
      {{ partial "commons/menu/submenu" (dict 
        "items" $item.children
        "parent" $item
        "level" (add .level 1)
        "options" .options
        "context" $context
        "has_dropdown" $has_dropdown
      )}}
    {{- end -}}
  </li>
{{- end -}}