{{ $dropdown := .dropdown }}
{{ $options := .options }}
{{ $level := .level }}
{{ $level_options := index $options (printf "level_%d" $level) }}
{{ $stop := .stop }}
{{ $context := .context }}
<ul class="{{ with $level }}nav-level-{{ . }}{{ end }} {{ .class }}">
  {{ range .items -}}
    {{ partial "commons/menu/li" (dict
      "item" .
      "dropdown" $dropdown
      "options" $options
      "level" $level
      "level_options" $level_options
      "stop" $stop
      "context" $context
    ) }}
  {{ end -}}
</ul>
