{{ $title := .title }}

{{ if .context.video.poster }}
  <div class="lazy-video-player">
    <button class="lazy-video-player__play" title ="{{- i18n "blocks.video.play" -}}" aria-label="{{- i18n "blocks.video.play" -}}"></button>
    <img src="{{ .context.video.poster }}" alt="{{ .context.video_title }}" loading="lazy">
  </div>
{{ end }}
<div class="video-container">
  <iframe data-unloaded-src="{{ .context.video.embed_with_defaults }}" title="{{ .context.video_title }}" autoplay="true" allow="autoplay; fullscreen"></iframe>
</div>