{{ define "main" }}

{{ partial "persons/hero.html" . }}

<div class="document-content">

  {{ partial "persons/summary.html" (dict
  "with_container" true
  "context" .
  ) }}

  {{ partial "blocks/list.html" . }}

  <div class="container">
    {{ partial "persons/list-specific.html" . }}
  </div>
</div>
{{ end }}

<form id="sb_form"
  onsubmit="process2(
    'https://services.sarbacane.com/core/v1/forms/contacts/upsert?listID&#x3D;vhKgX3wYTZa0vabzulTh5A&amp;formID&#x3D;a5w328xDREGY2iicsu2ktA&amp;timezone&#x3D;Europe/Paris', 'https://forms.sbc28.com/', '5a82a798b85b5345e11ca5a8', 'false', 'message',
    '', 'https://services.sarbacane.com/core/v1/transactional/sendmessage/optin', 'Merci', 'Vos informations ont été ajoutées avec succès.',
    'Vous allez recevoir un email', 'Vous devrez cliquer sur le lien de confirmation pour valider votre inscription', 'Erreur',
    'Une erreur inattendue s%27est produite.', 'Le formulaire est en cours d%27édition, veuillez patienter quelques minutes avant d%27essayer à nouveau.', '',
    '', ''
  );
  return false;"
  method="post">

  <fieldset>
    <div style="display: flex;flex-direction: row;">
      <label id="label-CIVILITY_ID">Civilité *</label>
    </div>
    <div style="display: flex;flex-direction: row;">

      <div class="radio" style="display: flex; flex-direction: row;">

        <label class="control control--radio">

          <input type="radio" value="Madame" name="CIVILITY_ID"  id="CIVILITY_ID_0" required="true" sb-form-input="">

          <div id="indicator-CIVILITY_ID" class="control__indicator"></div>

        </label>

        <label id="label-opt-CIVILITY_ID" for="CIVILITY_ID_0">Madame</label>

      </div>

      <div class="radio" style="display: flex; flex-direction: row;">

        <label class="control control--radio">

          <input type="radio" value="Monsieur" id="CIVILITY_ID_1" name="CIVILITY_ID" required="true" sb-form-input="">

          <div id="indicator-CIVILITY_ID" class="control__indicator"></div>

        </label>

        <label id="label-opt-CIVILITY_ID" for="CIVILITY_ID_1">Monsieur</label>

      </div>

    </div>
  </fieldset>

  <fieldset>

    <span style="display: flex;flex-direction: row;">
      <label id="label-FIRSTNAME_ID" for="input-FIRSTNAME_ID">Prénom *</label>
    </span>

    <input id="input-FIRSTNAME_ID" type="text" name="FIRSTNAME_ID" required="true" sb-form-input="">

  </fieldset>

  <fieldset>

    <span style="display: flex;flex-direction: row;">
      <label id="label-LASTNAME_ID" for="input-LASTNAME_ID">Nom *</label>
    </span>

    <input id="input-LASTNAME_ID" type="text" name="LASTNAME_ID" required="true" sb-form-input="">
  </fieldset>

  <fieldset>
    <span style="display: flex;flex-direction: row;">
      <label id="label-EMAIL_ID">Email *</label>
    </span>

    <input id="input-email" type="email" name="email" required="true" sb-form-input="">
  </fieldset>

  <div id="div-submitInput" class="submit">
    <button id="submitInput" type="submit" value="VALIDER" class="mobile-FW"><span style="margin:0;">Valider</span></button>
    <div class="loader" style="display:none"></div>
  </div>
  <label class="meta" id="form-footer-mandatory">* Champs obligatoires</label>
</form>