{{ if .Params.logo }}
  {{ $logo := index .Params "logo" }}
  {{ $logo_on_dark_background := index .Params "logo_on_dark_background" }}

  {{ if and site.Params.organizations.dark_logo_background $logo_on_dark_background }}
    {{ $logo = $logo_on_dark_background }}
  {{ end }}

  <figure class="organization-logo"{{ with .Title }} role="figure" aria-label="{{ . }}"{{ end }}>
    {{ partial "commons/image.html" (dict
      "image" $logo
      "alt" .Title
      "sizes" site.Params.image_sizes.sections.organizations.logo
    ) }}
  </figure>
{{ end }}