{{ partial "exhibitions/partials/exhibition/core/federated.html" .exhibition }}
{{ partial "exhibitions/partials/exhibition/core/meta.html" (dict
  "context" .exhibition
  "options" .options
) }}
{{ if .options.status }}
  {{ with .exhibition.Params.dates }}
    {{ partial "exhibitions/partials/exhibition/core/status.html" . }}
  {{ end }}
{{ end }}
{{ if .options.summary }}
  {{ partial "exhibitions/partials/exhibition/core/summary.html" .exhibition }}
{{ end }}
{{ if .options.categories }}
  {{ partial "exhibitions/partials/exhibition/core/categories.html" .exhibition }}
{{ end }}
{{ if .with_more }}
  {{ partial "exhibitions/partials/exhibition/core/more.html" .exhibition }}
{{ end }}