{{ $logo_index := .logo_index }}
{{ $options := .options }}
{{ $heading_level := .heading_level | default 2 }}

<div class="grid organizations {{- if $options.summary }} with-summaries {{- end }}">
  {{- range .organizations }}
    {{ if .path }}
      {{ with site.GetPage .path }}
        {{ partial "organizations/list/item/organization.html" (dict
            "organization" .
            "options" $options
            "heading_level" $heading_level
          ) }}
      {{ end }}
    {{ else }}
      {{ partial "organizations/list/item/organization.html" (dict
          "organization" (dict
            "Title" .name
            "Permalink" .url
            "Params" (dict 
              "logo" .logo
              "external" true
            )
          )
          "options" $options
          "heading_level" $heading_level
        ) }}
    {{ end }}
  {{ end -}}
</div>