{{ $logo_index := .logo_index }}
{{ $options := .options }}
<div class="grid organizations {{- if $options.summary }} with-summaries {{- end }}">
  {{- range .organizations }}
    {{ if .path }}
      {{ with site.GetPage .path }}
        {{ template "organization"  dict
            "title" .Title
            "url" .Permalink
            "logo" (index .Params $logo_index)
            "options" $options
            "summary" .Params.summary
          }}
      {{ end }}
    {{ else }}
      {{ template "organization" dict
        "title" .name
        "url" .url
        "external" true
        "logo" .logo
        "options" $options
      }}
    {{ end }}
  {{ end -}}
</div>