{{ $logo_index := "light_background" }}
{{ if site.Params.organizations.dark_logo_background }}
  {{ $logo_index = "dark_background" }}
{{ end }}

<div class="map" data-marker-icon="{{ $.Site.Params.organizations.map_marker_icon | default "/assets/images/map-marker.svg" }}">
  {{- range .elements }}
    {{ if .slug }}
      {{ template "organization" (dict
          "title" .title
          "url" .url
          "logo" (index .logo $logo_index)
          "latitude" .Params.contact_details.geolocation.latitude
          "longitude" .Params.contact_details.geolocation.longitude
        )}}
    {{ end }}
  {{ end -}}
</div>