{{ $logo_index := .logo_index }}
{{ $options := .options }}
{{ $block_index := .block_index }}
{{ $id := printf "block-%d-transcription" $block_index}}

<div class="transcription">
  <details id="{{- $id -}}" class="map-transcription">
    <summary aria-controls="{{- $id -}}" aria-expanded="false">{{ i18n "commons.accessibility.map_transcription" }}</summary>
    <ul>
      {{ range .organizations }}
        {{ if .slug }}
          {{ with (site.GetPage (printf "/organizations/%s" .slug )) }}
            <li>
              {{ $title := "" }}
              {{ if .Params.title }}
                {{ $title = partial "PrepareHTML" .Params.title -}}
                <p class="title">
                  {{- if and .Params.url $options.link }}
                    <a href="{{ .Params.url }}" {{ if .Params.external }} target="_blank" rel="noopener" {{ end }} title="{{ safeHTML (i18n "commons.link.blank_aria" (dict "Title" $title)) }}">
                  {{ end -}}
                  {{- $title -}}
                  {{- if and .Params.url $options.link }}
                    {{ if .Params.external }}
                      <span class="sr-only"> - {{ safeHTML (i18n "commons.link.blank") }}</span>
                    {{ end }}
                    </a>
                  {{ end -}}
                  </p>
              {{ end -}}
              {{ with .Params.contact_details.postal_address }}
                {{ partial "commons/address.html" . }}
              {{ end }}
              {{ if and $options.summary .Params.summary }}
                <div class="summary">
                  {{ safeHTML .Params.summary }}
                </div >
              {{ end }}
            </li>
          {{ end }}
        {{ end }}
      {{ end }}
    </ul>
  </details>
</div>
<div class="organizations map" data-marker-icon="{{ site.Params.organizations.map_marker_icon | default "/assets/images/map-marker.svg" }}">
  {{- range .organizations }}
    {{ if .slug }}
      {{ with (site.GetPage (printf "/organizations/%s" .slug )) }}
        {{ template "organization" dict
          "title" .Title
          "url" .Permalink
          "logo" (index .Params $logo_index)
          "latitude" .Params.contact_details.geolocation.latitude
          "longitude" .Params.contact_details.geolocation.longitude
          "summary" .Params.summary
          "options" $options
        }}
      {{ end }}
    {{ end }}
  {{ end -}}
</div>