<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "fr" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ partial "head/css.html" }}
    {{ partial "head/favicons.html" . }}
    {{ partial "pagedjs/js.html" }}
    {{ partial "pagedjs/css.html" }}
  </head>
  <body class="{{ partial "GetBodyclass" . }}">
    {{- partial "header/header.html" . -}}
    <main{{ if .Params.contents }} class="page-with-blocks"{{ end }} id="main">
      {{- block "main" . }}{{- end }}
    </main>
    {{- partial "footer/footer.html" . -}}
  </body>
</html>
