{{ define "main" }}
  {{ partial "pages/single/hero.html" . }}
  {{ partial "hooks/after-page-hero.html" . }}

  <div class="document-content">
    {{ partial "toc/container.html" (dict
        "toc" "pages/toc.html"
        "context" .
      ) }}

    {{ partial "pages/single/summary.html" (dict
        "context" .
        "block_wrapped" true
      ) }}

    {{ if .Params.contents }}
      {{ partial "contents/list.html" . }}
    {{ else }}
      {{ partial "pages/children.html" . }}
    {{ end }}
  </div>

{{ end }}
