{{ define "main" }}
  {{ partial "categories/hero-term.html" . }}

  <div class="document-content">
    {{ partial "toc/container.html" (dict
      "toc" "toc/default.html"
      "context" .
    ) }}

    {{ partial "categories/summary.html" (dict
      "context" .
      "block_wrapped" true
    ) }}

    {{ partial "contents/list.html" . }}

    <div class="container">
      {{ if .Params.is_taxonomy }}
        {{ partial "taxonomies/categories" . }}
      {{ else }}
        {{ $section_type := strings.TrimSuffix "_categories" .Type }}
        {{ $list_partial := printf "%s/%s.html" $section_type $section_type }}

        {{ if eq $section_type "pages" }} 
          {{/*  This exception should only exist during tree-structure in progress  */}}
          {{ $list_partial = printf "%s/list/%s.html" $section_type $section_type }}
        {{ end }}

        {{ partial $list_partial . }}
        {{ partial "commons/pagination.html" . }}
      {{ end }}
    </div>
  </div>
{{ end }}
