{{ $attributes := .attributes }}
{{ $link_class := .link_class }}
{{ $title_attribute := printf "title=\"%s\"" .item.title }}

{{ if .is_active }}
  {{ $link_class = "active" }}
{{ end }}

{{ if .item.new_tab -}}
  {{ $external_link := i18n "commons.link.blank" -}}
  {{ $attributes = " target=\"_blank\" rel=\"noreferrer\"" }}
  {{ $title_attribute = printf "title=\"%s - %s\"" .item.title $external_link }}
{{ end }}

{{ if eq .item.kind "blank" }}
  <span{{ with $link_class }} class="{{ . }}"{{ end }} {{ safeHTMLAttr $attributes }}>
    {{ .item.title | markdownify }}
  </span>
{{ else }}
  <a href="{{ .item.target }}" {{ with $link_class }} class="{{ . }}"{{ end }} {{ safeHTMLAttr $attributes }} {{ safeHTMLAttr $title_attribute }}>
    {{ .item.title | markdownify }}
  </a>
  {{ if .level_options }}
    {{ partial "commons/menu/helpers/GetSummary" (dict 
      "summary" .level_options.summary
      "path" .path
    ) }}
  {{ end }}
{{ end }}