{{ $image := .image }}
{{ $type := .type | default "page" }}
{{ $layout := .layout | default "item" }}
{{ $sizes := .sizes }}
{{ $class := "media" }}
{{ with .class }}
  {{ $class = printf "%s %s" $class . }}
{{ end }}

{{ if not $sizes }}
  {{ $sizes = partial "GetSiteParamWithDefault" (dict 
    "param" (printf "image_sizes.design_system.defaults.layouts.%s" $layout)
    "default" "image_sizes.design_system.item"
  ) }}
{{ end }}

<div class="{{ $class }}">
  {{- if $image -}}
    {{- partial "commons/image.html" (dict
        "image" $image
        "sizes" $sizes
      ) -}}
  {{- else -}}
    {{- partial "commons/image-default.html" $type -}}
  {{- end -}}
</div>