.events-calendar
    .calendar-month
        caption-side: top
        display: inline-table
        height: max-content
        @include media-breakpoint-down(md)
            + .calendar-month
                margin-top: $spacing-4
        caption
            text-align: center
            a
                @include h6
                color: var(--color-accent)
                font-weight: bold
                text-decoration: none
        th,
        td
            height: pxToRem(50)
            padding: 0
            vertical-align: middle
            width: calc(100% / 7)
            @include media-breakpoint-down(md)
                height: pxToRem(35)
                min-width: unset
        thead
            @include meta
            th
                font-weight: normal
        tbody
            @include meta
            --btn-min-width: 0
            --btn-border-radius: 100%
            --btn-border: none
            --btn-color: var(--color-accent)
            --btn-background: var(--color-background-alt)
            --btn-hover-background: var(--color-accent)
            --btn-hover-border: none
            --btn-hover-color: var(--color-background)
            tr
                td
                    border: none
                    aspect-ratio: 1
            a, span
                aspect-ratio: 1
                height: space(9)
                line-height: space(9)
                padding: 0
                display: block
                text-align: center
                @include media-breakpoint-down(md)
                    height: pxToRem(7)
            a
                @extend .btn

