.agenda-filters
    > .container
        display: flex
        align-items: center
        justify-content: end
        position: relative
        @include media-breakpoint-up(md)
            gap: $spacing-3
    .dates-filters
        &__months
            @include grid(3, md)
    .dropdown-dates
        @include dropdown('.dates-filters', $full: true)
        position: static
    .filter-taxonomies
        .offcanvas-button
            display: none
        .taxonomies-list
            margin-top: 0
            margin-bottom: 0
        @include media-breakpoint-down(desktop)
            .offcanvas-button
                display: block
            .offcanvas
                @include offcanvas

