.events__section, .events_categories__term
    .agenda-exhibitions
        margin-bottom: $spacing-6
        background: var(--color-background-alt)
        padding-top: var(--grid-gutter)
        padding-bottom: var(--grid-gutter)
        h2
            @include h5
            margin-bottom: var(--heading-margin-bottom)
            &:where(:not(:first-child))
                margin-top: var(--heading-margin-top)
            @include media-breakpoint-down(desktop)
                margin-bottom: $spacing-3
                &:where(:not(:first-child))
                    margin-top: $spacing-5
    .archive-link
        @extend .button
        @extend .button--small
        @include icon(archive-line, after, true)
        display: table
        margin: $spacing-5 auto 0
