.events__page
    .hero
        .content
            align-items: stretch
            display: flex
            @include media-breakpoint-down(desktop)
                flex-direction: column
        @include media-breakpoint-up(desktop)
            figure
                order: -1
            &.hero--image-square,
            &.hero--image-portrait
                .hero-text
                    flex-direction: column
                    margin-top: 0
                    width: columns(6)
                    h1, hgroup
                        flex: 1
            &.hero--image-landscape
                .hero-text
                    width: columns(12)
            &:not(.hero--with-image)
                .hero-text
                    align-items: flex-end
                    width: columns(12)
            .content
                flex-wrap: wrap
            .hero-text
                display: flex
                justify-content: space-between
                h1, hgroup
                    max-width: columns(8)
                .hero-actions
                    margin-left: auto
                    margin-top: auto
                    width: columns(3)
                    @include media-breakpoint-up(xxl)
                        width: columns(2)
                    > *
                        width: 100%
                        &:first-child
                            margin-top: 0
            figure
                &.image-landscape
                    width: columns(12)
                &.image-portrait,
                &.image-square
                    width: columns(6)
        @include h3
    &:not(.full-width)
        .event-sidebar
            @include sidebar
    .event-access
        > div:last-child
            border-bottom: 1px solid var(--color-border)
            padding-bottom: $spacing-4
        > div + div
            margin-top: $spacing-4
        .event-practicals,
        .event-slots
            h2
                @include meta
                color: var(--color-text-alt)
                @include media-breakpoint-up(desktop)
                    width: columns(4)
                @include media-breakpoint-down(desktop)
                    margin-bottom: $spacing-2
        .event-practicals
            > div
                p + div
                    margin-top: $spacing-2
                .event-notes
                    @include small
                @include media-breakpoint-up(desktop)
                    width: columns(6)
            a
                @extend .button-accent
                margin-left: auto
            @include media-breakpoint-up(desktop)
                align-items: flex-start
                display: flex
                gap: var(--grid-gutter)
            @include media-breakpoint-down(desktop)
                .btn
                    margin-top: $spacing-3
        .event-slots
            ul
                @include list-reset
                + .btn
                    --btn-background: var(--color-background-alt)
                    --btn-border: none
                    --btn-hover-border: none
                    --btn-hover-background: var(--color-border)
                    margin-top: $spacing-3
        .event-summary,
        .event-instance
            align-items: baseline
            display: flex
            gap: var(--grid-gutter)
            .date
                width: columns(4)
            .link
                @include meta
                text-decoration: none
            .link
                @include icon(arrow-right-line, after)
                    margin-left: space(2)
                @include media-breakpoint-up(desktop)
                    margin-left: auto
            .type
                @include h4
                @include icon(loop-right-line, after)
                    margin-left: space(2)
            + li
                margin-top: $spacing-3
                @include media-breakpoint-up(desktop)
                    margin-top: $spacing-1
            @include media-breakpoint-up(desktop)
                .location
                    flex: 1
            @include media-breakpoint-down(desktop)
                flex-wrap: wrap
                row-gap: $spacing-1
                .date,
                time,
                .link
                    width: columns(6)
                time
                    text-align: right
                .location
                    @include meta
                    width: columns(12)
                .link
                    border-radius: var(--btn-border-radius)
                    background: $color-background-alt
                    padding: space(2) space(3)
                    width: auto
        .event-instance
            @include media-breakpoint-up(desktop)
                time
                    width: columns(2)
                .link
                    text-align: right
                    span
                        opacity: 0
                    &:hover
                        span
                            opacity: 1
        .event-summary + ul
            margin-top: $spacing-3
        // Hide li childs after 6th one (included)
        ul.truncated-list
            li:nth-child(n+7)
                display: none
        ul:not(.truncated-list)
            + .btn
                display: none

    @include media-breakpoint-up(desktop)
        // Safe spacing if post is empty
        .document-content:last-child
            @include document-min-height(600px)
        .event-programme
            .event--child
                padding-left: offset(4)

.event-infos
    @include list-reset
    @include media-breakpoint-up(desktop)
        font-size: $table-body-size-desktop
        padding-bottom: $spacing-5
    .event-date
        text-transform: capitalize
    ul
        @include list-reset
    > li, .taxonomies-single > li
        padding-top: $spacing-2
        &:not(:last-child)
            padding-bottom: $spacing-2
        > span
            @include meta
            color: var(--color-text-alt)
            padding-left: 0
            display: block
            white-space: nowrap
        time + time
            @include icon(arrow-right-line)
            &::before
                padding-right: 0.3rem
    .taxonomies-single
        .taxonomy-children
            @extend .event-categories
        span + .taxonomy-children
            margin-top: 0
    .events-actions
        ul
            align-items: start
            display: flex
            flex-direction: column
            gap: space(1)
            padding-bottom: 0
            margin-top: space(1)
        a
            display: block
            &::after
                display: none
    .share
        a
            color: inherit
        li:first-child a
            padding-left: 0


