{{ $categories := .categories }}
{{ $heading_level := .heading_level }}
{{ $options := .options }}

{{ if $categories }}
  {{ $parityClass := cond (modBool (.categories | len) 2) "even" "odd" }}
  <ul class="categories categories--grid grid--{{ $parityClass }}">
    {{ range $categories }}
      <li>
        {{ partial "categories/partials/layouts/grid/grid-item.html" (dict
            "category" .
            "heading_level" $heading_level
            "options" $options
            "layout" "grid"
          ) }}
      </li>
    {{ end }}
  </ul>
{{ end }}
