{{ with . }}
  {{ $title := i18n "commons.lightbox.link.title" }}
  {{ $options := dict "imageSrc" ( partial "GetLightboxUrl" .id ) }}

  {{ with .text }}
    {{ $options = merge $options (dict "information" (partial "PrepareHTML" . )) }}
    {{ $title = printf "%s %s" $title ( . | plainify ) }}
  {{ end }}

  {{ with .credit }}
    {{ $options = merge $options (dict "credit" (partial "PrepareHTML" . )) }}
  {{ end }}

  {{ with .alt }}
    {{ $options = merge $options (dict "alt" (. | plainify)) }}
  {{ end }}

  <button class="lightbox-button" data-lightbox="{{ $options | encoding.Jsonify }}">
    <span class="sr-only">{{ $title | plainify }}</span>
  </button>
{{ end }}