<div class="lightbox" id="lightbox">
  <div class="lightbox-media" id="lightbox-media"></div>
  <div class="lightbox-controls">

    <button class="lightbox-button-information" aria-controls="lightbox-detail-information" aria-expanded="false">
      <span class="sr-only">{{ safeHTML (i18n "commons.lightbox.info") }}</span>
    </button>
    <div id="lightbox-detail-information" class="lightbox-detail collapse" data-collapse-close-siblings="true">
      <p class="lightbox-detail__title">{{ safeHTML (i18n "commons.lightbox.infoTitle") }}</p>
      <div id="lightbox-information"></div>
      <p class="lightbox-detail__close" role="button" aria-controls="lightbox-detail-information" aria-expanded="false">{{ safeHTML (i18n "commons.lightbox.closedetailwindow") }}</p>
    </div>

    <button class="lightbox-button-credit" aria-controls="lightbox-detail-credit" aria-expanded="false">
      <span class="sr-only">{{ safeHTML (i18n "commons.lightbox.credit") }}</span>
    </button>
    <div id="lightbox-detail-credit" class="lightbox-detail collapse" data-collapse-close-siblings="true">
      <p class="lightbox-detail__title">{{ safeHTML (i18n "commons.lightbox.creditTitle") }}</p>
      <div id="lightbox-credit"></div>
      <p class="lightbox-detail__close" role="button" aria-controls="lightbox-detail-credit" aria-expanded="false">{{ safeHTML (i18n "commons.lightbox.closedetailwindow") }}</p>
    </div>

    <button class="lightbox-button-previous">
      <span class="sr-only">{{ safeHTML (i18n "commons.lightbox.prev") }}</span>
    </button>
    <button class="lightbox-button-next">
      <span class="sr-only">{{ safeHTML (i18n "commons.lightbox.next") }}</span>
    </button>
    <button class="lightbox-button-close popup-close">
      <span class="sr-only">{{ safeHTML (i18n "commons.lightbox.close") }}</span>
    </button>
  </div>
</div>