{{ $options := (dict ) }}
{{ with .description }}
  {{ $options = merge $options (dict "description" ( . | plainify )) }}
{{ end }}

{{ with .credit }}
  {{ $options = merge $options (dict "credit" (. | plainify)) }}
{{ end }}

{{$index := ( .index | plainify )}}
{{$total := ( .total | plainify )}}

{{ if and $index $total }}
  {{ $options = merge $options (dict "gallery_values" (dict "index" $index "total" $total)) }}
{{ end }}
<a class="lightbox-launcher"
role="button"
data-lightbox="{{ $options | encoding.Jsonify }}" 
href="{{- partial "GetLightboxUrl" .image -}}"
title="{{- i18n "commons.lightbox.link.title" -}}"
aria-label="{{- i18n "commons.lightbox.link.title" -}}">
    <span class="sr-only">{{- i18n "commons.lightbox.link.title" -}}</span>
</a>