<div class="lightbox-container">
  <figure role="figure" class="lightbox-content" tabindex="0">
  </figure>
  <div class="lightbox-controls">
    <div class="details-window" tabindex="0">
      <div>
        <p class="details-window-title-information">{{ safeHTML (i18n "commons.lightbox.infoTitle") }}</p>
        <p class="details-window-title-credit">{{ safeHTML (i18n "commons.lightbox.creditTitle") }}</p>
        <a class="details-window-close" href="">{{ safeHTML (i18n "commons.lightbox.closedetailwindow") }}</a>
      </div>
      <p class="details-window-content"></p>
    </div>
    <button class="info">
      <span class="sr-only">{{ safeHTML (i18n "commons.lightbox.info") }}</span>
    </button>
    <button class="credit">
      <span class="sr-only">{{ safeHTML (i18n "commons.lightbox.credit") }}</span>
    </button>
    <button class="prev">
      <span class="sr-only">{{ safeHTML (i18n "commons.lightbox.prev") }}</span>
    </button>
    <button class="next">
      <span class="sr-only">{{ safeHTML (i18n "commons.lightbox.next") }}</span>
    </button>
    <button class="close">
      <span class="sr-only">{{ safeHTML (i18n "commons.lightbox.close") }}</span>
    </button>
  </div>
</div>