<div class="lightbox" id="lightbox" role="dialog" aria-label="{{ i18n "commons.lightbox.title" }}" tabindex="0">
  <div class="lightbox-media" id="lightbox-media"></div>
  <div class="lightbox-controls">

    {{ template "lightbox-detail" "information" }}
    {{ template "lightbox-detail" "credit" }}
    {{ template "lightbox-detail" "transcription" }}

    <button class="lightbox-button-previous">
      <span class="sr-only">{{ safeHTML (i18n "commons.lightbox.controls.previous") }}</span>
    </button>
    <button class="lightbox-button-next">
      <span class="sr-only">{{ safeHTML (i18n "commons.lightbox.controls.next") }}</span>
    </button>
    <button class="lightbox-button-close popup-close">
      <span class="sr-only">{{ safeHTML (i18n "commons.lightbox.controls.close") }}</span>
    </button>
  </div>
</div>

{{- define "lightbox-detail" -}}
  {{ $button_label := i18n (printf "commons.lightbox.controls.%s" . ) }}
  {{ $title := i18n (printf "commons.lightbox.%s" . ) }}
  {{ $close_label := i18n (printf "commons.lightbox.close.a11y_%s" . ) }}
  <button class="lightbox-button-{{ . }}" aria-controls="lightbox-detail-{{ . }}" aria-expanded="false">
    <span class="sr-only">{{ $button_label }}</span>
  </button>
  <div id="lightbox-detail-{{ . }}" class="lightbox-detail extendable" data-extendable-close-siblings="true">
    <p class="lightbox-detail__title">{{ $title }}</p>
    <div id="lightbox-{{ . }}"></div>
    <button class="lightbox-detail__close" aria-controls="lightbox-detail-{{ . }}" tabindex="0" aria-label="{{ $close_label }}">
      {{ safeHTML (i18n "commons.lightbox.close.text") }}
    </button>
  </div>
{{- end -}}