<div class="lightbox-container">
    <div class="lightbox-content">
    </div>
    <div class="lightbox-controls">
        <button class="info">
            <span class="sr-only">{{ safeHTML (i18n "commons.lightbox.info") }}</span>
        </button>
        <button class="credit">
            <span class="sr-only">{{ safeHTML (i18n "commons.lightbox.credit") }}</span>
        </button>
        <button class="prev">
            <span class="sr-only">{{ safeHTML (i18n "commons.lightbox.prev") }}</span>
        </button>
        <button class="next">
            <span class="sr-only">{{ safeHTML (i18n "commons.lightbox.next") }}</span>
        </button>
        <button class="close">
            <span class="sr-only">{{ safeHTML (i18n "commons.lightbox.close") }}</span>
        </button>
    </div>
</div>