{{ if . }}
  <section>
    <div class="container">
      <div class="top">
        <h2 id="page-children">{{ i18n "pages.details" }}</h2>
      </div>
      <div class="pages">
        {{ range . }}
          <div>
            {{ $page := partial "GetPageByUrl" . }}
            {{ with $page }}
              {{ .Scratch.Set "show_description" true }}
              {{ partial "pages/page.html" . }}
              {{ .Scratch.Delete "show_description" }}
            {{ end }}
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
