{{ $page := .page }}
{{- $class := "page" -}}
{{- $custom_class := "" -}}
{{- $heading := .Scratch.Get "heading" | default "h2" -}}
{{ $options := .options }}
{{- if .Params.bodyclass -}}
  {{ $class = printf "%s page-%s" $class .Params.bodyclass }}
{{- end -}}

{{ with $page}}
  {{- if .Scratch.Get "class" -}}
    {{ $custom_class = .Scratch.Get "class" }}
    {{ $class = printf "%s %s" $class $custom_class }}
  {{- end -}}
  <article class="{{ $class }}">
    <div class="page-content">
      {{- partial "PrepareHTML" (printf "<%s class='page-title'>" $heading) -}}
        <a href="{{ .Permalink }}">
          {{- partial "PrepareHTML" .Title -}}
        </a>
      {{- partial "PrepareHTML" (printf "</%s>" $heading) -}}
      {{- with and $options.summary  .Params.summary }}
        {{ . | safeHTML }}
      {{ end -}}
    </div>
    {{ if $options.image }}
      <div class="media">
        {{- if .Params.image -}}
          {{- partial "commons/image.html"
              (dict
                "image"    .Params.image
                "sizes"    site.Params.image_sizes.sections.posts.item
              ) -}}
        {{- else -}}
          {{- partial "commons/image-default.html" "posts" -}}
        {{- end -}}
      </div>
    {{- end -}}
  </article>
{{ end }}