{{ define "main" }}
  {{ partial "diplomas/hero-single.html" . }}

  <div class="document-content">
    {{ partial "blocks/list.html" . }}
    <div class="container">
      <ol class="programs">
        {{- range .Pages -}}
          <li>
            {{- $title := partial "PrepareHTML" .Title -}}
            {{/*  TODO: check title class relevance */}}
            <a href="{{ .Permalink }}" class="title" title="{{ safeHTML (i18n "commons.more_aria" (dict "Title" $title)) }}">
              {{- $title -}}
            </a>
            {{ if .Params }}
              <p class="description">
                {{- partial "PrepareHTML" .Params.summary -}}
              </p>
            {{ end }}
          </li>
        {{- end -}}
      </ol>
    </div>
  </div>
{{ end }}
