
{{ define "main" }}
  {{ partial "diplomas/hero-single.html" . }}

  <div class="document-content">

    {{ partial "diplomas/summary.html" (dict
        "context" .
        "block_wrapped" true
      ) }}
    {{ partial "contents/list.html" . }}
    <div class="container">
      {{ $programs_options := site.Params.diplomas.single.programs.options }}
      <ol class="programs {{ if eq $programs_options false }}programs--default{{ end }}">
        {{- range .Pages -}}
          {{/*  TODO Cleanup figma and reduce number of program layout */}}
          {{ if $programs_options }}
            {{ partial "programs/program.html" (dict
                "program" .
                "options" $programs_options
              )}}
          {{ else }}
            <li itemscope itemtype="https://schema.org/EducationalOccupationalProgram">
              {{- $title := partial "PrepareHTML" .Title -}}
              {{/*  TODO: check title class relevance */}}
              <a href="{{ .Permalink }}" itemprop="url" class="title" title="{{ safeHTML (i18n "commons.more_aria" (dict "Title" $title)) }}">
                {{- $title -}}
              </a>
              {{ if .Params.summary }}
                <div class="description" itemprop="abstract">
                  {{- partial "PrepareHTML" .Params.summary -}}
                </div>
              {{ end }}
            </li>
          {{- end -}}
        {{- end -}}
      </ol>
    </div>
  </div>
{{ end }}
