{{ $options := .context.options }}
{{ $heading_level := .context.heading_level | default 3 }}

{{ with .page }}
  <article class="page">
    <div class="page-content">
      {{ partial "pages/list/components/title.html" (dict 
          "page" .
          "heading_level" $heading_level
        )}}

      {{ if $options.summary }}
        {{ partial "pages/list/components/summary.html" . }}
      {{ end }}

      {{ partial "pages/list/components/more.html" . }}
    </div>

    {{ if $options.image }}
      {{- partial "pages/list/components/media.html" (dict
          "image" .Params.image
          "sizes" site.Params.image_sizes.blocks.pages.large
        ) -}}
    {{ end }}
  </article>
{{- end -}}