{{ if .options.diploma }}
  {{ partial "programs/partials/program/core/diploma.html" .program }}
{{ end }}

{{ if and .options.summary .program.Params.summary }}
  {{ partial "programs/partials/program/core/summary.html" .program }}
{{ end }}

{{/*  TODO: remove when option is added to the block  */}}
{{ if or site.Params.programs.index.options.categories .options.categories }}
  {{ partial "commons/categories.html" (dict
    "context" .
    "kind" "program"
  ) }}
{{ end }}

{{ if .options.button }}
  {{ partial "programs/partials/program/core/more.html" .program }}
{{ end }}

{{ if and .options.logo .program.Params.logo }}
  {{ partial "programs/partials/program/core/logo.html" .program }}
{{ end }}