{{ $layout := site.Params.diplomas.single.programs.layout }}
{{ $options := site.Params.diplomas.single.programs.options }}
{{ $class := printf "programs programs--%s" $layout }}
{{ if $options.image }}
  {{ $class = printf "%s with-images" $class }}
{{ end }}
<div class="container">
  <ol class="{{ $class }}">
    {{ range .Pages }}
      {{ partial "programs/partials/program.html" (dict
        "program" .
        "heading_level" 2
        "options" site.Params.diplomas.single.programs.options
        "layout" $layout
      ) }}
    {{ end }}
  </ol>
</div>