{{ $options := .options }}
{{ $heading_level := .heading_level | default 3 }}

{{ with .page }}
  <article class="card">
    {{ partial "pages/list/components/title.html" (dict 
        "page" .
        "heading_level" $heading_level
      )}}

    {{ if $options.summary }}
      {{ partial "pages/list/components/summary.html" . }}
    {{ end }}

    {{ partial "pages/list/components/more.html" . }}

    {{ if $options.image }}
      {{- partial "pages/list/components/media.html" (dict "image" .Params.image) -}}
    {{ end }}
  </article>
{{- end -}}
