<div class="publications">
  {{ if site.Params.publications.index.order_by_year }}
    {{ $publications := .Paginator.Pages.GroupByDate "2006" }}
    {{ range $publications }}
      <h2 class="publications-year">{{ .Key }}</h2>
      {{ range .Pages }}
        {{ partial "publications/publication.html" (dict "publication" . ) }}
      {{ end }}
    {{ end }}
  {{ else }}
    {{ range .Paginator.Pages }}
      {{ partial "publications/publication.html" (dict "publication" . ) }}
    {{ end }}
  {{ end }}
</div>