{{ $layout := .layout }}
{{ $options := .options }}
{{ $agenda := .agenda }}
{{ $is_sub_event := .is_sub_event }}

<div class="agenda">
  <div class="events events--{{-  $layout -}}">
    {{ range $agenda }}

      <h2 class="events-date-title">{{ .Key }}</h2>

      {{ range .Pages }}
        {{ partial "events/partials/event.html" (dict
            "event" .
            "layout" $layout
            "options" site.Params.events.index.options
            "is_sub_event" $is_sub_event
          )}}
      {{ end }}
    {{ end }}
  </div>
</div>
