{{ $collection := where .Pages "Params.parent" "eq" nil }}
{{ $layout := site.Params.events.index.layout }}
{{ $order := "asc" }}

{{/*  {{ if $is_archive }}
  {{ $order = "desc" }}
{{ else }}
  {{ $collection = where $collection "Params.dates.archive" false }}
{{ end }}

{{ $collection = where $collection "Params.date" "2025-02-22" }}
{{ $collection = where $collection "Params.dates.from.day" "2025-01-14" }}  */}}

{{ $collection = where $collection "Params.dates" "ne" nil }}
{{ $agenda := $collection.GroupByDate site.Params.events.index.group_by_date $order }}
{{ $paginator := .Paginate $agenda site.Params.events.index.per_page }}

{{ if not .Pages }}
  <p>{{ i18n "events.none" }}</p>
{{ else }}
  {{ partial "events/partials/agenda.html" (dict
    "layout" site.Params.events.index.layout
    "options" site.Params.events.index.options
    "agenda" $paginator.PageGroups
  ) }}
{{ end }}
