{{ $layout := site.Params.events.index.layout }}
{{ $collection := where .Pages "Section" "eq" "events" }}
{{ $collection = where .Pages "Params.parent" "eq" nil }}
{{ $is_archive := ne .File.Path "events/_index.html" }}
{{ $order := "asc" }}

{{ if $is_archive }}
  {{ $order = "desc" }}
{{ else }}
  {{ $collection = where $collection "Params.dates.archive" false }}
{{ end }}

{{ $agenda := $collection.GroupByDate site.Params.events.index.group_by_date $order }}

{{ $paginator := .Paginate $agenda site.Params.events.index.per_page }}

{{ if not .Pages }}
  <p>{{ i18n "events.none" }}</p>
{{ else }}
  <div class="events events--{{-  $layout -}}">
    {{ partial "events/partials/agenda.html" (dict
      "layout" site.Params.events.index.layout
      "options" site.Params.events.index.options
      "agenda" $paginator.PageGroups
    ) }}
  </div>
{{ end }}
