{{ $show_descriptions := .show_descriptions }}
{{ $show_images := .show_images }}
{{ $image_class := "" }}
{{ $heading_level := .heading_level | default 3 }}
{{ $heading_tag := partial "GetHeadingTag" (dict 
        "level" $heading_level
        "attributes" "class='page-title'"
)}}

<div class="alternate">
  {{ range .pages }}
    {{ $page := site.GetPage .file }}
    {{ with $page }}
      {{ if .Params.image }}
        {{ $image_class = printf (partial "GetImageDirection" .Params.image) }}
      {{ else }}
        {{ $image_class = "" }}
      {{ end }}
      <article class="{{ $image_class }}">
        {{ $heading_tag.open }}
          <a href="{{- .Permalink -}}">
            {{- partial "PrepareHTML" .Title -}}
          </a>
        {{ $heading_tag.close }}

        {{ if and $show_descriptions .Params.summary }}
          <p>{{ partial "GetTruncateContent" ( dict 
            "text" .Params.summary
            "length" site.Params.pages.index.truncate_description
            ) }}</p>
        {{ end }}

        {{ if $show_images }}
          {{- partial "pages/page-media.html" . -}}
        {{ end }}
      </article>
    {{- end -}}
  {{ end }}
</div>