{{ $options := .options }}
{{ $image_class := "" }}
{{ $heading_level := .heading_level | default 3 }}

<div class="alternate">
  {{ range .pages }}
    {{ $page := site.GetPage .path }}
    {{ with $page }}
      {{ if .Params.image }}
        {{ $image_class = printf (partial "GetImageDirection" .Params.image) }}
      {{ else }}
        {{ $image_class = "" }}
      {{ end }}
      <article class="page {{ $image_class }} {{- if (not (isset .Params "image")) -}} without-image {{- end -}}">
        {{ partial "pages/item/title.html" (dict 
            "page" .
            "heading_level" $heading_level
          )}}

        {{ if $options.summary }}
          {{ partial "pages/item/summary.html" . }}
        {{ end }}

        {{ if site.Params.blocks.pages.alternate.more }}
          {{ partial "pages/item/more.html" . }}
        {{ end }}

        {{ if $options.image }}
          {{- partial "pages/item/media.html" (dict "image" .Params.image) -}}
        {{ end }}
      </article>
    {{- end -}}
  {{ end }}
</div>