{{ $show_descriptions := .show_descriptions }}
{{ $show_images := .show_images }}
{{ $heading_level := .heading_level | default 3 }}
{{ $heading_tag := partial "GetHeadingTag" (dict 
        "level" $heading_level
        "attributes" "class='page-title'"
)}}
<div class="cards">
  {{ range .pages }}
    {{ $page := site.GetPage .file }}
    {{ with $page }}
      <article class="card">
        {{ $heading_tag.open }}
          <a href="{{- .Permalink -}}">
            {{- partial "PrepareHTML" .Title -}}
          </a>
        {{ $heading_tag.close }}

        {{ if and $show_descriptions .Params.summary }}
          <p>{{ partial "GetTruncateContent" ( dict 
            "text" .Params.summary
            "length" site.Params.pages.index.truncate_description
            ) }}</p>
        {{ end }}

        <p class="more meta" aria-hidden="true">{{- i18n "commons.more" -}}</p>

        {{ if $show_images }}
          {{- partial "pages/page-media.html" . -}}
        {{ end }}
      </article>
    {{- end -}}
  {{ end }}
</div>