{{ $show_descriptions := .show_descriptions }}
{{ $show_images := .show_images }}

<div class="grid">
  {{ range .pages }}
    {{- $page := partial "GetPageByUrl" .page -}}
    {{- if .slug -}}
      {{- $page = partial "GetPageByUrl" .slug -}}
    {{- end -}}
    {{ with $page }}
      <article>
        <h1>
          <a href="{{- .Permalink -}}">
            {{- partial "PrepareHTML" .Title -}}
          </a>
        </h1>
        {{ if and $show_descriptions .Params.description_short }}
          <p>{{ partial "PrepareHTML" .Params.description_short }}</p>
        {{ end }}
        {{ if $show_images }}
          {{- partial "pages/page-media.html" . -}}
        {{ end }}
      </article>
    {{- end -}}
  {{ end }}
</div>