{{ $show_descriptions := .show_descriptions }}
{{ $show_images := .show_images }}
{{ $heading_level := .heading_level | default 3 }}
{{ $heading_tag := partial "GetHeadingTag" $heading_level }}

<div class="grid">
  {{ range .pages }}
    {{- $file := false -}}
    {{/*  Check if . is a map or page url, necessary when pages/grid is called outside block context */}}
    {{ if reflect.IsMap . }}
      {{ $file = .file }}
    {{ else }}
      {{ $file = . }}
    {{ end }}

    {{ $page := site.GetPage $file }}

    {{ with $page }}
      <article>
        {{ $heading_tag.open }}
          <a href="{{- .Permalink -}}">
            {{- partial "PrepareHTML" .Title -}}
          </a>
        {{ $heading_tag.close }}

        {{ if and $show_descriptions .Params.summary }}
          {{ if site.Params.pages.index.truncate_description }}
            <p>{{ partial "GetTruncateContent" ( dict 
              "text" .Params.summary
              "length" site.Params.pages.index.truncate_description
              ) }}</p>
          {{ else }}
            <p>{{ partial "PrepareText" .Params.summary }}</p>
          {{ end }}
        {{ end }}
        {{ if $show_images }}
          {{- partial "pages/page-media.html" . -}}
        {{ end }}
      </article>
    {{- end -}}
  {{ end }}
</div>