{{ $option_descriptions := .option_descriptions }}
{{ $option_images := .option_images }}
{{ $heading_level := .heading_level | default 3 }}
{{ $heading_tag := partial "GetHeadingTag" (dict 
        "level" $heading_level
        "attributes" "class='page-title'"
)}}
<div class="grid">
  {{ range .pages }}
    {{- $file := false -}}
    {{/*  Check if . is a map or page url, necessary when pages/grid is called outside block context */}}
    {{ if reflect.IsMap . }}
      {{ $file = .file }}
    {{ else }}
      {{ $file = . }}
    {{ end }}

    {{ $page := site.GetPage $file }}

    {{ with $page }}
      <article>
        {{ $heading_tag.open }}
          <a href="{{- .Permalink -}}">
            {{- partial "PrepareHTML" .Title -}}
          </a>
        {{ $heading_tag.close }}

        {{ if and $option_descriptions .Params.summary }}
          <p>{{ partial "GetTruncateContent" ( dict 
              "text" .Params.summary
              "length" site.Params.pages.index.truncate_description
            ) }}</p>
        {{ end }}
        {{ if $option_images }}
          {{- partial "pages/page-media.html" . -}}
        {{ end }}
      </article>
    {{- end -}}
  {{ end }}
</div>