{{ $options := .options }}
{{ $heading_level := .heading_level | default 3 }}

<div class="large">
  {{ range .pages }}
    {{ $page := site.GetPage .path }}
    {{ with $page }}
      <article class="page">
        <div class="page-content">
          {{ partial "pages/item/title.html" (dict 
              "page" .
              "heading_level" $heading_level
            )}}

          {{ if $options.summary }}
            {{ partial "pages/item/summary.html" . }}
          {{ end }}

          {{ partial "pages/item/more.html" . }}
        </div>

        {{ if $options.image }}
          {{- partial "pages/item/media.html" (dict
              "image" .Params.image
              "sizes" site.Params.image_sizes.blocks.pages.large
            ) -}}
        {{ end }}
      </article>
    {{- end -}}
  {{ end }}
</div>