{{ $options := .options }}
{{ $heading_level := .heading_level | default 3 }}
{{ $heading_tag := partial "GetHeadingTag" (dict 
        "level" $heading_level
        "attributes" "class='page-title'"
)}}
<div class="large">
  {{ range .pages }}
    {{ $page := site.GetPage .file }}
    {{ with $page }}
      <article class="page">
        <div class="page-content">
          {{ $heading_tag.open }}
            <a href="{{- .Permalink -}}">
              {{- partial "PrepareHTML" .Title -}}
            </a>
          {{ $heading_tag.close }}
          {{ if and $options.summary .Params.summary }}
            {{ partial "GetElementSummary" ( dict 
              "summary" .Params.summary
              "kind" "pages"
            )}}
          {{ end }}
          <p class="more meta" aria-hidden="true">{{- i18n "commons.more" -}}</p>
        </div>

        {{- if and $options.image .Params.image -}}
          <div class="media">
            {{- partial "commons/image.html" (dict
                "image"    .Params.image
                "sizes"    site.Params.image_sizes.blocks.pages.large
              ) -}}
          </div>
        {{- end -}}
      </article>
    {{- end -}}
  {{ end }}
</div>