{{ $years := where .Pages ".Params.is_year" true }}
<ul>
  {{ range $years }}
    <li>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      {{ $events := where .RegularPagesRecursive "Params.dates.archive" false }}
      {{ $months := $events.GroupByDate "January" "asc" }}

      <ul>
        {{ range $months }}
          <li>
            <span>{{ .Key | strings.FirstUpper | safeHTML }}</span>
            {{/*  Group by slug to avoid duplication of recurring events and parents events with multiple dates  */}}
            {{ range .Pages.GroupByParam "slug" }}
              {{/*  Get only the first event of the group as the group contains duplicated events */}}
              {{ $event := .Pages | first 1 }}
              {{ partial "sitemap/sections/children.html" (dict 
                "items" $event
                "type" "events"
              ) }}
            {{ end }}
          </li>
        {{ end }}
      </ul>
    </li>
  {{ end }}
</ul>