{{ $years := where .Pages ".Params.is_year" true }}
<ul>
  {{ range $years }}
    <li>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      {{ $events := where .RegularPagesRecursive "Params.dates.archive" false }}

      {{ $events_slugs := slice }}
      {{ $unique_events := slice }}

      {{ range $events }}
        {{ $event_slug := .Params.slug }}
        {{ if not (in $events_slugs $event_slug) }}
          {{ $events_slugs = $events_slugs | append $event_slug }}
          {{ $unique_events = $unique_events | append . }}
        {{ end }}
      {{ end }}

      {{ partial "sitemap/sections/children.html" (dict 
        "items" $unique_events
        "type" "events"
      ) }}
    </li>
  {{ end }}
</ul>