{{ $ignore_children := partial "helpers/param/GetSiteParamWithDefault" (dict
  "param" (printf "%s.sitemap.ignore_children" .type)
  "default" "default.sitemap.ignore_children"
) }}
<div class="block block-sitemap block-sitemap--{{ .type }}">
  <div class="container">
    <div class="block-content">
      <h2 class="heading" id="{{ .type }}">
        {{ if .link }}
          <a href="{{ .link }}">{{- safeHTML .title -}}</a>
        {{ else }}
          {{- .title -}}
        {{ end }}
      </h2>
      {{ if not $ignore_children }}
        {{ partial "sitemap/sections/children.html" .pages }}
      {{ end }}
    </div>
  </div>
</div>