{{ define "main" }}
  {{ partial "posts/single/hero/hero.html" . }}

  <div class="document-content" itemscope itemtype="https://schema.org/NewsArticle">
    <meta itemprop="headline" content="{{ partial "PrepareHTML" .Title }}">
    <meta itemprop="url" content="{{ .Permalink }}">
    {{ with .Date }}<meta itemprop="datePublished" content="{{ .Format "2006-01-02T15:04" }}">{{ end }}
    {{ with .Params.summary }}<meta itemprop="abstract" content="{{ . | safeHTML }}">{{ end }}

    {{ partial "posts/single/sidebar.html" . }}

    {{ partial "posts/commons/summary.html" (dict
        "context" .
        "block_wrapped" true
      ) }}

    {{ partial "contents/list.html" . }}

    {{ partial "posts/single/after-contents.html" . }}

    {{ if and site.Params.posts.single.author_signature .Params.authors }}
      {{ partial "posts/single/signature.html" . }}
    {{ end }}

    {{ partial "commons/siblings-navigation.html" (dict
      "context" .
      "previous_label" (i18n "posts.previous")
      "next_label" (i18n "posts.next")
    ) }}

    {{ partial "hooks/before-document-content-end.html" . }}
  </div>
{{ end }}
