{{ $is_repeating := gt .Params.time_slots 1 }}
{{ $multiple_dates_event := ne .Params.dates.from.day .Params.dates.to.day }}
{{ $is_parent := .Params.children }}
{{ $is_simple_event := and .Params.dates (not .Params.time_slots) }}
{{ $has_primary_date := or $is_repeating $multiple_dates_event $is_parent $is_simple_event }}

<div class="event-slots {{- if $is_parent }} parent-event {{ end }} {{ if $is_simple_event }} simple-event {{ end }}">
  <h2 class="events-slots-title">{{ i18n "commons.date" (cond $has_primary_date 2 1) }}</h2>
  {{ if $has_primary_date }}
    {{ partial "commons/agenda/dates/primary.html" . }}
  {{ end }}
  {{ if .Params.time_slots }}
    {{ partial "commons/agenda/dates/timeslots.html" . }}
  {{ end }}
</div>