{{ $page := . }}
{{ $pageWithTranslations := $page.Translations | append $page }}
{{ $siteLang := "" }}
{{ $url := "" }}
{{ if gt (len site.Languages) 1 }}
  <div class="container">
    <div class="footer-i18n">
      <button
        aria-expanded="false"
        aria-controls="footer-i18n-list"
        aria-label="{{ i18n "commons.accessibility.menu_lang" }}">
        {{- site.Language.LanguageName -}}
      </button>
      <ul class="dropdown-menu dropdown-languages" id="footer-i18n-list">
        {{ range site.Languages }}
          {{ $siteLang := . }}
          {{ $url = printf "/%s/" .Lang }}
          {{ range $pageWithTranslations }}
            {{ if eq .Lang $siteLang.Lang }}
              {{ $url = .Permalink }}
            {{ end }}
          {{ end }}
          {{ if not (eq $siteLang site.Language) }}
            <li>
              <a href="{{ $url }}" lang="{{ $siteLang }}" hreflang="{{ $siteLang }}">
                {{- $siteLang.LanguageName -}}
              </a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
{{ end }}