{{ $page := . }}
{{ $pageWithTranslations := $page.Translations | append $page }}
{{ $siteLang := "" }}
{{ $url := "" }}
{{ if gt (len site.Languages) 1 }}
  <div class="container">
    <div class="footer-i18n">
      <button
        aria-haspopup="menu"
        aria-expanded="false"
        aria-label="{{ i18n "commons.accessibility.menu_lang" }}"
        tabindex="0">
        {{- site.Language.LanguageName -}}
      </button>
      <div class="dropdown-menu dropdown-languages">
        <ul>
          {{ range site.Languages }}
            {{ $siteLang := . }}
            {{ $url = printf "/%s/" .Lang }}
            {{ range $pageWithTranslations }}
              {{ if eq .Lang $siteLang.Lang }}
                {{ $url = .Permalink }}
              {{ end }}
            {{ end }}
            {{ if ne $siteLang site.Language }}
              <li>
                <a 
                  href="{{ $url }}" 
                  lang="{{ $siteLang }}" 
                  hreflang="{{ $siteLang }}"
                >
                  {{- $siteLang.LanguageName -}}
                </a>
              </li>
            {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
{{ end }}