{{- with site.Data.school -}}
<address itemscope itemtype="https://schema.org/CollegeOrUniversity">
  <meta itemprop="image" content="/assets/images/logo.svg">
  <p itemprop="name">{{ htmlUnescape (trim .name "\n") }}</p>
  {{ if or (.address) (.country) -}}
  <p itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
    {{ if .address }}<span itemprop="streetAddress">{{ trim .address "\n" }}</span><br>{{ end }}
    {{ if .zipcode }}<span itemprop="postalCode">{{ trim .zipcode "\n" }}</span> {{ end }}{{ if .city }}<span itemprop="addressLocality">{{ trim .city "\n" }}</span>{{ end }}
    {{ if .country }}<span itemprop="addressCountry">{{ trim .country "\n" }}</span>{{ end }}
  </p>
  {{ end }}
  {{- if .phone -}}
    <p>
      {{- $phone := trim .phone "\n " -}}
      {{- $phone_href := replace $phone " " "" -}}
      <a itemprop="telephone" href="tel:{{ $phone_href }}">{{ $phone }}</a>
    </p>
  {{- end }}
</address>
{{- end -}}
{{- with site.Data.laboratory -}}
<address itemscope itemtype="">
  <meta itemprop="image" content="/assets/images/logo.svg">
  <p itemprop="name">{{ htmlUnescape (trim .name "\n") }}</p>
  {{ if or (.address) (.country) }}
  <p itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
    {{ if .address }}<span itemprop="streetAddress">{{ .address }}</span><br>{{ end }}
    {{ if .zipcode }}<span itemprop="postalCode">{{ .zipcode }}</span> {{ end }}{{ if .city }}<span itemprop="addressLocality">{{ .city }}</span>{{ end }}<br>
    {{ if .country }}<span itemprop="addressCountry">{{ .country }}</span>{{ end }}
  </p>
  {{ end }}
  {{- if .phone -}}
    <p>
      {{- $phone := trim .phone "\n " -}}
      {{- $phone_href := replace $phone " " "" -}}
      <a itemprop="telephone" href="tel:{{ $phone_href }}">{{ $phone }}</a>
    </p>
  {{- end }}
</address>
{{- end -}}
{{- with site.Data.journal -}}
<div itemscope itemtype="https://schema.org/Periodical">
  <meta itemprop="image" content="/assets/images/logo.svg">
  <p itemprop="name">{{ htmlUnescape (trim .name "\n") }}</p>
  <p itemprop="issn">{{ trim .issn "\n" }}</p>
</div>
{{- end -}}
