{{ $menu := partial "GetMenu" "social" }}
{{ $social_links := index site.Data.website.social }}

{{ if $social_links }}
  <ul class="nav-social nav-level-1">
    {{ with $social_links.mastodon}}
    <li>
      <a href="{{ . }}" rel="noreferrer" title="Mastodon" target="_blank" class="mastodon">Mastodon</a>
    </li>
    {{ end}}
    {{ with $social_links.peertube}}
    <li>
      <a href="{{ . }}" rel="noreferrer" title="Peertube" target="_blank" class="peertube">Peertube</a>
    </li>
    {{ end}}
    {{ with $social_links.x}}
    <li>
      <a href="{{ . }}" rel="noreferrer" title="X, ex-Twitter" target="_blank" class="x">X</a>
    </li>
    {{ end}}
    {{ with $social_links.linkedin}}
    <li>
      <a href="{{ . }}" rel="noreferrer" title="LinkedIn" target="_blank" class="linkedin">LinkedIn</a>
    </li>
    {{ end}}
    {{ with $social_links.youtube}}
    <li>
      <a href="{{ . }}" rel="noreferrer" title="Youtube" target="_blank" class="youtube">Youtube</a>
    </li>
    {{ end}}
    {{ with $social_links.vimeo}}
    <li>
      <a href="{{ . }}" rel="noreferrer" title="Vimeo" target="_blank" class="vimeo">Vimeo</a>
    </li>
    {{ end}}
    {{ with $social_links.instagram}}
    <li>
      <a href="{{ . }}" rel="noreferrer" title="Instagram" target="_blank" class="instagram">Instagram</a>
    </li>
    {{ end}}
    {{ with $social_links.facebook}}
    <li>
      <a href="{{ . }}" rel="noreferrer" title="" target="_blank" class="facebook">Facebook</a>
    </li>
    {{ end}}
    {{ with $social_links.tiktok}}
    <li>
      <a href="{{ . }}" rel="noreferrer" title="TikTok" target="_blank" class="tiktok">TikTok</a>
    </li>
    {{ end}}
  </ul>
{{ else if $menu }}
  {{ partial "commons/menu.html"
    (dict
      "kind"        "social"
      "level"       1
      "class"       "nav-social"
    )}}
{{ end }}

