{{ $categories := .categories }}
{{ $heading_level := .heading_level }}
{{ $options := .options }}

<ul class="categories categories--alternate">
  {{ range $categories }}
    {{ $li_class := "without-image" }}
    {{ $category := site.GetPage .path }}
    {{ with $category }}
      {{ with .Params.image }}
        {{ $li_class = partial "GetImageDirection" . }}
      {{ end }}
    {{ end }}

    <li class="{{ $li_class }}">
      {{ partial "categories/partials/layouts/alternate/alternate-item.html" (dict
          "category" .
          "heading_level" $heading_level
          "options" $options
          "layout" "alternate"
        ) }}
    </li>
  {{ end }}
</ul>
