{{ $title := .Title }}
{{ with .Params.time_slots }}
  {{ $passed_time_slots := where . "status" "eq" "archive" }}
  {{ $future_and_current_time_slots := where . "status" "in" (slice "future" "current") }}
  {{ $ordered_time_slots := $future_and_current_time_slots | append $passed_time_slots }}

  <ul id="all-dates" class="extendable-list">
    {{ range $index, $time_slot := $ordered_time_slots }}
      {{ partial "commons/agenda/dates/timeslots/timeslot.html" (dict
        "time_slot" $time_slot
        "title" $title
        "index" $index
      ) }}
    {{ end }}
  </ul>
{{ end }}

{{ if gt .Params.time_slots 1 }}
  <button aria-controls="all-dates" aria-expanded="false" class="btn">{{ i18n (printf "events.more_dates") }}</button>
{{ end }}