<figure class="testimonial {{ if .params.photo }}with-picture{{ end }}" {{ with .params.author -}} role="figure" aria-label="{{ . }}" {{- end }}>
  {{ with .params }}
    {{ $is_long := gt (len .text) 150 }}
    <blockquote {{- if $is_long }} class="is-long" {{- end }}>
      {{- partial "PrepareHTML" .text -}}
    </blockquote>
    {{ if or .photo .author .job -}}
      <figcaption>
        {{ if .photo -}}
          <div class="avatar">
            {{- partial "commons/image.html"
              (dict
                "image" .photo
                "sizes" site.Params.image_sizes.blocks.testimonials
              ) -}}
          </div>
        {{- end }}
        {{ if or .author .job -}}
          <p>
            {{- if .author -}}
              <span class="signature">{{ partial "PrepareHTML" .author }}</span>
            {{- end }}
            {{- if .job -}}
              <span class="meta">{{- partial "PrepareHTML" .job -}}</span>
            {{- end }}
          </p>
        {{- end }}
      </figcaption>
    {{ end }}
  {{ end }}
</figure>