<section class="cover{{ if .Params.image.id }} cover--with-image{{ end }}">
  {{ with .Params.image.id }}
    {{ $image := partial "GetMedia" . }}
    {{ with $image }}
      <img class="cover__image" src="{{ $image.direct_url }}" />
    {{ end }}
  {{ end }}
  <hgroup>
    <h1>{{ .Title }} </h1>
    {{ with .Params.subtitle }}
      <p class="subtitle">{{ . }} </p>
    {{ end }}
  </hgroup>
  {{ partial "pagedjs/partials/authors.html" .Params.authors }}
  {{ partial "pagedjs/partials/website.html" . }}
</section>
<section>
  {{ partial "pagedjs/partials/blocks.html" .Params.contents }}
</section>
<section class="back">
  <h1>{{ page.Title }}</h1>
  {{ partial "pagedjs/partials/authors.html" .Params.authors }}
  {{ partial "pagedjs/partials/summary.html" .Params.summary }}
  {{ partial "pagedjs/partials/website.html" . }}
</section>