{{ define "main" }}
  {{- $is_organizations_block_present := false -}}
  {{ range .Params.contents }}
    {{- if or (eq .template "partners") (eq .template "organizations") -}}
      {{- $is_organizations_block_present = true -}}
    {{ end }}
  {{ end }}

  {{ partial "organizations/hero.html" . }}

  <div class="document-content">
    {{ partial "pages/summary.html" (dict
      "context" .
      "with_container" true
    ) }}

    {{ partial "contents/list.html" . }}

    <div class="container">
      {{- if not $is_organizations_block_present -}}
        {{ partial "organizations/organizations.html" . }}
        {{ partial "commons/pagination.html" . }}
      {{ end }}
    </div>
  </div>
{{ end }}
