{{ define "main" }}
  {{- $is_organizations_block_present := false -}}
  {{ range .Params.contents }}
    {{- if eq .template "organizations" -}}
      {{- $is_organizations_block_present = true -}}
    {{ end }}
  {{ end }}

  {{ partial "organizations/section/hero.html" . }}

  <div class="document-content">
    {{ partial "organizations/single/summary.html" (dict
        "context" .
        "with_container" true
      ) }}

    {{ partial "contents/list.html" . }}

    <div class="container">
      {{- if not $is_organizations_block_present -}}
        {{ partial "taxonomies/section-list.html" . }}
        {{ partial "organizations/partials/organizations.html" . }}
        {{ partial "commons/pagination.html" . }}
      {{ end }}
    </div>
  </div>
{{ end }}
