{{ define "main" }}
  {{ partial "organizations/hero.html" . }}

  <div class="document-content" itemscope itemtype="https://schema.org/Organization">

    {{ partial "toc/container.html" (dict
          "toc" "toc/default.html"
          "context" .
        ) }}

    <div class="container">
      <div itemprop="articleBody" class="rich-text">
        {{ partial "pages/summary.html" (dict
          "context" .
        ) }}

        {{ if (partial "GetTextFromHTML" .Content) }}
          {{ partial "PrepareHTML" (
              partial "H2AddId" .Content
            ) }}
        {{ end }}

        <div class="organization-categories">
          {{ partial "taxonomies/single-list.html" (dict
              "context" .
              "kind" "organization"
              "taxonomies" .Params.taxonomies
              "free_categories" .Params.free_categories
            ) }}
        </div>
        
        {{ partial "commons/contact-details.html" . }}

      </div>
      {{ partial "organizations/logo.html" . }}
    </div>
    {{ partial "contents/list.html" . }}

    {{ if site.Params.organizations.single.backlinks }}
      {{ partial "contents/backlinks.html" . }}
    {{ end }}
  </div>
{{ end }}
