<nav class="toc" id="nav-toc" aria-label="{{ i18n "commons.toc.title" }}">
  <ol>
    {{- if .context.Params.contents -}}
      {{- partial "blocks/toc.html" .context.Params.contents -}}
    {{- end -}}
    <li>
      <a href="#pages">{{ i18n "sitemap.pages" }}</a>
    </li>
    {{ range site.Sections }}
      {{ if and (ne .Type "sitemap") (ne .Type "pages") }}
        {{ $ignore_section := partial "GetSiteParamWithDefault" (dict
          "param" (printf "%s.sitemap.ignore" .Type)
          "default" "default.sitemap.ignore"
        ) }}
        {{ if not $ignore_section }}
          <li>
            <a href="#{{ .Type }}">{{ safeHTML .Title }}</a>
          </li>
        {{ end }}
      {{ end }}
    {{ end }}
  </ol>
</nav>