{{- if or (partial "GetTextFromHTML" .Params.prerequisites) (partial "GetTextFromHTML" .Params.pricing) (partial "GetTextFromHTML" .Params.registration) (partial "GetTextFromHTML" .Params.accessibility) (partial "GetTextFromHTML" .Params.other) -}}
<section id="admission">
  <div class="container">
    <div class="content">
      <h2>{{ i18n "programs.toc.admission" }}</h2>
      <div>
        {{- if partial "GetTextFromHTML" .Params.prerequisites -}}
          <h3>{{ i18n "programs._prerequisites" }}</h3>
          {{- partial "PrepareHTML" .Params.prerequisites -}}
        {{- end -}}

        {{- if partial "GetTextFromHTML" .Params.pricing -}}
          <h3>{{ i18n "programs._pricing" }}</h3>
          {{- partial "PrepareHTML" .Params.pricing -}}
        {{- end -}}

        {{- if partial "GetTextFromHTML" .Params.registration -}}
          <h3>{{ i18n "programs._registration" }}</h3>
          {{- partial "PrepareHTML" .Params.registration -}}
          {{- if partial "GetTextFromHTML" .Params.registration_url -}}
            <p><a href="{{- partial "PrepareHTML" .Params.registration_url -}}" class="registration">{{ i18n "programs.apply" }}</a></p>
          {{- end -}}
        {{- end -}}

        {{- if partial "GetTextFromHTML" .Params.accessibility -}}
          <h3>{{ i18n "programs._accessibility" }}</h3>
          {{- partial "PrepareHTML" .Params.accessibility -}}
        {{- end -}}

        {{- if partial "GetTextFromHTML" .Params.other -}}
          <h3>{{ i18n "programs._other" }}</h3>
          {{- partial "PrepareHTML" .Params.other -}}
        {{- end -}}

        {{- if .Params.roles -}}

          <h3>{{ i18n "programs._roles" }}</h3>
          {{- with .Params.roles -}}
            {{- range . }}
              {{ $title := .title }}
              {{- range .persons -}}
                {{ $slug := . }}
                {{ with site.GetPage "persons" }}
                  {{ with .GetPage $slug }}
                    <p>
                      <b>{{ $title }}</b>
                      <br>
                      <a href="{{ .Permalink }}">{{ partial "PrepareHTML" .Title }}</a>
                      {{ if .Params.phone }}
                        <br>
                        {{ safeHTML .Params.phone }}
                      {{ end }}
                      {{ if .Params.email }}
                        <br>
                        <a href="mailto:{{ .Params.email }}" rel="noreferrer" target="_blank">{{ .Params.email }}</a>
                      {{ end }}
                    </p>
                  {{ end }}
                {{ end }}
              {{ end }}
            {{ end -}}
          {{- end -}}
        {{- end -}}

        {{- if  partial "GetTextFromHTML" .Params.contacts -}}
          <h3>{{ i18n "programs._contacts" }}</h3>
          {{- if or (partial "GetTextFromHTML" .Params.contacts) -}}
            {{- partial "PrepareHTML" .Params.contacts -}}
          {{- end -}}
        {{- end -}}
      </div>
    </div>
  </div>
</section>
{{- end -}}
