{{- if or (partial "GetTextFromHTML" .Params.prerequisites) (partial "GetTextFromHTML" .Params.pricing) (partial "GetTextFromHTML" .Params.registration) (partial "GetTextFromHTML" .Params.accessibility) (partial "GetTextFromHTML" .Params.other) -}}
<section id="{{ urlize (i18n "programs.toc.admission") }}">
  <div class="container">
    <div class="content">
      <h2>{{ i18n "programs.toc.admission" }}</h2>
      <div>
        {{- if partial "GetTextFromHTML" .Params.prerequisites -}}
          <section id="{{ urlize (i18n "programs.prerequisites") }}">
            <h3>{{ i18n "programs.prerequisites" }}</h3>
            {{- safeHTML .Params.prerequisites -}}
          </section>
        {{- end -}}

        {{- if partial "GetTextFromHTML" .Params.pricing -}}
          <section id="{{ urlize (i18n "programs.pricing") }}">
            <h3>{{ i18n "programs.pricing" }}</h3>
            {{- safeHTML .Params.pricing -}}
          </section>
        {{- end -}}

        {{- if partial "GetTextFromHTML" .Params.pricing_initial -}}
          <section id="{{ urlize (i18n "programs.pricing_initial") }}">
            <h3>{{ i18n "programs.pricing_initial" }}</h3>
            {{- safeHTML .Params.pricing_initial -}}
          </section>
        {{- end -}}

        {{- if partial "GetTextFromHTML" .Params.pricing_continuing -}}
          <section id="{{ urlize (i18n "programs.pricing_continuing") }}">
            <h3>{{ i18n "programs.pricing_continuing" }}</h3>
            {{- safeHTML .Params.pricing_continuing -}}
          </section>
        {{- end -}}

        {{- if partial "GetTextFromHTML" .Params.pricing_apprenticeship -}}
          <section id="{{ urlize (i18n "programs.pricing_apprenticeship") }}">
            <h3>{{ i18n "programs.pricing_apprenticeship" }}</h3>
            {{- safeHTML .Params.pricing_apprenticeship -}}
          </section>
        {{- end -}}

        {{- if partial "GetTextFromHTML" .Params.registration -}}
          <section id="{{ urlize (i18n "programs.registration") }}">
            <h3>{{ i18n "programs.registration" }}</h3>
            {{- safeHTML .Params.registration -}}
            {{- if partial "GetTextFromHTML" .Params.registration_url -}}
              <p><a href="{{- safeHTML .Params.registration_url -}}" class="registration">{{ i18n "programs.apply" }}</a></p>
            {{- end -}}
          </section>
        {{- end -}}

        {{- if partial "GetTextFromHTML" .Params.accessibility -}}
          <section id="{{ urlize (i18n "programs.accessibility") }}">
            <h3>{{ i18n "programs.accessibility" }}</h3>
            {{- safeHTML .Params.accessibility -}}
          </section>
        {{- end -}}

        {{- if partial "GetTextFromHTML" .Params.other -}}
          <section id="{{ urlize (i18n "programs._other") }}">
            <h3>{{ i18n "programs._other" }}</h3>
            {{- safeHTML .Params.other -}}
          </section>
        {{- end -}}

        {{- if .Params.roles -}}
          <section id="{{ urlize (i18n "programs.roles") }}">
            <h3>{{ i18n "programs.roles" }}</h3>
            {{- with .Params.roles -}}
              {{- range . }}
                {{ $title := .title }}
                {{- range .persons -}}
                  {{ $slug := . }}
                  {{ with site.GetPage "persons" }}
                    {{ with .GetPage $slug }}
                      <p>
                        <b>{{ $title }}</b>
                        <br>
                        <a href="{{ .Permalink }}">{{ safeHTML .Title }}</a>
                        {{ if .Params.phone }}
                          <br>
                          {{ safeHTML .Params.phone }}
                        {{ end }}
                        {{ if .Params.email }}
                          <br>
                          <a href="mailto:{{ .Params.email }}" rel="noreferrer" target="_blank">{{ .Params.email }}</a>
                        {{ end }}
                      </p>
                    {{ end }}
                  {{ end }}
                {{ end }}
              {{ end -}}
            {{- end -}}
          </section>
        {{- end -}}

        {{- if partial "GetTextFromHTML" .Params.contacts -}}
          <section id="{{ urlize (i18n "programs.contacts") }}">
            <h3>{{ i18n "programs.contacts" }}</h3>
            {{- if or (partial "GetTextFromHTML" .Params.contacts) -}}
              {{- safeHTML .Params.contacts -}}
            {{- end -}}
          </section>
        {{- end -}}
      </div>
    </div>
  </div>
</section>
{{- end -}}
