{{ $parent := .Params.parent }}
{{- with .Params.diplomas -}}
  {{- $diploma := site.GetPage (printf "/diplomas/%s" .) -}}
  {{- with $diploma -}}
    <dl class="essential meta">
      <dt>{{ i18n "programs.diploma" }}</dt>
      <dd><a href="{{ .Permalink }}">{{ partial "PrepareHTML" .Title }}</a></dd>
      {{- if .Params.level -}}
        <dt>{{ i18n "programs.level" }}</dt>
        <dd>{{ partial "PrepareHTML" .Params.level }}</dd>
      {{- end -}}
      {{- with $parent -}}
        <dt>{{ i18n "programs.mention" }}</dt>
        <dd><a href="{{ .url }}">{{ partial "PrepareHTML" .title }}</a></dd>
      {{- end -}}
      {{- if .Params.duration -}}
        <dt>{{ i18n "programs.duration" }}</dt>
        <dd>{{ partial "PrepareHTML" .Params.duration }}</dd>
      {{- end -}}
    </dl>
  {{- end -}}
{{- end -}}
