{{ if (or site.Params.programs.single.options.logo site.Params.programs.single.options.diploma_certification)}}
    <div class="hero-logos">
        {{- if site.Params.programs.single.options.logo -}}
            <div class="logo">
                {{ partial "commons/image.html"
                (dict
                "image" .Params.logo
                "lazy" false
                ) }}
            </div>
            {{ if site.Params.programs.single.options.diploma_certification }}
                {{ partial "diplomas/certification-logo.html" .Params.diplomas}}
            {{end}}
        {{ end }}
    </div>
{{ end }}