{{- $title := or .Params.header_text .Title -}}
{{- $button := false -}}
{{- $program_logo := false -}}
{{- if (and (and (eq site.Params.summary.position "hero") (eq site.Params.programs.index.options.website_button_position "hero")) .Params.website_url) -}}
  {{ $button = (dict 
    "display" true
    "target" .Params.website_url
    "label" (i18n "programs.website")
  ) }}
{{- end -}}

{{- if site.Params.programs.index.options.hero_program_logo -}}
  {{- $program_logo = true -}}
{{- end -}}

{{ partial "header/hero.html"
      (dict
        "title" $title
        "context" .
        "button" $button
        "logo" $program_logo
        "image" .Params.image
        "hero_complement" "programs/essential.html"
      )}}