<div class="document-content">
  {{ partial "toc/container.html"
    (dict
          "toc" "toc/default.html"
          "context" .
      )
    }}
  {{ partial "programs/summary.html" (dict
      "with_container" true
      "context" .
    ) }}
  {{ partial "blocks/list.html" . }}
  <div class="container">
    {{ partial "diplomas/diplomas-select.html" . }}
    {{ $programs := where .Site.Pages "Section" "programs" }}
    {{ $programs = where $programs "Permalink" "!=" .FirstSection.Permalink }}
    {{ partial "programs/programs-list.html" $programs }}
  </div>
</div>
