{{- if or (partial "GetTextFromHTML" .Params.content) (partial "GetTextFromHTML" .Params.pedagogy) (partial "GetTextFromHTML" .Params.evaluation) (.Params.teachers) -}}
<section id="{{ urlize ( i18n "programs.toc.pedagogy" ) }}">
  <div class="container">
    <div class="content">
      <h2>{{ i18n "programs.toc.pedagogy" }}</h2>
      <div>
        {{- if partial "GetTextFromHTML" .Params.content -}}
          <section id="{{ urlize (i18n "programs.content") }}">
            <h3>{{ i18n "programs.content" }}</h3>
            <div class="rich-text">
              {{- partial "PrepareHTML" .Params.content -}}
            </div>
          </section>
        {{- end -}}

        {{- if partial "GetTextFromHTML" .Params.pedagogy -}}
          <section id="{{ urlize (i18n "programs.pedagogy") }}">
            <h3>{{ i18n "programs.pedagogy" }}</h3>
            <div class="rich-text">
              {{- partial "PrepareHTML" .Params.pedagogy -}}
            </div>
          </section>
        {{- end -}}

        {{- if partial "GetTextFromHTML" .Params.evaluation -}}
          <section id="{{ urlize (i18n "programs.evaluation") }}">
            <h3>{{ i18n "programs.evaluation" }}</h3>
            <div class="rich-text">
              {{- partial "PrepareHTML" .Params.evaluation -}}
            </div>
          </section>
        {{- end -}}

        {{- if .Params.teachers -}}
          {{ $title := i18n "programs.teachers" -}}
          <section id="{{ urlize $title }}">
            <h3>{{ $title }}</h3>
            {{- partial "programs/teachers.html"
                          (dict
                            "title" $title
                            "teachers" .Params.teachers
                            "descriptions" .Params.teachers_description
                          ) -}}
          </section>
        {{- end -}}
      </div>
    </div>
  </div>
</section>
{{- end -}}
