{{- if or (partial "GetTextFromHTML" .Params.content) (partial "GetTextFromHTML" .Params.pedagogy) (partial "GetTextFromHTML" .Params.evaluation) (.Params.teachers) -}}
<section id="pedagogy">
  <div class="container">
    <div class="content">
      <h2>{{ i18n "programs.toc.pedagogy" }}</h2>
      <div>
        {{- if partial "GetTextFromHTML" .Params.content -}}
          <h3 id="{{ anchorize (i18n "programs.content") }}">{{ i18n "programs.content" }}</h3>
          {{- partial "PrepareHTML" .Params.content -}}
        {{- end -}}

        {{- if partial "GetTextFromHTML" .Params.pedagogy -}}
          <h3 id="{{ anchorize (i18n "programs.pedagogy") }}">{{ i18n "programs.pedagogy" }}</h3>
          {{- partial "PrepareHTML" .Params.pedagogy -}}
        {{- end -}}

        {{- if partial "GetTextFromHTML" .Params.evaluation -}}
          <h3 id="{{ anchorize (i18n "programs.evaluation") }}">{{ i18n "programs.evaluation" }}</h3>
          {{- partial "PrepareHTML" .Params.evaluation -}}
        {{- end -}}

        {{- if .Params.teachers -}}
          {{ $title := i18n "programs.teachers" -}}
          <h3 id="{{ anchorize $title }}">{{ $title }}</h3>
          {{- partial "programs/teachers.html"
                        (dict
                          "title" $title
                          "teachers" .Params.teachers
                          "descriptions" .Params.teachers_description
                        ) -}}
        {{- end -}}
      </div>
    </div>
  </div>
</section>
{{- end -}}
