{{- if . -}}
<ol class="programs">
  {{- range . -}}
    <li>
      {{- $title := safeHTML .Title -}}
      <a href="{{ .Permalink }}" class="title" title="{{ safeHTML (i18n "commons.more_aria" (dict "Title" $title)) }}">
        {{- $title -}}
      </a>
      {{- with .Params.diplomas -}}
        {{- $diploma := site.GetPage (printf "/diplomas/%s" .) -}}
        {{- with $diploma -}}
          &ensp;
          <a href="{{ .Permalink }}" title="{{ safeHTML .Title }}">{{ safeHTML .Params.short_name }}</a>
        {{- end -}}
      {{- end -}}
    </li>
  {{- end -}}
</ol>
{{- end -}}
