{{- $with_image := false -}}
{{- if .Scratch.Get "with_image" -}}
  {{- $with_image = true -}}
{{- end -}}
{{- $title := partial "PrepareHTML" .Title -}}
<article class="program">
  <div>
    <p class="title">
      <a href="{{ .Permalink }}" title="{{ safeHTML (i18n "commons.more_aria" (dict "Title" $title)) }}">
        {{- $title -}}
      </a>
    </p>
    {{ if (partial "GetTextFromHTML" .Params.presentation) }}
      {{- partial "PrepareHTML" .Params.presentation -}}
    {{ end }}
  </div>
  {{- if $with_image }}
    {{- if .Params.image }}
      <div class="media">
        {{ partial "commons/image.html"
              (dict
                "image"    .Params.image
                "mobile"   "351x168"
                "tablet"   "456x219"
                "desktop"  "856x410"
                "itemprop" true
              )}}
      </div>
    {{ end -}}
  {{ end -}}
</article>
