<article itemscope itemtype="https://schema.org/EducationalOccupationalCredential">
  <meta itemprop="name" content="{{ partial "PrepareHTML" .Title }}">
  <meta itemprop="url" content="{{ .Permalink }}">
  {{- if .Params.image -}}
    {{- $id := .Params.image -}}
    {{- if isset .Params.image "id" -}}
      {{- $id = .Params.image.id -}}
    {{- end -}}
    {{- $image := partial "GetMedia" $id -}}
    {{- if $image -}}
      {{- $url := $image.url -}}
      {{- if site.Params.keycdn -}}
        {{- $url = $image.direct_url -}}
      {{- end -}}
      <meta itemprop="image" content="{{ $url }}">
    {{- end -}}
  {{- end -}}
  <div class="container">
    {{- partial "programs/abstract.html" .Params.presentation -}}
  </div>
  {{- partial "programs/children.html" .Pages -}}
  {{- partial "programs/presentation.html" . -}}
  {{- partial "programs/pedagogy.html" . -}}
  {{- partial "programs/results.html" . -}}
  {{- partial "programs/admission.html" . -}}
  {{- partial "hooks/before-program-end.html" . -}}
</article>
