<div class="document-content" itemscope itemtype="https://schema.org/EducationalOccupationalCredential">

  <meta itemprop="name" content="{{ partial "PrepareHTML" .Title }}">
  <meta itemprop="url" content="{{ .Permalink }}">

  {{ partial "toc/container.html"
    (dict
          "toc" "programs/toc.html"
          "context" .
      )
    }}

  {{- if .Params.image -}}
    {{- $id := .Params.image -}}
    {{- if isset .Params.image "id" -}}
      {{- $id = .Params.image.id -}}
    {{- end -}}
    {{- $image := partial "GetMedia" $id -}}
    {{- if $image -}}
      {{- $url := $image.url -}}
      {{- if site.Params.keycdn -}}
        {{- $url = $image.direct_url -}}
      {{- end -}}
      <meta itemprop="image" content="{{ $url }}">
    {{- end -}}
  {{- end -}}
  {{- partial "programs/abstract.html" .Params.presentation -}}
  {{- partial "programs/presentation.html" . -}}
  {{- partial "programs/children.html" .Pages -}}
  {{- partial "programs/pedagogy.html" . -}}
  {{- partial "programs/results.html" . -}}
  {{- partial "programs/admission.html" . -}}

  {{/*  TODO: fixer les posts liés  */}}
  {{/*  {{- $category := site.GetPage (printf "/categories%s" .Params.category) -}}  */}}
  {{/*  {{- partial "posts/related.html" $category -}}  */}}

  {{- partial "hooks/before-program-end.html" . -}}
</div>
