<div class="document-content" itemscope itemtype="https://schema.org/EducationalOccupationalCredential">

  <meta itemprop="name" content="{{ partial "PrepareHTML" .Title }}">
  <meta itemprop="url" content="{{ .Permalink }}">

  {{ partial "toc/container.html" (dict
    "toc" "programs/toc.html"
    "context" .
  ) }}

  {{- if .Params.image -}}
    {{- $id := .Params.image -}}
    {{- if isset .Params.image "id" -}}
      {{- $id = .Params.image.id -}}
    {{- end -}}
    {{- $image := partial "GetMedia" $id -}}
    {{- if $image -}}
      {{- $url := $image.url -}}
      {{- if site.Params.keycdn -}}
        {{- $url = $image.direct_url -}}
      {{- end -}}
      <meta itemprop="image" content="{{ $url }}">
    {{- end -}}
  {{- end -}}

  {{ partial "programs/summary.html" (dict
    "with_container" true
    "context" .
  ) }}

  {{- partial "programs/presentation.html" . -}}
  {{- partial "programs/pedagogy.html" . -}}
  {{- partial "programs/results.html" . -}}
  {{- partial "programs/admission.html" . -}}
  {{- partial "programs/certification.html" . -}}

  {{- $category := site.GetPage (printf "/posts_categories/%s" .Params.related_category ) -}}
  {{- partial "programs/related.html" $category -}}

  {{- partial "hooks/before-program-end.html" . -}}
</div>
