{{/* nav-link required for toggle active class */}}
<nav class="toc" id="nav-toc" aria-label="{{ i18n "commons.toc" }}">
  <ol>
    <li>
      <a href="#essential">{{ i18n "programs.toc.essential" }}</a>
    </li>
    <li>
      <a href="#presentation">{{ i18n "programs.toc.presentation" }}</a>
    </li>
    <li>
      <a href="#pedagogy">{{ i18n "programs.toc.pedagogy" }}</a>
    </li>
    <li>
      <a href="#results">{{ i18n "programs.toc.results" }}</a>
    </li>
    <li>
      <a href="#admission">{{ i18n "programs.toc.admission" }}</a>
    </li>
  </ol>
</nav>
