{{ $pedagogy := (dict 

  )}}

{{/* nav-link required for toggle active class */}}
<nav class="toc" id="nav-toc" aria-label="{{ i18n "commons.toc" }}">
  <ol>
    <li>
      <a href="#essential">{{ i18n "programs.toc.essential" }}</a>
    </li>
    <li>
      <a href="#presentation">{{ i18n "programs.toc.presentation" }}</a>
       <ol>
          <li><a href="#{{ anchorize (i18n "programs.administrative_information") }}">{{ i18n "programs.administrative_information" }}</a></li>
          {{- if .context.Params.blocks -}}
          {{- partial "blocks/toc" .context.Params.blocks -}}
          {{- end -}}
        </ol>
    </li>
    <li>
      <a href="#pedagogy">{{ i18n "programs.toc.pedagogy" }}</a>
      <ol>
        {{- if partial "GetTextFromHTML" .context.Params.content -}}
          <li><a href="#{{ anchorize (i18n "programs.content") }}">{{ i18n "programs.content" }}</a></li>
        {{- end -}}
      </ol>
    </li>
    <li>
      <a href="#results">{{ i18n "programs.toc.results" }}</a>
    </li>
    <li>
      <a href="#admission">{{ i18n "programs.toc.admission" }}</a>
    </li>
  </ol>
</nav>
