{{- $params := .context.Params -}}
{{- $contactsExist := or $params.contacts $params.roles -}}
{{/* nav-link required for toggle active class */}}
<nav class="toc" id="nav-toc" aria-label="{{ i18n "commons.toc" }}">
  <ol>
    {{- range .chapters -}}
      {{- $content := index $params . -}}
      {{- $chapterExists := $content -}}
      {{ if eq "contacts" . }}
        {{- $chapterExists = $contactsExist -}}
      {{ end }}
      {{- if $chapterExists }}
      <li>
        <a class="nav-link" href="#page-{{ . }}">
          {{- i18n (printf "programs._%s" .) -}}
        </a>
      </li>
      {{- end -}}
    {{- end -}}
    {{- if .category.Pages }}
      <li>
        <a class="nav-link" href="#page-posts">
          {{- i18n "programs.posts" -}}
        </a>
      </li>
    {{ end -}}
  </ol>
</nav>
