{{ $type := .type }}
{{ $singularizedType := $type | singularize }}
{{ $elements := .elements}}
{{ $layout := index site.Params ($type | index) | default "list" }}
{{ $layout = $layout.index.layout }}

<div class="block-{{ $type }} block-{{ $type }}--{{- $layout -}}">
  <div class="container">
    <div class="block-content">
      <div class="{{ $layout }}">
        {{ $partials := dict 
            "posts" "posts/post.html" 
            "events" "events/event.html" 
        }}
        {{ range .elements }}
          {{ $currentElement := . }}
          {{ with index $partials $type }}
            {{ partial . (dict 
              $singularizedType $currentElement
              "heading" "h3"
            )}}
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</div>