{{ $post := .post }}
{{- $direction := "" -}}
{{ $heading := .heading | default "h2" }}
{{ $heading_tag := (dict 
    "open" ((printf "<%s class='post-title' itemprop='headline'>" $heading) | safeHTML)
    "close" ((printf "</%s>" $heading) | safeHTML)
    ) }}
{{ $index := .index}}
{{ $alternate := .alternate }}
{{- $show_image := (eq .options.hide_image false) -}}
{{- $show_summary := (eq .options.hide_summary false) -}}
{{- $show_category := (eq .options.hide_category false) -}}
{{- $show_author := (eq .options.hide_author false) -}}
{{- $show_date := (eq .options.hide_date false) -}}

{{ with $post }}

{{ if .Params.image }}
  {{- $direction = partial "GetImageDirection" .Params.image -}}
{{ end }}

<article class='post {{ if $alternate }} {{- if (not (isset .Params "image")) -}} without-image {{- end -}}{{ $direction }} {{if not (modBool $index 2)}}left{{ else}}right{{end}}{{end}}' itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="post-content">
    {{- $title := partial "PrepareHTML" .Title -}}

    {{ $heading_tag.open }}
      <a href="{{ .Permalink }}" title="{{ safeHTML (i18n "commons.more_aria" (dict "Title" $title)) }}">{{ $title }}</a>
    {{ $heading_tag.close }}

    {{ if and site.Params.posts.index.show_categories $show_category }}
      {{- partial "posts/categories" . -}}
    {{ end }}

    {{ if and site.Params.posts.index.show_description $show_summary }}
      {{- if (partial "GetTextFromHTML" .Params.summary) -}}
        <p itemprop="articleBody">{{ partial "GetTruncateContent" ( dict 
          "text" .Params.summary
          "length" site.Params.posts.index.truncate_description
          ) }}</p>
      {{- end -}}
    {{- end -}}
    
    {{ if or $show_author $show_date }}
      <div class="post-meta">
        {{ if $show_date }}
          <time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04" }}">{{ .Date | time.Format site.Params.posts.date_format }}</time>
        {{ end }}
        {{ if and site.Params.posts.index.show_author $show_author }}
          {{- partial "posts/author" . -}}
        {{ end }}
      </div>
    {{ end }}


  </div>
  {{ if $show_image }}
    <div class="media">
      {{- if and .Params.image -}}
        {{- partial "commons/image.html"
            (dict
              "image"    .Params.image
              "sizes"    site.Params.image_sizes.sections.posts.item
            ) -}}
      {{- else -}}
        {{- partial "commons/image-default.html" "posts" -}}
      {{- end -}}
    </div>
  {{- end -}}
</article>
{{ end }}