{{ $post := .post }}
{{ if .params }}
  {{ $post = site.GetPage (printf "/posts/%s" .params )}}
{{ end }}

{{ $direction := "" }}
{{ $heading := .heading | default "h2" }}
{{ $heading_tag := (dict 
    "open" ((printf "<%s class='post-title' itemprop='headline'>" $heading) | safeHTML)
    "close" ((printf "</%s>" $heading) | safeHTML)
    ) }}
{{ $index := .index }}
{{ $options := .options }}
{{ $alternate := .alternate }}
{{ $is_carousel := .is_carousel }}
{{ $index := .index }}
{{ $role := .role }}

{{ with $post }}
  {{ $post_class := "post" }}
  {{ $reading_time := .Params.contents_reading_time }}
  {{ if and .Params.image $options.image }}
    {{ $direction = partial "GetImageDirection" .Params.image }}
    {{ $post_class = printf "%s %s" $post_class $direction }}
  {{ else }}
    {{ $post_class = printf "%s %s" $post_class "without-image" }}
  {{ end }}
  {{ if $is_carousel }}
    {{ $post_class = printf "%s %s" $post_class "carousel__slide" }}
  {{ end }}

  <article class="{{ $post_class }}" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting" {{- if $is_carousel }} id="carousel-item-{{$index}}" role="{{$role}}" aria-roledescription="slide" class="carousel__slide" aria-label="item-{{$index}}" {{ end }}>
    <div class="post-content">
      {{- $title := partial "PrepareHTML" .Title -}}

      {{ $heading_tag.open }}
        <a href="{{ .Permalink }}" title="{{ safeHTML (i18n "commons.more_aria" (dict "Title" $title)) }}">{{ $title }}</a>
      {{ $heading_tag.close }}

      {{ if $options.categories }}
        {{ partial "commons/categories" ( dict
          "context" .
          "kind" "post"
        )}}
      {{ end }}

      {{ if $options.summary }}
        {{- if (partial "GetTextFromHTML" .Params.summary) -}}
          <p itemprop="articleBody">{{ partial "GetTruncateContent" ( dict 
            "text" .Params.summary
            "length" site.Params.posts.index.truncate_description
            ) }}</p>
        {{- end -}}
      {{- end -}}
      
      {{ if or $options.author $options.date $options.reading_time }}
        <div class="post-meta">
          {{ if $options.date }}
            <time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04" }}">{{ .Date | time.Format site.Params.posts.date_format }}</time>
          {{ end }}
          {{ if $options.author }}
            {{- partial "posts/author" . -}}
          {{ end }}
          {{ if and $reading_time $options.reading_time }}
            <span class="post-reading-time">
              {{- i18n "posts.reading_time" }} : {{ partial "GetTextFromHTML" $reading_time.text -}}
            </span>
          {{ end }}
        </div>
      {{ end }}
    </div>
    {{ if $options.image }}
      <div class="media">
        {{- if and .Params.image -}}
          {{- partial "commons/image.html"
              (dict
                "image"    .Params.image
                "sizes"    site.Params.image_sizes.sections.posts.item
              ) -}}
        {{- else -}}
          {{- partial "commons/image-default.html" "posts" -}}
        {{- end -}}
      </div>
    {{- end -}}
  </article>
{{ end }}