<article class="post" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="post-content">
    {{- $title := partial "PrepareHTML" .Title -}}
    <h1 itemprop="headline"><a href="{{ .Permalink }}" title="{{ safeHTML (i18n "commons.more_aria" (dict "Title" $title)) }}">{{ $title }}</a></h1>
    {{ if $.Site.Params.posts.list.show_categories }}
      {{- partial "posts/categories" . -}}
    {{ end }}
    {{- if (partial "GetTextFromHTML" .Params.description_short) -}}
      <p itemprop="articleBody">{{ partial "PrepareHTML" .Params.description_short }}</p>
    {{- end -}}
    
    <time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04" }}">{{ .Date | time.Format ":date_long" }}</time>
  </div>
  <div class="media">
    {{- if .Params.image -}}
      {{- partial "commons/image.html"
            (dict
              "image"    .Params.image
              "mobile"   "350x350"
              "tablet"   "450x450"
              "desktop"  "900x900"
            ) -}}
    {{- else -}}
      {{- partial "commons/image-default.html" -}}
    {{- end -}}
  </div>
</article>
