{{ $list_class := printf "posts posts--%s" site.Params.posts.index.layout }}
{{ $list_class = printf "%s %s" $list_class (cond site.Params.posts.index.options.image "with-images" "without-images") }}
<div class="{{ $list_class }}">
  {{ if not .Paginator.Pages }}
    <p>{{ i18n "categories.no_post" }}</p>
  {{ end }}
  {{ range .Paginator.Pages }}
    {{  partial "posts/post.html" 
        (dict 
          "post" .
          "options" site.Params.posts.index.options
        )}}
  {{ end }}
</div>
