{{- if or .PrevInSection .NextInSection -}}
<div class="block block-pagination">
  <div class="container">
    <div class="block-content">
      <nav class="posts-navigation" aria-label="{{ i18n "commons.pagination.between.posts" }}">
        <ul>
          {{- with .PrevInSection -}}
            <li class="previous">
              {{ $title := partial "PrepareHTML" .Title -}}
              <a href="{{ .RelPermalink }}" title="{{ safeHTML (i18n "posts.previous_aria" (dict "Title" $title)) }}">
                <span>
                  {{- i18n "posts.previous" -}}
                </span>
                {{- $title -}}
              </a>
            </li>
          {{- end -}}
          {{- with .NextInSection -}}
            <li class="next">
              {{ $title := partial "PrepareHTML" .Title -}}
              <a href="{{ .RelPermalink }}" title="{{ safeHTML (i18n "posts.next_aria" (dict "Title" $title)) }}">
                <span>
                  {{- i18n "posts.next" -}}
                </span>
                {{- $title -}}
              </a>
            </li>
          {{- end -}}
        </ul>
      </nav>
    </div>
  </div>
</div>
{{- end -}}
