{{ partial "posts/section/hero.html" . }}
<div class="document-content">
  {{ partial "posts/section/summary.html" (dict
      "with_container" true
      "context" .
    ) }}

  {{ partial "taxonomies/section-list-container.html" . }}

  {{ if (partial "IsFirstPage" .) }}
    {{ partial "contents/list.html" (dict
      "context" .
      "contents" .Params.contents
    ) }}
  {{ end }}

  <div class="container">
    {{ partial "posts/partials/posts.html" . }}
    {{ partial "commons/pagination.html" . }}
  </div>
</div>
