{{ $h2s := partial "H2Extract" .Content }}
{{- if or .Params.blocks $h2s }}
<nav class="toc" id="nav-toc" aria-label="{{ i18n "commons.toc" }}">
  <ol>
    {{- if and (not $h2s) (partial "GetTextFromHTML" .Content) }}
      <li>
        <a href="#page-informations">{{ i18n "pages.informations" }}</a>
      </li>
    {{ end -}}
    {{- range $index, $h2 := $h2s }}
      <li>
        <a href="#page-h2-{{$index}}">{{ plainify $h2 }}</a>
      </li>
    {{- end -}}
    {{- partial "blocks/toc.html" .Params.blocks -}}
  </ol>
</nav>
{{ end -}}
