{{ $publications := where .Site.Pages "Section" .Type }}
{{ $filtered_publications := partial "FilterPublications" $publications }}
{{ $paginator := .Paginate $filtered_publications 2 }}

<div class="publications">
  {{ if site.Params.publications.index.group_by_year }}
    {{ $publications = $filtered_publications.GroupByDate "2006" }}
    {{ range $paginator.Pages }}
      <section>
        <h2 class="publications-year">{{ .Key }}</h2>
        {{ range .Pages }}
          {{ partial "publications/partials/publication.html" (dict "publication" . ) }}
        {{ end }}
      </section>
    {{ end }}
  {{ else }}
    {{ range $paginator.Pages }}
      {{ partial "publications/partials/publication.html" (dict "publication" . ) }}
    {{ end }}
  {{ end }}
</div>