{{ define "main" }}
  {{- partial "header/hero.html"
        (dict
          "title" .Title
          "image" .Params.image
          "sizes" site.Params.image_sizes.sections.papers.hero
          "context" .
        ) -}}
  <div class="document-content">
    <div class="container">
      <ul class="papers">
        {{ range .Paginator.Pages }}
          <li>
            {{ partial "papers/paper.html" (dict "paper" . ) }}
          </li>
        {{ end }}
      </ul>
      {{ partial "commons/pagination.html" . }}
    </div>
  
    {{ partial "blocks/list.html" . }}
  </div>
{{ end }}
