{{ define "main" }}
{{ partial "papers/hero.html" . }}

<div class="document-content" itemscope itemtype="https://schema.org/ScholarlyArticle">
  <meta itemprop="name" content="{{ partial "PrepareHTML" .Title }}">
  {{ partial "papers/sidebar.html" . }}

  <div class="container">
    <div class="content">
      {{ partial "papers/abstract.html" . }}
      {{ partial "papers/authors.html" . }}
      {{ partial "papers/body.html" . }}
      {{ partial "papers/references.html" . }}
    </div>
  </div>

  {{ partial "blocks/list.html" . }}
</div>


{{ end }}
