{{ define "main" }}
{{ partial "papers/list/hero/hero.html" . }}

<div class="document-content sidebar-on-{{ site.Params.papers.sidebar.direction }}" itemscope itemtype="https://schema.org/ScholarlyArticle">
  <meta itemprop="name" content="{{ partial "PrepareHTML" .Title }}">
  {{ partial "papers/single/sidebar.html" . }}

  <div class="container">
    <div class="content">
      {{ partial "papers/commons/summary.html" . }}
      {{ partial "papers/single/abstract.html" . }}
      {{ partial "papers/single/authors.html" . }}
      {{ partial "papers/single/references.html" . }}
    </div>
  </div>

  {{ partial "contents/list.html" . }}

  <div class="container">
    <div class="content">
      {{ partial "papers/single/citations.html" . }}
    </div>
  </div>
</div>


{{ end }}
