{{ define "main" }}
  {{- partial "header/hero.html"
        (dict
          "title" .Title
          "image" .Params.image
          "context" .
        ) -}}
<div class="document-content" itemscope itemtype="https://schema.org/ScholarlyArticle">
  <meta itemprop="name" content="{{ partial "PrepareHTML" .Title }}">

  <div class="container">
    
    {{ partial "papers/document-nav.html" . }}

    <div class="content">
      {{ partial "papers/abstract.html" . }}
      {{ partial "papers/authors.html" . }}
      {{ partial "papers/body.html" . }}
      {{ partial "papers/references.html" . }}
    </div>
    
  </div>
</div>

{{ end }}
