<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "fr" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ partialCached "head/preconnect.html" . }}
    {{ partial "head/init.html" . }}
    {{ partialCached "head/csp.html" . }}
    {{ partialCached "head/css.html" . }}
    {{ partial "head/seo.html" . }}
    {{ partialCached "head/favicons.html" . }}
    {{ partial "head/rss.html" . }}
    {{ partial "head/script.html" . }}
    {{ partialCached "head/extras.html" . }}
  </head>
  <body class="{{ partial "body/helpers/GetBodyclass" . }}">
    {{ partialCached "header/accessibility.html" . }}
    {{ partial "hooks/before-header.html" . }}
    {{ partial "header/header.html" . }}
    {{ partial "commons/alerts/list.html" }}
    <main id="main"
        {{ partial "main/helpers/GetClass" . | safeHTMLAttr }}
        {{ partial "main/helpers/GetSearchAttribute" . | safeHTMLAttr }}
        >
      {{ partial "commons/search/button.html" "fixed" }}
      {{ block "main" . }}{{ end }}
      {{ partial "hooks/before-main-end.html" . }}
    </main>
    {{ partial "footer/footer.html" . }}
    {{ partial "commons/lightbox/lightbox.html" . }}
    {{ partial "commons/search/modal.html" . }}
    {{ partial "scripts/scripts.html" . }}
  </body>
</html>