{{ define "main" }}
  {{ partial "home/hero.html" . }}

  <div class="document-content">
    {{ partial "toc/container.html"
        (dict
            "toc" "toc/default.html"
            "context" .
        )
    }}

    {{ partial "home/chapo.html" (dict
        "block_wrapped" true
        "context" .
      ) }}

    {{- if .Params.blocks }}
      {{- partial "blocks/list.html" . -}}
    {{ else }}
      <section class="block block-pages block-pages--grid">
        <div class="container">
          <div class="block-content">
            {{- partial "blocks/templates/pages/grid.html" (dict 
                "pages" .Params.children
                "show_images" true
                "show_descriptions" true
                ) }}
          </div>
        </div>
      </section>
    {{ end }}
  </div>

{{ end }}
{{/*  TODO: refacto avec pages/list.html  */}}