{{ if or site.Params.programs.single.options.logo site.Params.programs.single.options.diploma_certification }}
  <div class="hero-logos">
    {{ if and site.Params.programs.single.options.logo .Params.logo }}
      <div class="logo">
        {{ partial "commons/image.html"
          (dict
            "image" .Params.logo
            "lazy" false
          ) }}
      </div>
    {{ end }}
    {{ if site.Params.programs.single.options.diploma_certification }}
      {{ partial "diplomas/certification-logo.html" .Params.diplomas }}
    {{ end }}
  </div>
{{ end }}