{{ $about := .Title }}
<div class="backlinks">
  {{ with .Params.backlinks.current_website }}
    {{ if .events }}
      {{ partial "blocks/templates/agenda.html" (dict
        "block" (dict 
          "title" (printf "%s %s" (i18n "persons.backlinks.events") $about)
          "template" "agenda"
          "ranks" (dict 
            "self" 2
            "children" 3
          )
          "data" (dict
            "layout" "grid"
            "events" .events
            "option_summary" true
          )
        )
      ) }}
    {{ end }}
    {{ if .pages }}
      {{ partial "blocks/templates/pages.html" (dict
        "block" (dict 
          "title" (printf "%s %s" (i18n "persons.backlinks.pages") $about)
          "template" "pages"
          "ranks" (dict 
            "self" 2
            "children" 3
          )
          "data" (dict 
            "layout" "grid"
            "option_main_description" false
            "option_descriptions" true
            "option_images" true
            "pages" .pages
          )
        )
      ) }}
    {{ end }}
    {{ if .projects }}
      {{ partial "blocks/templates/projects.html" (dict
        "block" (dict 
          "title" (printf "%s %s" (i18n "persons.backlinks.projects") $about)
          "template" "projects"
          "ranks" (dict
            "self" 2
            "children" 3
          )
          "data" (dict
            "projects" .projects
          )
        )
      ) }}
    {{ end }}
    {{ if .posts }}
      {{ $posts := slice }}
      {{ range .posts }}
        {{ $posts = $posts | append .path }}
      {{ end }}
      {{ partial "blocks/templates/posts.html" (dict
        "block" (dict 
          "title" (printf "%s %s" (i18n "persons.backlinks.posts") $about)
          "template" "posts"
          "ranks" (dict 
            "self" 2
            "children" 3
          )
          "data" (dict
            "layout" "grid"
            "posts" $posts
          )
        )
      ) }}
    {{ end }}
  {{ end }}
</div>