{{ $about := .Title }}
{{ $params := "" }}
{{ $type := .Type }}

<div class="backlinks">
  {{ with .Params.backlinks.current_website }}
    {{ with .exhibitions }}
      {{ $title := i18n (printf "%s.backlinks.exhibitions" $type) }}
      {{ $params = partial "GetLayoutAndOptions" (dict 
          "param" "persons.single.exhibitions"
          "default" "exhibitions.index"
        ) }}
      {{ partial "blocks/templates/exhibitions.html" (dict
        "block" (dict 
          "top" (dict
            "active" true
            "title" (dict
              "value" (printf "%s %s" $title $about)
              "heading" 2
            )
          )
          "template" "agenda"
          "ranks" (dict 
            "base" 2
            "self" 2
          )
          "data" (dict
            "exhibitions" .
            "layout" $params.layout
            "options" $params.options
          )
        )
      ) }}
    {{ end }}
    {{ with .events }}
      {{ $title := i18n (printf "%s.backlinks.events" $type) }}
      {{ $params = partial "GetLayoutAndOptions" (dict 
          "param" "persons.single.events"
          "default" "events.index"
        ) }}
      {{ partial "blocks/templates/agenda.html" (dict
        "block" (dict 
          "top" (dict
            "active" true
            "title" (dict
              "value" (printf "%s %s" $title $about)
              "heading" 2
            )
          )
          "template" "agenda"
          "ranks" (dict 
            "base" 2
            "self" 2
          )
          "data" (dict
            "events" .
            "layout" $params.layout
            "options" $params.options
          )
        )
      ) }}
    {{ end }}
    {{ with .pages }}
      {{ $title := i18n (printf "%s.backlinks.pages" $type) }}
      {{ $params = partial "GetLayoutAndOptions" (dict 
          "param" "persons.single.pages"
          "default" "pages.index"
        ) }}
      {{ partial "blocks/templates/pages.html" (dict
        "block" (dict 
          "top" (dict
            "active" true
            "title" (dict
              "value" (printf "%s %s" $title $about)
              "heading" 2
            )
          )
          "template" "pages"
          "ranks" (dict 
            "base" 2
            "self" 2
          )
          "data" (dict 
            "pages" .
            "layout" $params.layout
            "options" $params.options
          )
        )
      ) }}
    {{ end }}
    {{ with .projects }}
      {{ $title := i18n (printf "%s.backlinks.projects" $type) }}
      {{ $params = partial "GetLayoutAndOptions" (dict 
          "param" "persons.single.projects"
          "default" "projects.index"
        ) }}
      {{ partial "blocks/templates/projects.html" (dict
        "block" (dict 
          "top" (dict
            "active" true
            "title" (dict
              "value" (printf "%s %s" $title $about)
              "heading" 2
            )
          )
          "template" "projects"
          "ranks" (dict
            "base" 2
            "self" 2
          )
          "data" (dict
            "projects" .
            "layout" $params.layout
            "options" $params.options
          )
        )
      ) }}
    {{ end }}
    {{ with .posts }}
      {{ $title := i18n (printf "%s.backlinks.posts" $type) }}
      {{ $params = partial "GetLayoutAndOptions" (dict 
          "param" "persons.single.posts"
          "default" "posts.index"
        ) }}
      {{ partial "blocks/templates/posts.html" (dict
        "block" (dict 
          "top" (dict
            "active" true
            "title" (dict
              "value" (printf "%s %s" $title $about)
              "heading" 2
            )
          )
          "template" "posts"
          "ranks" (dict 
            "base" 2
            "self" 2
          )
          "data" (dict
            "posts" .
            "layout" $params.layout
            "options" $params.options
          )
        )
      ) }}
    {{ end }}
  {{ end }}
</div>