{{ $context := . }}
{{- if .Params.contents -}}
  <div class="blocks">
  {{- range $index, $content := .Params.contents -}}
    {{ if eq .kind "block" }}
      {{ if eq .template "title" }}
        {{ $template := printf "blocks/templates/%s.html" $content.template }}
        {{ partial $template (dict
            "block" $content
            "context" $context
        )}}
      {{ else }}
        {{ $template := printf "blocks/templates/%s.html" $content.template }}
        {{ partial $template (dict
            "block" $content
            "context" $context
            "index" $index
        )}}
      {{ end }}
    {{- end -}}
  {{- end -}}
  </div>
{{- end -}}
