{{ $context := . }}
{{- if .Params.contents -}}
  <div class="blocks">
  {{- range .Params.contents -}}
    {{ if eq .kind "block" }}
      {{ $template := printf "blocks/templates/%s.html" .template }}
      {{ partial $template (dict
          "block" .
          "context" $context
      )}}
    {{- else if (eq .kind "heading") -}}
      {{ $headingId = .slug | default (urlize .title) }}
      <div class="heading container" id="{{ $headingId }}">
        <h2>{{ partial "PrepareHTML" .title }}</h2>
      </div>
    {{- end -}}
  {{- end -}}
  </div>
{{- end -}}
