{{ define "main" }}
  {{ partial "events/list/hero/hero.html" . }}
  <div class="document-content">
    {{ partial "events/commons/summary.html" (dict
        "with_container" true
        "context" .
      ) }}
  
    {{ partial "contents/list.html" . }}
  
    <div class="container">
      {{ partial "taxonomies/section-list.html" . }}
      {{ partial "events/list/events.html" . }}
      {{ partial "events/list/archive-link.html" . }}
      {{ partial "commons/pagination.html" . }}
    </div>
  </div>

{{ end }}
