{{ define "main" }}
  {{ partial "events/hero-single.html" . }}

  <div class="document-content" itemscope itemtype="https://schema.org/Event">
    <meta itemprop="headline" content="{{ partial "PrepareHTML" .Title }}">
    <meta itemprop="url" content="{{ .Permalink }}">
    {{ if .Params.summary }}<meta itemprop="abstract" content="{{ partial "PrepareText" .Params.summary }}">{{ end }}
    {{ if .Summary }}<meta itemprop="description" content="{{ partial "PrepareText" .Summary }}">{{ end }}

    {{ partial "events/sidebar.html" . }}

    {{ partial "events/summary.html" (dict
        "context" .
        "block_wrapped" true
      ) }}

    {{ partial "contents/list.html" . }}

    {{ partial "commons/siblings-navigation.html" (dict
      "context" .
      ) }}

    {{ partial "hooks/before-document-content-end.html" . }}
  </div>
{{ end }}
