{{ $context := .context | default . }}
{{ $sr_only := .sr_only | default false }}
{{ $title := .title }}
{{ $address := .address | default $context.Params.contact_details }}

{{ with $address }}
  {{ if or .address .city .zipcode .country }}
    <address {{ if $sr_only -}} class="sr-only" {{- end }} itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
      {{ with $title }}
        <p class="meta">{{ . }}</p>
      {{ end }}
      {{ with .address }}
        <span itemprop="streetAddress">
          {{ partial "PrepareHTML" .label }},
        </span>
      {{ end }}
      {{ with .zipcode }}
        <span itemprop="postalCode">
          {{ partial "PrepareHTML" .label }}
        </span>
      {{ end }}
      {{ with .city }}
        <span itemprop="addressLocality">
          {{ partial "PrepareHTML" .label }}
        </span>
      {{ end }}
      {{ with .country }}
        <span itemprop="addressCountry">
          {{ partial "PrepareHTML" .label }}
        </span>
      {{ end }}
    </address>
  {{ end }}
{{ end }}