{{ $kind := .kind | singularize }}
{{/*  TODO: rename all call from this partial to `type` instead of `kind`.  */}}
{{ $type := ( .type | singularize ) | default $kind }}
{{ $class := .class | default ( printf "%s-categories" $type ) }}
{{ $categories := .categories }}
{{ $depth := .depth }}

{{ if not $categories }}
  {{ $categories_type := printf "%ss_categories" $type }}
  {{ $categories = .context.GetTerms $categories_type }}
{{ end }}

{{- if $categories -}}
  <ul class="{{ $class }}" aria-label="{{ i18n "categories.label" }}">
    {{- range $categories -}}
      <li {{ with .Params.bodyclass }}class="{{ . }}"{{ end }}>
        <a href="{{ .Permalink }}">
          {{- safeHTML .Title -}}
        </a>
        {{ if and $depth .Params.children }}
          {{ $children := partial "GetObjectsFromPathSlice" .Params.children }}
          {{ partial "commons/categories.html" (dict
            "categories" $children
            "type" $type
          ) }}
        {{ end }}
      </li>
    {{- end }}
  </ul>
{{- end -}}