{{ $kind := .kind | singularize }}
{{/*  TODO: rename all call from this partial to `type` instead of `kind`.  */}}
{{ $type := ( .type | singularize ) | default $kind }}
{{ $class := .class | default ( printf "%s-categories" $type ) }}
{{ $categories := .categories }}
{{ $depth := .depth }}

{{ if not $categories }}
  {{ $categories_type := printf "%ss_categories" $type }}
  {{ $categories = .context.GetTerms $categories_type }}
{{ end }}

{{- if $categories -}}
  <ul class="{{ $class }}" aria-label="{{ i18n "categories.label" }}">
    {{- range $categories -}}
      <li {{ with .Params.bodyclass }}class="{{ . }}"{{ end }}>
        {{ $id := printf "%s-children-list" ( .Slug | anchorize) }}
        {{ $children := partial "GetObjectsFromPathSlice" .Params.children }}
        {{ if and $depth $children }}
          <span href="{{ .Permalink }}" class="extendable-button" aria-expanded="false" aria-controls="{{ $id }}" role="button">
            {{- safeHTML .Title -}}
          </span>
          <div id="{{ $id }}" class="extendable dropdown">
            {{ partial "commons/categories.html" (dict
              "categories" $children
              "type" $type
            ) }}
          </div>
        {{ else }}
          <a href="{{ .Permalink }}">
            {{- safeHTML .Title -}}
          </a>
        {{ end }}
      </li>
    {{- end }}
  </ul>
{{- end -}}