{{ $name := .Title }}

{{ with .Params.contact_details }}
  <div class="contacts-details">
    {{ if or .websites .socials_networks .emails .phone_numbers }}
      <ul>
        {{ with .websites.website }}
          <li class="website">
            <span>{{ i18n "commons.contact.website" }}</span>
            <a href="{{ chomp .value | safeURL }}" target="_blank" rel="noopener" itemprop="url" title="{{ safeHTML (i18n "commons.contact.socials.label.website" (dict "name" $name )) }}">
              {{ chomp .label }}
              <span class="sr-only"> - {{ safeHTML (i18n "commons.link.blank") }}</span>
            </a>
          </li>
        {{ end }}

        {{ partial "commons/socials" (dict
            "context" .
            "name" $name
            "with_labels" true
          ) }}
      </ul>

      {{ if or .phone_numbers .phone_professional .postal_address }}
        <ul>
          {{ with .postal_address }}
            <li class="address">
              <span class="meta">{{ i18n "commons.contact.address" }}</span>
              {{ partial "commons/address.html" . }}
            </li>
          {{ end }}
          {{ with .phone_numbers }}
            {{ with or .phone_mobile .phone }}
              <li class="phone">
                <span>{{ i18n "commons.contact.phone.label" }}</span>
                <a href="{{ chomp .value | safeURL }}" itemprop="telephone" title='{{ safeHTML (i18n "commons.contact.phone.a11y_label" (dict "phone_number" .label )) }}'>{{ .label }}</a>
              </li>
            {{ end }}
            {{ with .phone_professional }}
              <li class="phone">
                <span>{{ i18n "commons.contact.phone_professional.label" }}</span>
                <a href="{{ chomp .value | safeURL }}" itemprop="telephone" title='{{ safeHTML (i18n "commons.contact.phone_professional.a11y_label" (dict "phone_number" .label )) }}'>{{ .label }}</a>
              </li>
            {{ end }}
          {{ end }}
        </ul>
      {{ end }}
    {{ end }}
  </div>
{{ end }}
