{{ $name := .Title }}

{{ with .Params.contact_details }}
  {{ $has_address := cond (or .address .city .zipcode .country) true false }}

  {{ if or .website .linkedin .twitter .email .phone .address .city .zipcode .country }}
    <div class="contacts-details contacts-details--person">
      {{ if or .website .linkedin .twitter .email .phone }}
        <ul>
          {{ with .website }}
            <li>
              <span>{{ i18n "commons.contact.website" }}</span>
              <a href="{{ chomp .value | safeURL }}" target="_blank" rel="noopener" itemprop="url" title="{{ safeHTML (i18n "commons.contact.socials.label.website" (dict "name" $name )) }}">
                {{ chomp .label }}
                <span class="sr-only"> - {{ safeHTML (i18n "commons.link.blank") }}</span>
              </a>
            </li>
          {{ end }}

          {{ with .linkedin }}
            <li>
              <span>LinkedIn</span>
              <a href="{{ chomp .value | safeURL }}" target="_blank" rel="noopener" itemprop="url" title="{{ safeHTML (i18n "commons.contact.socials.label.social_media" (dict "media" "LinkedIn" "name" $name )) }}">
                {{ chomp .label }}
                <span class="sr-only"> - {{ safeHTML (i18n "commons.link.blank") }}</span>
              </a>
            </li>
          {{ end }}

          {{ with .mastodon }}
            <li>
              <span>Mastodon</span>
              <a href="{{ chomp .value | safeURL }}" target="_blank" rel="noopener" itemprop="url" title="{{ safeHTML (i18n "commons.contact.socials.label.social_media" (dict "media" "Mastodon" "name" $name )) }}">
                {{ chomp .label }}
                <span class="sr-only"> - {{ safeHTML (i18n "commons.link.blank") }}</span>
              </a>
            </li>
          {{ end }}

          {{ with .twitter }}
            <li>
              <span>X (ex-Twitter)</span>
              <a href="{{ chomp .value | safeURL }}" target="_blank" rel="noopener" itemprop="url" title="{{ safeHTML (i18n "commons.contact.socials.label.social_media" (dict "media" "X (ex-Twitter)" "name" $name )) }}">
                {{ chomp .label }}
                <span class="sr-only"> - {{ safeHTML (i18n "commons.link.blank") }}</span>
              </a>
            </li>
          {{ end }}

          {{ with .email }}
            <li>
              <span>{{ i18n "commons.contact.email.label" }}</span>
              <a href="{{ chomp .value | safeURL }}" itemprop="email" title='{{ safeHTML (i18n "commons.contact.email.a11y_label" (dict "email" .label )) }}'>
                {{ chomp .label }}
                <span class="sr-only"> - {{ safeHTML (i18n "commons.link.blank") }}</span>
              </a>
            </li>
          {{ end }}
          {{ if eq $has_address false }}
            {{ with .phone }}
              <li>
                <span>{{ i18n "commons.contact.phone.label" }}</span>
                <a href="{{ chomp .value | safeURL }}" itemprop="telephone" title='{{ safeHTML (i18n "commons.contact.phone.a11y_label" (dict "phone_number" .label )) }}'>{{ .label }}</a>
              </li>
            {{ end }}

            {{ with .phone_professional }}
              <li>
                <span>{{ i18n "commons.contact.phone_professional.label" }}</span>
                <a href="{{ chomp .value | safeURL }}" itemprop="telephone" title='{{ safeHTML (i18n "commons.contact.phone_professional.a11y_label" (dict "phone_number" .label )) }}'>{{ .label }}</a>
              </li>
            {{ end }}
          {{ end }}
        </ul>
      {{ end }}
      {{ if or .address .city .zipcode .country .phone }}
        <ul>
          {{ if or .address .city .zipcode .country }}
            <li>
              <span>{{ i18n "commons.contact.address" }}</span>
              <address itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                {{ with .address }}
                  <span itemprop="streetAddress">
                    {{ partial "PrepareHTML" .label }},
                  </span>
                  <br>
                {{ end }}
                {{ with .city }}
                  <span itemprop="addressLocality">
                    {{ partial "PrepareHTML" .label }}
                  </span>
                {{ end }}
                {{ with .zipcode }}
                  <span itemprop="postalCode">
                    {{ partial "PrepareHTML" .label }}
                  </span>
                {{ end }}
                {{ with .country }}
                  <span itemprop="postalCode">
                    {{ partial "PrepareHTML" .label }}
                  </span>
                {{ end }}
              </address>
            </li>
          {{ end }}
          {{ if $has_address }}
            {{ with .phone }}
              <li>
                <span>{{ i18n "commons.contact.phone.label" }}</span>
                <a href="{{ chomp .value | safeURL }}" itemprop="telephone" title="{{ safeHTML (i18n "commons.contact.phone.a11y_label" (dict "phone_number" .label )) }}">{{ .label }}</a>
              </li>
            {{ end }}
          {{ end }}
        </ul>
      {{ end }}
    </div>
  {{ end }}
{{ end }}
