{{ if .image.id }}
  {{ $index := .index }}
  {{ $sizes := .sizes }}
  {{ $lazy := default true .lazy }}
  {{ $role := (or .role "figure")}}
  {{ $is_carousel := .is_carousel }}
  {{ $is_lightbox := false }}
  {{ $grouped_lightbox := false }}
  {{ $image := partial "GetMedia" .image.id }}
  {{ $image_class := printf "image-%s" (partial "GetImageDirection" .image) }}

  {{ if not site.Params.image_sizes.design_system.lightbox.disabled }}
    {{ $is_lightbox = true }}
    {{ if $index }}
      {{ $grouped_lightbox = true }}
    {{ end }}
  {{ end }}

  {{ if $image }}
    {{ with .image}}
      <figure role="{{$role}}" 
              class="{{ $image_class }}{{ if $is_carousel }} carousel__slide {{ end }}{{ if $is_lightbox }} lightbox-figure {{ if $grouped_lightbox }} lightbox-grouped lightbox-item-{{$index}} {{ else }} lightbox-single {{ end }}{{ end }}" 
            {{ if $is_carousel }} 
              id="carousel-item-{{$index}}" 
              aria-roledescription="slide" 
              aria-label="item-{{$index}} {{- with or .text .alt .credit }} | {{ . | plainify }} {{- end }}" 
            {{ else }}
              {{- with or .text .alt .credit }} 
                aria-label="{{ . | plainify }}" 
              {{ end }}
            {{ end }}
      >
        {{ partial "commons/image.html" (dict
          "image"  .id
          "alt"    .alt
          "sizes"  $sizes
          "lazy"  $lazy
        ) }}
      
      {{ if $is_lightbox}}
        {{ $lightbox_text := false }}
        {{ if and .text .credit }}
          {{ $lightbox_text = delimit (slice .text .credit) " / " }}
        {{ else }}
          {{ $lightbox_text = or .text .credit }}
        {{ end }}
        
        {{ partial "commons/lightbox/lightbox-launcher.html" (dict
          "description" $lightbox_text
          "image" .id
        ) }}
      {{ end }}

      {{ if or .text .credit }}
        <figcaption>
          {{ with .text }}
            <p>{{ . | safeHTML }}</p>
          {{ end }}
          {{ with .credit }}
            <div class="credit">{{ . | safeHTML }}</div>
          {{ end }}
        </figcaption>
      {{ end }}
      </figure>
    {{ end }}
  {{ end }}
{{ end }}