{{ if .image.id }}
  {{ $sizes := .sizes }}
  {{ $lazy := default true .lazy }}
  {{ $image := partial "GetMedia" .image.id }}
  {{ $image_class := printf "image-%s" (partial "GetImageDirection" .image) }}
  {{ $is_lightbox := not site.Params.image_sizes.design_system.lightbox.disabled }}

  {{ if $image }}
    {{ with .image }}
      <figure
              class="{{ $image_class }}{{ if $is_lightbox }} lightbox-figure {{ end }}" 
              {{- with or .text .alt .credit }}
                role="figure"
                aria-label="{{ . | plainify }}"
              {{ end }}
      >
      {{ $alt := .alt }}
      {{ if and (not .alt) $is_lightbox }}
        {{ $alt = i18n "commons.lightbox.alternative_alt" }}
      {{ end }}

      {{ $image_tag := partial "commons/image.html" (dict
          "image" .id
          "alt" $alt
          "sizes" $sizes
          "lazy" $lazy
      ) }}

      {{ if $is_lightbox }}
        {{- partial "commons/lightbox/button.html" (dict "image" $image_tag "context" .) }}
      {{ else }}
        {{ $image_tag }}
      {{ end }}

      {{ if or .text .credit }}
        <figcaption>
          {{ with .text }}
            {{ . | safeHTML }}
          {{ end }}
          {{ with .credit }}
            <div class="credit">
              <p class="sr-only">{{ i18n "commons.accessibility.credits" }}</p>
              {{ . | safeHTML }}
            </div>
          {{ end }}
        </figcaption>
      {{ end }}
      </figure>
    {{ end }}
  {{ end }}
{{ end }}