{{- $parent := .parent -}}
{{- $parent_options := .parent_options -}}
{{- $level := .level -}}
{{- $kind := .menu_kind -}}
{{- $options := .options -}}
{{- $slug := urlize .parent.title -}}

{{ $class := "dropdown-menu" }}
{{ if $options.title }}
  {{ $class = printf "%s is-titled" $class }}
{{ end }}
{{ if $options.summary }}
  {{ $class = printf "%s children-title" $class }}
{{ end }}
{{ $kind }}
<div class="{{ $class }}"
    aria-labelledby="dropdown-{{ $slug }}">
  {{- if $options.title }}
    <div class="container">
      <div class="dropdown-menu-heading">
        <a href="{{ .parent.target }}" class="dropdown-menu-title">{{ .parent.title }}</a>
        {{ if .parent.path }}
          {{ with partial "GetMenuSummary" (dict 
              "summary" $parent_options.summary
              "path" .parent.path
            )}}
            <div class="dropdown-menu-lead">
              {{ . }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    {{ end -}}

    {{- partial "commons/menu.html" (dict
          "items" .parent.children
          "level" $level
          "context" .context
      ) -}}
    </div>

  {{- if $options.title }}
    </div>
{{- end -}}
