{{ $kind := .kind }}
{{ $items := .items }}
{{ $context := .context }}
{{ if $kind }}
  {{ $menu := partial "GetMenu" $kind }}
  {{ $items = $menu.items }}
{{ end }}
{{- $level := .level -}}
{{- $stop := .stop -}}
{{- $dropdown := .dropdown -}}
{{- $dropdown_titled := (and site.Params.menu.dropdown.linkToLevel1 (eq $level 1)) -}}
{{- $ulClass := "" -}}
{{- if .class -}}
  {{- $ulClass = printf "%s " .class -}}
{{- end -}}
{{ $extern_link := i18n "commons.link.blank" }}
<ul class="{{ $ulClass }}{{ if $level }}nav-level-{{ $level }}{{ end }}">
  {{ range $items -}}
    {{- $slug := urlize .title -}}
    {{- $item_class := "" -}}
    {{- $link_class := "" -}}
    {{- $attr := "" -}}
    {{- $attr_title := "" -}}
    {{- $has_dropdown := false -}}
    {{ if eq $context.RelPermalink .target }}
      {{ $link_class = "active" }}
    {{ end }}
    {{ if eq $kind "social" }}
      {{- $item_class = printf .title | lower -}}
    {{ end }}
    {{- if gt (len .children) 0 -}}
      {{- $item_class = printf "%shas-children" $item_class -}}
      {{ range .children -}}
        {{- if eq $context.RelPermalink .target }}
          {{ $link_class = printf "$link_class %s" "has-children-active" }}
        {{ end }}
      {{ end -}}
    {{- end -}}
    {{- if and (gt (len .children) 0) $dropdown (eq $level 1) -}}
      {{- $has_dropdown = true -}}
      {{- $attr = printf "id=\"dropdown-%s\" role=\"button\" aria-expanded=\"false\" tabindex=\"0\"" $slug -}}
    {{- end -}}
    {{- if and (hasPrefix .target "http") (eq .kind "url") -}}
      {{- $attr = " target=\"_blank\" rel=\"noreferrer\"" -}}
      {{- $attr_title = printf "title=\"%s - %s\"" .title $extern_link -}}
    {{- end -}}
    {{- if or (ne $stop 1) (and (eq $stop 1) (ne .kind "blank")) -}}
    <li{{ if ne $item_class ""}} class="{{ $item_class }}"{{ end }}>
      {{- if ne .kind "blank" -}}
        <a href="{{ .target }}"{{ if ne $link_class ""}} class="{{ $link_class }}"{{ end }} {{ safeHTMLAttr $attr }} {{ safeHTMLAttr $attr_title }}>{{ .title }}</a>
      {{- else -}}
        <span class="{{ if ne $link_class ""}} {{ $link_class }}{{ end }}{{ if gt .level 1 }} disabled{{ end }}" {{ safeHTMLAttr $attr }}>{{ .title }}</span>
      {{- end -}}
      {{- if ne $stop $level -}}
        {{- if $has_dropdown }}
          <div class="dropdown-menu {{ if $dropdown_titled }}is-titled{{ end }}" aria-labelledby="dropdown-{{ $slug }}">
            {{- if $dropdown_titled }}
              <div class="container">
                <a href="{{ .target }}" class="dropdown-menu-title">{{ .title }}</a>
            {{ end -}}
          {{- end -}}
        {{- if gt (len .children) 0 -}}
          {{- $nextLevel := add $level 1 -}}
          {{- partial "commons/menu.html"
                (dict
                  "items" .children
                  "level" $nextLevel
                  "context" $context
                ) -}}
        {{- end -}}
        {{- if $has_dropdown -}}
              </div>
          {{- if $dropdown_titled }}
            </div>
          {{- end -}}
        {{- end -}}
      {{- end -}}
    </li>
    {{- end -}}
  {{ end -}}
  
  {{ if and (eq $kind "primary") (site.Params.search.active) (eq site.Params.search.position "menu")}}
    <li class="nav-search">
      {{ partial "header/search.html"
        (dict
            "position" "menu"
            "context" .
        ) 
      }}
    </li>
  {{ end }}
  {{ if and (eq $kind "primary") (site.Params.menu.i18n.display) }}
    {{ partial "header/i18n.html" . }}
  {{ end }}
</ul>
