<div class="event-practicals" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
  <h2>{{ i18n (printf "events.access.partical_informations") }}</h2>
  <div>
    {{ safeHTML .Params.text }}
    <div class="event-notes">
      {{ safeHTML .Params.notes }}
    </div>
  </div>
  {{ with .Params.header_cta }}
    {{ if and .display .target .label }}
      {{ $title := .label }}
      {{ $is_external := .external | default false }}
      {{ $link_title := cond $is_external (safeHTML (i18n "commons.link.blank_aria" (dict "Title" $title))) $title }}
      <a href="{{ .target }}" title ="{{ $link_title }}" class="btn" {{ if $is_external -}} target="_blank" rel="noopener" {{- end }}>{{ .label }}</a>
    {{ end }}
  {{ end }}
</div>
