<ul class="share">
  <li>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink | absURL }}" target="_blank" rel="noopener" class="icon icon-facebook" title="{{ i18n "posts.share_aria" (dict "Title" "Facebook") }}">
      <span>Facebook</span>
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ .Permalink | absURL }}" target="_blank" rel="noopener" class="icon icon-linkedin" title="{{ i18n "posts.share_aria" (dict "Title" "Linkedin") }}">
      <span>Linkedin</span>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/intent/tweet?text={{ .Title }} {{ .Permalink | absURL }}" target="_blank" rel="noopener" class="icon icon-twitter" title="{{ i18n "posts.share_aria" (dict "Title" "Twitter") }}">
      <span>Twitter</span>
    </a>
  </li>
  {{ if site.Params.posts.share_links.whatsapp }}
  <li>
    <a href="https://api.whatsapp.com/send?text={{ .Permalink | absURL }}" target="_blank" rel="noopener" class="icon icon-whatsapp" title="{{ i18n "posts.share_aria" (dict "Title" "Whatsapp") }}">
      <span>Whatsapp</span>
    </a>
  </li>
  {{ end }}
  {{ if site.Params.posts.share_links.telegram }}
  <li>
    <a href="https://t.me/share/url?url={{ .Permalink | absURL }}&text={{ .Title }}" target="_blank" rel="noopener" class="icon icon-telegram" title="{{ i18n "posts.share_aria" (dict "Title" "Telegram") }}">
      <span>Telegram</span>
    </a>
  </li>
  {{ end }}
  {{ if site.Params.posts.share_links.email }}
  <li>
    <a href="mailto:?subject={{ .Title }}&body={{ .Permalink | absURL }}" target="_blank" rel="noopener" class="icon icon-email" title="{{ i18n "posts.share_aria" (dict "Title" "E-mail") }}">
      <span>E-mail</span>
    </a>
  </li>
  {{ end }}
</ul>
