{{/*  TODO: Create a generic previous / next section for single section  */}}
{{ $previous_label := .previous_label | default (i18n "posts.previous") }}
{{ $next_label := .next_label | default (i18n "posts.next") }}

{{ with .context }}
  {{- if or .PrevInSection .NextInSection -}}
  <div class="block block-siblings-navigation">
    <div class="container">
      <div class="block-content">
        <nav class="siblings-navigation" aria-label="{{ i18n "commons.pagination.between.posts" }}">
          <ul>
            {{- if .PrevInSection -}}
              {{ with .PrevInSection }}
                <li class="previous">
                  {{ $title := partial "PrepareHTML" .Title -}}
                  <a href="{{.RelPermalink}}" title="{{ safeHTML (i18n "posts.previous_aria" (dict "Title" $title)) }}">
                    <span>
                      {{- $previous_label -}}
                    </span>
                    {{- $title -}}
                  </a>
                </li>
              {{end}}
            {{- end -}}
            {{- if .NextInSection -}}
              {{with .NextInSection }}
                <li class="next">
                  {{ $title := partial "PrepareHTML" .Title -}}
                  <a href="{{.RelPermalink}}" title="{{ safeHTML (i18n "posts.next_aria" (dict "Title" $title)) }}">
                    <span>
                      {{- $next_label -}}
                    </span>
                    {{- $title -}}
                  </a>
                </li>
              {{end}}
            {{- end -}}
          </ul>
        </nav>
      </div>
    </div>
  </div>
  {{- end -}}
{{- end -}}
