{{ with .email }}
  <li class="email">
    <a href="mailto:{{ . }}" rel="noreferrer" title="Email" target="_blank">{{ i18n "commons.contact.email" }}</a>
  </li>
{{ end}}
{{ with .rss }}
  <li class="rss">
    <a href="{{ . }}" rel="noreferrer" title="RSS" target="_blank">RSS</a>
  </li>
{{ end}}
{{ with .mastodon }}
  <li class="mastodon">
    <a href="{{ . }}" rel="noreferrer" title="Mastodon" target="_blank">Mastodon</a>
  </li>
{{ end}}
{{ with .peertube }}
  <li class="peertube">
    <a href="{{ . }}" rel="noreferrer" title="Peertube" target="_blank">Peertube</a>
  </li>
{{ end}}
{{ with .github }}
  <li class="github">
    <a href="{{ . }}" rel="noreferrer" title="Github" target="_blank">GitHub</a>
  </li>
{{ end}}
{{ with .linkedin }}
  <li class="linkedin">
    <a href="{{ . }}" rel="noreferrer" title="LinkedIn" target="_blank">LinkedIn</a>
  </li>
{{ end}}
{{ with .youtube }}
  <li class="youtube">
    <a href="{{ . }}" rel="noreferrer" title="YouTube" target="_blank">YouTube</a>
  </li>
{{ end}}
{{ with .vimeo }}
  <li class="vimeo">
    <a href="{{ . }}" rel="noreferrer" title="Vimeo" target="_blank">Vimeo</a>
  </li>
{{ end}}
{{ with .instagram }}
  <li class="instagram">
    <a href="{{ . }}" rel="noreferrer" title="Instagram" target="_blank">Instagram</a>
  </li>
{{ end}}
{{ with .facebook }}
  <li class="facebook">
    <a href="{{ . }}" rel="noreferrer" title="" target="_blank">Facebook</a>
  </li>
{{ end}}
{{ with .tiktok }}
  <li class="tiktok">
    <a href="{{ . }}" rel="noreferrer" title="TikTok" target="_blank">TikTok</a>
  </li>
{{ end}}
{{ with .x }}
  <li class="x">
    <a href="{{ . }}" rel="noreferrer" title="X, ex-Twitter" target="_blank">X (ex-Twitter)</a>
  </li>
{{ end}}