{{ $name := .name | default (htmlUnescape site.Title) }}
{{ $with_labels := .with_labels | default false }}
{{ $context := .context | default . }}
{{ $use_default_email_label := .use_default_email_label }}
{{ $in_itemscope := .in_itemscope }}

{{ with $context.emails.email }}
  <li class="email">
    {{ $email_label := i18n "commons.contact.email.label" }}
    {{ if $with_labels }}
      <span>{{ $email_label }}</span>
    {{ end }}
    <a href="{{ chomp .value | safeURL }}" 
        {{ if $in_itemscope }} itemprop="email" {{ end }} 
        title='{{ safeHTML (i18n "commons.contact.email.a11y_label" (dict "email" .label )) }}'
      >
      {{ cond $use_default_email_label $email_label .label }}
    </a>
  </li>
{{ end }}
{{ range $key, $value := $context.social_networks }}
  <li class="{{ $key }}">
    {{ $label := $key | title }}
    {{ if $with_labels }}
      <span>{{ $label }}</span>
    {{ end }}
    {{ $a11y_label := i18n "commons.contact.socials.label.social_media" (dict "media" $label "name" $name ) }}
    {{ if eq $key "rss"}}
      {{ $a11y_label = i18n "commons.contact.socials.label.rss" (dict "media" $label "name" $name ) }}
    {{ end }}
    <a href="{{ chomp .value | safeURL }}" rel="noreferrer" title="{{ safeHTML $a11y_label }}" target="_blank">{{ $label }}</a>
  </li>
{{ end }}