{{ $context := .context | default . }}
{{ $with_description := .with_description | default true }}

{{ if $context.active }}
  <div class="top{{ if .screen_reader_only }} sr-only{{ end }}">
    {{ with $context.title }}
      {{ $heading_tag := partial "GetHeadingTag" (dict 
        "level" .heading 
        "attributes" "class='block-title'"
      )}}
      {{ $heading_tag.open }}
        {{- with .link -}}
          <a href="{{ . }}">
        {{- end -}}
        {{ partial "PrepareHTML" .value }}
        {{- with .link -}}
          </a>
        {{- end -}}
      {{ $heading_tag.close }}
    {{ end }}
    {{ if $with_description }}
      <div class="description">
        {{- partial "PrepareHTML" $context.description -}}
      </div>
    {{ end }}
  </div>
{{ end }}