{{ if .active }}
  <div class="top{{ if .screen_reader_only }} sr-only{{ end }}">
    {{ with .title }}
      {{ $heading_tag := partial "GetHeadingTag" (dict 
        "level" .heading 
        "attributes" "class='block-title'"
      )}}
      {{ $heading_tag.open }}
        {{- with .link -}}
          <a href="{{ . }}">
        {{- end -}}
        {{ partial "PrepareHTML" .value }}
        {{- with .link -}}
          </a>
        {{- end -}}
      {{ $heading_tag.close }}
    {{ end }}
    {{ with .description }}
      <div class="description">
        {{- partial "PrepareHTML" . -}}
      </div>
    {{ end }}
  </div>
{{ end }}