{{ $heading_level := .heading_level | default 2 }}
{{ $heading_tag := (dict 
  "open" ((printf "<h%d class='block-title'>" $heading_level) | safeHTML)
  "close" ((printf "</h%d>" $heading_level) | safeHTML)
  ) }}

{{ if or .title .description }}
  <div class="top {{ if .hidden }}hidden{{ end }}">
    {{ if .title }}
      {{ $heading_tag.open }}
        {{- if .link -}}
          <a href="{{ .link }}">
        {{- end -}}
        {{ partial "PrepareHTML" .title }}
        {{- if .link -}}
          </a>
        {{- end -}}
      {{ $heading_tag.close }}
    {{ end }}
    {{ if .description }}
      <p class="description">
        {{ partial "PrepareHTML" .description }}
      </p>
    {{ end }}
  </div>
{{ end }}