{{ define "main" }}
  {{ partial "locations/list/hero/hero.html" . }}

  <div class="document-content">
    {{ partial "locations/commons/summary.html" (dict
        "with_container" true
        "context" .
      ) }}

    {{ partial "contents/list.html" . }}

    <div class="container">
      {{ partial "locations/list/locations.html" . }}
      {{ partial "commons/pagination.html" . }}
    </div>
    {{ if site.Params.locations.index.map }}
      {{ $locations := .Pages }}
      {{ partial "locations/commons/map.html" (dict
          "locations" $locations
          "title" (i18n "programs.location" $locations)
      )}}
    {{ end }}
  </div>

{{ end }}
