{{ $options := .options }}
{{ $heading_tag := partial "GetHeadingTag" (dict 
  "level" ( .heading_level | default 3 )
  "attributes" "class='page-title'"
)}}
<ul class="pages list {{- if and (not $options.summary) (not $options.image) }} title-only {{- end }}">
  {{ range .pages }}
    {{/*  Check if . is a map or page url, necessary when pages/list is called outside block context */}}
    {{- $path := false -}}
    {{ if reflect.IsMap . }}
      {{ $path = .path }}
    {{ else }}
      {{ $path = . }}
    {{ end }}
    {{ $page := site.GetPage $path }}

    {{ with $page }}
      <li>
        {{ if or $options.summary $options.image }}
          <article class="page">
            <div class="page-content">
              {{ $heading_tag.open }}
                <a href="{{- .Permalink -}}">
                  {{- partial "PrepareHTML" .Title -}}
                </a>
              {{ $heading_tag.close }}

              {{- partial "pages/partials/page/hook-after-title.html" . -}}

              {{ if and $options.summary .Params.summary }}
                {{ partial "GetRichSummary" ( dict 
                  "summary" .Params.summary
                  "kind" "pages"
                )}}
              {{ end }}

              {{ if and $options.categories .Params.taxonomies }}
                {{ partial "commons/categories" ( dict
                  "context" .
                  "kind" "page"
                )}}
              {{ end }}
            </div>

            {{ if $options.image }}
              {{ partial "pages/partials/page/media.html" (dict 
                "image" .Params.image
                "layout" "list"
              )}}
            {{ end }}
          </article>
        {{ else }}
          <a href="{{- .Permalink -}}">
            {{- partial "PrepareHTML" .Title -}}
          </a>
        {{ end }}
      </li>
    {{- end -}}
  {{ end }}
</ul>