{{ $page := .page }}
{{- $class := "page" -}}
{{- $custom_class := "" -}}
{{- $heading_level := .heading_level | default 2 -}}
{{ $options := .options }}

{{ with $page }}
  {{- if .Params.bodyclass -}}
    {{ $class = printf "%s page-%s" $class .Params.bodyclass }}
  {{- end -}}
  {{ $class = printf "%s %s" $class $custom_class }}

  <article class="{{ $class }}">
    <div class="page-content">
      {{ partial "pages/item/components/title.html" (dict 
          "page" .
          "heading_level" $heading_level
        )}}

      {{ if $options.summary }}
        {{ partial "pages/item/components/summary.html" . }}
      {{ end }}
    </div>

    {{ if $options.image }}
      {{- partial "pages/item/components/media.html" (dict
          "image" .Params.image
          "sizes" site.Params.image_sizes.blocks.pages.list
        ) -}}
    {{ end }}
  </article>
{{ end }}