<div class="top">
  <h2>
    {{- $title := partial "PrepareHTML" .title -}}
    {{ if ne .kind "blank" }}<a href="{{ .target }}" title="{{ i18n "commons.more_aria" (dict "Title" $title) }}">{{ end }}
      {{- $title -}}
    {{ if ne .kind "blank" }}</a>{{ end }}
  </h2>
  {{ if or (eq .kind "news") (eq .kind "programs") }}
    <span class="link">{{ i18n "commons.more" }}</span>
  {{ end }}
  {{ $page := partial "GetPageByUrl" .target }}
  {{with $page}}
    {{ if partial "GetTextFromHTML" .Params.description_short }}
      <div>
        <p>{{ partial "GetTruncateContent" .Params.description_short }}</p>
      </div>
    {{ end }}
  {{end}}
</div>
