{{ define "main" }}
  {{ partial "volumes/list/hero/hero.html" . }}

  <div class="document-content" itemscope itemtype="https://schema.org/PublicationVolume">
    <meta itemprop="name" content="{{ partial "PrepareHTML" .Title }}">
    {{- if .Params.image -}}
      {{- $image := partial "GetMedia" .Params.image.id -}}
      {{- if $image -}}
        {{- $url := $image.url -}}
        <meta itemprop="image" content="{{ $url }}">
      {{- end -}}
    {{- end -}}

    <div class="container">

      {{ partial "volumes/single/document-aside.html" . }}

      <div class="content">
        {{ partial "volumes/single/text.html" . }}
        {{ partial "volumes/single/papers.html" . }}
      </div>

    </div>

    {{ partial "contents/list.html" . }}

  </div>
{{ end }}
