{{ $date := .Params.dates.published }}
{{ if $date }}
  {{- $date = time $date -}}
{{ end }}

<meta name="citation_title" content="{{- .Title -}}">
<meta name="citation_author" content="{{- .Params.authors_list -}}">
<meta name="citation_publication_date" content="{{- $date.Format "2006/1/2" -}}">

{{ range .GetTerms "volumes" }}
  <meta name="citation_journal_title" content="{{ .Title }}">
  <meta name="citation_volume" content="{{- .Params.number -}}">
{{ end }}

{{ with .Params.pdf }}
  {{- $file := partial "GetMedia" . -}}
  {{- $url := $file.url -}}
  {{- if site.Params.keycdn -}}
    {{- $url = $file.direct_url -}}
  {{- end -}}
  {{ if $file }}
    <meta name="citation_pdf_url" content="{{- $url -}}">
  {{ end }}
{{ end }}