<aside class="document-nav">
  <div role="group">
    {{ if isset .Params "pdf" }}
      {{- $pdf := partial "GetMedia" .Params.pdf -}}
      <a href="{{ $pdf.url }}" download>{{ i18n "commons.download.pdf" }}</a><br>
    {{ end }}
    {{ if .Content }}
      <a href="#full-text" class="btn-eye">{{ i18n "commons.read_online" }}</a>
    {{ end }}
  </div>
  <dl>
    {{ if isset .Params "type" }}
      <dt>{{ i18n "volumes.nature" }}</dt>
      <dd>{{ partial "PrepareHTML" .Params.Type }}</dd>
    {{ end }}

    {{ if isset .Params "keywords" }}
      {{ if gt ( len .Params.keywords ) 0 }}
        <dt>{{ i18n "volumes.keywords" }}</dt>
        <dd itemprop="keywords">{{ delimit .Params.Keywords " " }}</dd>
      {{ end }}
    {{ end }}

    {{ if isset .Params "lang" }}
      <dt>{{ i18n "commons.language" }}</dt>
      <dd itemprop="inLanguage" content="{{ .Params.Lang_iso }}">{{ .Params.Lang }}</dd>
    {{ end }}

    {{ range .GetTerms "volumes" }}
      <dt>{{ i18n "volumes.singular_name" }}</dt>
      <dd itemprop="isPartOf" itemscope itemtype="https://schema.org/PublicationVolume">
        <a href="{{ .Permalink }}" itemprop="url">
          <span itemprop="name">{{ .Title }}</span>
        </a>
      </dd>
    {{ end }}

    {{ if .Date }}
      <dt>{{ i18n "commons.date" }}</dt>
      <dd>
        <time itemprop="datePublished" datetime="{{ .Date | time.Format "2006-01-02T15:04" }}">{{ .Date | time.Format ":date_long" }}</time>
      </dd>
    {{ end }}
  </dl>
</aside>
