<aside class="document-nav">
  <dl>
    {{ range .GetTerms "volumes" }}
      <dt>{{ i18n "volumes.singular_name" }}</dt>
      <dd itemprop="isPartOf" itemscope itemtype="https://schema.org/PublicationVolume">
        <a href="{{ .Permalink }}" itemprop="url">
          <span itemprop="name">{{ .Title }}</span>
          <div class="media">
            {{- if .Params.image -}}
              {{- partial "commons/image.html"
                    (dict
                      "image"    .Params.image
                      "alt"      .Title
                      "mobile"   "327x388"
                      "tablet"   "208x247"
                      "desktop"  "408x485"
                    ) -}}
            {{- else if site.Params.default_image.url -}}
              {{- partial "commons/image-default.html" -}}
            {{- end -}}
          </div>
        </a>
      </dd>
    {{ end }}
    
    {{ if isset .Params "type" }}
      <dt>{{ i18n "volumes.nature" }}</dt>
      <dd>{{ partial "PrepareHTML" .Params.Type }}</dd>
    {{ end }}

    {{ if isset .Params "keywords" }}
      {{ if gt ( len .Params.keywords ) 0 }}
        <dt>{{ i18n "volumes.keywords" }}</dt>
        <dd itemprop="keywords">{{ delimit .Params.Keywords " " }}</dd>
      {{ end }}
    {{ end }}

    {{ if isset .Params "lang" }}
      <dt>{{ i18n "commons.language" }}</dt>
      <dd itemprop="inLanguage" content="{{ .Params.Lang_iso }}">{{ .Params.Lang }}</dd>
    {{ end }}

    {{ if .Date }}
      <dt>{{ i18n "commons.date" }}</dt>
      <dd>
        <time itemprop="datePublished" datetime="{{ .Date | time.Format "2006-01-02T15:04" }}">{{ .Date | time.Format ":date_long" }}</time>
      </dd>
    {{ end }}

    {{ with .Params.dates.published }}
      <dt>{{ i18n "papers.dates.published" }}</dt>
      <dd>
        <time itemprop="datePublished" datetime="{{ . | time.Format "2006-01-02T15:04" }}">{{ . | time.Format ":date_long" }}</time>
      </dd>
    {{ end }}

    {{ with .Params.dates.accepted }}
      <dt>{{ i18n "papers.dates.accepted" }}</dt>
      <dd>
        <time itemprop="datePublished" datetime="{{ . | time.Format "2006-01-02T15:04" }}">{{ . | time.Format ":date_long" }}</time>
      </dd>
    {{ end }}

    {{ with .Params.dates.received }}
      <dt>{{ i18n "papers.dates.received" }}</dt>
      <dd>
        <time itemprop="datePublished" datetime="{{ . | time.Format "2006-01-02T15:04" }}">{{ . | time.Format ":date_long" }}</time>
      </dd>
    {{ end }}
  </dl>
</aside>
