<div class="modal paper-modal" id="{{ .modalId }}" aria-labelledby="{{ .modalId }}-label" aria-hidden="true" aria-modal="true" role="dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title" id="{{ .modalId }}-label">{{ .title }}</h3>
      <button class="close" type="button" aria-label="{{ i18n "commons.close" }}"></button>
    </div>
    <div class="modal-body">
      <div itemprop="abstract">
        {{ safeHTML .abstract }}
      </div>
    </div>
  </div>
</div>
