{{ $inside_volume := .inside_volume | default false }}
{{ $actions := .actions | default true }}
{{ $with_in := .with_in | default false }}
{{ $modalId := print "modalID_" .index }}

{{ with .paper }}
  <article class="paper" itemscope itemtype="https://schema.org/ScholarlyArticle" {{- if $inside_volume }} itemProp="hasPart" {{- end -}}>
    <div>
      <h3 class="paper-title">
        <a href="{{ .Permalink }}" itemprop="url">
          <span itemprop="name">{{ partial "PrepareHTML" .Title }}</span>
        </a>
      </h3>
      <div class="paper-meta">
        <p>
          {{ with .Params.paper_kind }}
            <span class="paper-kind">{{ . }}</span>
          {{ end }}
          {{- range $index, $authors := .Params.Researchers -}}
            {{- $author := site.GetPage (printf "/persons/%s" .) -}}
            {{ if $author }}
              {{- if ne $index 0 -}},{{ end }}
              <span itemprop="author" itemscope itemtype="https://schema.org/Person">
                <a href="{{ $author.Permalink }}" itemprop="url">
                  <span itemprop="name">{{ trim $author.Title "\n" }}</span>
                </a>
              </span>
            {{- end -}}
          {{- end -}}
          {{ .Params.authors_list }}
        </p>
        {{ if not $inside_volume }}
          <p class="paper-volume">
            {{ range .Params.Volumes }}
              {{ $volume := site.GetPage (printf "/volumes/%s" .) }}
              {{ if $volume }}
                {{ if $with_in }}{{ i18n "commons.in" }} “{{ end }}<a href="{{ $volume.Permalink }}">{{ $volume.Title }}</a>{{ if $with_in }}”{{ end }}
              {{ end }}
            {{ end }}
          </p>
        {{ end }}
      </div>
    </div>
    {{ if eq $actions true }}
      {{ partial "papers/actions.html" (dict "paper" . ) }}
    {{ end }}
  </article>
{{ end }}