{{ $inside_volume := .inside_volume | default false }}
{{ $modalId := print "modalID_" .index }}

{{ with .paper }}
  <article class="paper" itemscope itemtype="https://schema.org/ScholarlyArticle" {{- if $inside_volume }} itemProp="hasPart" {{- end -}}>
    <div>
      <h3>
        <a href="{{ .Permalink }}" itemprop="url">
          <span itemprop="name">{{ partial "PrepareHTML" .Title }}</span>
        </a>
      </h3>
      {{- range $index, $authors := .Params.Researchers -}}
        {{- $author := site.GetPage (printf "/persons/%s" .) -}}
        {{- if ne $index 0 -}},{{ end }}
        <span itemprop="author" itemscope itemtype="https://schema.org/Person"><a href="{{ $author.Permalink }}" itemprop="url"><span itemprop="name">{{ trim $author.Title "\n" }}</span></a></span>
      {{- end -}}
      <p class="paper-volume">
        <span>Article</span>
        {{ if not $inside_volume }}
          {{ range .Params.Volumes }}
            {{ $volume := site.GetPage (printf "/volumes/%s" .) }}
            {{ if $volume }}
              {{ i18n "commons.in" }} “<a href="{{ $volume.Permalink }}">{{ $volume.Title }}</a>”
            {{ end }}
          {{ end }}
        {{ end }}
      </p>
    </div>
    {{ partial "papers/actions.html" (dict "paper" . ) }}
  </article>
{{ end }}