{{ $permalink := .permalink }}
{{ $label_type := .label_type | default "short" }}

<table class="calendar-month">
  <caption>
    <h2>
      {{ if $permalink }}
        <a href="{{ $permalink }}" title="{{ i18n "events.calendar.month.link" (dict "month" .name) }}">
          {{ .name }}
        </a>
      {{ else }}
        {{ .name }}
      {{ end }}
    </h2>
  </caption>
  <thead>
    <tr>
      {{ range (slice "monday" "tuesday" "wednesday" "thursday" "friday" "saturday" "sunday") }}
        <th>{{ i18n (printf "events.calendar.week_days.%s.%s" $label_type .) }}</th>
      {{ end }}
    </tr>
  </thead>
  <tbody>
    <tr>
      {{ range $index, $day := .days }}
        {{ $date := $day.day | time.AsTime }}
        {{ $formated_date := $date | time.Format "2" }}
        {{ $anchor := partial "GetDayAnchor" (dict
            "date" $date
            "format" site.Params.events.index.group_by_date
            "permalink" $permalink
          ) }}

        {{ if eq $index 0 }}
            {{ range (seq (sub $day.cwday 1)) }}
              <td aria-hidden="true"></td>
            {{ end }}
        {{ end }}
          <td>
            {{ if gt $day.events 0 }}
              <a href="{{ $anchor }}">{{ $formated_date }}</a>
            {{ else }}
              <span>{{ $formated_date }}</span>
            {{ end }}
          </td>
        {{ if and (gt $day.cwday 0) (eq (mod $day.cwday 7) 0) }}
          </tr><tr>
        {{ end }}
      {{ end }}
    </tr>
  </tbody>
</table>