{{ $meta_class := partial "commons/single/meta/helpers/GetMetaClass" . }}

<ul class="{{ $meta_class }}">
  {{ partial "commons/single/meta/published-at.html" . }}
  {{ partial "commons/single/meta/updated-at.html" . }}
  {{ partial "commons/single/meta/dates.html" . }}
  {{ partial "commons/single/meta/reading-time.html" . }}
  {{ partial "commons/single/meta/share.html" . }}
  {{ partial "commons/single/meta/taxonomies.html" . }}
</ul>
<ul class="job-infos">
  {{ $taxonomies_position := partial "taxonomies/helpers/GetPosition" . }}
  {{ if ne $taxonomies_position "hero" }}
    {{ if .Params.jobs_categories }}
      <li>
        {{ partial "taxonomies/single/list.html" . }}
      </li>
    {{ end }}
  {{ end }}

  {{ with .Params.dates }}
    {{ partial "jobs/single/job-infos/dates.html" . }}
  {{ end }}

  {{ if site.Params.jobs.single.options.authors }}
    {{ partial "authors/partials/authors.html" . }}
  {{ end }}

  {{ if site.Params.jobs.single.options.reading_time }}
    {{ partial "commons/single/reading-time.html" . }}
  {{ end }}

  {{ if site.Params.jobs.share_links.enabled | default site.Params.share_links.enabled }}
    {{ partial "commons/share/list-item.html" . }}
  {{ end }}
</ul>