{{ $options := .options }}
{{ $heading_level := .heading_level }}

<ul class="pages pages--cards">
  {{ range .pages }}
    {{ $page := site.GetPage .path }}
    {{ with $page }}
      <li>
        <article class="page">
          <div class="page-content">
            {{ partial "pages/partials/page/heading.html" (dict
              "item" .
              "level" $heading_level
              "options" $options
            ) }}

            {{- partial "pages/partials/page/hook-after-title.html" . -}}

            {{ if and $options.summary .Params.summary }}
              {{ partial "GetRichSummary" (dict 
                "summary" .Params.summary
                "kind" "pages"
              ) }}
            {{ end }}

            {{ if and $options.categories .Params.taxonomies }}
              {{ partial "commons/categories" (dict
                "context" .
                "kind" "page"
              ) }}
            {{ end }}

            {{ partial "commons/item/more.html" . }}
          </div>

          {{ if $options.image }}
            {{ partial "pages/partials/page/media.html" (dict 
              "image" .Params.image
              "layout" "cards"
            ) }}
          {{ end }}
        </article>
      </li>
    {{- end -}}
  {{ end }}
</ul>