{{- $title := or .Params.header_text .Title -}}
{{ $share := site.Params.projects.share_links.enabled | default site.Params.share_links.enabled }}

{{ with .Params.subtitle }}
  {{- $title = printf "%s <span>%s</span>" $title . -}}
{{ end }}

{{- partial "header/hero.html" (dict
      "title" $title
      "image" .Params.image
      "sizes" site.Params.image_sizes.sections.projects.hero_single
      "hero_text_complement" "projects/single/hero/infos.html"
      "context" .
      "share" $share
) -}}
