
<ul class="project-infos">
  {{ if .Params.projects_categories }}
    <li>
      {{ partial "taxonomies/single-list.html" . }}
    </li>
  {{ end }}

  {{ with .Params.year }}
    <li class="year">
      <span>{{ i18n "projects.year" }}</span>
      <time datetime="{{ . }}">{{ . }}</time>
    </li>
  {{ end }}

  {{ partial "authors/partials/authors.html" . }}

  {{ partial "commons/reading-time.html" . }}

  {{ if site.Params.projects.share_links.enabled | default site.Params.share_links.enabled }}
    {{ partial "commons/share/list-item.html" . }}
  {{ end }}
</ul>