{{ if .Params.Researchers }}
  <section class="paper-authors" id="authors">
    <h2>{{ i18n "volumes.authors" }}</h2>
    <div class="authors">
      {{ range .Params.Researchers }}

        {{ with site.GetPage (printf "/persons/%s" .) }}
          <div itemprop="author" itemscope itemtype="https://schema.org/Person">
            <meta itemprop="name" content="{{ trim .Title "\n" }}">
            <meta itemprop="url" content="{{ .Permalink }}">
            <meta itemprop="description" content="{{ trim .Params.summary "\n" }}">
            {{ if .Params.image }}
              <meta itemprop="image" content="{{ .Params.image }}">
            {{ end }}
            {{ partial "persons/partials/person.html" (dict "person" .) }}
          </div>
        {{ end }}

      {{ end }}
    </div>
  </section>
{{ end }}
