<nav aria-label="{{ i18n " commons.accessibility.shortcut_navigation" }}" class="nav-accessibility" id="nav-accessibility">
  <ul>
    <li><a href="#main">{{ i18n "commons.accessibility.main_content" }}</a></li>
    {{ if and site.Params.search.active site.Params.search.positions }}
      {{ range site.Params.search.positions }}
        {{ if eq . "fixed" }}
          <li><a href="#search-button-fixed">{{ i18n "commons.accessibility.search" }}</a></li>
          {{ break }}
        {{ else if eq . "footer" }}
          <li><a href="#search-button-footer">{{ i18n "commons.accessibility.search" }}</a></li>
          {{ break }}
        {{ end }}
      {{ end }}
    {{ end }}
  </ul>
</nav>
