{{ $first_search := index (site.Params.search.positions) 0 }}

<nav aria-label="{{ i18n "commons.accessibility.shortcut_navigation" }}" class="nav-accessibility" id="nav-accessibility">
  <ul>
    <li>
      <a href="#main">{{ i18n "commons.accessibility.main_content" }}</a>
    </li>
    <li class="nav-accessibility__item--desktop">
      <a href="#navigation">{{ i18n "commons.accessibility.menu" }}</a>
    </li>
    {{ if and site.Params.search.active (eq $first_search (or "primary" "upper-menu"))}}
      <!-- Search in burger menu -->
      <li class="nav-accessibility__item--mobile">
        <a href="#header-button">{{ i18n "commons.accessibility.menu_search" }}</a>
      </li>
      <li class="nav-accessibility__item--desktop">
        <a href="#search-button-{{ $first_search }}">{{ i18n "commons.accessibility.search" }}</a>
      </li>
    {{ else }}
      <!-- Link to burger menu without search -->
      <li class="nav-accessibility__item--mobile">
        <a href="#header-button">{{ i18n "commons.accessibility.menu" }}</a>
      </li>
      {{ if and site.Params.search.active $first_search }}
        <!-- Search always accessible -->
        <li>
          <a href="#search-button-{{ $first_search }}">{{ i18n "commons.accessibility.search" }}</a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</nav>
