<header role="banner">
  {{/* navbar class is required for dropdown */}}
  <nav class="navbar" role="navigation" aria-label="{{ i18n "commons.menu.main" }}">
    <div class="container">
      {{ partial "header/logo.html" }}
      {{ $menu := partial "GetMenu" "primary" }}
      {{ partial "header/button.html" }}
      <div class="menu" id="navigation">
        {{ partial "commons/menu.html"
            (dict
              "kind" "primary"
              "dropdown" true
              "level" 1
            ) }}
      </div>
    </div>
  </nav>
</header>
