{{ $primary := partial "GetMenu" "primary" }}
{{ $top_menu := partial "GetMenu" "top-menu" }}

<header id="document-header" role="banner">
  {{ if $top_menu }}
    <nav class="upper-navigation" aria-label="{{ i18n "commons.menu.superior" }}">
      <div class="container">
        {{ partial "commons/menu.html"
          (dict
            "kind"        "top-menu"
            "level"       1
            "class"       "top-menu"
          )}}
      </div>
    </nav>
  {{ end }}
  <nav aria-label="{{ i18n "commons.menu.main" }}">
    <div class="container">
      {{ partial "header/logo.html" }}
      {{ if $primary.items }}
        {{ partial "header/button.html" }}
        <div class="menu" id="navigation">
          {{ partial "commons/menu.html"
              (dict
                "kind" "primary"
                "dropdown" true
                "level" 1
                "context" .
              ) }}
        </div>
      {{ end }}
    </div>
  </nav>
</header>
