<header id="document-header">
  <nav aria-label="{{ i18n "commons.menu.main" }}">
    <div class="container">
      {{ partial "header/logo.html" }}
      {{ if isset site.Data.menus "primary"}}
        {{ partial "header/button.html" }}
        <div class="menu" id="navigation">
          {{ partial "commons/menu.html"
                (dict
                  "items" site.Data.menus.primary
                  "dropdown" true
                  "level" 1
                )}}
        </div>
      {{ end }}
    </div>
  </nav>
</header>
