
{{ $direction := "" }}
{{ $breadcrumb_is_after_hero := eq site.Params.breadcrumb.position "after-hero" }}
{{ $display_breadcrumb := .breadcrumb | default true }}
{{ $subtitle := .subtitle }}
{{ $description := .description }}
{{ if .image }}
  {{ $direction = partial "GetImageDirection" .image }}
{{ end }}

{{ $summary := .context.Params.summary | safeHTML }}
{{ $subtitle_is_summary := false }}

{{ $button := .button | default .context.Params.header_cta }}
{{ $logo := .logo }}
{{ $title_attribute := "" | safeHTMLAttr }}
{{ if site.Params.search.active }}
  {{ $title_attribute = "data-pagefind-weight='10'" | safeHTMLAttr }}
{{ end }}

{{ if not $subtitle }}
  {{ if and (eq site.Params.summary.position "hero") $summary }}
    {{ $subtitle = $summary }}
    {{ $subtitle_is_summary = true }}
  {{ end }}
{{ end }}

<header class="hero {{ if .image }}hero--with-image hero--image-{{- $direction }}{{ end }} {{ if $breadcrumb_is_after_hero }} hero--no-margin {{ end }}">
  <div class="container">
    {{ if and $display_breadcrumb (eq site.Params.breadcrumb.position "hero-start") }}
      {{ partial "header/breadcrumbs.html" .context }}
    {{ end }}
    <div class="content">
      <div class="hero-text">
        {{ if or $subtitle $description }}
          <hgroup>
            <h1 {{ $title_attribute }}>{{ partial "PrepareHTML" .title }}</h1>
            {{ if $subtitle }}
              <p {{ if $subtitle_is_summary }} class="lead" {{ end }}>{{ partial "PrepareHTML" $subtitle }}</p>
            {{ end }}
            {{ if $description }}
              <p>{{ partial "PrepareHTML" .description }}</p>
            {{ end }}
          </hgroup>
        {{ else }}
          <h1 {{ $title_attribute }}>{{ partial "PrepareHTML" .title }}</h1>
        {{ end }}

        {{ with $button }}
          {{ if and .display .target .label }}
            <a href="{{ .target }}" class="btn">{{ .label }}</a>
          {{ end }}
        {{ end }}

        {{ if $logo }}
          <div class="logo">
            {{ partial "commons/image.html"
            (dict
              "image"    .context.Params.logo
              "lazy"     false
            ) }}
          </div>
        {{ end }}

        {{ if .hero_text_complement }}
          {{ partial .hero_text_complement .context }}
        {{ end }}
      </div>

      {{ if .image }}
        <figure>
          {{ partial "commons/image.html"
            (dict
              "image"    .image
              "sizes"    ( .sizes | default site.Params.image_sizes.design_system.hero )
              "lazy"     false
            ) }}
          {{ if not site.Params.image_sizes.design_system.lightbox.disabled }}
            <a  class="glightbox"
                role="button"
                data-glightbox="type: image;{{ with .image.credit }}description: {{ partial "PrepareHTML" . }}{{ end }}"
                href="{{ partial "GetLightboxUrl" .image }}"
                title="{{- i18n "commons.lightbox.link.title" -}}"
                aria-label="{{- i18n "commons.lightbox.link.title" -}}">
            </a>
          {{ end }}
          {{ with .image.credit }}
            <figcaption tabindex="0">
              <div class="credit-content">
                {{ partial "PrepareHTML" . }}
              </div>
            </figcaption>
          {{ end }}
        </figure>
      {{ end }}
    </div>
  </div>

  {{ if .hero_complement }}
    {{ partial .hero_complement .context }}
  {{ end }}

  {{ if and $display_breadcrumb (eq site.Params.breadcrumb.position "hero-end") }}
    <div class="container breadcrumb-container">
      {{ partial "header/breadcrumbs.html" .context }}
    </div>
  {{ end }}
</header>

{{ if and $display_breadcrumb $breadcrumb_is_after_hero }}
  <div class="container breadcrumb-container">
    {{ partial "header/breadcrumbs.html" .context }}
  </div>
{{ end }}
