
{{ $direction := "" }}
{{ $breadcrumb_is_after_hero := eq site.Params.breadcrumb.position "after-hero" }}
{{ $display_breadcrumb := .breadcrumb | default true }}
{{ $subtitle := .subtitle }}
{{ $description := .description }}
{{ if .image }}
  {{ $direction = partial "GetImageDirection" .image }}
{{ end }}

{{ $summary := .context.Params.summary | safeHTML }}
{{ $subtitle_is_summary := false }}

{{ $button := .button | default .context.Params.header_cta }}
{{ $title_attribute := "" | safeHTMLAttr }}
{{ if site.Params.search.active }}
  {{ $title_attribute = "data-pagefind-weight='10'" | safeHTMLAttr }}
{{ end }}

{{ if not $subtitle }}
  {{ if and (eq site.Params.summary.position "hero") $summary }}
    {{ $subtitle = $summary }}
    {{ $subtitle_is_summary = true }}
  {{ end }}
{{ end }}

<header class="hero {{ if .image }}hero--with-image hero--image-{{- $direction }}{{ end }} {{ if $breadcrumb_is_after_hero }} hero--no-margin {{ end }}">
  <div class="container">
    {{ if and $display_breadcrumb (eq site.Params.breadcrumb.position "hero-start") }}
      {{ partial "header/breadcrumbs.html" .context }}
    {{ end }}
    <div class="content">
      <div class="hero-text">
        {{ if or $subtitle $description }}
          <hgroup {{ if $subtitle_is_summary -}} class="has-lead" {{- end }}>
            <h1 {{ $title_attribute }}>{{ partial "PrepareHTML" .title }}</h1>
            {{ with $subtitle }}
              {{ safeHTML . }}
            {{ end }}
          </hgroup>
        {{ else }}
          <h1 {{ $title_attribute }}>{{ partial "PrepareHTML" .title }}</h1>
        {{ end }}

        {{ if .hero_text_complement }}
          {{ partial .hero_text_complement .context }}
        {{ end }}

        {{ if or $button .share }}
          <div class="hero-actions">
            {{ with $button }}
              {{ if and .display .target .label }}
                {{ $title := .label }}
                {{ $is_external := .external | default false }}
                {{ $link_title := cond $is_external (safeHTML (i18n "commons.link.blank_aria" (dict "Title" $title))) $title }}
                <a href="{{ .target }}" title ="{{ $link_title }}" class="btn" {{ if $is_external -}} target="_blank" rel="noopener" {{- end }}>{{ .label }}</a>
              {{ end }}
            {{ end }}
            {{ if .share }}
              {{ partial "commons/share/dropdown.html" . }}
            {{ end }}
          </div>
        {{ end }}
      </div>

      {{ if .hero_content_complement }}
        {{ partial .hero_content_complement .context }}
      {{ end }}

      {{ if .image }}
        <!-- TODO Peut etre aligner la stucture des données avec les autres cas d'images -->
        {{ partial "commons/image-figure.html" (dict
          "image"    .image
          "sizes"    ( .sizes | default site.Params.image_sizes.design_system.hero )
          "lazy"      false
          )
        }}
      {{ end }}

      {{ if .hero_after_image_complement }}
        {{ partial .hero_after_image_complement .context }}
      {{ end }}
    </div>
  </div>

  {{ if .hero_complement }}
    {{ partial .hero_complement .context }}
  {{ end }}

  {{ if and $display_breadcrumb (eq site.Params.breadcrumb.position "hero-end") }}
    <div class="container breadcrumb-container">
      {{ partial "header/breadcrumbs.html" .context }}
    </div>
  {{ end }}
</header>

{{ if and $display_breadcrumb $breadcrumb_is_after_hero }}
  <div class="container breadcrumb-container">
    {{ partial "header/breadcrumbs.html" .context }}
  </div>
{{ end }}
