{{- $direction := "" -}}
{{ if .image }}
  {{- $direction = partial "GetImageDirection" .image -}}
{{ end }}

<header class="hero {{ if .image -}}hero--with-image hero--image-{{- $direction -}}{{- end -}}">
  <div class="container">
    {{- if .breadcrumb | default true -}}
      {{ partial "header/breadcrumbs.html" .context }}
    {{- end -}}
    <div class="content">
      {{- if .subtitle -}}
        <hgroup>
          <h1>{{ partial "PrepareHTML" .title }}</h1>
          <p>{{ partial "PrepareHTML" .subtitle }}</p>
        </hgroup>
      {{- else -}}
        <h1>{{ partial "PrepareHTML" .title }}</h1>
      {{- end -}}
      </hgroup>
      {{- if .image }}
        <figure>
          {{ partial "commons/image.html"
            (dict
              "image"    .image
              "mobile"   "351"
              "tablet"   "456"
              "desktop"  "856"
            ) }}
          {{ if .image.credit }}
            <figcaption tabindex="0">
              <p>
                {{- partial "GetTextFromHTML" .image.credit -}}
              </p>
            </figcaption>
          {{ end }}
        </figure>
      {{ end -}}
    </div>
  </div>
</header>
