{{ $search_with_text := site.Params.search.enable_text }}
{{ $search_position := site.Params.search.position }}

<button id="search-button" class="pagefind-ui__toggle pagefind-{{ .position }} {{- if and (not $search_with_text) (eq $search_position "menu")}} without-text {{- end }}" aria-expanded="false" aria-label='{{- i18n (printf "commons.search.title") -}}'>
  <span>{{- i18n (printf "commons.search.title") -}}</span>
</button>

<script src="/pagefind/pagefind-ui.js"></script>

<div id="search" class="search__modal" aria-hidden="true" aria-modal="true" role="dialog">
  <button class="search__close" aria-label="{{ i18n "commons.search.close" }}">
    {{ i18n "commons.search.close" }}
  </button>
</div>