{{ $search_appareance := site.Params.search.appearance }}
{{ $search_position := site.Params.search.position }}

<button id="search-button" class="pagefind-ui__toggle pagefind-{{ .position }}" aria-expanded="false" aria-label='{{- i18n (printf "commons.search.title") -}}'>
  <span>{{- i18n (printf "commons.search.title") -}}</span>
</button>

<script src="/pagefind/pagefind-ui.js"></script>

<div id="search" class="search__modal" aria-hidden="true" aria-modal="true" role="dialog" aria-label="{{ i18n "commons.search.label" }}">
  <button class="search__close" aria-label="{{ i18n "commons.search.close" }}">
    {{ i18n "commons.search.close" }}
  </button>
  <p role="heading" aria-level="1" class="sr-only">{{ i18n "commons.search.title" }}</p>
</div>