{{/*  TODO: Create a generic previous / next section for single section  */}}
{{ $previous_label := .previous_label | default (i18n "posts.previous") }}
{{ $next_label := .next_label | default (i18n "posts.next") }}
{{ $reversed := .reversed | default false }}

{{ with .context }}
  {{ $previous_content := .PrevInSection }}
  {{ $next_content := .NextInSection }}
  {{ if $reversed }}
    {{ $previous_content = .NextInSection }}
    {{ $next_content = .PrevInSection }}
  {{ end }}
  {{ if or .PrevInSection .NextInSection }}
    <div class="block block-siblings-navigation">
      <div class="container">
        <div class="block-content">
          <nav class="siblings-navigation" aria-label="{{ i18n "commons.pagination.between.posts" }}">
            <ul>
              {{ partial "commons/single/siblings-navigation/previous.html" (dict
                "label" $previous_label
                "page" $previous_content
              ) }}
              {{ partial "commons/single/siblings-navigation/next.html" (dict
                "label" $next_label
                "page" $next_content
              ) }}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}