{{ $logo_index := .logo_index }}
{{ $options := .options }}
{{ $layout := .layout }}
{{ $heading_level := .heading_level | default 2 }}

<ul class="organizations organizations--large {{ if $options.summary }} with-summaries{{ end }}">
  {{ range .organizations }}
    {{ $organization := partial "organizations/helpers/GetObjectOrData" . }}
    <li>
      {{ partial "organizations/partials/organization.html" (dict
        "organization" $organization
        "options" $options
        "layout" $layout
        "heading_level" $heading_level
      ) }}
    </li>
  {{ end }}
</ul>