{{ $options := .options | default site.Params.persons.index.options }}
{{ $class := partial "persons/partials/person/helper/GetClass" . }}
<li>
  <article class="{{ $class }}" itemscope itemtype="https://schema.org/Person">
    <div class="description">
      {{ partial "persons/partials/person/name.html" (dict
        "person" .person
        "options" $options
        "heading_level" .heading_level
      ) }}
      {{ if $options.summary }}
        {{ partial "persons/partials/person/summary.html" (dict
          "person" .person
          "role" .role
        ) }}
      {{ end }}
      {{ if $options.contact }}
        {{ partial "persons/partials/person/contact.html" .person }}
      {{ end }}
      {{ if and $options.link (eq .layout "large") }}
        {{ partial "persons/partials/person/more.html" .person }}
      {{ end }}
      {{ if $options.cohorts }}
        {{ partial "persons/partials/person/cohorts.html" .person.Params.cohorts }}
      {{ end }}
    </div>
    {{ if $options.image }}
      {{ partial "persons/partials/person/avatar.html" (dict
        "person" .person
        "sizes" .image_sizes
      ) }}
    {{ end }}
  </article>
</li>