{{ if site.Params.search.active }}
    <script src="/pagefind/pagefind-ui.js"></script>

    <div id="search" class="search" aria-hidden="true" aria-modal="true" role="dialog" aria-label="{{ i18n "commons.search.label" }}">
        <button class="search__close popup-close" aria-label="{{ i18n "commons.search.close" }}">
            {{ i18n "commons.search.close" }}
        </button>
        <p role="heading" aria-level="1" class="sr-only">{{ i18n "commons.search.title" }}</p>
    </div>
{{ end }}