{{ define "main" }}
  {{- partial "header/hero.html"
        (dict
          "title" .Title
          "image" .Params.image
          "context" .
        ) -}}
<article itemscope itemtype="https://schema.org/ScholarlyArticle">
  <meta itemprop="name" content="{{ partial "PrepareHTML" .Title }}">

  <div class="container">
    <div class="content">
      <div>
        {{ partial "articles/abstract.html" . }}
        {{ partial "articles/authors.html" . }}
        {{ partial "articles/body.html" . }}
        {{ partial "articles/references.html" . }}
      </div>
      {{ partial "articles/aside.html" . }}
    </div>
  </div>

</article>

{{ end }}
