{{ $exhibitions := .exhibitions }}
{{ $layout := .layout | default site.Params.exhibitions.index.layout }}
{{ $options := .options | default site.Params.exhibitions.index.options }}
{{ $heading_level := .heading_level | default 2 }}

<ol class="exhibitions exhibitions--{{- $layout }}">
  {{ range $exhibitions }}
    <li>
      {{ partial "exhibitions/partials/exhibition.html" (dict
          "exhibition" .
          "layout" $layout
          "options" $options
        )}}
    </li>
  {{ end }}
</ol>
