{{ partial "programs/single/hero.html" . }}

<div class="document-content {{ with .Params.diplomas }}diploma-{{.}}{{ end }}" itemscope itemtype="https://schema.org/EducationalOccupationalCredential">
  <meta itemprop="name" content="{{ safeHTML .Title }}">
  <meta itemprop="url" content="{{ .Permalink }}">

  {{ partial "toc/container.html" (dict
    "toc" "programs/single/toc.html"
    "context" .
  ) }}

  {{ partial "programs/single/summary.html" (dict
    "with_container" true
    "context" .
  ) }}

  {{- partial "programs/single/taxonomies.html" . -}}
  {{- partial "programs/single/content.html" . -}}
  {{- partial "hooks/before-program-end.html" . -}}
</div>
