{{ partial "programs/single/hero.html" . }}

<div class="document-content {{ with .Params.diplomas }}diploma-{{.}}{{ end }}" itemscope itemtype="https://schema.org/EducationalOccupationalCredential">
  <meta itemprop="name" content="{{ safeHTML .Title }}">
  <meta itemprop="url" content="{{ .Permalink }}">

  {{ $toc := partial "programs/single/toc.html" . }}
  {{ partial "toc/container.html" (dict
    "toc" $toc
    "context" .
  ) }}

  {{ partial "programs/single/summary.html" (dict
    "with_container" true
    "context" .
  ) }}

  {{ partial "programs/single/taxonomies.html" . }}
  {{ partial "programs/single/core.html" . }}
  {{ partial "programs/single/hooks/before-end.html" . }}
</div>
