{{ $layout := site.Params.programs.index.layout | default "list" }}
{{ $paginator := .Paginate ( .Pages | uniq ) }}

{{ if not $paginator.Pages }}
  {{ $is_term := eq .Kind "term" }}
  <p>{{ i18n (cond $is_term "categories.no_program" "programs.none") }}</p>
{{ else }}
  <ol class="programs programs--{{ $layout }}">
    {{ range $paginator.Pages }}
      {{- partial "programs/partials/program.html" (dict
        "program" .
        "options" site.Params.programs.index.options
        "layout" $layout
      ) -}}
    {{ end }}
  </ol>
{{ end }}
