{{ define "main" }}
{{ partial "publications/hero-single.html" . }}

<div class="document-content" itemscope itemtype="https://schema.org/ScholarlyArticle">
  <meta itemprop="name" content="{{ partial "PrepareHTML" .Title }}">
  
  <div class="container">
    <div class="document-sidebar">
      {{ partial "publications/researchers.html" . }}
      <div class="paper-ref">
        <p>{{ partial "PrepareHTML" .Params.ref }}</p>
      </div>
    </div>
    <div class="content">
      <div class="rich-text">
        {{ with .Params.abstract }}
          <p>{{ partial "PrepareHTML" . }}</p>
        {{ end }}
        {{ with .Params.citation_full }}
          <p>{{ partial "PrepareHTML" . }}</p>
        {{ end }}
        {{ partial "publications/links.html" . }}
      </div>
    </div>
  </div>
</div>

{{ end }}
