.nav-accessibility
    list-style: none
    margin: 0
    padding: $spacing1
    position: absolute
    transform: translateY(-100%)
    z-index: $zindex-nav-accessibility
    li
        display: inline-block
        margin-right: px2rem(5)
    &:focus-within
        position: relative
        transform: translateY(0)
