
// Utilisé pour .post, .project, .page, .person, .program, .volume
@mixin article($aspect-ratio: $article-media-aspect-ratio)
    position: relative
    display: flex
    flex-direction: column
    [class$="-subtitle"]
        color: var(--color-text-alt)
    .media
        margin-bottom: $spacing-3
        order: -1
        overflow: hidden
        &:empty
            display: none
        img
            object-fit: cover
            width: 100%
            @if $aspect-ratio
                aspect-ratio: $aspect-ratio
    p + time
            margin-top: $spacing-2
    [class$="-categories"]
        @include item-categories-list
    time
        @include meta
        color: var(--color-text-alt)
        display: block
    @include media-breakpoint-down(desktop)
        .media
            margin-bottom: $spacing-2

@mixin article-title
    @include h3
    a
        @include stretched-link(before)
        display: block
        text-decoration: none
    + [class$="-subtitle"]
        @include h3