ol[itemtype="https://schema.org/BreadcrumbList"]
    @include list-reset
    -webkit-touch-scrolling: touch
    flex-wrap: nowrap
    overflow: auto
    display: flex
    a
        color: $breadcrumb-color
        text-decoration-color: rgba($breadcrumb-color, 0.3)
        &:hover
            text-decoration-color: rgba($breadcrumb-color, 1)
    li
        flex-shrink: 0
        white-space: nowrap
        &:not(:first-child)
            padding-left: 0.5rem
            &::before
                color: lighten($breadcrumb-color, 0.5)
                content: "/"
                padding-right: 0.5rem
