.breadcrumb
    @include list-reset
    -webkit-touch-scrolling: touch
    flex-wrap: nowrap
    overflow: auto
    display: flex
    padding-bottom: $spacing0
    li
        flex-shrink: 0
        white-space: nowrap
        &, a
            // FIXME Arnaud : il doit y avoir plus élégant, non ? Hériter de .meta ?
            font-family: $meta-font-family
            font-size: $meta-size
            font-weight: $meta-weight
            line-height: $meta-line-height
            @include media-breakpoint-up(md)
                font-size: $meta-size-md
            // End of FIXME

        a
            color: $breadcrumb-color
            text-decoration-color: rgba($breadcrumb-color, 0.3)
            &:hover
                text-decoration-color: rgba($breadcrumb-color, 1)
        &:not(:first-child)
            padding-left: 0.5rem
            &::before
                color: lighten($breadcrumb-color, 0.5)
                content: "/"
                padding-right: 0.5rem
