.breadcrumb
    @include list-reset
    -webkit-touch-scrolling: touch
    flex-wrap: nowrap
    overflow: auto
    display: flex
    height: $spacing-5
    align-items: center
    li
        flex-shrink: 0
        white-space: nowrap
        &, a
            @include meta
        a
            color: $breadcrumb-color
            text-decoration-color: rgba($breadcrumb-color, 0)
            line-height: 1
            &:hover
                text-decoration-color: rgba($breadcrumb-color, 1)
        &.active
            color: $breadcrumb-color-active
        &:not(:first-child)
            padding-left: $spacing-2
            @include icon($breadcrumb-icon)
                padding-right: $spacing-2
                color: $breadcrumb-icon-color
