.contacts-details
    @include grid(2, md)
    margin-top: $spacing3
    ul
        @include list-reset
        padding-left: 0
        li
            list-style-type: none
            + li
                margin-top: $spacing1
            address
                @extend .p
            > span
                @include meta
                display: block
    @include media-breakpoint-down(md)
        width: auto
        ul + ul
            margin-top: $spacing1
        li
            display: flex
            justify-content: space-between
            align-items: baseline
            span
                flex-shrink: 0
                margin-right: $spacing1