footer[role="contentinfo"]
    background: $footer-background-color
    color: $footer-color
    padding-bottom: $spacing3
    padding-top: $spacing3
    address
        font-size: px2rem(14)
        line-height: px2rem(26)

    .logo
        img
            height: 60px
            max-width: 100%
            width: auto

    .content
        @include grid(3, md)
        margin-bottom: $spacing1
        @include media-breakpoint-up(md)
            margin-bottom: $spacing2
        > div
            &:first-of-type
                @include media-breakpoint-down(md)
                    margin-bottom: $spacing1

    .complementary
        @include media-breakpoint-up(md)
            align-items: center
            display: flex
            [class^="nav-"]
                margin-top: 0
            .credit + [class^="nav-"],
            [class^="nav-"] + [class^="nav-"]
                margin-left: auto
                margin-right: -$spacing1

    .credit
        a
            padding: 0

    // TODO : add padding on every link in typography ?
    [class^="nav-"]
        margin-left: calc(#{$spacing1} / -2)
        a
            padding: calc(#{$spacing1} / 2)
    // END TODO

    @include media-breakpoint-up(md)
        [class^="nav-"] + .credit,
        small + .credit
            &::before
                content: '—'
                margin: 0 calc(#{$spacing1} / 2) 0 0

    ul
        @include list-reset

    .nav-level-1
        align-items: flex-start
        flex-direction: column
        a,
        span
            color: $footer-color
            display: inline-block
            font-size: px2rem(14)
            line-height: 1.4

    @include media-breakpoint-up(md)
        .nav-legal,
        .nav-social
            flex-direction: row
        .nav-legal
            li:not(:first-child)
                margin-left: -$spacing1
        .nav-social
            li:not(:last-child)
                margin-right: -$spacing1
