form
    fieldset
        border: none
        padding: 0
        margin-bottom: $spacing-3
    label
        @include meta
    .control--radio
        @include body-text
        + label
            margin-left: $spacing-1
            @include body-text
    .radio + .radio
        margin-left: $spacing-2
    input[type="text"], input[type="search"], input[type="email"], input[type="tel"], input[type="password"]
        @include body-text
        border: 1px solid rgba(0, 0, 0, 0.3)
        border-radius: $form-input-border-radius
        padding: $spacing-1 
    input[type="submit"], button
        @include button-reset
        @include btn
        @include meta
        background: $form-btn-background-color
        color: $form-btn-color
    label + input
        margin-bottom: $spacing-5