.container
    @include container

.document-content
    position: relative
    @include media-breakpoint-up(md)
        body:not(.full-width) &
            .blocks
                .block-content
                    padding-left: offset(5)
