.container
    @include container

.content-blocks
    position: relative
    @include media-breakpoint-up(md)
        body:not(.full-width) &
            > aside
                @include container
                pointer-events: none
                height: 100%
                left: 50%
                position: absolute
                transform: translateX(-50%)
                width: 100%
                > div
                    @include sticky
                    > *
                        width: col(4)
                        pointer-events: auto
            > .blocks
                .block-content
                    padding-left: col(5)

    // TODO: mieux gérer la gestion de l'aside dans l'html
    body.full-width &
        aside
            display: none
