header[role="banner"]
    background: $header-background
    border-bottom: 1px solid $color-border
    color: $header-color
    position: fixed
    left: 0
    transition: transform $header-sticky-transition, background $header-sticky-transition
    top: 0
    width: 100%
    z-index: $zindex-header
    @include media-breakpoint-down(desktop)
        border-bottom: 0
        width: 100%
    .dropdown-menu
        transition: background $header-sticky-transition
    &.is-sticky, html.has-menu-opened &
        background: $header-sticky-background
        color: $header-sticky-color
        .dropdown-menu
            background: $header-sticky-dropdown-background
        .menu
            a,
            a:hover,
            a:focus,
            a:active
                color: inherit
            a:not(:hover)
                text-decoration-color: transparent
            span
                color: $header-sticky-color
        @if $header-sticky-invert-logo
            .logo img
                filter: invert(1)
    html.is-scrolling-down:not(.has-menu-opened) &
        @include media-breakpoint-down(desktop)
            transform: translateY(-100%)
        @include media-breakpoint-up(desktop)
            &:not(:hover)
                transform: translateY(-100%)
    .logo
        img
            display: block
            height: $header-logo-height
            width: auto
            @if $header-sticky-invert-logo
                transition: filter $header-sticky-transition
            @include media-breakpoint-up(desktop)
                height: $header-logo-height-desktop

// TODO : Est-ce au bon endroit ?
body
    &::after
        @include inset(0)
        background-color: $body-overlay-color
        content: ""
        pointer-events: none
        position: fixed
        opacity: 0
        transition: opacity $header-transition
        z-index: $zindex-body-overlay

    html.has-menu-opened &,
    html.has-offcanvas-opened &
        &::after
            display: block
            opacity: 1
            pointer-events: inherit
    html.has-offcanvas-opened &
        &::after
            z-index: $zindex-header + 1
    html.is-animating:not(.has-menu-opened) &
        &::after
            display: block
            opacity: 0

header[role="banner"]
    nav[role="navigation"]
        padding-bottom: $header-nav-padding-y
        padding-top: $header-nav-padding-y
        .container
            align-items: center
            display: flex
            flex-wrap: wrap
            justify-content: space-between
        button[type="button"]
            @include button-reset
            display: none
            border: 0
            color: inherit
            padding: 0
            position: relative
            @include media-breakpoint-down(desktop)
                display: flex
                align-items: center
            &:focus
                box-shadow: none
            &:focus-visible
                outline-color: gray
                outline-offset: 5px
                outline-style: dashed
                outline-width: 1px
            span:first-of-type
                @include meta
            span:last-of-type
                @include icon("burger", before)
                background: none
                height: calc(1.063rem + .3125rem * 2)
                padding: px2rem(5) 0 px2rem(5) px2rem(5)
                width: calc(1.5rem + .3125rem)
                &::before
                    font-size: px2rem(17)
                    vertical-align: top
            &[aria-expanded="true"]
                span:last-of-type
                    &::before
                        content: map-get($icons, "close")
