header[role="banner"]
    background: $header-background
    position: fixed
    left: 0
    transition: transform $header-sticky-transition, background $header-sticky-transition
    top: 0
    width: 100%
    z-index: $zindex-header
    @include media-breakpoint-down(md)
        width: 100%
    &.is-sticky
        background: $header-sticky-background
        color: $header-sticky-color
        .menu
            a,
            a:hover,
            a:focus,
            a:active
                @include link($header-sticky-color)
            span
                color: $header-sticky-color
    html.is-scrolling-down:not(.has-menu-opened) &
        @include media-breakpoint-down(md)
            transform: translateY(-100%)
        @include media-breakpoint-up(md)
            &:not(:hover)
                transform: translateY(-100%)

    .logo
        img
            display: block
            height: $header-logo-height
            width: auto
            @include media-breakpoint-up(md)
                height: $header-logo-height-md
