.hero
    color: $hero-color
    min-height: $hero-height
    padding-bottom: $spacing3
    padding-top: calc(2rem + var(--header-height))
    position: relative
    margin-bottom: $spacing3
    @include media-breakpoint-up(desktop)
        min-height: $hero-height-desktop
    *:focus-visible
        outline-color: $hero-color

    &::before
        content: ''
        position: absolute
        // Support gradients
        background: $hero-background-color
        // Fallback color
        background-color: $hero-background-color
        top: 0
        left: 0
        right: 0
        bottom: 0
        z-index: -1


    nav + .content
        margin-top: $spacing3

    .content
        h1 + p
            margin-top: $spacing1
        figure
            position: relative
            &, img, picture
                display: block
            figcaption
                @include meta
                color: $color-text-alt
                a
                    color: inherit

                position: absolute
                display: block
                left: 0
                right: 0
                z-index: 10
                p
                    @include meta
                &::before
                    @include meta
                    content: '©'
                    position: absolute
                    right: 0
                    top: 0
                    background: $color-background-alt
                    text-align: center
                    line-height: px2rem(30)
                    width: px2rem(30)
                    height: px2rem(30)
                    display: block
                p
                    background: $color-background-alt
                    display: none
                    padding: half($spacing0)
                    padding-right: $spacing2
                &:focus
                    p
                        display: block
            &:hover
                figcaption p
                    display: block

    // TODO : handle hero with image
    // @if $breadcrumb-below-h1
    //     .container:first-child
    //         display: flex
    //         flex-direction: column
    //         nav + .content
    //             margin-top: 0
    //         .breadcrumb-nav
    //             order: 3
    //             margin-top: $spacing3

    @include media-breakpoint-down(desktop)
        // &:not(.hero--with-image)
        //     margin-bottom: 0
        &--with-image
            padding-bottom: 0
        &--image-landscape
            figure
                margin: half($spacing3) half(-$grid-gutter-sm) 0
        &--image-portrait, &--image-square
            .container
                display: flex
                flex-direction: column
                // margin-bottom: $spacing5
            figure
                // margin-bottom: calc(#{-$spacing5} + #{$spacing2})
                margin-top: $spacing1

    @include media-breakpoint-up(desktop)
        // $negative-margin-bottom: $spacing4
        .content
            > h1, > hgroup
                width: col(9)
        &--with-image
            padding-bottom: 0
            min-height: calc(#{$hero-height-desktop} + #{$spacing3})
            &::before
                bottom: $spacing3
            .content
                display: flex
                justify-content: space-between
                > h1, > hgroup
                    width: col(7)
                figure
                    width: col(5)

        &--image-portrait, &--image-square
            .breadcrumb-nav
                width: calc(#{col(9)} + #{half($grid-gutter)})
                -webkit-mask-image: linear-gradient(to right, black 0%, black 90%, transparent 100%)
                mask-image: linear-gradient(to right, black 0%, black 90%, transparent 100%)
                .breadcrumb
                    padding-right: 50px
            .content
                > h1, > hgroup
                    width: col(8)
                figure
                    margin-top: calc(-#{$spacing3} - #{$spacing1})
                    width: col(3)

