.hero
    // Support gradients
    background: $hero-background-color
    // Fallback color
    background-color: $hero-background-color
    color: $hero-color
    min-height: $hero-height
    padding-bottom: $spacing3
    padding-top: calc(2rem + var(--header-height))
    position: relative
    @include media-breakpoint-up(md)
        min-height: $hero-height-md
    *:focus-visible
        outline-color: $hero-color
    
    nav + .content
        margin-top: $spacing3

    .content
        figure
            display: block
            img, picture
                display: block
            figcaption
                @include meta
                color: $color-text-alt
                margin-top: $spacing0
                text-align: right
                a
                    color: inherit

    @include media-breakpoint-down(md)
        &--with-image
            padding-bottom: 0
        &--image-landscape
            figure
                margin: half($spacing3) half(-$grid-gutter-sm) 0
        &--image-portrait, &--image-square
            .container
                display: flex
                flex-direction: column
                margin-bottom: $spacing5
            figure
                margin-bottom: calc(#{-$spacing5} + #{$spacing2})
                margin-top: $spacing1
    @include media-breakpoint-up(md)
        $negative-margin-bottom: px2rem(150)
        .content
            h1
                width: col(9)
        &--with-image
            margin-bottom: $negative-margin-bottom
            .content
                display: flex
                justify-content: space-between
                h1
                    width: col(7)
                figure
                    width: col(5)
                    margin-bottom: -$negative-margin-bottom
                    // If there's no credits
                    picture:last-child
                        margin-bottom: $spacing2
        &--image-portrait, &--image-square
            .content
                h1
                    width: col(8)
                figure
                    margin-top: calc(-#{$spacing3} - #{$spacing2})
                    width: col(3)

    // In what case ?
    // p
    //     margin-bottom: 0
    // a
    //     color: $hero-color
    //     text-decoration-color: rgba($hero-color, 0.3)
    //     &:hover
    //         text-decoration-color: $hero-color
            

    // > div:first-of-type
    //     > div
    //         margin-top: $spacing1
    //         @include media-breakpoint-up(xl)
    //             margin-top: px2rem(70)

    // > div + div
    //     margin-top: auto
    //     .container
    //         padding-bottom: $spacing1
    //         padding-top: $spacing1
    //     & + .document-nav
    //         margin-top: 0
    // > div
    //     position: relative
    //     z-index: 1
    // picture
    //     position: relative
