figure
    margin: 0

img
    display: block
    height: auto
    max-width: 100%
    &::selection
        background: transparent

picture, figure
    display: block

figcaption
    &.credit > p:not(.sr-only), .credit > p:not(.sr-only)
        > span[aria-hidden]:first-child
            margin-right: $spacing-1
