*,
*::before,
*::after
    box-sizing: border-box

\:root
    --header-height: #{$header-height}
    @include media-breakpoint-up(md)
        --header-height: #{$header-height-md}


body
    color: $body-color
    background: $body-background-color
    @media (prefers-reduced-motion: reduce)
        *
            transition-duration: 0s !important
    // &:not(.is-loaded)
    //     *
    //         transition-duration: 0s !important


main
    &:not(.page-with-blocks)
        padding-bottom: $spacing3
    // Create padding-top for fixed header under md
    @include media-breakpoint-down(md)
        padding-top: var(--header-height)

.container
    @include container

ul
    padding-left: px2rem(15)

.blocks
    > *
        margin-top: $spacing3
        padding-bottom: $spacing3
        &:last-child
            padding-bottom: $spacing4

details
    &:not([open]):hover
       summary::after
            transform: translateY(5px)
    summary
        padding-bottom: $spacing1
        padding-top: $spacing1
        position: relative
        @include icon(caret, after, px2rem(5))
            margin-left: px2rem(10)
            line-height: px2rem(22)
            transition: transform 0.25s
        &::marker
            content: none
        &::-webkit-details-marker 
            display: none
    &[open]
        summary
            @include icon(caret-top, after, px2rem(5))
        &:hover
            summary::after
                transform: translateY(-5px)