*,
*::before,
*::after
    box-sizing: border-box

body
    color: $body-color
    background: $body-background-color
    @media (prefers-reduced-motion: reduce)
        *
            transition-duration: 0s !important
    &:not(.is-loaded)
        *
            transition-duration: 0s !important
    html.has-menu-opened &
        &::after
            background-color: rgba(0,0,0,.3)
            content: ""
            display: block
            inset: 82px 0 0 0
            position: fixed
            z-index: $zindex-body-overlay

main
    // Create padding-top for fixed header under md
    @include media-breakpoint-down(md)
        padding-top: $header-height

figure
    margin: 0
img
    max-width: 100%
    height: auto
    &::selection
        background: transparent

.container
    @include container

ul
    padding-left: px2rem(15)

main
    padding-bottom: $spacing3

.blocks
    > *
        margin-top: $spacing3
