// in content (this go inside sidebar)
// in hero

@mixin meta-as-table
    &, .taxonomies > ul
        flex-direction: column
        gap: 0
        width: 100%
        > li
            flex: 1
            width: 100%
            display: flex
            gap: $spacing-3
            justify-content: space-between
            padding-top: $spacing-2
            padding-bottom: $spacing-2
            &:not(:first-child)
                border-top: var(--border-width) solid var(--color-border)
            > ul
                text-align: right
            &.taxonomies
                padding-top: 0
                padding-bottom: 0
        .taxonomy-title
            text-align: left

.single-meta
    &, ul
        @include list-reset

    li
        @include meta
        > span:first-of-type
            color: var(--color-text-alt)
        a
            @include link(var(--color-accent))

    .reading-time
        span:first-letter
            text-transform: capitalize

    .social-share
        ul.share
            align-items: center
            flex-direction: row
            a
                @include link(inherit)
                text-decoration: none
            li
                &:first-child
                    a
                        padding-left: 0
                &:last-child
                    a
                        padding-right: 0

    &.hero-meta
        margin-top: $spacing-3

    &.without-label
        gap: $spacing-1 $spacing-3
        > ul
            margin-top: $spacing-2
        > li
            > span
                margin-bottom: $spacing-1
                &:first-of-type
                    @include sr-only
        .updated-at,
        .share
            display: inline-flex
        .updated-at
            text-transform: lowercase
            time
                margin-left: space()

        .authors
            ul
                li
                    display: inline
                    + li::before
                        content: ' • '

        .taxonomies-single
            gap: $spacing-1

    &.with-labels
        li > ul
            display: flex
            flex-direction: column
            gap: space()

        // with labels: horizontal flex by default (vertical in sidebar without label)
        &, .taxonomies-single
            gap: $spacing-3 var(--grid-gutter)
            > .taxonomies
                width: 100%

    @include media-breakpoint-down(desktop)
        &.without-label
            .taxonomies-single
                display: flex
                flex-wrap: wrap
                padding-top: $spacing-2
                > li
                    padding: 0
            
            > li + li
                margin-top: $spacing-1

        &.with-labels
            @include meta-as-table

    @include media-breakpoint-up(desktop)
        &, .taxonomies-single
            align-items: baseline
            display: flex
            flex-wrap: wrap

        &.with-labels.hero-meta
            &, .taxonomies-single
                > li
                    width: columns(2)
                    span:first-of-type
                        display: block
                        margin-bottom: $spacing-1
                .taxonomies
                    width: 100%

        // in hero: 6 cols bc of picture
        &.hero-meta
            margin-top: $spacing-4
            width: columns(6)

        &.with-labels
            .taxonomies-single
                flex-direction: row

    @include in-page-with-sidebar
        // padding before toc separator
        &.without-label
            padding-bottom: $spacing-3

            // vertical alignment for meta in sidebar
            &.content-meta
                flex-direction: column
                > li + li
                    margin-top: $spacing-1

        &.with-labels
            &.content-meta
                @include meta-as-table

    @include in-page-without-sidebar
        &.with-labels
            .taxonomy-children
                li + li
                    margin-top: $spacing-1
            
            &, .taxonomies-single
                > li
                    width: columns(2)
                    span:first-of-type
                        display: block
                        margin-bottom: $spacing-1

        // always display taxonomies in 6 or 10 cols to return to the line
        li.taxonomies
            width: 100%
        
        // in full width: display on 10 cols alongside toc
        &.content-meta
            width: columns(10)
            ul
                li 
                    a
                        text-align: left
            
            .share
                justify-content: start