.pagination
    @include list-reset
    @include meta
    justify-content: center
    align-items: center
    display: flex
    flex-wrap: wrap
    margin-top: $spacing3
    margin-bottom: $spacing4
    li
        a
            color: inherit
            padding: calc(#{$spacing0}/2) $spacing0
            text-decoration: none
            transition: background-color .15s ease-in-out
        &.active
            color: $color-accent
        &.disabled
            pointer-events: none
            a::before
                opacity: .3
        &:not(.disabled)
            a:hover
                background-color: $color-background-alt
        &:first-child
            a
                @include icon(arrow-first, before, px2rem(10))
        &:nth-child(2)
            a
                @include icon(arrow-left, before, px2rem(10))
        &:nth-last-child(2)
            a
                @include icon(arrow-right, before, px2rem(10))
        &:last-child
            a
                @include icon(arrow-last, before, px2rem(10))

.posts-navigation
    border-top: 1px solid $color-border
    margin-top: $spacing3
    padding-bottom: $spacing4
    ul
        @include list-reset
        display: flex
        li
            flex: 1
            position: relative
        a
            @include small
            border: 0
            display: block
            text-decoration: none
            &:hover
                color: $color-accent
            span
                @include meta
                text-decoration: none
                display: block
                margin-bottom: $spacing0
        .previous
            span
                @include icon(arrow-left, before, px2rem(12))
                    margin-right: px2rem(5)
        .next
            text-align: right
            span
                @include icon(arrow-right, after, px2rem(12))
                    margin-left: px2rem(5)

    @include media-breakpoint-up(desktop)
        ul
            padding-top: $spacing1
            .next:first-child

    @include media-breakpoint-down(desktop)
        ul
            flex-direction: column-reverse
            .previous,
            .next
                border-bottom: 1px solid $color-border
                display: flex
                align-items: center
                span
                    margin-bottom: 0
                    &::after,
                    &::before
                        content: none
                a
                    display: block
                    padding: $spacing1 0
            .previous
                @include icon(arrow-left, before, px2rem(12))
                    margin-right: $spacing0
            .next
                justify-content: end
                @include icon(arrow-right, after, px2rem(12))
                    margin-left: $spacing0