.toc
    ol
        @include list-reset
        align-items: flex-start
        margin: 0
        flex-direction: column
        padding-top: $spacing1
        li
            &:not(:last-child)
                margin-bottom: 1rem
            a
                // TODO : nav link style ?
                color: $toc-color
                display: block
                font-size: px2rem(18)
                line-height: px2rem(20)
                margin-left: -$spacing1/2
                margin-right: -$spacing1/2
                text-decoration: none
                &:hover
                    text-decoration: underline
    .active
        color: $toc-active-color
