table
    border-collapse: collapse
    caption-side: bottom
    vertical-align: top
    width: 100%
    text-align: left

    caption
        padding: px2rem(10) 0
        text-align: left

    th,
    td
        padding: px2rem(10) 0

    thead
        th
            text-align: left

    tbody
        th,
        td
            border-bottom: 1px solid $main-border-color
        tr:first-child
            th,
            td
                border-top: 1px solid $main-border-color
