@mixin offcanvas-toc
    background: white
    position: fixed
    top: 0
    right: 0
    bottom: 0
    z-index: $zindex-toc
    margin-left: offset(3)
    transform: translateX(100%)
    transition: 0.35s transform ease-in-out
    &.is-opened
        transform: translateX(0)
    .toc-content
        display: flex
        flex-direction: column
        height: 100%
    .toc-title
        border-bottom: 1px solid $main-border-color
        padding: $spacing0 $spacing1
    .toc
        flex: 1
        display: flex
        flex-direction: column
        overflow-y: auto
        max-height: 100%
        ol
            flex: 1
            padding: $spacing1
    button
        @include button-reset
        height: 45px
        display: flex
        justify-content: space-between
        align-items: center
        padding: $spacing0 $spacing1
        border-top: 1px solid $main-border-color
        @include icon(close, after)

.toc-cta
    display: flex
    justify-content: end
    cursor: pointer
    @include media-breakpoint-up(md)
        @include container
        text-align: right
        padding: $spacing1 0
        @include in-page-with-sidebar
            display: none
    @include media-breakpoint-down(md)
        position: fixed
        bottom: 0
        background: white
        justify-content: space-between
        left: 0
        width: 100%
        padding: $spacing0
        z-index: $zindex-toc-cta
    button
        margin-inline-start: $spacing0
   

.toc-container
    // in full width page or under md breakpoint (mobile)
    @include in-page-without-sidebar
        @include offcanvas-toc
    @include media-breakpoint-down(md)
        @include offcanvas-toc

    // Only desktop and in page with sidebar
    @include media-breakpoint-up(md)
        @include in-page-with-sidebar
            @include container-margin-left
            pointer-events: none
            top: 0
            left: 0
            height: 100%
            position: absolute
            width: col-outside-container(4)
            .toc-content
                position: sticky
                top: var(--header-height)
                overflow-y: auto
                max-height: calc(100vh - var(--header-height))
                margin-bottom: $spacing1
                padding-bottom: $spacing5
                pointer-events: auto
            button
                display: none

.toc
    ol
        @include list-reset
        align-items: flex-start
        display: flex
        flex-direction: column
        margin: 0
        li
            margin-top: 1rem
            a
                color: $toc-color
                display: block
                font-size: $toc-font-size
                font-family: $toc-font-family
                font-weight: $toc-font-weight
                line-height: $toc-line-height
                text-decoration: none
                @include media-breakpoint-up(md)
                    font-size: $toc-font-size-md
                &:hover
                    text-decoration: underline
        .active
            color: $toc-active-color
            text-decoration: underline
            pointer-events: none
