table
    border-collapse: collapse
    caption-side: bottom
    vertical-align: top
    width: 100%
    text-align: left
    empty-cells: hide
    caption
        @include meta
        padding: $spacing-2 0
        text-align: left
    th,
    td
        padding-top: $spacing-2
        padding-bottom: $spacing-2
        padding-right: $spacing-2
        @include media-breakpoint-down(desktop)
            min-width: 15ch

    thead
        @include h4
        font-size: $table-head-font-size
        @include media-breakpoint-up(desktop)
            font-size: $table-head-font-size-desktop

    tbody
        font-size: $table-body-size
        @include media-breakpoint-up(desktop)
            font-size: $table-body-size-desktop
        td,
        th
            border-top: 1px solid var(--color-border)
            &:empty
                border-top: none

.table-responsive
    overflow-x: auto
    margin-left: var(--grid-gutter-negative)
    margin-right: var(--grid-gutter-negative)
    padding-left: var(--grid-gutter)
    padding-right: var(--grid-gutter)