table
    border-collapse: collapse
    caption-side: bottom
    vertical-align: top
    width: 100%
    text-align: left
    empty-cells: hide
    caption
        @include meta
        padding: $spacing-2 0
        text-align: left
    th,
    td
        padding-top: $spacing-2
        padding-bottom: $spacing-2
        padding-right: $spacing-2
        @include in-page-with-sidebar
            padding-top: calc(#{$spacing-2} / 2)
            padding-bottom: calc(#{$spacing-2} / 2)

    thead
        @include h4
        font-size: $table-head-font-size
        @include media-breakpoint-up(desktop)
            font-size: $table-head-font-size-desktop
        th
            text-align: left

    tbody
        font-size: $table-body-size
        @include media-breakpoint-up(desktop)
            font-size: $table-body-size-desktop
        td,
        th
            border-top: 1px solid $color-border
            &:empty
                border-top: none

.table-responsive
    overflow-x: auto
    margin-left: half(var(--grid-gutter-negative))
    margin-right: half(var(--grid-gutter-negative))
    padding-left: half(var(--grid-gutter))
    padding-right: half(var(--grid-gutter))
    @include media-breakpoint-up(desktop)
        margin-left: half(var(--grid-gutter-negative))
        margin-right: half(var(--grid-gutter-negative))
        padding-left: half(var(--grid-gutter))
        padding-right: half(var(--grid-gutter))