.taxonomies
    @include list-reset
    li
        @include media-breakpoint-down(desktop)
            margin-bottom: $spacing-3
            a
                display: block

.taxonomies-section, .taxonomy-categories--list
    @extend .taxonomies
    margin-top: var(--block-space-y)
    margin-bottom: var(--block-space-y)
    li
        @include media-breakpoint-up(desktop)
            display: inline-block
            margin-right: $spacing-4
        a
            @extend %underline-on-hover
            @include meta
            @include icon(arrow-right-line, after)
                display: inline-block
                margin-left: $spacing-1

.taxonomies-list
    display: flex
    column-gap: $spacing-2
    align-items: baseline
    margin-bottom: var(--grid-gutter)
    .dropdown
        @include dropdown(".taxonomy-categories")
    .taxonomy-categories
        min-width: max-content
        ul
            @include list-reset



.taxonomies-single
    &, ul
        @include list-reset
    .taxonomy-title
        @include meta
    .hero &
        margin-top: $spacing-4
        display: block
        a
            @include small
        > li
            display: flex
            justify-content: space-between
            align-items: baseline
            ul
                text-align: right
                display: flex
                flex-wrap: wrap
                gap: $spacing-1
        @include media-breakpoint-up(lg)
            width: columns(3)

.taxonomy-categories--grid
    @include list-reset
    @include grid(1, false, $spacing-4)
    @include grid(2, sm, $spacing-4)
    @include grid(3, desktop, $spacing-4)
    + *
        margin-top: var(--block-space-y)

.document-content
    .persons-taxonomies, .organizations-taxonomies, .projects-taxonomies, .pages-taxonomies
        @include grid(3, desktop)
        @include media-breakpoint-down(desktop)
            margin-top: $spacing-5
            > li + li
                    margin-top: $spacing-3
        &, ul
            // for organizations
            [itemprop="articleBody"] &,
            &
                @include list-reset

// In pages with sidebar
.taxonomies-container
    .taxonomies-single
        @include in-page-with-sidebar
            @include grid(2, desktop)
            padding-left: offset(4)
            padding-right: var(--grid-gutter)
    + .blocks
        margin-top: var(--heading-margin-top)