.taxonomies
    @include list-reset
    li
        @include media-breakpoint-down(desktop)
            margin-bottom: $spacing-3
            a
                display: block

.taxonomies-section, .taxonomy-categories--list
    @extend .taxonomies
    margin-top: var(--block-space-y)
    margin-bottom: var(--block-space-y)
    li
        @include media-breakpoint-up(desktop)
            display: inline-block
            margin-right: $spacing-4
        a
            @extend %underline-on-hover
            @include meta
            @include icon(arrow-right-line, after)
                display: inline-block
                margin-left: $spacing-1

.taxonomies-single
    ul
        @include list-reset
    .taxonomy-title
        @include meta

.taxonomy-categories--grid
    @include list-reset
    @include grid(1)
    @include grid(2, sm)
    @include grid(3, desktop)
    + *
        margin-top: var(--block-space-y)

.document-content
    .persons-taxonomies, .organizations-taxonomies, .projects-taxonomies
        @include grid(3, desktop)
        @include media-breakpoint-down(desktop)
            margin-top: $spacing-5
            > li + li
                    margin-top: $spacing-3
        &, ul
            // for organizations
            [itemprop="articleBody"] &,
            &
                @include list-reset
