{{ $heading_level := .heading_level | default 3 }}
{{ $heading := printf "h%d" $heading_level }}
{{ $options := .options }}

<div class="carousel draggable-container">
  <div class="carousel-posts draggable-content">
    <ul class="posts">
      {{ range $post := .posts -}}
        {{ with site.GetPage (printf "/posts/%s" $post) }}
        <li class="draggable-item">
          {{ partial "posts/post.html" (dict 
            "post" . 
            "options" $options
            "heading" $heading) }}
        </li>
        {{ end }}
      {{ end }}
    </ul>
    {{ if  (gt (len .posts) 0) }}
      <div class="actions-arrows">
        <button class="previous" disabled title="{{ i18n "blocks.timeline.previous"}}"></button>
        <button class="next" title="{{ i18n "blocks.timeline.next"}}"></button>
      </div>
    {{ end }}
  </div>
</div>
