{{ $heading_level := .heading_level | default 3 }}
{{ $heading := printf "h%d" $heading_level }}
{{ $heading_tag := (dict 
  "open" ((printf "<%s class='post-title' itemprop='headline'>" $heading) | safeHTML)
  "close" ((printf "</%s>" $heading) | safeHTML)
  ) }}
{{ $options := .options }}

<div class="highlight">
  {{ $highlight := index .posts 0 }}
  {{ $highlight = site.GetPage (printf "/posts/%s" $highlight)}}
  {{ $list := .posts }}

  {{ with $highlight }}
    <div class="highlight-post">
      {{ partial "posts/post" (dict 
        "post" .
        "heading" $heading
        "options" $options
        ) }}
    </div>
  {{ end }}

  {{ with $list }}
    {{ $first := true }}
    <div class="list">
      {{ range after 1 . }}
        {{ with site.GetPage (printf "/posts/%s" .) }}
          <article class="post">
            {{- $title := partial "PrepareHTML" .Title -}}
            {{ $heading_tag.open }}
              <a href="{{ .Permalink }}" title="{{ safeHTML (i18n "commons.more_aria" (dict "Title" $title)) }}">{{ $title }}</a>
            {{ $heading_tag.close }}

            {{ if eq $options.categories false }}
              {{- partial "posts/categories" . -}}
            {{ end }}
            {{ if eq $options.summary false }}
              {{- if (partial "GetTextFromHTML" .Params.summary) -}}
                <p itemprop="articleBody">{{ partial "GetTruncateContent" ( dict 
                  "text" .Params.summary
                  "length" site.Params.posts.index.truncate_description
                  ) }}</p>
              {{- end -}}
            {{- end -}}
            {{- if or (eq $options.author false) (eq $options.date false) -}}
              <div class="post-meta">
                {{- if eq $options.date false -}}
                  <time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04" }}">{{ .Date | time.Format site.Params.posts.date_format }}</time>
                {{ end }}
                {{ if eq $options.author false }}
                  {{- partial "posts/author" . -}}
                {{ end }}
              </div>
            {{ end }}
          </article>
        {{ end }}
      {{ end }}
    </div>
  {{ end }}
</div>

