{{- $direction := "" -}}
{{ $heading_level := .heading_level | default 3 }}
{{ $heading_tag := partial "GetHeadingTag" (dict 
        "level" $heading_level
        "attributes" "class='post-title' itemprop='headline'"
)}}
{{ $index := .index}}
{{ $options := .options }}
{{ $hide_image := .options.hide_image }}

<div class="large {{- if $hide_image }} without-images{{ end }}">
  {{ range .posts }}
    {{ with site.GetPage (printf "/posts/%s" .) }}

      {{ if and .Params.image (eq $options.hide_image false) }}
        {{- $direction = partial "GetImageDirection" .Params.image -}}
      {{ end }}

      <article class='post' itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="post-content">
          {{- $title := partial "PrepareHTML" .Title -}}

          {{ $heading_tag.open }}
            <a href="{{ .Permalink }}" title="{{ safeHTML (i18n "commons.more_aria" (dict "Title" $title)) }}">{{ $title }}</a>
          {{ $heading_tag.close }}
          
          <div class="post-meta">
            {{ if eq $options.hide_author false }}
              {{- partial "posts/author" . -}}
            {{ end }}
            {{ if eq $options.hide_date false }}
              <time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04" }}">{{ .Date | time.Format site.Params.posts.date_format }}</time>
            {{ end }}
            {{ if eq $options.hide_category false }}
              {{ partial "commons/categories" ( dict
                "context" .
                "kind" "post"
              )}}
            {{ end }}
          </div>


          {{ if eq $options.hide_summary false }}
            {{- if (partial "GetTextFromHTML" .Params.summary) -}}
              <p itemprop="articleBody">{{ partial "GetTruncateContent" ( dict 
                "text" .Params.summary
                "length" site.Params.posts.index.truncate_description
                ) }}</p>
            {{- end -}}
          {{- end -}}
          <p class="more meta" aria-hidden="true">{{- i18n "commons.more" -}}</p>
        </div>
        {{ if eq $options.hide_image false }}
          <div class="media">
            {{- if .Params.image -}}
              {{- partial "commons/image.html"
                  (dict
                    "image"    .Params.image
                    "sizes"    site.Params.image_sizes.sections.posts.item
                  ) -}}
            {{- else -}}
              {{- partial "commons/image-default.html" "posts" -}}
            {{- end -}}
          </div>
        {{- end -}}
      </article>
    {{ end }}
  {{ end }}
</div>