{{- $direction := "" -}}
{{ $heading_level := .heading_level | default 3 }}
{{ $heading_tag := partial "GetHeadingTag" (dict 
        "level" $heading_level
        "attributes" "class='post-title' itemprop='headline'"
)}}
{{ $index := .index}}
{{ $options := .options }}
{{ $image := $options.image }}

<div class="large {{- if not $image }} without-images{{ end }}">
  {{ range .posts }}
    {{ with site.GetPage (printf "/posts/%s" .) }}

      {{ if and .Params.image $options.image }}
        {{- $direction = partial "GetImageDirection" .Params.image -}}
      {{ end }}

      <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="post-content">
          {{- $title := partial "PrepareHTML" .Title -}}

          {{ if and $options.subtitle .Params.subtitle }}
            <hgroup>
          {{ end }}
          {{ $heading_tag.open }}
            <a href="{{ .Permalink }}" itemprop="url" title="{{ safeHTML (i18n "commons.more_aria" (dict "Title" $title)) }}">{{ $title }}</a>
          {{ $heading_tag.close }}
          {{ if and $options.subtitle .Params.subtitle }}
            <p class="post-subtitle">{{ partial "PrepareHTML" .Params.subtitle }}</p>
          {{ end }}
          {{ if and $options.subtitle .Params.subtitle }}
            </hgroup>
          {{ end }}
          
          <div class="post-meta">
            {{ if $options.author }}
              {{- partial "posts/author" . -}}
            {{ end }}

            {{ if $options.date }}
              <time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04" }}">{{ .Date | time.Format site.Params.posts.date_format }}</time>
            {{ end }}

            {{ if $options.categories }}
              {{ partial "commons/categories" ( dict
                "context" .
                "kind" "post"
              )}}
            {{ end }}
          </div>

          {{ if and $options.summary  .Params.summary }}
            <div itemprop="abstract">
              {{ partial "GetRichSummary" ( dict 
                "summary" .Params.summary
                "kind" "posts"
              )}}
            </div>
          {{- end -}}

          {{ if and .Params.contents_reading_time $options.reading_time }}
            <span class="post-reading-time">
              {{ i18n "posts.reading_time" }} : {{ partial "GetTextFromHTML" .Params.contents_reading_time.text }}
            </span>
          {{ end }}

          <p class="more meta" aria-hidden="true">{{- i18n "commons.more" -}}</p>
        </div>

        {{ if $options.image }}
          <div class="media">
            {{- if .Params.image -}}
              {{- partial "commons/image.html"
                  (dict
                    "image"    .Params.image
                    "sizes"    site.Params.image_sizes.sections.posts.item
                  ) -}}
            {{- else -}}
              {{- partial "commons/image-default.html" "posts" -}}
            {{- end -}}
          </div>
        {{- end -}}
      </article>
    {{ end }}
  {{ end }}
</div>