{{ $heading_level := .heading_level | default 3 }}
{{ $heading := printf "h%d" $heading_level }}

<div class="scrollable grab-container">
  <div class="scrollable-posts grab-content">
    <ul class="posts">
      {{ range $post := .posts -}}
        {{ with site.GetPage (printf "/posts/%s" $post) }}
        <li class="grab-item">
          {{ partial "posts/post.html" (dict 
            "post" . 
            "heading" $heading) }}
        </li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
</div>
