{{- $direction := "" -}}
{{ $heading_tag := partial "GetHeadingTag" (dict 
  "level" ( .heading_level | default 3 )
  "attributes" "class='post-title' itemprop='headline'"
)}}
{{ $index := .index }}
{{ $options := .options }}
{{/* TODO: remove this merge with PR #1124 */}}
{{ $options = merge $options (dict "with_more" true) }}
{{ $image := $options.image }}

<div class="large {{- if not $image }} without-images{{ end }}">
  {{ range $post := .posts -}}
    {{ with site.GetPage .path }}
      {{ partial "posts/partials/post.html" (dict 
        "post" . 
        "options" $options
        "heading" $heading) }}
    {{ end }}
  {{ end }}
</div>