{{ $jobs := .Paginator.Pages }}
{{ $layout := default site.Params.jobs.index.layout }}
{{ $options := default site.Params.jobs.index.options }}
{{ $with_more := $options.with_more | default site.Params.jobs.index.options.with_more }}
{{ $heading_level := 2 }}

<ul class="jobs jobs--{{- $layout }}">
  {{ range $jobs }}
    <li>
      {{ partial "jobs/partials/job.html" (dict
        "job" .
        "heading_level" $heading_level
        "layout" $layout
        "options" $options
        "with_more" $with_more
      ) }}
    </li>
  {{ end }}
</ul>
