{{ $block := .block }}
{{ $block_class := partial "blocks/helpers/GetClass" .block }}
{{- $image_class := "" -}}

{{ with .block.data }}
  {{ if .image }}
    {{- $block_class = printf "%s block-chapter--with-image" $block_class -}}
    {{- $image_class = printf "image-%s" (partial "commons/image/helpers/GetDirection" .image) -}}
  {{ end }}

  <div class="{{ $block_class }}">
    <div class="container">
      <div class="block-content">
        <div class="chapter">
          <div class="text">
            {{ partial "blocks/top.html" $block.top }}
            {{ if (partial "helpers/text/GetFromHTML" .text) -}}
              <div class="rich-text">
                {{ safeHTML .text }}
              </div>
            {{ end -}}
            {{ if (partial "helpers/text/GetFromHTML" .notes) }}
              <div class="notes">
                {{ safeHTML .notes }}
              </div>
            {{ end -}}
          </div>
          {{ with .image }}
            {{ partial "commons/image/figure.html" (dict
              "image" .
              "sizes" site.Params.image_sizes.blocks.chapter
            ) }}
          {{ end -}}
        </div>
      </div>
    </div>
  </div>
{{- end -}}
