{{- $block := .block -}}
{{- $block_class := partial "GetBlockClass" .block -}}
{{- $html_id := .html_id -}}

{{- with .block.data -}}
  <div class="{{ $block_class }}">
    <div class="container">
      <div class="block-content">
        {{ partial "blocks/top.html" $block.top }}

        <div class="definitions">
          {{- range $index, $element := .elements }}
            {{ $id := printf "block-%s-element-%d" $html_id $index }}
            <details id="{{ $id }}" itemscope itemtype="https://schema.org/DefinedTerm">
              <summary itemprop="name" aria-controls="{{ $id }}" aria-expanded="false">{{ $element.title | safeHTML }}</summary>
              <div itemprop="description">{{ safeHTML $element.description }}</div>
            </details>
          {{ end -}}
        </div>
      </div>
    </div>
  </div>
{{- end -}}
