{{ $block := .block }}
{{ $block_class := partial "blocks/helpers/GetClass" .block }}
{{ $html_id := .html_id }}

{{ with .block.data }}
  <div class="{{ $block_class }}">
    <div class="container">
      <div class="block-content">
        {{ partial "blocks/top.html" $block.top }}
        {{ partial "blocks/templates/embed/hooks/after-top.html" }}

        {{- if .code }}
          {{ safeHTML .code }}
        {{ end -}}

        {{ partial "commons/transcription.html" ( dict
          "html_id" $html_id
          "title" .transcription_title
          "transcription" .transcription
        ) }}
      </div>
    </div>
  </div>
{{ end }}
