{{ $block := .block }}
{{ $block_class := partial "blocks/helpers/GetClass" .block }}
{{ with .block.data }}
  {{ $options := .options }}
  {{ $layout := .layout | default "list" }}
  <div class="{{ $block_class }}">
    <div class="container">
      <div class="block-content">
        {{ partial "blocks/top.html" $block.top }}
        {{ if .exhibitions }}
          {{ $exhibitions := partial "helpers/objects/GetFromPathSlice" .exhibitions }}
          {{ partial "exhibitions/partials/exhibitions.html" (dict
            "exhibitions" $exhibitions
            "layout" $layout
            "options" $options
            "heading_level" $block.ranks.children
          ) }}
        {{ else if .no_exhibitions_message }}
          <p>{{ safeHTML .no_exhibitions_message }}</p>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}