{{ $block := .block }}
{{ $block_class := partial "blocks/helpers/GetClass" .block }}

{{ with .block.data }}
  {{ $options := .options }}

  <div class="{{ $block_class }}">
    <div class="container">
      <div class="block-content">
        {{ partial "blocks/top.html" $block.top }}
        {{ with .elements }}
          <ul class="features">
            {{ range . }}
              {{ partial "blocks/templates/features/feature.html" (dict
                "feature" .
                "options" $options
                "heading_level" $block.ranks.children
              ) }}
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}