{{ $block := .block }}
{{ $block_class := partial "blocks/helpers/GetClass" .block }}

{{ with .block.data }}
  {{ $features := .elements }}
  <div class="{{ $block_class }}">
    <div class="container">
      <div class="block-content">
        {{ partial "blocks/top.html" $block.top }}
        {{ if $features }}
          <ul>
            {{ range $features }}
              <li>
                {{ partial "blocks/templates/features/core.html" (dict
                  "feature" .
                  "heading_level" $block.ranks.children
                ) }}
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}