{{ $block := .block }}
{{ $block_class := partial "blocks/helpers/GetClass" .block }}
{{ with .block.data }}
  <div class="{{ $block_class }}">
    <div class="container">
      <div class="block-content">
        {{ partial "blocks/top.html" $block.top }}
        <ul class="files">
          {{ if (index .files 0).id }}
            {{/* Legacy */}}
            {{ range .files }}
              {{ if ne .id "" }}
                {{ partial "files/partials/file.html" (dict
                  "id" .id
                  "title" .title
                  "download" true
                  "image" .image
                ) }}
              {{ end }}
            {{ end }}
          {{ else }}
            {{/* New version */}}
            {{ $files := partial "helpers/objects/GetFromPathSlice" .files }}
            {{ range $files }}
              {{ partial "files/partials/file.html" (dict
                "id" .Params.original_blob.id
                "title" .Title
                "download" true
                "image" .Params.image
              ) }}
            {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
{{ end }}