{{ $block := .block }}
{{ $block_class := partial "blocks/helpers/GetClass" .block }}
{{ with .block.data }}
  <div class="{{ $block_class }}">
    <div class="container">
      <div class="block-content">
        {{ partial "blocks/top.html" $block.top }}
        <ul class="files files--grid">
          {{ $files := partial "helpers/objects/GetFromPathSlice" .files }}
          {{ range $files }}
            {{ partial "files/partials/file.html" (dict
              "file" .
              "download" true
            ) }}
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
{{ end }}