{{- $block := .block -}}
{{- $block_class := partial "GetBlockClass" .block -}}
{{- $layout := .block.data.layout | default "grid" -}}

{{- with .block.data -}}
  {{ $options := .options }}

  <div class="{{ $block_class }}">
    <div class="container">
      <div class="block-content">
        {{ partial "blocks/top.html" $block.top }}

        {{ $locations := slice }}
        {{ $location := "" }}
        {{ range .locations }}
          {{ $location = site.GetPage .path }}
          {{ $locations = $locations | append $location }}
        {{ end }}

        {{ if eq $layout "map" }}
          {{ $map_title := i18n "programs.location" $locations }}
          {{ if $block.title }}
            {{ $map_title = $block.title }}
          {{ end }}

          {{ partial "locations/partials/map.html" (dict
            "locations" $locations
            "title" $map_title
          ) }}
        {{ else }}
          <ul class="locations locations--{{- $layout }}">
            {{ range $locations }}
              {{ partial "locations/partials/location.html" (dict 
                "location" .
                "heading_level" $block.ranks.children
                "options" $options
                "layout" $layout
              ) }}
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>
  </div>
{{- end -}}