{{ $block := .block }}

{{ with .block.data }}
  {{ $block_class := partial "blocks/helpers/GetClass" .block }}
  <div class="{{ $block_class }}">
    <div class="container">
      <div class="block-content">
        {{ partial "blocks/top.html" $block.top }}
        <ul class="publications">
          {{ range .publications }}
            {{ with site.GetPage .path }}
              {{ partial "publications/partials/publication.html" (dict 
                "publication" . 
                "heading_level" $block.ranks.children
              ) }}
            {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
{{ end }}
