{{ $block := .block }}
{{ $block_class := partial "blocks/helpers/GetClass" .block }}
{{ $html_id := .html_id }}
{{ $described_by_id := "" }}
{{ with .block.data }}
  <div class="{{ $block_class }}">
    <div class="container">
      <div class="block-content">
        {{ partial "blocks/top.html" $block.top }}
        {{ partial "blocks/templates/sound/hooks/after-top.html" $block }}
        <div>
          {{ partial "blocks/templates/sound/file.html" (dict
            "file" .file
            "title" .title
            "html_id" $html_id
            "described_by" $described_by_id
          ) }}
          {{ partial "commons/transcription.html" (dict
            "html_id" $html_id
            "described_by" $described_by_id
            "transcription" .transcription
          ) }}
        </div>
      </div>
    </div>
  </div>
{{ end }}