{{- $block := .block -}}
{{- $block_class := partial "blocks/helpers/GetClass" .block -}}

{{- $layout := .block.data.layout | default "vertical" -}}
<div class="{{ $block_class }}">
  <div class="container">
    <div class="block-content">
      {{ partial "blocks/top.html" $block.top }}
      {{ $template := printf "blocks/templates/timeline/%s.html" $layout }}
      {{ partial $template (dict "block" $block ) }}

      {{ if eq $layout "horizontal" }}
        {{ partial $template (dict
          "block" $block
        ) }}
      {{ else }}
      {{ end }}
    </div>
  </div>
</div>

