{{ $block := .block }}
{{ $block_class := partial "blocks/helpers/GetClass" .block }}
{{ $described_by_id := "" }}
{{ $video_id := printf "video-%s" .html_id }}

{{ with .block.data }}
  <div class="{{ $block_class }}" id="{{ $video_id }}">
    <div class="container">
      <div class="block-content">
        {{ partial "blocks/top.html" $block.top }}
        {{ if .url }}
          {{ $title := cond .video_title .video_title "video" }}
          {{ if eq .layout "button" }}
            {{ partial "blocks/templates/video/button.html" (dict
              "video" .video
              "video_id" $video_id
              "title" $title
              "transcription" .transcription
            ) }}
          {{ end }}
          {{ partial "blocks/templates/video/video.html" .video }}
        {{ end }}
        {{ if ne .layout "button" }}
          {{ partial "blocks/templates/video/informations.html" (dict
            "video" .video
            "video_id" $video_id
            "described_by_id" $described_by_id
            "video_title" .video_title
            "transcription" .transcription
          ) }}
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}