{{ $heading_items := .heading_items }}
{{ if .block.data.contact_details }}
  {{ partial "blocks/templates/contact/content/contact-details/postal_address.html" (dict
    "block" .block
    "contact_details" .block.data.contact_details
    "heading_items" $heading_items
  ) }}
  {{ partial "blocks/templates/contact/content/contact-details/web.html" (dict
    "block" .block
    "contact_details" .block.data.contact_details
    "heading_items" $heading_items
  ) }}
  {{ partial "blocks/templates/contact/content/contact-details/phone_numbers.html" (dict
    "block" .block
    "contact_details" .block.data.contact_details
    "heading_items" $heading_items
  ) }}
  {{ partial "blocks/templates/contact/content/contact-details/social_networks.html" (dict
    "block" .block
    "contact_details" .block.data.contact_details
    "heading_items" $heading_items
  ) }}
{{ end }}