{{ $heading_rank := .block.ranks.children | default 2 }}
{{ $heading_name := partial "GetHeadingTag" (dict 
  "level" $heading_rank
  "attributes" "itemprop='name'"
) }}
{{ if .block.data.information }}
  <div class="informations">
    {{ with .block.data.name }}
      {{ $heading_name.open }}
        {{- . -}}
      {{ $heading_name.close }}
    {{ end }}
    <div>{{ safeHTML .block.data.information }}</div>
  </div>
{{ else }}
  {{ with .block.data.name }}
    {{ $heading_name.open }}
      {{- . -}}
    {{ $heading_name.close }}
  {{ end }}
{{ end }}