
<div class="container events-calendar">
  {{ range .Params.months }}
    <table class="calendar-month">
      <caption> <h2>{{ .name }}</h2></caption>
      <thead>
        <tr align="right">
          <td>Lun</td>
          <td>Mar</td>
          <td>Mer</td>
          <td>Jeu</td>
          <td>Ven</td>
          <td>Sam</td>
          <td>Dim</td>
        </tr>
      </thead>
      <tbody>
        <tr>
        {{ range $index, $day := .days }}
          {{ $date := $day.day | time.AsTime }}
          {{ $formated_date := $date | time.Format "2" }}
          {{ $colspan :=  1 }}
          {{ if eq $index 0 }}
            {{ $colspan = $day.cwday }}
          {{ end }}
          <td colspan="{{ $colspan }}" align="right">
            {{ if gt $day.events 0 }}
              <a href="#{{ $day.day }}">{{ $formated_date }}</a>
            {{ else }}
              <span>{{ $formated_date }}</span>
            {{ end }}
          </td>
          {{ if eq $day.cwday 7 }}
            </tr><tr>
          {{ end }}
        {{ end }}
      </tbody>
    </table>
  {{ end }}
</div>