{{/*  Get categories list  */}}
{{ $categories := slice }}
{{ $index := .index }}

{{ range .organizations }}
  {{ $organization := site.GetPage .path }}
  {{ with $organization }}
    {{ $organization_categories := .GetTerms "organizations_categories" }}
    {{ $categories = $categories | union $organization_categories }}
  {{ end }}
{{ end }}

<ul class="map-filters" id="map-filters-{{- $index }}">
  {{ range $categories }}
    {{ $id := printf "%s-%s" $index .Slug }}
    <li data-filter="{{ .Slug }}">
      <input type="checkbox" value="{{ .Slug }}" checked="true" id="filter-{{- $id }}">
      <label for="filter-{{- $id }}">{{ .Title }}</label>
    </li>
  {{ end }}
</ul>