{{ $options := site.Params.organizations.index.options }}
{{ $layout := "grid" }}
{{ $paginator := .Paginate ( .Pages | uniq ) }}

{{ if not $paginator.Pages }}
  {{ $is_term := eq .Kind "term" }}
  <p>{{ i18n (cond $is_term "categories.no_organization" "organizations.none") }}</p>
{{ else }}
  <ul class="organizations organizations--grid {{- if $options.summary }} with-summaries {{- end }}">
    {{ range $paginator.Pages }}
      <li>
        {{ partial "organizations/partials/organization.html" (dict
            "organization" .
            "options" $options
            "layout" $layout
            "heading_level" 2
          ) }}
      </li>
    {{ end }}
  </ul>
{{ end }}
