{{ $exhibitions := where .Site.RegularPages "Section" "exhibitions" }}
<div class="exhibitions">
  {{/*  TODO : il n'y a pas de titre dans la maquette, mais est-ce clair sans titre pour cette partie ? */}}
  
  <h2>Expositions</h2>

  <div class="exhibitions exhibitions--grid">
    {{ range $exhibitions }}
      {{ partial "exhibitions/partials/exhibition.html" (dict
          "exhibition" .
          "layout" "grid"
          "options" site.Params.exhibitions.index.options
        )}}
    {{ end }}
  </div>
</div>