
.persons__page,
.administrators__term,
.authors__term,
.researchers__term,
.teachers__term
    .hero
        &--with-image
            .hero-text
                margin-bottom: $spacing-3
            figure picture
                @include avatar
            @include media-breakpoint-down(desktop)
                margin-bottom: $spacing-4
                &:has(> .container:where(:only-child))
                    margin-bottom: calc(#{columns(2)} + var(--grid-gutter))
                    figure
                        margin-bottom: calc(#{columns(2)} * -1)
                figure
                    width: columns(4)
                    margin-left: auto
            @include media-breakpoint-down(md)
                &:has(> .container:where(:only-child))
                    margin-bottom: calc(#{columns(3)} + var(--grid-gutter))
                    figure
                        margin-bottom: calc(#{columns(3)} * -1)
                figure
                    width: columns(6)
            @include media-breakpoint-up(desktop)
                .content
                    align-items: center
                    display: flex
                    justify-content: space-between
                    margin-top: 0
                    h1
                        margin-bottom: 0
                        width: columns(8)
                    figure
                        margin-bottom: 0
                        width: columns(3)
    .roles
        a
            @include small
    .blocks
        margin-top: $spacing-5
    .person-objects
        margin-top: $spacing-5
        > * + *
            margin-top: $spacing-5
        .top h2 a
            @include icon(arrow-right-line, after, true)
                display: inline-flex
                margin-left: $spacing-1
                transition: transform $arrow-duration $arrow-ease-transition
            &:hover::after
                transform: translateX($spacing-2)
        .more
            @include icon-block(arrow-right-line, after)
            display: inline-block
            margin-top: $spacing-3
            &::after
                margin-left: space()
                transition: $arrow-duration $arrow-ease-transition
            &:hover:after
                transform: translateX($spacing-1)
    .person-publications
        .publications
            margin-top: $spacing-2
    .person-posts
        .posts
            margin-top: $spacing-3
            article.post:last-child
                margin-bottom: 0
            @include media-breakpoint-up(desktop)
                margin-top: $spacing-4
    section
        padding-bottom: $spacing-5
    ol.programs
        li
            justify-content: flex-start
            @include media-breakpoint-up(desktop)
                @include grid(2)
            @include icon(arrow-right-line, after, true)
                color: inherit
                position: absolute
                right: 0
                top: 1.5em
            a
                color: inherit
                @include stretched-link(before)
                @include media-breakpoint-down(desktop)
                    margin-right: $spacing-3
            p
                margin-top: unset
                &:nth-child(2)
                    @include small
            &:hover
                color: var(--color-accent)
    @include media-breakpoint-down(lg)
        .roles
            margin-top: $spacing-4
    @include media-breakpoint-up(lg)
        .informations
            @include grid
            margin-bottom: $spacing-4
            .roles
                grid-column: 1 / -1
            .biography
                grid-column: 1 / 9
                + .roles
                    grid-column: 9 / 13
                    text-align: right
            .lead + div
                margin-top: $spacing-4
    @include media-breakpoint-up(md)
        .contacts-details
            ul
                @include grid(3)
                li
                    margin-top: 0
