<script>
  const anchorTags = document.getElementsByTagName('a');
  for (let i = anchorTags.length - 1; i >= 0; i--) {
    const a = anchorTags[i];
    const note = document.createElement('span');
    note.classList.add('note__link');
    note.textContent = a.getAttribute('href');
    a.insertAdjacentElement('afterend', note);
  }
  const osunyNotes = document.getElementsByClassName('note');
  for (let i = osunyNotes.length - 1; i >= 0; i--) {
    const osunyNote = osunyNotes[i];
    const note = document.createElement('span');
    note.classList.add('note__osuny');
    note.innerHTML = osunyNote.getElementsByClassName('note__content')[0].innerHTML;
    osunyNote.parentNode.replaceChild(note, osunyNote);
  }
</script>