section-list
{{ $type := .Type }}
{{ $taxonomies := .Params.section_taxonomies }}
{{ $param := (printf "%s.index.taxonomies" $type) }}
{{ $options := partial "GetSiteParamWithDefault" (dict 
  "param" $param
  "default" "default.index.taxonomies"
) }}
{{ if $options.display }}
  <div class="taxonomies-list taxonomies-list--{{ $options.layout }}">
    {{ if $taxonomies }}
      {{- range $taxonomies -}}
        {{ if .categories }}
          {{ if eq $options.layout "dropdown" }}
            <div class="dropdown">
              <button aria-controls="categories-{{ .name | anchorize }}" aria-expanded="false">
                {{ .name }}
              </button>
              <div class="extendable taxonomy-categories" id="categories-{{ .name | anchorize }}" data-extendable-close-siblings="true" data-extendable-auto-close="true">
          {{ else }}
            <div class="taxonomy-categories">
              {{ if $options.show_name }}<span>{{ .name }}</span>{{ end }}
          {{ end }}
              {{ $categories := partial "GetObjectsFromPathSlice" .categories }}
              {{ partial "commons/categories.html" (dict 
                "categories" $categories
                "depth" true
                "class" "taxonomy-categories-list"
                "kind" $type
              ) }}
            </div>
          {{ if eq $options.layout "dropdown" }}
            </div>
          {{ end }}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  </div>
{{- end -}}